<div class="ndn_sliderContainer">
	<div class="ndn_sliderPrev ndn_sliderNavButton ndn_icon_left-circled"></div>
	<div class="ndn_sliderWrapper">
	<ul class="ndn_sliderItems ndn_pauseOverlay_selectableVideos">
        {{#playlistItems}}
        <li class="ndn_pauseOverlay_selectableVideo" data-video-id="{{videoId}}" title="{{videoTitle}}" data-video-index="{{videoIndex}}"> 
        	<div class="ndn_thumbnailContainer"> 		        
	           	<img data-src="{{thumbnailUrl}}" alt="{{videoTitle}}" title="{{videoTitle}}"/>		
        	</div>   	
			<div class="ndn_sliderThumbnailTitle">
                <div>{{videoTitle}}</div>
			</div>
        </li>
        {{/playlistItems}}
    </ul>
	</div>
	<div class="ndn_sliderNext ndn_sliderNavButton ndn_icon_right-circled"></div>
</div>
