<div class="ndn_pauseVideoInfoContainer">
	<div class="ndn_pauseVideoInfo">
		<img class="ndn_pauseVideoLogo" src="" />
        <div class="ndn_videoTitle"></div>
        <div class="ndn_videoDescription"></div>
        <div class="ndn_videoProviderName"></div>      
        <div class="ndn_toggleDescription ndn_icon_info-circled" title="More Info"></div>
        <div class="ndn_toggleShare ndn_icon_share" title="Share"></div> 
        <div class="ndn_infoPanelOverlay"></div>
    </div>
</div>    
<div class="ndn_pauseOverlay ndn_overlayContainer"> 
    <div class="ndn_pauseOverlay_centerContainer">
        <div class="ndn_startPlay ndn_fastClick_touchandclickevent"></div>
    </div>
    <div class="ndn_pauseCarousel"></div>
</div>
