<div class="ndn_pausePrevNextButton ndn_pausePrev">
	<div class="ndn_pausePrevNextHeader ndn_pausePrevHeader">Previous</div>
	<div class="ndn_prevNextImageWrap">
		<img class="ndn_upPrevLink" src="{{prevThumb}}" data-video-id="{{videoId}}" title="{{prevTitle}}" data-video-index="{{prevVideoIndex}}" />
		<div class="ndn_pauseStateDuration ndn_durationMinutes ndn_js_prevDuration">{{prevDuration}}</div>
	</div>
	<div class="ndn_videoMetaPause">
		<div class="ndn_pausePrevDescription">{{prevTitle}}</div>
	</div>
</div>
<div class="ndn_pausePrevNextButton ndn_pauseNext">
	<div class="ndn_pausePrevNextHeader ndn_pauseNextHeader">Up Next</div>
	<div class="ndn_prevNextImageWrap">
		<img class="ndn_upNextLink" src="{{nextThumb}}" data-video-id="{{videoId}}" title="{{nextTitle}}" data-video-index="{{nextVideoIndex}}" />
		<p class="ndn_pauseStateDuration ndn_durationMinutes ndn_js_nextDuration">{{nextDuration}}</p>
	</div>
	<div class="ndn_videoMetaPause">
		<div class="ndn_pauseNextDescription">{{nextTitle}}</div>
	</div>
</div>