<ul>
	<li class="ndn_pauseShareFacebookPause">
		<a class="ndn_a_shareFacebook" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/facebook/offer?url={{singleVideoFeed}}&title={{currentTitle}}&pubid={{pubId}}&ct=1"></a>
	</li>
	<li class="ndn_pauseShareTwitterPause">
		<a class="ndn_a_shareTwitter" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/twitter/offer?url={{singleTwitterVideoFeed}}&title={{currentTitle}}&description={{currentDescription}}&screenshot={{currentThumb}}&pubid={{pubId}}&ct=1"></a>
	</li>
	<li class="ndn_pauseShareEmailPause">
		<a class="ndn_a_shareEmail" href="{{emailLink}}"></a>
	</li>
	<li class="ndn_pauseShareOtherPause">
		<a href="#ndn-widget-embed-1-player"></a>
	</li>
</ul>