{{#single}}
	<h2>
		Today's Videos - {{#playlists}}{{title}}{{/playlists}}
	</h2>
{{/single}}
{{^single}}
	<select>
		{{#playlists}}
		<option value="{{id}}" {{#currentPlaylist}}selected{{/currentPlaylist}}>{{label}}</option>
		{{/playlists}}
	</select>
{{/single}}