{{#playlistItems}}
    <li>
        <ul class="ndn_sliderPlaylistPane">
            {{#.}}
                <li data-video-id="{{videoId}}" title="{{videoTitle}}" data-video-index="{{videoIndex}}" class="ndn_selectableVideo">
                    <a href="{{landingPageUrl}}">
                        <div class="ndn_thumbnailPlayButton">Play This Video</div>
                        <header class="ndn_sliderThumbnailOverlay">
                            <p>{{videoTitle}}</p>
                        </header>
                        <div class="ndn_imagePlaceholder" data-src="{{stillImageUrl}}"></div>
                    </a>
                </li>
            {{/.}}
        </ul>
    </li>
{{/playlistItems}}
