<div class="ndn_floatContainer ndn_floatContainer_disabled">
    <div class="ndn_floatContainer_header">
    	<div class="ndn_floatContainer_close ndn_icon ndn_icon_cancel" style="display: none;"></div>
        <div class="ndn_videoTitle"></div>
    </div>
    <div class="ndn_playerContainer ndn_floatContainer_contents" id="{{playerContainerElementId}}"></div>
</div>