<!doctype html>
<html>
<head>
    <title>News Distribution Network, Inc.</title>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Force IE compatibility mode OFF -->
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    
    <link href="../img/favicon.ico" title="Icon" type="image/x-icon" rel="icon" />
    <link href="../img/favicon.ico" title="Icon" type="image/x-icon" rel="shortcut icon" />
    
    <%= build.legacyEmbedJsHtml %>
    
    <script type="text/javascript">
    	var _ndnq = _ndnq || [];
    	var _nw2e = _nw2e || [];
    	
   		_ndnq.push(['when', 'initialized', function() {
   			// Once the page has loaded 
   			_nw2e.jQuery(function() {
   				// Set the "legacyEmbedUrl" config setting using the current window's URL 
           		var d = document.getElementById('landing-page-embed-container');
           		d.setAttribute('data-config-legacy-embed-url', window.location.href + '');
           		
           		// Dynamically embed the configurable <div> element 
           		_ndnq.push(['embed', 'landing-page-embed-container']);
   			});
   		}]);
    </script>
    
    <style>
		html, body {
			padding: 0px;
			margin: 0px;
			border: none;
			width: 100%;
			height: 100%;
		}
    
    	#landing-page-embed-container.ndn_widget_VideoPlayer-Default,
    	#landing-page-embed-container.ndn_widget_VideoPlayer-Studio {
    		width: 100%;
    		height: 100%;
    	}
    </style>
</head>
<body>
	<div 
		id="landing-page-embed-container"
		data-config-type="VideoPlayer/Inline300"
		data-config-accepts-config-from-url
		data-config-accepts-config-from-url-prefix=""></div>
</body>
</html>
