.ndn_embedContainer .ndn_floatContainer.ndn_floatContainer_disabled {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: auto !important;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	position: relative;
	
	.ndn_floatContainer_header {
	   display: none;
	}
	
	.ndn_floatContainer_contents {
	   width: 100%;
	   height: 100%;
	}
}

.ndn_embedContainer .ndn_floatContainer.ndn_floatContainer_enabled {
	display: block;
    padding: 5px !important;
    z-index: 15000001 !important;
    background: #fff;
    position: fixed !important;
    
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.70);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.70);
    
    .ndn_floatContainer_header {
        display: block;
        height: 20px !important;
        line-height: 18px !important;
        overflow: hidden !important;
        
	    .ndn_videoTitle {
		    width: 365px !important;
	        font-family: Helvetica, Arial !important;
	        color: #333;
	        font-size: 10px !important;
	        
	        -webkit-touch-callout: none;
	        -webkit-user-select: none;
	        -khtml-user-select: none;
	        -moz-user-select: none;
	        -ms-user-select: none;
	        user-select: none;
	    }
	    
        .ndn_icon {
            font-size: 14px !important;
            float: right !important;
            color: #555;
            text-decoration: none;
            
            &:hover {
                color: #0099cc;
                cursor: pointer;
                cursor: hand;
            }
        }
    }
    
    .ndn_floatContainer_contents {
        width: 400px;
        height: 225px;
    }
}