.ndn_modalEmbed {
	padding: 5px;
	position: absolute;
	z-index: 15000001!important;
	background: #fff;
	
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.70);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.70);
	
	/*
	.ndn_embed{
		width:778px!important;
		
		ul{
			
			&:after{
				display: inline-block!important;
			}
			
			li{

				&:after{
					display: inline-block!important;
				}
				
			}
		}
	}
	*/
	
	.ndn_closeModal {
		width: 40px;
		height: 40px;
		position: absolute;
		top: -18px;
		left: -18px;
		background-image: url("@{appUrl}/img/models/Ndn/ModalEmbed/close.png");
		background-position: 0 40px;
		z-index: 210;
		
		.is-link;
		
		&:hover {
			background-position: 0 0;
		}
	}
}

.ndn_modalEmbedScreen {
	opacity: 0.7;
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15000000!important;
}