@import "VideoPlayer/OverlayModel";
@import "VideoPlayer/EnforceVisibility";
@import "VideoPlayer/PauseOverlay";
@import "VideoPlayer/ShareOverlayModel";
@import "Ads/EasiPlayer";
@import "Ads/OptimaticPlayer";
@import "FloatContainer";

.ndn_embed {
	.akamai-info-short-description {
		display: none;
	}
	
	.ndn_hasActivePauseOverlay {
		-webkit-transform: translateX(100%);
	}
	
	.akamai-info {
		height: 50px;
	
		.akamai-info-title {
			height: 1.2em;
			overflow-y: hidden;
		}
		
		.akamai-info-icon {
			width: auto;
		}
	}
	
	.ndn_videoPlayer {
		position: relative;
		width: 100%;
		height: 100%;
		
		.ndn_videoPlayer_adPlayer {
			width: 100%;
			height: 100%;
		}
	}


	.video {
		margin-top: 0 !important;
	}
	
	.ndn_aniviewContainer {
		width: 100% !important;
		height: 100% !important;
	}
}