<div class="ndn_endslateContainer">
	{{^mediaIsBlocked}}
	    <div class="ndn_endslateClickSurface"></div>
	    {{#showUnavailableAlert}}
	    <div class="ndn_endslateAlertUnavailable">The requested video is no longer available</div>
	    {{/showUnavailableAlert}}
	    <div class="ndn_upNextContainer">
			<span class="ndn_upNextLabel">Up Next: </span> 
			<div class="ndn_upNextThumbnailContainer">
		    	<img class="ndn_upNextThumbnail" src="{{upNextThumbnail}}" />
			</div>
			<span class="ndn_upNextTitle">{{upNextTitle}}</span>			
	    </div> 
	    {{#showCountdown}}
	    <div class="ndn_startsInContainer">
	        <div class="ndn_startsInLabel"> Starts In: </div>
	        <div class="ndn_startsInCountdownContainer ndn_icon_circle-thin">
		        <span class="ndn_startsInCountdown "> {{countdownValue}} </span> 
	        </div>
	    </div>
	    {{/showCountdown}}	    
	{{/mediaIsBlocked}}
    {{#mediaIsBlocked}}
    	<div class="ndn_endslateMediaBlocked">We're sorry but this video cannot be played from your location.</divs>
    {{/mediaIsBlocked}}
</div>