<div class="ndn_shareContainer ndn_shareTabs">
    <header class="ndn_shareHeader">
        <ul class="ndn_shareText ndn_nav ndn_nav-tabs">
            <li class="ndn_active ndn_shareTab1"><a href="#ndn_shareTab1" data-toggle="tab"><span class="ndn_tabCopy">Share Video</span></a></li>
            <li class="ndn_shareTab2"><a href="#ndn_shareTab2" data-toggle="tab"><span class="ndn_tabCopy">Link &amp; Embed</span></a></li>
        </ul>
        <div class="ndn_closeShare"></div>
    </header>
    <div class="ndn_shareWrapper ndn_tab-content">
        <div id="ndn_shareTab1" class="ndn_tab-pane ndn_active">
            <div class="ndn_shareVideoInfo">
                <div class="ndn_shareVideoStillWrap"> <img class="ndn_shareVideoStill" src="{{shareThumb}}" alt="{{shareTitle}}" title="{{shareTitle}}" /></div>
                <p class="ndn_shareVideoDescription">{{shareTitle}}</p>
            </div>
            <div class="ndn_shareButtons addthis_toolbox addthis_default_style">
                <ul class="ndn_shareButtonsList">
                    <li class="ndn_mainShareButtons ndn_shareFacebook"><a class="ndn_a_shareFacebook" target="_new" href="http://api.addthis.com/oexchange/0.8/forward/facebook/offer?url={{singleVideoFeedEncoded}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_mainShareButtons ndn_shareTwitter"><a class="ndn_a_shareTwitter" target="_new" href="http://api.addthis.com/oexchange/0.8/forward/twitter/offer?url={{singleTwitterVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_mainShareButtons ndn_shareEmail"><a class="addthis_button_email ndn_a_shareEmail" addthis:url="{{singleVideoFeed}}" addthis:title="Check out this video: '{{shareTitle}}'" addthis:description="{{shareDescription}}"></a></li>
                </ul>
                <ul class="ndn_shareButtonsList">
                    <li class="ndn_sharePinterest"><a class="ndn_a_pinterest" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/pinterest/offer?url={{singleVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&screenshot={{shareThumb}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_shareTumblr"><a class="ndn_a_shareTumblr" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/tumblr/offer?url={{singleVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&screenshot={{shareThumb}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_shareLinkedin"><a class="ndn_a_shareLinkedin" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url={{singleVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&screenshot={{shareThumb}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_shareReddit"><a class="ndn_a_shareReddit" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/reddit/offer?url={{singleVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&screenshot={{shareThumb}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_shareGmail"><a class="ndn_a_shareGmail" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/gmail/offer?url={{singleVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&screenshot={{shareThumb}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_shareBlogger"><a class="ndn_a_shareBLogger" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/blogger/offer?url={{singleVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&screenshot={{shareThumb}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_shareStumbleupon"><a class="ndn_a_shareStumbleupon" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/stumbleupon/offer?url={{singleVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&screenshot={{shareThumb}}&pubid={{pubId}}&ct=1"></a></li>
                    <li class="ndn_shareGooglePlus"><a class="ndn_a_shareGooglePLus" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/google_plusone_share/offer?url={{singleVideoFeedEncoded}}&pubid={{pubId}}&ct=1"></a></li>
                </ul>
            </div>
        </div>
        <div id="ndn_shareTab2" class="ndn_shareCopyButtons ndn_tab-pane">
        	<span class="ndn_embedText">Linking and embedding are disabled for this video.</span>
            <span class="ndn_shareCopyEmbedCode ndn_linkEmbed">
            	<label for="ndn_shareCopyEmbedCodeText">Copy video embed code:</label>
				<textarea class="ndn_shareCopyEmbedCodeText" id="ndn_shareCopyEmbedCodeText">{{embedCode}}</textarea>
            </span> 
            <span class="ndn_shareCopyVideoLink ndn_linkEmbed">
            	<label for="ndn_shareCopyVideoLinkText">Copy video link:</label>
				<textarea class="ndn_shareCopyVideoLinkText" id="ndn_shareCopyVideoLinkText">{{videoLink}}</textarea>
            </span> </div>
    </div>
    <div class="ndn_sharePrivacyPolicy"> <a href="http://www.newsinc.com/privacy-policy/" target="_blank">Privacy Policy</a> &nbsp; | &nbsp; <a href="http://www.newsinc.com/player-terms" target="_blank">Terms of Use</a></div>
</div>
