.ndn_embedContainer.ndn_widget_VideoPlayer-Default {
	.ndn_videoPlayer {
		width: 100%;
		height: 100%;
	}
	
	.ndn_selectableVideos {
		width: 660px;
		padding-left: 6px;
		display: block;
		float: left;
		list-style: none;
		margin: 20px 0;
		
		li {
			opacity: 0.8;
			margin: 4px;
			display: block;
			float: left;
			width: 100px;
			height: 75px;
			
			&.ndn_activeVideo {
				border: 2px solid Black;
				margin: 2px;
				opacity: 1;
			}
			
			&:last-child {
				margin-right: 0;
			}
			
			img {
				cursor: pointer;
				width: 100%;
				height: 100%;
			}
		}
	}
}