.ndn_embedContainer.ndn_widget_VideoPlayer-Inline300 {
	font-family: Arial, Helvetica, sans-serif;
	width: 300px;
	height: 495px;
	
	.ndn_videoPlayerHeader {
		height: 45px;
		position: relative;
		padding: 5px;
		
		font-weight: bold;
		font-size: 10px;
		
		.ndn_videoTitle {
			font-size: 11px;
			display: block;
			padding: 0;
			margin: 0 0 -3px 0;
			line-height: 1.2;
		}
		
		.ndn_videoProviderLogo {
			width: 75px;
			height: 35px;
			overflow: hidden;
			float: right;

			img {
				max-width: 75px;
				float: right;
			}
		}
	}
	
	.ndn_videoPlayer {
		width: 300px;
		height: 170px;
		margin-bottom: 4px;
		
		// Accomodate for the header on the top of the video player window so that the AniView player begins at the top of the video player's header
		.ndn_aniviewContainer {
			top: -55px !important;
		}
		
		.ndn_endslateOverlay {
			.ndn_endslateContainer {
				.ndn_upNextHeader {
					width: 285px;
					
					.ndn_upNextDescription {
						display: none;
					}
				}
			}
		}
	}
	
	.ndn_selectableVideos {
		width: 300px;
		height: 270px;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		padding: 0;
		margin: 0;
		display: block;
		float: left;
		list-style: none;
		position: relative;
		
		.ndn_selectableVideo {
			overflow-y: auto;
			display: block;
			width: 280px;
			height: 80px;
			padding: 5px 0 5px 4px;
			margin: 0 auto;
			background: white;
			position: relative;
			
			&.ndn_activeVideo, &.ndn_activeVideoNotPlaying {
				background: #eee;
				
				.ndn_thumbnail {
					background: #000000;
					
					img {
						opacity: .5;
					}
				}

				.ndn_playVideoIcon, .ndn_videoDuration {
					display: none;
				}
			}
			
			&.ndn_activeVideo{
				.ndn_thumbnail {
					.ndn_nowPlaying {
						display: block;
					}
				}	
			}
			
			&.ndn_activeVideoNotPlaying{
				.ndn_thumbnail {
					.ndn_nowPlaying {
						display: block;
					}
				}	
			}			
			
			.ndn_thumbnail {
				width: 120px;
				height: 80px;
				float: left;
				margin-right: 6px;
				overflow: hidden;
				position: relative;
				background: #333;

				.ndn_nowPlaying, .ndn_upcomingVideo {
					font-size: 12px;
					font-family: Oswald, Arial, Helvetica, sans-serif ;
					line-height: 16px;
					margin-top: -8px;
					width: 100%;
					color: #fff;
					position: absolute;
					top: 50%;
					text-align: center;
					display: none;
				}

				img {
					width: inherit;
					height: inherit;
				}
			
				.ndn_playVideoIcon{
					height: 25px;
					width: 25px;
					background: url(../img/utilityGraphics_sprite.png) no-repeat 0 0;
					position: absolute;
					z-index: 9;
					left: 5px;
					bottom: 5px;
				}
				
				.ndn_videoDuration {
					position: absolute;
					bottom: 0;
					right: 0;
					padding: 2px;
					font-size: 9px;
					line-height: 12px;
					font-family: Arial, Helvetica, sans-serif;
					color: White;
					background: Black;
					height: 12px;
				}
			}
			
			.ndn_videoTitle {
				font-weight: bold;
				font-size: 12px;
				color: #333;
				line-height: 1.2;
				display: block;
				max-height: 43px;
				overflow-y: hidden;
			}
			
			.ndn_videoDescription {
				color: #666;
				font-size: 11px;
				display: block;
				height: 3em;
				line-height: 1.3;
				margin-top: 2px;
				overflow-y: hidden;
			}
			
			.is-link();
		}
	}
	
	.ndn_adCompanion {
		position: relative;
		width: 300px;
		height: 270px;
		padding: 10px 0;
		display: none;
		
		&.ndn_active {
			display: block;
		}
	}
}