.ndn_widget_VideoPlayer-Inline590 {
    position: relative;
    width: 590px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

    .ndn_videoPlayer {
    	margin-bottom: 10px;
    	height: 380px;
    }
		
    .ndn_sliderHeaderWrapper {
        width: 100%;
        text-align: center;

        h1 {
            display: inline-block;
            margin: 0 auto;
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
        }
    }

    .ndn_selectableVideos {
        position: relative;
        display: inline;
        float: left;
        width: @horizontalLauncherThumbnailWidth;
        height: 140px;
        overflow: hidden;
        list-style: none;
        color: #000000;
        padding: 0;
        margin: 0!important;
        list-style: none!important;
        cursor: hand;
        cursor: pointer;

        .ndn_selectableVideo {
            height: 140px;
            margin-left: 0px!important;
            margin-right: 10px!important;
            padding: 0!important;
        }

        .ndn_activeVideo {
            .ndn_sliderThumbnailImageWrapper {
                .ndn_nowPlayingOverlay {
                    display: block;
                    zoom: 1;
                }

                .ndn_sliderThumbnailOverlay {
                    display: none;
                }

                .ndn_sliderThumbnailPlay {
                    display: none;
                }
            }
        }

        .ndn_sliderThumbnailImageWrapper {
        	position: relative;
            height: 80px;

	        .ndn_sliderThumbnailOverlay {
            	position: absolute;
            	bottom: 0;
            	right: 0;
            	color: @launcherOverlayTextColor;
            	font-size: 10px;
            	font-weight: 300;
            	padding: 0 10px;
            	.transparentBackground(@launcherOverlayBackgroundColor, @launcherOverlayOpacity);
                zoom: 1;
                line-height: 2;
            }

            .ndn_sliderThumbnailPlay {
                position: absolute;
                left: 0;
                top: 0;
                height: 80px;
                width: 125px;
                background: url(../img/horizontalThumbPlay.png) 5px 48px no-repeat;
            }

            img {
                display: inline;
                list-style: none;
                width: 125px;
                height: @590ThumbnailHeight;
            }
        }

        .ndn_sliderThumbnailTitle {
            width: @horizontalLauncherThumbnailWidth;
            height: 60px;
            font-size: 13px;
            font-weight: bold;
            line-height: 1.2;
            background-color: #ffffff;

            img {
                float: right;
                margin-top: 10px;
                margin-right: 10px;
            }

            p {
                float: left;
                height: 55px;
                width: 100%;
                margin: 5px 0 0 0;
                opacity: 1;
            }
        }
    }

    .ndn_sliderWrapper {
        float: left;
        height: 140px;
    }

    .ndn_sliderNavButton {
        float: left;
        width: 20px;
        height: 140px;
        color: #fff;
        cursor: hand;
        cursor: pointer;
        background-color: #000000;
		background: #000 url(../img/utilityGraphics_sprite.png) no-repeat;

        &.ndn_hover {
            background-color: #09c;
        }
    }

    .ndn_sliderPrev {
		margin-right: 10px;
		background-position: -37px -365px;
	}

	.ndn_sliderNext {
		margin-left: 10px;
		background-position: -5px -365px;
	}
}
