//
// Responsive: Utility classes (Taken from Bootstrap)
// --------------------------------------------------


// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
// Targets Surface tablet widths only. Without it, the scrollbar in IE10 Desktop becomes 'transparent' and can affect partner sites. 
// Uses technique from: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@media screen and (min-width: 1366px) and (max-width: 1366px) {
	@-ms-viewport{
		width: device-width;
	}
}

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.ndn_hidden {
  display: none;
  visibility: hidden;
}

// Visibility utilities

// For desktops
.ndn_visible-phone     { display: none !important; }
.ndn_visible-tablet    { display: none !important; }
.ndn_hidden-phone      { }
.ndn_hidden-tablet     { }
.ndn_hidden-desktop    { display: none !important; }
.ndn_visible-desktop   { display: inherit !important; }

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  // Hide everything else
  .ndn_hidden-desktop    { display: inherit !important; }
  .ndn_visible-desktop   { display: none !important ; }
  // Show
  .ndn_visible-tablet    { display: inherit !important; }
  // Hide
  .ndn_hidden-tablet     { display: none !important; }
}

// Phones only
@media (max-width: 767px) {
  // Hide everything else
  .ndn_hidden-desktop    { display: inherit !important; }
  .ndn_visible-desktop   { display: none !important; }
  // Show
  .ndn_visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
  // Hide
  .ndn_hidden-phone      { display: none !important; }
}

// Print utilities
.ndn_visible-print    { display: none !important; }
.ndn_hidden-print     { }

@media print {
  .ndn_visible-print  { display: inherit !important; }
  .ndn_hidden-print   { display: none !important; }
}
