/* App-Wide Variables */
@appUrl: "..";

/******************************/
/* Product Specific Variables */
/******************************/
@playerFontFamily: Helvetica, Arial sans-serif;
@playerTextColor: #fff;
@playerBackgroundColor: #000;

@launcherOverlayBackgroundColor: #000;
@launcherOverlayTextColor:	#fff;
@launcherOverlayOpacity: 0.1;

@horizontalLauncherThumbnailWidth: 120px;

@590ThumbnailWidth: 125px;
@590ThumbnailHeight: 80px;

@endslateTextColor: #ddd;
@endslateSecondaryColor: #969696;
@endslateHoverColor: #fff;
@endslateBackgroundColor: #000;
@endslateOpacity: 0.5;

@baseBorderRadius:      4px;
@baseLineHeight:        20px;

// Pagination
// -------------------------
@paginationBackground:              #fff;
@paginationBorder:                  #ddd;
@paginationActiveBackground:        #f5f5f5;
@paginationColor:					#eee;