<!doctype html>
<html>
<head>
    <title>News Distribution Network, Inc.</title>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Force IE compatibility mode OFF -->
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    
    <link href="./img/favicon.ico" title="Icon" type="image/x-icon" rel="icon" />
    <link href="./img/favicon.ico" title="Icon" type="image/x-icon" rel="shortcut icon" />
    
    <%= build.embedJsHtml %>
    <style>
		html, body {
			padding: 0px;
			margin: 0px;
			border: none;
			width: 100%;
			height: 100%;
		}
    
    	#landing-page-embed-container.ndn_widget_VideoPlayer-Default,
    	#landing-page-embed-container.ndn_widget_VideoPlayer-Studio {
    		width: 100%;
    		height: 100%;
    	}
    </style>
</head>
<body>
	<div 
		id="landing-page-embed-container"
		class="ndn_embed" 
		data-config-accepts-config-from-url 
		data-config-accepts-config-from-url-prefix=""></div>
</body>
</html>
