<!doctype html>
<html>
<head>
    <title>News Distribution Network, Inc.</title>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="./img/favicon.ico" title="Icon" type="image/x-icon" rel="icon" />
    <link href="./img/favicon.ico" title="Icon" type="image/x-icon" rel="shortcut icon" />
    
    <%= build.embedJsHtml %>
</head>
<body class="ndn_sharePage">
	<div class="main-container">
		<div class="header">
			<a href="http://www.newsinc.com/" target="_blank"></a>
		</div>
		<div 
			id="landing-page-embed-container"
			class="ndn_embed"  
			data-config-type="VideoPlayer/16x9" 
			data-config-widget-id="2015"
			data-config-accepts-config-from-url
			data-config-accepts-config-from-url-prefix=""></div>
	</div>
</body>
</html>