 
<div class="ad" id="ad_news300"><!--/* OpenX JavaScript tag */-->

<!-- /*
 * The tag in this template has been generated for use on a
 * non-SSL page. If this tag is to be placed on an SSL page, change the
 * 'http://ox-d.catholic.org/...'
 * to
 * 'https://ox-d.catholic.org/...'
 */ -->

<script type="text/javascript">
if (!window.OX_ads) { 

OX_ads = []; }
OX_ads.push({ "auid" : "358944" });
</script>
<script type="text/javascript">
document.write('<scr'+'ipt src="http://ox-d.catholic.org/w/1.0/jstag"><\/scr'+'ipt>');
</script>
<noscript><iframe id="515f656a5857c" name="515f656a5857c" src="http://ox-d.catholic.org/w/1.0/afr?auid=358944&cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="300" height="1050"><a href="http://ox-d.catholic.org/w/1.0/rc?cs=515f656a5857c&cb=INSERT_RANDOM_NUMBER_HERE" ><img src="http://ox-d.catholic.org/w/1.0/ai?auid=358944&cs=515f656a5857c&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""></a></iframe></noscript></div>