 
<div class="ad" id="ad_ndn_news300"><div id="ndn_launcher_16721"><script type="text/javascript" src="http://embed.newsinc.com/thumbnail/embed.js?wid=16721&parent=ndn_launcher_16721"></script></div></div>