/* Structure */
#wrapper {
	width: 96%;
	max-width: 920px;
	margin: auto;
	padding: 2%;
}

#main {
	width: 60%;
	margin-right: 5%;
	float: left;
}

aside {
	width: 35%;
	float: right;
}

/* Logo H1 */
header > h1 {
	height: 70px;
	width: 160px;
	float: left;
	display: block;
	background: url(../images/demo.gif) 0 0 no-repeat;
	text-indent: -9999px;
}

/* Nav */
header nav {
	float: right;
	margin-top: 40px;
}

header nav li {
	display: inline;
	margin-left: 15px;
}

#skipTo {
	display: none;
}

#skipTo li {
	background: #b1fffc;
}

/* Media Queries */
@media screen and (max-width: 480px) {
	#skipTo {
		display: block;
	}
	
	#main,
	header nav,
	aside {
		float: left;
		clear: left;
		margin: 0 0 10px;
		width: 100%;
	}
	
	header nav li {
		margin: 0;
		background: #efefef;
		display: block;
		margin-bottom: 3px;
	}
	
	header nav a {
		display: block;
		padding: 10px;
		text-align: center;
	}
}