/**
 * This CSS stylesheet dynamically resizes the NDN Player Suite product's configurable <div> element
 * using CSS3 media queries. Not all browsers natively support CSS3 media queries, but JavaScript 
 * libraries can be used to add support to older browsers such as IE 6-8 and others.
 * 
 * This CSS stylesheet is a part of a demo, which uses a JavaScript library for backwards-
 * compatability for older browsers, located at:
 * http://assets.newsinc.com/2013-players-suite/implementation/responsive-design-demo/demo.html
 */
 
#my-ndn-player {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	height: 518px;
}

@media screen and (min-width: 400px) {
	#my-ndn-player {
		height: 216px;
	}
}

@media screen and (min-width: 480px) {
	#my-ndn-player {
		height: 259px;
	}
}

@media screen and (min-width: 767px) {
	#my-ndn-player {
		height: 414px;
	}
}