* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

body {
	background: #ffffff;
	font-size: 13px;
	color: #666666;
	font-family: Arial, helvetica, sans-serif;
}

a {
	color: #095796;
}

ol,ul {
	list-style: none;
	margin: 0;
}

ul li {
	margin: 0;
	padding: 0;
}

h1 {
	margin-bottom: 10px;
	color: #111111;
}

a,img {
	outline: none;
	border: none;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px;
	line-height: 1.4em;
	font-size: 1.2em;
}

img {
	display: block;
	margin-bottom: 10px;
}

aside {
	font-style: italic;
	font-size: 0.9em;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}