<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NDN Player Suite Unit Testing (QUnit)</title>
    <link rel="stylesheet" href="./qunit/qunit.css" />
    
    <%= build.topLevelEmbedJsHtml %>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    
    <script src="./qunit/qunit.js"></script>
    <script src="./qunit/qunit-parameterize.js"></script>
    <script>
        QUnit.config.testTimeout = 30000;
    </script>
    
    <%= build.jsTestsHtml %>
</body>
</html>
