@import "../../../templates/ndn/widget/fonts";
@import "VideoPlayer/16x9/simplePagination";
@import "../../../lib/ndn/selectableVideos";

.ndn_embedContainer.ndn_widget_VideoPlayer-16x9 {

	@tabPadding: 12px;
	
	font-family:  Helvetica, Arial, sans-serif!important;
	color:#000!important;
	
	.ndn_pagination {
		.active .current {
			color: #ccc;
		}
	}
	
	.ndn_selectableVideo {
		.ndn_videoTitle {
			max-height: 50px;
			overflow: hidden;
			margin: 5px 0 0 0;
			font-weight: bold;
			font-size: 13px;
			line-height: 1.2;
			height: 33px;
		}
	}
	
	ul, li {
		list-style-type: none;
	}
	
	ul.ndn_playlistThumbnailsPage {
		margin: 0 0 10px;
	}
	
	a {
		color: #000;
	}
	
	a:hover, a:focus {
		color: #1d437c;
		text-decoration: none;
		outline: 0;
	}
	
	.ndn_playlistThumbnailsPagination {
		clear: both;
		margin: 0 auto;
		text-align: center;

		ul {
			// Allow for text-based alignment
			display: inline-block!important;
			.ndn_ie7-inline-block();
			// Reset default ul styles
			margin-left: 0;
			margin-bottom: 0;
			// Visuals
			.ndn_border-radius(@baseBorderRadius);
			.ndn_box-shadow(0 1px 2px rgba(0,0,0,.05));	

			li {
				display: inline; // Remove list-style and block-level defaults

				a, span {
					float: left; // Collapse white-space
					padding: 4px 12px;
					line-height: @baseLineHeight;
					text-decoration: none;
					background-color: @paginationBackground;
					border: 1px solid @paginationBorder;
					border-left-width: 0;
				}

				a:hover, a:focus {
					background-color: @paginationActiveBackground;
				}

				&.ndn_active {
					a, span {
						background-color: @paginationActiveBackground;
						color: @paginationColor;
						cursor: default;
					}
				}

				&.ndn_disabled {
					span, a, a:hover, a:focus {
						color: @paginationColor;
						background-color: transparent;
						cursor: default;
					}
				}

				&:first-child {
					a, span {
						border-left-width: 1px;
						.ndn_border-left-radius(@baseBorderRadius);
						background-image: none!important;
					}
				}

				&:last-child {
					a, span {
						.ndn_border-right-radius(@baseBorderRadius);
						background-image: none!important;
					}
				}
			}
		}
	}
	
	/***** TYPE *****/
	
	.ndn_lite {
		font-weight: 300;
		text-transform: uppercase;
	}
	
	/* HEADINGS */	
	
	.ndn_ttlLogo {
		background: url(../img/logo_laTimes.png) 0 0 no-repeat;
		text-indent: -99999em;
		height: 35px;
		margin: 5px 0;
		text-indent: -99999em;
	}
	
	/***** PLAYLIST *****/
	
	
	.ndn_playlist {
		font-size: 13px;
	}
	
	.ndn_openNav {
		background: #000;
		margin: 5px 0 10px 0;
		padding: 2px 5px 5px 5px;
		
		a{
			height: 13px;
			background: url('../img/video-categories.png') no-repeat;
			width: 100%;	
			display: block;		
		}
	}
	
	.ndn_nav {
		margin-top: 10px;
		font-size: 15px;
	}
	
	/***** TABS *****/	
	
	.ndn_nav-tabs {
		font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		
		li {
			float: left;
		}
		
		&:after {
			clear: both;
			content: "";
		    display: table;
		    line-height: 0;
		}
		
		&:before {
			content: "";
		    display: table;
		    line-height: 0;
		}
	}
	
	.ndn_nav-tabs > li > a {
		border-radius: 0;
		background: #000;
		color: #fff !important;
		display: block;
		border: none;
		border-top: 4px solid #000;
	 	padding: 7px @tabPadding @tabPadding @tabPadding;
		margin-right: 1px;
		text-decoration: none;
	}
	
	.ndn_nav-tabs > li > a:focus {
		color: #555 !important;
		background: #fff;
		border-top-color: #000;
		}
	
	.ndn_nav-tabs > li.ndn_active > a,
	.ndn_nav-tabs > li.ndn_active > a:hover {
		background: #555;
		color: #fff !important;
		border-top: 4px solid #000;
		font-weight: normal;
	}
	
	.ndn_nav-tabs > li > a:hover {
		background: #333;
		color: #fff !important;
		border-top: 4px solid #666;
	}
	
	.ndn_nav-tabs > .ndn_active > a, .ndn_nav-tabs > .ndn_active > a:hover, .ndn_nav-tabs > .ndn_active > a:focus {
		border: none;
		border-top: 4px solid #000;
		background: #444;
	}
	
	/***** THUMBS ****/
	
	
		
	
	.ndn_thumb {
		cursor: pointer;
		display: block;
	}
	
	.ndn_thumbContainer {
		display: block;
		background: #000;
		overflow: hidden;
	}
	
	.ndn_thumbContainer.ndn_pauseThumblink{
		height: 72px;
	}
	
	
	.ndn_videoMeta {
		color: #666;
		font-size: 10px;
		font-family:  Arial, Helvetica, sans-serif;
		margin-top: 3px;
		line-height: 1;
		height: 13px;
		overflow: hidden;
	}
	
	/***** PAGINATION *****/
	
	.pagination ul > li > a {
		margin: 0 3px;
		border-width: 1px;
		border-radius: 0;
	}
	
	.pagination ul > li:last-child > a, .pagination ul > li:first-child > a {
		border-radius: 0;
	}
	
	
	
	/**** MEDIA QUERIES ****/
	
	// This handles the grid stuff for larger viewports
	@media only screen and (min-width : 768px) {
		// Hide accordion nav
		.ndn_accordion {
			display: none;
		}
		
		// This is a mixin for a basic fluid grid
		.ndn_fluid-grid-16x9(@cols) {
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;

			li {
				display: block;
				float: left;
				list-style: none;
				padding: 0;
				margin: 0;
				width: percentage(1/@cols);
			}
		}

		div.ndn_playlistThumbnailsPages {
			padding: 10px 0;

			ul.ndn_playlistThumbnailsPage {
				.ndn_fluid-grid-16x9(6);
				padding-bottom: 22px;
				
				li {
					margin-bottom: 10px;
					
					.ndn_selectableVideoInner {
						margin: 0 10px;

						.ndn_thumbContainer {
							padding-bottom: 56.25%;
							position: relative;

							img {
								position: absolute;
								top: 0;
								right: 0;
								left: 0;
								width: 100%;
							}
						}
					}
				}
			}
			
			// Set right margin for when we have a companion (or ad study)
			&.ndn_withAdStudy,
			&.ndn_withCompanion {
				margin-right: 320px;
				
				ul.ndn_playlistThumbnailsPage {
					.ndn_fluid-grid-16x9(4);
				}
			}
		}
		
		.ndn_companion {
			position: relative;
		}
		
		.ndn_adStudy,
		div.ndn_companion {
			float: right;
			height: 250px;
			width: 300px;
			margin: 10px 10px 10px 0;
		}
	}
	
	@media only screen and (max-width : 1199px) {
			
		.ndn_selectableVideo {
			.ndn_videoTitle {
				height: 33px;
				font-weight: bold;
				font-size: 13px;
			}
		}
	}
	@media only screen and (max-width : 1023px) {

		@tabPadding: 9px;		
	
		.ndn_nav {
			font-size: 15px;
		}
		
		.ndn_nav-tabs > li > a {
			padding: 7px @tabPadding @tabPadding @tabPadding;
		}
			
		.ndn_selectableVideo {
			.ndn_videoTitle {
				height: 30px;
				font-weight: bold;
				font-size: 12px;
			}
		}
	}
	@media only screen and (max-width : 767px) {

		@tabPadding: 9px;		
		
		// Hide nav tabs
		.ndn_nav-tabs {
			display: none;
		}
		
		.ndn_accordion  {
			display: block;
			margin-bottom: 5px;
			
			.ndn_collapse {
				display: none;
				
				.ndn_nav-tabs {
					display: block;
				}
			}
		}
		.ndn_openNav {
			margin-bottom: 0;
			}
		.ndn_nav {
			font-size: 17px;
			margin-top: 1px;
			margin-bottom: 0;
		}
		
		.nav-tabs > li > a {
			padding: 7px @tabPadding @tabPadding @tabPadding;
			margin-right: 0;
		}
		.ndn_thumb {
			height: auto;
			margin-bottom: 20px;
			}
		
		.ndn_thumbContainer {
			height: 320px;
		}
		
		.ndn_thbImage {
			width: 100%;
		}
			
		.ndn_selectableVideo {
			.ndn_videoTitle {
				font-weight: normal;
				font-size: 24px;
				max-height: none;
				line-height: 1;
				padding: 0 5px;
			}
		}
		.ndn_videoMeta {
			font-size: 11px;
			padding: 0 5px;
		}
			
		// This ensures that the companion is hidden on small viewports
		.ndn_adStudy,
		div.ndn_companion {
			float: none;
			height: 0;
			width: 0;
			margin: 0;
			overflow: hidden;
		}
	}
	@media only screen and (max-width : 639px) {

		@tabPadding: 9px;		
		
		.ndn_accordion  {
			margin-bottom: 5px;
			}
		.ndn_openNav {
			margin-bottom: 0;
			}
		.ndn_nav {
			font-size: 17px;
			margin-top: 1px;
			margin-bottom: 0;
		}
		
		.ndn_nav-tabs > li > a {
			padding: 7px @tabPadding @tabPadding @tabPadding;
			margin-right: 0;
		}
		.ndn_thumb {
			height: auto;
			margin-bottom: 20px;
			}
		
		.ndn_thumbContainer {
			height: 240px;
		}
		
		.ndn_thbImage {
			width: 100%;
		}
	}
	@media only screen and (max-width : 479px) {
		
		body {
			padding: 0 0 20px 0;
			}
		
		.ndn_thumbContainer {
			height: 160px;
		}
		
	
	.ndn_selectableVideo {
		.ndn_videoTitle {
			font-size: 21px;
		}
	}
	
	}
	@media only screen and (max-width : 319px) {
	}
	
	/***** PHONE *****/
	
	.ndn_nav-phone li {
		float: left;
		width: 100%;
	}
	
	.ndn_accordion-inner, .ndn_accordion-group {
		padding: 0;
		border: none;
	}
	
	.ndn_16-9-wrapper {
		.fixedAspect(16, 9);
	}
	
	// A LESS mixin to do the fixed-aspect thing
	.fixedAspect(@width, @height) {
		// Outermost container gets padding as a percentage
		
		padding-bottom: percentage(@height/@width);
		
		// Need relative positioning because the child will be absolute
		position: relative;
		
		// This depends on the wrapper only having one child!
		> div {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}	
	}	
	
}
