/* [PLAYER-1032]
For some reason the <li> elements are not dynamically sized correctly via the carousel plugin we are using (because there is the situation where the product/widget 
is initially hidden), so this override is needed to force the carousel plugin to not resize this element incorrectly to "100px" 
*/

html body .ndn_embedContainer.ndn_widget_VideoLauncher-Slider,
html body .ndn_embedContainer.ndn_widget_VideoLauncher-Playlist300x250 {
	.ndn_selectableVideos > li {
		min-width: 300px !important;
	}
}
