.ndn_widget_VideoLauncher-Horizontal {
    &.ndn_horizontalSmall {
        width: 425px;
    }

    &.ndn_horizontalLarge {
        width: 550px;
    }

    a {
        text-decoration: none;
    }

    position: relative;
    height: 140px;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    .ndn_sliderHeaderWrapper {
        width: 100%;
        text-align: center;

        h1 {
            display: inline-block;
            margin: 0 auto;
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
        }
    }

    .ndn_sliderAd {
        position: absolute;
        top: 0;
        left: 278px;
        width: 120px;
        height: 100px;
        border: none;
    }

    ul.ndn_sliderItems {
        height: 140px;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;
            display: inline;
            float: left;
            width: @horizontalLauncherThumbnailWidth;
            height: 140px;
            overflow: hidden;
            list-style: none;

            .ndn_adBladeContainer {
                height: 100px;
                background: black;
            }

            iframe {
                width: 120px;
                height: 100px;
                border: 0;
                overflow: hidden;
            }

            iframe[seamless]{
                background-color: transparent;
                border: 0px none transparent;
                padding: 0px;
                overflow: hidden;
            }

            &:hover .ndn_sliderThumbnailImageWrapper .ndn_sliderThumbnailPlay {
                background: url(../img/utilityGraphics_sprite.png) 0 -25px no-repeat;
            }

            a {
                .ndn_sliderThumbnailImageWrapper {
                    height: 100px;
                    position: relative;

                    img {
                        width: @horizontalLauncherThumbnailWidth;
                        height: 100px;
                    }

                    .ndn_sliderThumbnailPlay {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 25px;
                        height: 25px;
                        margin: 0 0 5px 5px;
                        background: url(../img/utilityGraphics_sprite.png) no-repeat;
                    }
                }
            }

            .ndn_sliderThumbnailOverlay {
                width: @horizontalLauncherThumbnailWidth;
                height: 35px;
                font-size: 12px;
                font-weight: 400;
                background-color: #ffffff;

                img {
                    float: right;
                    margin-top: 10px;
                    margin-right: 10px;
                }

                p {
                    float: left;
                    height: 32px;
                    margin: 4px 0 0 0;
                    color: #000000;
                    opacity: 1;
					font-size: 12px;
					font-weight: bold;
					line-height: 1.3;
					overflow: hidden;
                }
            }

            img {
                display: inline;
                list-style: none;
            }
        }
    }

    .ndn_sliderWrapper {
        float: left;
    }

    .ndn_sliderPrev {
        margin-right: 6px;
        background: url(../img/utilityGraphics_sprite.png) -37px -370px;
    }

    .ndn_sliderNext {
        margin-left: 6px;
        background: url(../img/utilityGraphics_sprite.png) -6px -370px no-repeat;
    }

    .ndn_sliderNavButton {
        float: left;
        width: 20px;
        height: 140px;
        color: #ffffff;
        cursor: hand;
        cursor: pointer;
        background-color: #000000;

        &:hover {
            background-color: #0099cc;
        }
    }
}
