.ndn_widget_VideoLauncher-Playlist300x250 {
    width: 300px;
    height: 250px;
    overflow: hidden;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;

	a {
		text-decoration: none;
	}

	.ndn_videoPlayerWrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 101;
		background-color: #000000;
	}

	.ndn_sliderContainer {
		position: relative;
		width: 300px;
		height: 250px;
		z-index: 100;

		.ndn_playlistSelectContainer {
		    display: none;
		    padding: 9px 5px 5px;

		    select {
			    width: 291px;
			    margin-bottom: 0;
			}

			h2 {
				padding-top: 5px;
				margin: 0;
				font-size: 12px;
				font-weight: 400;
				line-height: 15px;
			}
		}

		.ndn_sliderNavButton {
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 145px;
		    height: 25px;
		    color: @launcherOverlayTextColor;
		    cursor: hand;
		    cursor: pointer;
		    background: @launcherOverlayBackgroundColor;

		    &:hover {
		    	background-color: #0099cc;
		    }

		    p {
			    width: 10px;
			    margin: 3px auto;
			}
		}

		.ndn_sliderControls {
			position: absolute;
			bottom: 0;
			display: none;
		}

		.ndn_arrow {
			height: 25px;
			width: 10px;
			margin: 0 auto;
		}

		.ndn_sliderPrev {
		    left: 5px;

		    .ndn_arrow {
				background: url(../img/utilityGraphics_sprite.png) -30px -270px;
			}
		}

		.ndn_sliderNext {
		    left: 150px;
		    border-left: 1px solid #555555;

			.ndn_arrow {
				background: url(../img/utilityGraphics_sprite.png) -10px -270px;
			}
		}
	}

	.ndn_sliderItems {
	    width: 10000px;
	    height: 215px;
	    padding: 0;
	    margin: 0;
	    list-style: none;

		.ndn_sliderPlayerItem {
		    height: 250px;
		    background-color: #000000;
		}

		li {
		    position: relative;
		    display: inline;
		    float: left;
		    width: 300px;		    
		    height: 215px;
		    overflow: hidden;
		    list-style: none;

		    .ndn_sliderThumbnailPlay {
		    	position: absolute;
		    	left: 0;
		    	top: 0;
		    	height: 55px;
		    	width: 36px;
		    	background: url(../img/horizontalThumbPlay.png) 5px 20px no-repeat;
		    }

			.ndn_sliderThumbnailOverlay {
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    width: 143px;
			    height: 30px;
			    font-weight: normal; 
			    .transparentBackground(@launcherOverlayBackgroundColor, @launcherOverlayOpacity);

				p {
				    float: left;
				    width: 133px;
				    height: 26px;
				    padding: 2px 5px;
				    margin: 0;
				    font-size: 11px;
				    line-height: 12px;
				    color: @launcherOverlayTextColor;
				    opacity: 1;
				}
			}

			.ndn_sliderPlaylistPane {
			    height: 190px;
			    padding: 0 0 0 5px;
			    margin-left: 0;

			    li {
				    width: 143px;
				    height: 90px;
				    margin: 0 0 5px 0;
					position: relative;

					&.ndn_odd {
						margin-right: 5px;
					}
					
					.ndn_thumbnailPlayButton {
						position: absolute;
						background: url(../img/utilityGraphics_sprite.png) no-repeat 0 0;
						text-indent: -99999em;
						height: 25px;
						width: 25px;
						top: 30px;
						left: 5px;
					}

				    img {
					    width: 143px;
					    height: 90px;
					}
				}
			}
		}
	}
}