.ndn_playerOptions {
	height: 20px;
	line-height: 20px;
	text-align: right;
	font-family: Helvetica, Arial;
	font-size: 12px;
	
	a {
	   color: #0099cc;
	
	   text-decoration: none;
	   
	   &:hover {
	       text-decoration: underline;
	   }
	   
	   &.ndn_selected {
	       color: black;
	       font-weight: bold;
	       cursor: default;
	       
	       &:hover {
	           text-decoration: none;
	       }
	   }
	}
}