html body .ndn_embedContainer.ndn_widget_VideoLauncher-Slider {
	max-width: 350px;
	min-width: 300px;
	position: relative;

	.ndn_responsiveContainer {
		max-width: 350px;
		min-width: 300px;
		overflow: hidden;
		position: relative;
	}

	.ndn_playlistThumbnails {
		width: 100%;
		display: block;

		.ndn_playlistThumbnailsList {
			position: relative;
			height: 100%;
		}

		.ndn_thumbnailContainer {
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		h4 {
			margin: 10px 0 2px 1px!important;
			font-size: 12px!important;
			color: #000!important;
		}

		li {
			position: relative!important;
			display: inline-block!important;
			width: 32%;
			float: left!important;
			overflow: hidden!important;

			a {

			}

			img {
				height: 100%!important;
			}

			p {
				display: none;
				color: #fff!important;
				font-family: @playerFontFamily!important;
			}

			.ndn_currentVideoThumbnail {
				position: absolute;
				display: none;
				top: 0;
				left: 0;
				width: 100%;
				height: 15px;
				background: url(../img/ndn_sliderSprite.png) 40% -77px no-repeat;
				z-index: 100;
			}

			&:hover .ndn_titleOverlay {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 101;
				font-family: @playerFontFamily!important;
				font-size: 11px!important;
				line-height: 12px!important;
				padding: 3px;

				.transparentBackground(#000, 0.5);

				.ndn_thumbTitle {
					height: 60px!important;
					position: absolute!important;
					margin-top: 8px!important;
					font-size: 11px!important;
					display: block!important;
					font-weight: bold!important;
					margin-right: 5px!important;
					overflow: hidden!important;
					color: #fff!important;
					font-family: @playerFontFamily!important;
					text-transform: none!important;

					&, div {
						font-size: 11px!important;
						color: #fff!important;
						font-family: @playerFontFamily!important;
						text-transform: none!important;
					}
				}
			}

			&:after {
				padding-top: 75%;
				display: block;
				content: '';
			}
		}
	}

	.ndn_videoPlayerWrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		min-height: 250px;
		z-index: 401;
		background-color: #000000;
		
		&.ndn_videoPlayerWrapper_loading {
			z-index: 0;
		}
	}

	.ndn_sliderItems {
		width: 10000px;
		height: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		background-color: #000000;
		
		.ndn_playButton {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			margin: -25px auto 0 -25px;
			background: url(../img/ndn_playButtonSprite50px.png) -24px -53px no-repeat;
			clear: none;
			z-index: 205;
		}

		&:hover .ndn_playButton {
			background-position: -103px -53px;
		}

		li {
			position: relative;
			display: inline;
			float: left;
			width: 100%;
			height: 100%;
			overflow: hidden;
			list-style: none;
			padding: 0;

			img {
				display: inline;
				list-style: none;
			}

			a {
				text-decoration: none;
			}

			a > img {
				height: 100%;
			}

			.ndn_sliderThumbnailOverlay {
				width: 100%;
				height: 100%;
				position: absolute!important;
				top: 0!important;
				left: 0!important;
				font-family: @playerFontFamily!important;
				font-size: 13px!important;
				line-height: 1.6!important;
				font-weight: normal!important;
				padding: 0!important;
				margin: 0!important;
	
				#gradient.ndn_slider_overlay();

				p {
					width: 70%!important;
					float: left!important;
					font-size: 11px!important;
					font-weight: bold!important;
					line-height: 13px!important;
					padding: 0!important;
					margin: 5px 0 0 5px!important;
					opacity: 1!important;
					clear: none!important;
					color: #fff!important;
					font-family: @playerFontFamily!important;		
					text-transform: none!important;

					&, & div {
						color: @launcherOverlayTextColor!important;						
						font-family: @playerFontFamily!important;
						font-size: 11px!important;
						font-weight: normal;
						text-transform: none!important;
					}

				    &.ndn_sliderVideoTitle {
				        max-height: 26px!important;
				        font-weight: bold!important;

				        &, & div {
							font-weight: bold!important;
							
						}

				    }
				}

				.ndn_producerName {
					font-size: 10px!important;
					margin-top: 0!important;
					font-weight: normal!important;;
				}

				img {
					margin-top: 5px;
					margin-right: 5px;
					position: absolute;
					top: 0;
					right: 0;
					max-height: 27px!important;
					max-width: 75px!important;
				} 
			} 
		}
	}	

	.ndn_sliderContainer {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.ndn_carousel-wrapper {
			height: 100%;
		}

		.ndn_carousel-viewport {
			height: 100%;
		}

		&:hover {
			.ndn_sliderNavButton {
				opacity: 0.7;
			}
		}	

		.ndn_sliderNavButton {
			position: relative;
			height: 25px;
			width: 25px;
			opacity: 0;
			clear: none;
			margin: 0 5px;
			color: @launcherOverlayTextColor;
			cursor: hand;
			cursor: pointer;

			p {
				width: 10px;
				margin: 3px auto;
			}
		}

		.ndn_sliderControls {
			position: absolute;
			top: 50%;
			width: 100%;
			margin-top: -24px;
			cursor: hand;
			cursor: pointer;
			z-index: 350;
			visibility: visible;
			-webkit-transform-style: preserve-3d;
			display: none;
		}
		
		&.ndn_showcaseCarouselEnabled {
			.ndn_sliderControls {
				display: block;
			}
		}

		.ndn_arrow {
			height: 25px;
			width: 25x;
			margin: 0 auto;
			z-index: 351;
		}

		.ndn_sliderNext {
			position: absolute;
			top: 10px;
			right: 0;

			.ndn_arrow {
				background: url(../img/ndn_sliderSprite.png) -45px -9px;

				&:hover, &.ndn_hover {
					background-position: -45px -39px;
				}
			}
		}

		.ndn_sliderPrev {
			position: absolute;
			top: 10px;
			left: 0;

			.ndn_arrow {
				background: url(../img/ndn_sliderSprite.png) -12px -9px;

				&:hover, &.ndn_hover {
					background-position: -12px -39px;
				}
			}
		}
	}
}
