// Variables for this thing
// Number of items to display
@towerNumItems: 5;
// Height of an item
@towerItemHeight: 100px;
// Width of an item
@towerItemWidth: 125px;
// Spacing between tower items
@towerItemVerticalSpacing: 3px;

.ndn_widget_VideoLauncher-VerticalTower {
	width: @towerItemWidth;

	.ndn_sliderAd {
        position: absolute;
        top: ((@towerItemHeight + @towerItemVerticalSpacing) * 3);
        left: 0;
        width: 125px;
        height: 100px;
        border: none;
    }

	.ndn_verticalTowerWrapper {
		// This sets the "viewport" height and clips the playlist items
		height: (@towerItemHeight * @towerNumItems) + (@towerItemVerticalSpacing * (@towerNumItems - 1));
		overflow: hidden;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		position: relative;
		
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				position: relative;
				// Spacing between items
				margin-bottom: @towerItemVerticalSpacing;
				line-height: 1.2;
				
				.ndn_adBladeContainer {
					height: 100px;
					position: relative;
					p {
						background: rgba(0, 0, 0, .7);
						bottom: 0;
						color: #fff;
						left: 0;
						margin: 0;
						position: absolute;
						right: 0;
						height: 27px;
						overflow: hidden;
						padding: 2px 5px;
					}
					background: black;
				}

				iframe {
					width: 120px;
					height: 100px;
					border: 0;
					overflow: hidden;
				}

				iframe[seamless]{
					background-color: transparent;
					border: 0px none transparent;
					padding: 0px;
					overflow: hidden;
				}

				&:hover .ndn_verticalThumbnailPlay {
					background: url(../img/utilityGraphics_sprite.png) no-repeat 0 -25px;
				}

				a {
					display: block;
					height: @towerItemHeight;
					position: relative;
					
					img {
						height: @towerItemHeight;
						width: @towerItemWidth;
					}
					.ndn_verticalThumbnailPlay {
						height: 25px;
						width: 25px;
						background: url(../img/utilityGraphics_sprite.png) no-repeat 0 0;
						position: absolute;
						z-index: 9;
						left: 5px;
						bottom: 37px;
					}
					p {
						background: rgba(0, 0, 0, .7);
						bottom: 0;
						color: #fff;
						left: 0;
						margin: 0;
						position: absolute;
						right: 0;
						height: 27px;
						overflow: hidden;
						padding: 2px 5px;
					}
				}
				
				// These are just for the fake placeholder ad
				&.ndn_verticalAd {
					background: #000;
					
					a {
						color: #fff;
					}
				}
				
				&:last-child {
					// Kill spacing on last element; spacing to controls will be done elsewhere
					margin-bottom: 0;
				}
			}
		}
	}
	
	.ndn_verticalTowerNav {
		float: left;
		width: 100%;
		background: #fff;
		// Assuming the spacing above the buttons should be the same as item spacing...
		margin-top: @towerItemVerticalSpacing;
		overflow: auto;
		clear: both;
	}
	
	.ndn_verticalTowerNav a {
		cursor: pointer;
		display: block;
		background: #000  url(../img/utilityGraphics_sprite.png) no-repeat -30px 0px;
		text-indent: -99999em;
		width: 62px;
		height: 30px;
		float: left;
	}
	
	.ndn_verticalTowerNav a.ndn_verticalTowerNavPrev {
		cursor: pointer;
		display: block;
		background-position: -30px -20px;
		text-indent: -99999em;
		width: 62px;
		float: right;
	}
	
	.ndn_verticalTowerNav a:hover {
		background-color: #09c;
	}
}

.ndn_widget_VideoLauncher-VerticalTower:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}