/*================================================================================
The use, disclosure, reproduction, modification, transfer, or transmittal
of this work for any purpose in any form or by any means without th
written permission of Akamai Technologies is strictly prohibited.

Confidential, Unpublished Property of Akamai Technologies.
Use and Distribution Limited Solely to Authorized Personnel.

Copyright 2014 Akamai Technologies, Inc.  All Rights Reserved. 
================================================================================*/
.ndn_embed{
	.akamai-player {
	  background: #212121;
	  background: -moz-linear-gradient(top, #212121 0%, #090909 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #090909));
	  background: -webkit-linear-gradient(top, #212121 0%, #090909 100%);
	  background: -o-linear-gradient(top, #212121 0%, #090909 100%);
	  background: -ms-linear-gradient(top, #212121 0%, #090909 100%);
	  background: linear-gradient(to bottom, #212121 0%, #090909 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#090909', GradientType=0);
	  width: 100%;
	  height: 100%;
	  position: relative;
	  padding: 0px;
	  margin: 0px;
	  border: none;
	  overflow: hidden;
	  color: #FFFFFF;
	  font-family: Arial, Helvetica, sans-serif;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-user-select: none;
	}
	.akamai-player.akamai-medium-audio.akamai-html5,
	.akamai-player.akamai-medium-audio.akamai-external {
	  height: 50px;
	}
	.akamai-player.akamai-medium-audio.akamai-flash {
	  height: 25px;
	}
	.akamai-player.akamai-full-screen {
	  top: 0px;
	}
	.akamai-hidden {
	  display: none;
	}
	.akamai-disabled {
	  opacity: 0.4;
	  pointer-events: none;
	  cursor: pointer;
	}
	.akamai-flash .akamai-overlays {
	  pointer-events: none;
	}
	.akamai-overlay {
	  pointer-events: none;
	}
	.akamai-layer {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  width: 100%;
	  height: 100%;
	  padding: 0px;
	  margin: 0px;
	  border: none;
	  display: block;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-user-select: none;
	}
	.akamai-media-element {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0px;
	  left: 0px;
	  padding: 0px;
	  margin: 0px;
	  border: none;
	  display: block;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-user-select: none;
	}
	.akamai-iphone.akamai-ready .akamai-media-element,
	.akamai-iphone.akamai-paused .akamai-media-element,
	.akamai-hide-video .akamai-media-element {
	  -webkit-transform: translateX(-2048px);
	}
	.akamai-controls-native .akamai-media-element,
	.akamai-controls-native.akamai-iphone.akamai-ready .akamai-media-element,
	.akamai-controls-native.akamai-iphone.akamai-paused .akamai-media-element,
	.akamai-controls-native.akamai-hide-video .akamai-media-element {
	  -webkit-transform: none;
	}
	.akamai-html5.akamai-ended .akamai-media-element,
	.akamai-html5.akamai-error .akamai-media-element {
	  width: 0px;
	  height: 0px;
	}
	.akamai-install-flash {
	  text-align: center;
	  position: absolute;
	  top: 50%;
	  margin-top: -50px;
	  width: 100%;
	}
	.akamai-button {
	  border: none;
	  margin: 0px;
	  padding: 0px;
	  background: none;
	  cursor: pointer;
	  pointer-events: auto;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-user-select: none;
	}
	.akamai-button .akamai-label {
	  color: #535353;
	  position: relative;
	  top: -19px;
	  left: 35px;
	  font-weight: bold;
	}
	.akamai-button:hover .akamai-label,
	.akamai-button:active .akamai-label {
	  color: #FFFFFF;
	}
	.akamai-icon {
	  background-image: url("@{appUrl}/img/lib/amp.premier/amp.svg");
	  pointer-events: auto;
	}
	.akamai-context-menu {
	  font-size: 12px;
	  position: absolute;
	  outline: none;
	  padding: 0px;
	  margin: 0px;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  -webkit-user-select: none;
	  -webkit-user-drag: none;
	  border: 1px solid #ccc;
	  overflow: auto;
	  background: #1e1e1e;
	  border-radius: 2px;
	  border-color: #2e2e2e;
	  z-index: 9999;
	}
	.akamai-context-item {
	  color: #646464;
	  padding: 0 25px;
	  font-size: 13px;
	  text-decoration: none;
	  white-space: nowrap;
	  word-wrap: normal;
	  line-height: 25px;
	  cursor: pointer;
	  display: inline-block;
	}
	.akamai-context-item:hover {
	  color: #b0b0b0;
	}
	.akamai-end-slate {
	  background: #595959;
	  background: -moz-linear-gradient(top, #595959 0%, #272727 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #595959), color-stop(100%, #272727));
	  background: -webkit-linear-gradient(top, #595959 0%, #272727 100%);
	  background: -o-linear-gradient(top, #595959 0%, #272727 100%);
	  background: -ms-linear-gradient(top, #595959 0%, #272727 100%);
	  background: linear-gradient(to bottom, #595959 0%, #272727 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#272727', GradientType=0);
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  padding: 0px;
	  overflow: hidden;
	  display: none;
	  text-align: center;
	  -webkit-user-select: none;
	}
	.akamai-ended .akamai-end-slate {
	  display: block;
	}
	.akamai-end-slate-image {
	  width: 100%;
	}
	.akamai-error.akamai-layer {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  padding: 0px;
	  overflow: hidden;
	  display: none;
	  text-align: center;
	  -webkit-user-select: none;
	}
	.akamai-error .akamai-error.akamai-layer {
	  display: table;
	}
	.akamai-error-message {
	  color: #FFFFFF;
	  font-weight: bold;
	  font-size: 20px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  text-align: center;
	  vertical-align: middle;
	  line-height: 23px;
	  display: table-cell;
	}
	.akamai-loading {
	  width: 32px;
	  height: 32px;
	  text-align: center;
	  border: none;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  margin-top: -16px;
	  margin-left: -16px;
	  display: none;
	  background-image: url("@{appUrl}/img/lib/amp.premier/amp.svg");
	  background-position: -592px 0px;
	}
	.akamai-loading .akamai-loading.akamai-overlay {
	  display: block;
	}
	.akamai-poster {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  margin: 0px;
	  padding: 0px;
	  overflow: hidden;
	  display: none;
	  pointer-events: none;
	}
	.akamai-medium-audio .akamai-poster,
	.akamai-ready .akamai-poster {
	  display: table;
	}
	.akamai-poster-content {
	  text-align: center;
	  vertical-align: middle;
	  display: table-cell;
	  width: 100%;
	  height: 100%;
	}
	.akamai-poster-image {
	  width: 100%;
	}
	.akamai-replay {
	  background: #7c7c7c;
	  background: -moz-linear-gradient(top, #7c7c7c 0%, #595959 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c7c7c), color-stop(100%, #595959));
	  background: -webkit-linear-gradient(top, #7c7c7c 0%, #595959 100%);
	  background: -o-linear-gradient(top, #7c7c7c 0%, #595959 100%);
	  background: -ms-linear-gradient(top, #7c7c7c 0%, #595959 100%);
	  background: linear-gradient(to bottom, #7c7c7c 0%, #595959 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c7c7c', endColorstr='#595959', GradientType=0);
	  border-top-width: 1px;
	  border-top-color: #6E6E6E;
	  border-top-style: solid;
	  border-bottom-width: 1px;
	  border-bottom-color: #5A5A5A;
	  border-bottom-style: solid;
	  width: 100%;
	  height: 19px;
	  position: absolute;
	  left: 0px;
	  top: 0px;
	  padding: 0px;
	  overflow: hidden;
	  display: none;
	  z-index: 1;
	}
	.akamai-ended .akamai-replay {
	  display: block;
	}
	.akamai-replay-button {
	  position: absolute;
	  background: none;
	  border: none;
	  margin: 0px;
	  padding: 0px;
	  top: 2px;
	  right: 20px;
	  width: 50px;
	  cursor: pointer;
	  pointer-events: all;
	}
	.akamai-replay-icon {
	  position: absolute;
	  width: 14px;
	  height: 14px;
	  left: 8px;
	  border: none;
	  margin: 0px;
	  padding: 0px;
	  background-image: url("@{appUrl}/img/lib/amp.premier/amp.svg");
	  background-position: -471px -10px;
	}
	.akamai-replay-button:hover .akamai-replay-icon,
	.akamai-replay-button:active .akamai-replay-icon {
	  background-position: -542px -10px;
	}
	.akamai-replay-label {
	  position: absolute;
	  left: 25px;
	  color: #E1E1E1;
	  text-shadow: 1px 1px 1px #000000;
	}
	.akamai-replay-button:hover .akamai-replay-label,
	.akamai-replay-button:active .akamai-replay-label {
	  color: #FFFFFF;
	}
	.akamai-title-bar {
	  background-color: rgba(0, 0, 0, 0.5);
	  width: 100%;
	  position: absolute;
	  left: 0px;
	  padding: 0px;
	  display: none;
	  top: 0px;
	  overflow: hidden;
	  z-index: 116;
	  -webkit-user-select: none;
	}
	.akamai-ready .akamai-title-bar,
	.akamai-paused .akamai-title-bar {
	  display: inline;
	}
	.akamai-medium-audio .akamai-title-bar {
	  display: none;
	}
	.akamai-ad-mode .akamai-title-bar {
	  display: none;
	}
	.akamai-title-text {
	  color: #FFFFFF;
	  font-weight: bold;
	  font-size: 12px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  text-align: left;
	  margin: 8px 15px 5px 15px;
	}
	.akamai-description-text {
	  color: #FFFFFF;
	  font-weight: normal;
	  font-size: 12px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  text-align: left;
	  margin-bottom: 8px;
	  margin-left: 15px;
	}
	@-webkit-keyframes buffering {
	  from {
	    left: -28px;
	  }
	  to {
	    left: 0px;
	  }
	}
	.akamai-waiting.akamai-overlay {
	  width: 100%;
	  height: 16px;
	  position: absolute;
	  left: 0px;
	  bottom: 0px;
	  display: none;
	  margin: 0px;
	  padding: 0px;
	  border: none;
	}
	.akamai-controls-persistent .akamai-waiting.akamai-overlay,
	.akamai-controls-persistent.akamai-active .akamai-waiting.akamai-overlay {
	  bottom: 0px;
	}
	.akamai-active .akamai-waiting.akamai-overlay {
	  bottom: 50px;
	}
	.akamai-waiting .akamai-waiting.akamai-overlay {
	  display: block;
	}
	.akamai-waiting-bar {
	  width: 150%;
	  height: 16px;
	  position: absolute;
	  left: 0px;
	  bottom: 0px;
	  margin: 0px;
	  margin-left: -28px;
	  padding: 0px;
	  border: none;
	  border-top-style: solid;
	  border-top-width: 1px;
	  border-top-color: rgba(64, 64, 64, 0.5);
	  background-image: url("@{appUrl}/img/lib/amp.premier/bar.png");
	  background-repeat: repeat-x;
	  background-position: 0px 0px;
	  background-color: rgba(128, 128, 128, 0.5);
	  -webkit-animation: buffering 0.25s linear infinite;
	}
	.akamai-waiting-text {
	  color: #CCCCCC;
	  position: absolute;
	  margin-top: -2px;
	  margin-left: 5px;
	  font-size: 10px;
	  text-shadow: 1px 1px 1px #000000;
	}
	.akamai-panel-control {
	  position: absolute;
	  padding: 0px;
	  margin: 0px;
	  height: 48px;
	  width: 100%;
	  top: auto;
	  left: 0px;
	  bottom: 0px;
	  pointer-events: none;
	}
	.akamai-control-panel {
	  pointer-events: auto;
	}
	.akamai-controls {
	  pointer-events: none;
	}
	.akamai-control-bar {
	  background: #212121;
	  background: -moz-linear-gradient(top, #212121 0%, #1d1d1d 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #1d1d1d));
	  background: -webkit-linear-gradient(top, #212121 0%, #1d1d1d 100%);
	  background: -o-linear-gradient(top, #212121 0%, #1d1d1d 100%);
	  background: -ms-linear-gradient(top, #212121 0%, #1d1d1d 100%);
	  background: linear-gradient(to bottom, #212121 0%, #1d1d1d 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#1d1d1d', GradientType=0);
	  top: auto;
	  width: 100%;
	  height: 50px;
	  position: absolute;
	  padding: 0px;
	  margin: 0px;
	  color: #FFFFFF;
	  z-index: 120;
	  display: none;
	  bottom: 0px;
	  border-top-color: #181818;
	  border-top-width: 1px;
	  border-top-style: solid;
	  pointer-events: auto;
	}
	.akamai-medium-audio .akamai-control-bar {
	  z-index: 113;
	}
	.akamai-active .akamai-control-bar,
	.akamai-controls-persistent .akamai-control-bar,
	.akamai-controls-persistent.akamai-inactive .akamai-control-bar,
	.akamai-medium-audio .akamai-control-bar,
	.akamai-ended .akamai-control-bar,
	.akamai-controls-fixed .akamai-control-bar,
	.akamai-controls-fixed.akamai-inactive .akamai-control-bar,
	.akamai-ad-mode .akamai-control-bar,
	.akamai-paused .akamai-control-bar {
	  display: block;
	}
	.akamai-controls-none .akamai-control-bar {
	  display: none;
	}
	.akamai-separator {
	  display: none;
	  position: absolute;
	  width: 1px;
	  height: 42px;
	  background-color: #585858;
	  top: 0px;
	  right: 90px;
	}
	/* overrides */
	.akamai-controls-native .akamai-overlays,
	.akamai-controls-native .akamai-poster {
	  display: none;
	}
	.akamai-controls-persistent .akamai-media-element,
	.akamai-controls-persistent .akamai-overlays,
	.akamai-controls-persistent .akamai-error {
	  bottom: 50px;
	}
	.akamai-full-screen.akamai-button {
	  width: 25px;
	  height: 21px;
	  border: none;
	  position: absolute;
	  top: 15px;
	  right: 15px;
	}
	.akamai-ad-mode .akamai-full-screen.akamai-button {
	  opacity: 0.4;
	  pointer-events: none;
	  cursor: pointer;
	}
	.akamai-full-screen.akamai-button .akamai-icon {
	  width: 25px;
	  height: 21px;
	  background-position: -130px 0px;
	}
	.akamai-ad-mode .akamai-full-screen.akamai-button .akamai-icon {
	  pointer-events: none;
	}
	.akamai-full-screen.akamai-button:hover .akamai-icon,
	.akamai-full-screen.akamai-button:active .akamai-icon {
	  background-position: -155px 0px;
	}
	.akamai-full-screen.akamai-button.akamai-disabled {
	  opacity: 0.4;
	  pointer-events: none;
	  cursor: pointer;
	}
	.akamai-medium-audio .akamai-full-screen.akamai-button {
	  display: none;
	}
	.akamai-full-screen .akamai-full-screen.akamai-button .akamai-icon {
	  background-position: -180px 0px;
	}
	.akamai-full-screen .akamai-full-screen.akamai-button:hover .akamai-icon,
	.akamai-full-screen .akamai-full-screen.akamai-button:active .akamai-icon {
	  background-position: -205px 0px;
	}
	.akamai-full-screen.akamai-inactive {
	  cursor: none;
	}
	.akamai-panels {
	  pointer-events: none;
	}
	.akamai-panel {
	  display: none;
	  pointer-events: auto;
	  background-color: #000000;
	  border-radius: 5px;
	  bottom: 60px;
	  margin: 0px;
	  color: #57656E;
	  font-family: Arial;
	  font-size: 12px;
	  line-height: 20px;
	  text-align: left;
	  border: none;
	  width: 100%;
	  height: 100%;
	}
	.akamai-panel.akamai-active {
	  display: block;
	}
	.akamai-inactive .akamai-panel.akamai-active {
	  display: none;
	}
	.akamai-play-pause.akamai-button {
	  position: absolute;
	  top: 14px;
	  left: 26px;
	  width: 18px;
	  height: 21px;
	}
	.akamai-play-pause.akamai-button .akamai-icon {
	  width: 18px;
	  height: 21px;
	}
	.akamai-play-pause.akamai-button:hover .akamai-icon,
	.akamai-play-pause.akamai-button:active .akamai-icon {
	  background-position: -19px 0px;
	}
	.akamai-playing .akamai-play-pause.akamai-button .akamai-icon {
	  background-position: -38px 0px;
	  width: 19px;
	}
	.akamai-playing .akamai-play-pause.akamai-button:hover .akamai-icon,
	.akamai-playing .akamai-play-pause.akamai-button:active .akamai-icon {
	  background-position: -57px 0px;
	}
	.akamai-ended .akamai-play-pause.akamai-button {
	  top: 12px;
	  left: 22px;
	  width: 23px;
	  height: 25px;
	}
	.akamai-ended .akamai-play-pause.akamai-button .akamai-icon {
	  width: 23px;
	  height: 25px;
	  background-position: -78px 0px;
	}
	.akamai-ended .akamai-play-pause.akamai-button:hover,
	.akamai-ended .akamai-play-pause.akamai-button:active {
	  top: 12px;
	  left: 22px;
	  width: 23px;
	  height: 25px;
	}
	.akamai-ended .akamai-play-pause.akamai-button:hover .akamai-icon,
	.akamai-ended .akamai-play-pause.akamai-button:active .akamai-icon {
	  width: 23px;
	  height: 25px;
	  background-position: -105px 0px;
	}
	.akamai-progress {
	  position: absolute;
	  padding: 0px;
	  margin: 0px;
	  top: 14px;
	  left: 66px;
	  right: 150px;
	  bottom: 14px;
	  -webkit-user-select: none;
	}
	.akamai-progress .akamai-start-cap {
	  background: #c80000;
	  background: -moz-linear-gradient(top, #c80000 0%, #210000 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c80000), color-stop(100%, #210000));
	  background: -webkit-linear-gradient(top, #c80000 0%, #210000 100%);
	  background: -o-linear-gradient(top, #c80000 0%, #210000 100%);
	  background: -ms-linear-gradient(top, #c80000 0%, #210000 100%);
	  background: linear-gradient(to bottom, #c80000 0%, #210000 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c80000', endColorstr='#210000', GradientType=0);
	  border-radius: 4px 0px 0px 4px;
	  border-style: solid none solid solid;
	  border-width: 1px;
	  border-color: #000000;
	  width: 9px;
	  height: 20px;
	  position: absolute;
	  left: 0px;
	}
	.akamai-live .akamai-progress .akamai-start-cap {
	  display: none;
	}
	.akamai-progress .akamai-track {
	  background: #0f0f0f;
	  background: -moz-linear-gradient(top, #0f0f0f 0%, #000000 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f0f0f), color-stop(100%, #000000));
	  background: -webkit-linear-gradient(top, #0f0f0f 0%, #000000 100%);
	  background: -o-linear-gradient(top, #0f0f0f 0%, #000000 100%);
	  background: -ms-linear-gradient(top, #0f0f0f 0%, #000000 100%);
	  background: linear-gradient(to bottom, #0f0f0f 0%, #000000 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0f0f', endColorstr='#000000', GradientType=0);
	  position: absolute;
	  left: 9px;
	  right: 9px;
	  height: 20px;
	  cursor: pointer;
	  border-style: solid none solid none;
	  border-width: 1px;
	  border-color: #000000;
	  -webkit-user-select: none;
	}
	.akamai-progress .akamai-value {
	  background: #c80000;
	  background: -moz-linear-gradient(top, #c80000 0%, #210000 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c80000), color-stop(100%, #210000));
	  background: -webkit-linear-gradient(top, #c80000 0%, #210000 100%);
	  background: -o-linear-gradient(top, #c80000 0%, #210000 100%);
	  background: -ms-linear-gradient(top, #c80000 0%, #210000 100%);
	  background: linear-gradient(to bottom, #c80000 0%, #210000 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c80000', endColorstr='#210000', GradientType=0);
	  position: absolute;
	  height: 20px;
	  max-width: 100%;
	  min-width: 0%;
	  -webkit-user-select: none;
	}
	.akamai-live .akamai-progress .akamai-value {
	  display: none;
	}
	.akamai-progress .akamai-handle {
	  background: #c8c8c8;
	  background: -moz-linear-gradient(top, #c8c8c8 0%, #212121 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8c8c8), color-stop(100%, #212121));
	  background: -webkit-linear-gradient(top, #c8c8c8 0%, #212121 100%);
	  background: -o-linear-gradient(top, #c8c8c8 0%, #212121 100%);
	  background: -ms-linear-gradient(top, #c8c8c8 0%, #212121 100%);
	  background: linear-gradient(to bottom, #c8c8c8 0%, #212121 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#212121', GradientType=0);
	  border-radius: 5px;
	  width: 18px;
	  height: 24px;
	  padding: 0px;
	  margin: -2px 0px 0px -9px;
	  cursor: pointer;
	  position: absolute;
	  display: block;
	}
	.akamai-live .akamai-progress .akamai-handle {
	  display: none;
	}
	.akamai-progress .akamai-end-cap {
	  background: #0f0f0f;
	  background: -moz-linear-gradient(top, #0f0f0f 0%, #000000 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f0f0f), color-stop(100%, #000000));
	  background: -webkit-linear-gradient(top, #0f0f0f 0%, #000000 100%);
	  background: -o-linear-gradient(top, #0f0f0f 0%, #000000 100%);
	  background: -ms-linear-gradient(top, #0f0f0f 0%, #000000 100%);
	  background: linear-gradient(to bottom, #0f0f0f 0%, #000000 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0f0f', endColorstr='#000000', GradientType=0);
	  border-radius: 0px 4px 4px 0px;
	  border-style: solid solid solid none;
	  border-width: 1px;
	  border-color: #000000;
	  width: 9px;
	  height: 20px;
	  position: absolute;
	  right: 0px;
	}
	.akamai-long-form .akamai-progress {
	  right: 182px;
	}
	.akamai-live .akamai-progress {
	  right: 110px;
	}
	.akamai-medium-audio .akamai-progress {
	  right: 120px;
	}
	.akamai-ready .akamai-progress {
	  pointer-events: none;
	}
	.akamai-scrub-time {
	  background: #212121;
	  background: -moz-linear-gradient(top, #212121 0%, #000000 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #000000));
	  background: -webkit-linear-gradient(top, #212121 0%, #000000 100%);
	  background: -o-linear-gradient(top, #212121 0%, #000000 100%);
	  background: -ms-linear-gradient(top, #212121 0%, #000000 100%);
	  background: linear-gradient(to bottom, #212121 0%, #000000 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#000000', GradientType=0);
	  border-radius: 5px;
	  position: absolute;
	  top: -30px;
	  left: -25px;
	  width: 75px;
	  height: 24px;
	  font-size: 14px;
	  font-weight: bold;
	  text-align: center;
	  line-height: 17px;
	  padding-top: 5px;
	  margin-top: -20px;
	  margin-left: -37px;
	  opacity: 0;
	  z-index: 2000;
	  -webkit-user-select: none;
	}
	.akamai-live .akamai-scrub-time {
	  display: none;
	}
	.akamai-scrubbing .akamai-scrub-time {
	  opacity: 1;
	}
	.akamai-thumb-preview {
	  position: absolute;
	  top: -80px;
	  left: -25px;
	  opacity: 0;
	  z-index: 1999;
	  border: 1px solid #000000;
	}
	.akamai-scrubbing .akamai-thumb-preview {
	  opacity: 1;
	}
	.akamai-cue-point {
	  position: absolute;
	  height: 5px;
	  width: 5px;
	  border-radius: 2.5px;
	  background-color: #FFFFFF;
	  top: 7px;
	}
	.akamai-time-display {
	  position: absolute;
	  top: 50%;
	  margin-top: -5px;
	  right: 58px;
	  width: 125px;
	  height: 9px;
	  color: #999999;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 12px;
	  font-weight: bold;
	  text-align: right;
	  line-height: 9px;
	  -webkit-user-select: none;
	}
	.akamai-medium-audio .akamai-time-display {
	  right: 16px;
	}
	.akamai-current-time-display {
	  color: #CCCCCC;
	  text-align: right;
	  -webkit-user-select: none;
	  display: inline;
	}
	.akamai-live .akamai-current-time-display {
	  display: none;
	}
	.akamai-separator-display {
	  display: inline;
	}
	.akamai-live .akamai-separator-display {
	  display: none;
	}
	.akamai-duration-display {
	  display: inline;
	  text-align: right;
	  -webkit-user-select: none;
	}
	.akamai-live .akamai-duration-display {
	  display: none;
	}
	.akamai-live-display {
	  position: absolute;
	  color: #FFFFFF;
	  text-align: center;
	  background-color: #FF0000;
	  display: none;
	  width: 30px;
	  height: 11px;
	  top: 6px;
	  right: 7px;
	  padding-top: 2px;
	  margin-top: -6px;
	  font-size: 10px;
	  -webkit-user-select: none;
	  cursor: pointer;
	  z-index: 100;
	}
	.akamai-cc-enabled .akamai-live-display {
	  right: 42px;
	}
	.akamai-live .akamai-live-display {
	  display: block;
	}
	.akamai-volume.akamai-slider {
	  width: auto;
	  height: auto;
	  background-color: #262626;
	  position: absolute;
	  top: 20px;
	  left: 19px;
	  bottom: 20px;
	  right: 19px;
	  border-radius: 5px;
	  cursor: pointer;
	  padding-top: 10px;
	}
	.akamai-volume.akamai-slider .akamai-track {
	  position: relative;
	  width: 100%;
	  height: 100%;
	}
	.akamai-volume.akamai-slider .akamai-value {
	  position: absolute;
	  bottom: 0px;
	  border-radius: 5px;
	  background-color: #535353;
	  width: 100%;
	  padding-top: 5px;
	}
	.akamai-volume.akamai-slider .akamai-handle {
	  position: absolute;
	  width: 10px;
	  height: 10px;
	  border-radius: 5px;
	  background-color: #FFFFFF;
	  cursor: pointer;
	}
	.akamai-play.akamai-overlay {
	  width: 118px;
	  height: 118px;
	  border: none;
	  position: absolute;
	  display: none;
	  right: 50%;
	  bottom: 50%;
	  margin-bottom: -59px;
	  margin-right: -59px;
	  background-image: url("@{appUrl}/img/lib/amp.premier/amp.svg");
	  background-position: -231px 0px;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-user-select: none;
	  z-index: 111;
	  pointer-events: all;
	  cursor: pointer;
	}
	.akamai-play.akamai-overlay:hover,
	.akamai-play.akamai-overlay:active {
	  background-position: -348px 0px;
	}
	.akamai-ready .akamai-play.akamai-overlay,
	.akamai-paused .akamai-play.akamai-overlay {
	  display: block;
	}
	.akamai-info.akamai-overlay {
	  position: absolute;
	  top: 0px;
	  bottom: auto;
	  left: 0px;
	  right: 0px;
	  height: 70px;
	  background: rgba(0, 0, 0, 0.8);
	  display: none;
	  overflow: hidden;
	  padding: 5px;
	  z-index: 102;
	}
	.akamai-ready .akamai-info.akamai-overlay,
	.akamai-paused .akamai-info.akamai-overlay,
	.akamai-active .akamai-info.akamai-overlay {
	  display: block;
	}
	.akamai-ad-mode .akamai-info.akamai-overlay,
	.akamai-ad-mode.akamai-ready .akamai-info.akamai-overlay,
	.akamai-ad-mode.akamai-paused .akamai-info.akamai-overlay,
	.akamai-ad-mode.akamai-active .akamai-info.akamai-overlay,
	.akamai-controls-none .akamai-info.akamai-overlay,
	.akamai-controls-none.akamai-active .akamai-info.akamai-overlay {
	  display: none;
	}
	.akamai-info-small.akamai-info.akamai-overlay {
	  height: 55px;
	}
	.akamai-info.akamai-overlay.akamai-open {
	  height: auto;
	}
	.akamai-info-title {
	  color: #FFFFFF;
	  font-size: 18px;
	  font-weight: bold;
	  margin-right: 100px;
	}
	.akamai-info-description {
	  text-overflow: ellipsis;
	  line-height: 14px;
	  overflow: hidden;
	  top: 45px;
	  left: 5px;
	  right: 90px;
	  margin-right: 100px;
	  display: none;
	}
	.akamai-open .akamai-info-description {
	  display: block;
	}
	.akamai-info-short-description {
	  text-overflow: ellipsis;
	  line-height: 14px;
	  overflow: hidden;
	  top: 45px;
	  left: 5px;
	  right: 90px;
	  height: 28px;
	  margin-right: 100px;
	}
	.akamai-open .akamai-info-short-description {
	  display: none;
	}
	.akamai-info-description p {
	  margin: 0px 0px 6px 0px;
	}
	.akamai-info-icon {
	  position: absolute;
	  right: 15px;
	  top: 13px;
	}
	.akamai-info-more,
	.akamai-info-less,
	.akamai-info-more:hover,
	.akamai-info-less:hover {
	  cursor: pointer;
	  color: #FFFFFF;
	  font-weight: bold;
	}
	.akamai-info-close {
	  text-align: right;
	  width: 81%;
	  cursor: pointer;
	  color: #FFFFFF;
	  position: absolute;
	  right: 90px;
	  bottom: 0px;
	  display: none;
	}
	.akamai-open .akamai-info-close {
	  display: block;
	}
	.akamai-info-provider {
	  top: 25px;
	  left: 5px;
	  font-weight: bold;
	}
	.akamai-info-small .akamai-info-short-description,
	.akamai-info-small .akamai-info-description,
	.akamai-info-small .akamai-info-provider {
	  display: none;
	}
	.akamai-captioning.akamai-overlay {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  width: 100%;
	  height: 100%;
	  padding: 0px;
	}
	.akamai-caption-text {
	  position: absolute;
	  width: 100%;
	  margin: auto;
	  overflow: hidden;
	  text-align: center;
	  background-color: rgba(0, 0, 0, 0.5);
	  text-shadow: 1px 1px 1px #000000;
	  font-weight: bold;
	  font-size: 15px;
	  display: none;
	  bottom: 0px;
	  min-height: 25px;
	}
	.akamai-caption-text p {
	  margin: 10px;
	  display: inline-block;
	  color: #FFFFFF;
	}
	.akamai-active .akamai-caption-text,
	.akamai-paused .akamai-caption-text {
	  bottom: 50px;
	}
	.akamai-active.akamai-controls-none .akamai-caption-text {
	  bottom: 0px;
	}
	.akamai-cc-active .akamai-caption-text {
	  display: block;
	}
	.akamai-cc-embedded .akamai-caption-text {
	  display: none;
	}
	.akamai-caption {
	  margin: 0px;
	}
	.akamai-caption.akamai-button {
	  position: absolute;
	  padding: 2px 0px 0px 1px;
	  width: 23px;
	  height: 21px;
	  top: 12px;
	  right: 52px;
	  border-radius: 5px;
	  border-color: #CCCCCC;
	  border-style: solid;
	  display: none;
	}
	.akamai-caption.akamai-button:hover,
	.akamai-caption.akamai-button:active {
	  border-color: #FFFFFF;
	}
	.akamai-caption.akamai-button .akamai-label {
	  color: #CCCCCC;
	  font-weight: bold;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 15px;
	  top: auto;
	  left: auto;
	}
	.akamai-caption.akamai-button:hover .akamai-label,
	.akamai-caption.akamai-button:active .akamai-label {
	  color: #FFFFFF;
	}
	.akamai-cc-enabled .akamai-caption.akamai-button {
	  display: block;
	}
	.akamai-share-enabled .akamai-caption.akamai-button,
	.akamai-volume-enabled .akamai-caption.akamai-button {
	  right: 90px;
	}
	.akamai-cc-active .akamai-caption.akamai-button {
	  background-color: #ff0000;
	}
	.akamai-ad-mode .akamai-caption.akamai-button,
	.akamai-ad-mode .akamai-cc-enabled .akamai-caption.akamai-button {
	  display: none;
	}
	.akamai-cc-enabled .akamai-progress {
	  right: 177px;
	}
	.akamai-long-form .akamai-cc-enabled .akamai-progress {
	  right: 210px;
	}
	.akamai-cc-enabled .akamai-time-display {
	  right: 92px;
	}
	.akamai-share-enabled.akamai-cc-enabled .akamai-time-display {
	  right: 145px;
	}
	.akamai-share-enabled.akamai-cc-enabled .akamai-progress {
	  right: 225px;
	}
	.akamai-live .akamai-share-enabled.akamai-cc-enabled .akamai-time-display {
	  right: 92px;
	}
	.akamai-live .akamai-share-enabled.akamai-cc-enabled .akamai-progress {
	  right: 177px;
	}
	::cue {
	  position: absolute;
	  top: 50px;
	  color: #FF0000;
	}
	/*Captioning Setting UI Styles*/
	.akamai-caption-setting-btn {
	  position: absolute;
	  right: 5px;
	  bottom: 75px;
	  display: none;
	  z-index: 1;
	}
	.akamai-cc-active .akamai-caption-setting-btn {
	  display: block;
	}
	.akamai-captioning-settings {
	  display: none;
	  position: absolute;
	  margin-left: auto;
	  margin-right: auto;
	  left: 0;
	  right: 0;
	  top: 15%;
	  font-family: Arial;
	  font-size: 12px;
	  color: #E4E4E4;
	  max-width: 390px;
	  width: 90%;
	  border: 1px solid #aaaaaa;
	  border-radius: 4px;
	  z-index: 112;
	  padding: 2px 2px;
	  background: #7d7e7d;
	  /* Old browsers */
	  pointer-events: auto;
	}
	.akamai-cc-setting-active .akamai-captioning-settings {
	  display: block;
	}
	.akamai-captioning-titlebar {
	  padding: .3em 1em .3em 0em;
	  color: #F4F4F4;
	  margin-bottom: 2px;
	  background: #7d7e7d;
	  /* Old browsers */
	  background-color: #414141;
	}
	.akamai-captioning-title {
	  margin: .1em .5em;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  font-weight: bold;
	}
	.akamai-captioning-titlebar-close {
	  float: right;
	  width: 21px;
	  margin: 0 .5em;
	  padding: 1px;
	  height: 20px;
	  border-radius: 0.5em;
	  background-color: #f4f4f4;
	}
	.akamai-captioning-row {
	  background-color: #414141;
	  clear: both;
	  display: inline-block;
	  width: 100%;
	  margin-bottom: -4px;
	}
	.akamai-captioning-label,
	.akamai-captioning-preset {
	  float: left;
	}
	.akamai-captioning-label {
	  margin: 4px .5em;
	  max-width: 55px;
	  min-width: 55px;
	}
	.akamai-captioning-dropdown {
	  float: left;
	  max-width: 100px;
	  min-width: 100px;
	  margin: 4px 10px 4px 0px;
	}
	.akamai-captioning-label-small {
	  float: left;
	  margin: 4px .5em;
	}
	.akamai-captioning-footer-button {
	  outline: 0 none;
	  float: right;
	  background-color: #646464;
	  border-color: #101010;
	  border-radius: 2px;
	  border-style: solid;
	  border-width: 1px;
	  color: #E4E4E4;
	  font-size: 90%;
	  line-height: 16px;
	  min-height: 16px;
	  min-width: 26px;
	  width: 50px;
	  margin: 2px 2px 0px 2px;
	  padding: 1px;
	  text-align: center;
	}
	.akamai-captioning-footer-button:hover,
	.akamai-captioning-footer-button:active {
	  background-color: #e6e6e6;
	  color: #101010;
	  border-color: #101010;
	  border-radius: 2px;
	  border-style: solid;
	  border-width: 1px;
	  font-size: 90%;
	  line-height: 16px;
	  padding: 1px;
	  text-align: center;
	}
	.akamai-captioning-footer-continer {
	  display: inline-block;
	  width: 100%;
	}
	.akamai-captioning-label:nth-child(3) {
	  max-width: 55px;
	  min-width: 55px;
	}
	.akamai-caption-text {
	  position: absolute;
	  width: 100%;
	  margin: auto;
	  overflow: hidden;
	  text-align: center;
	  background-color: rgba(0, 0, 0, 0.5);
	  text-shadow: 1px 1px 1px #000000;
	  font-weight: bold;
	  font-size: 15px;
	  display: none;
	  bottom: 0px;
	  min-height: 25px;
	}
	.akamai-captioning-preset {
	  border: 1px #000000 solid;
	  float: left;
	  margin: .4em 0.3em;
	  padding: 0em .4em;
	  cursor: pointer;
	}
	.akamai-captioning-preset1 {
	  color: #FFFFFF;
	  background-color: rgba(0, 0, 0, 0);
	}
	.akamai-captioning-preset2 {
	  color: #FFFF00;
	  background-color: rgba(0, 0, 0, 0);
	}
	.akamai-captioning-preset3 {
	  color: #FFFFFF;
	  background-color: rgba(0, 0, 0, 0.3);
	}
	.akamai-captioning-preset4 {
	  color: #FFFF00;
	  background-color: rgba(0, 0, 0, 0.5);
	}
	.akamai-captioning-color-picker {
	  border: 1px #ffffff solid;
	  float: left;
	  margin: .3em 0.3em;
	  width: 20px;
	  height: 20px;
	}
	/*Color Picker Styles */
	.akamai-colorpicker-palette {
	  width: 154px;
	  position: absolute;
	  border: 1px solid #598FEF;
	  background-color: #C4C4C4;
	  padding: 2px;
	  display: none;
	  z-index: 9999;
	  top: 4px;
	  pointer-events: auto;
	}
	.akamai-colorpicker-swatch {
	  height: 12px;
	  width: 12px;
	  border: 2px solid rgba(0, 0, 0, 0.3);
	  margin: 1.5px;
	  float: left;
	  cursor: pointer;
	  line-height: 12px;
	}
	.akamai-colorpicker-slider {
	  width: 60%;
	  -webkit-appearance: none;
	  height: 10px;
	  border-radius: 5px;
	  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
	  background: #000000;
	  background: -moz-linear-gradient(top, #000000 0%, #ff0000 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ff0000));
	  background: -webkit-linear-gradient(top, #000000 0%, #ff0000 100%);
	  background: -o-linear-gradient(top, #000000 0%, #ff0000 100%);
	  background: -ms-linear-gradient(top, #000000 0%, #ff0000 100%);
	  background: linear-gradient(to bottom, #000000 0%, #ff0000 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ff0000', GradientType=0);
	}
	.akamai-caption-text-preview {
	  position: relative;
	  display: block;
	  bottom: auto !important;
	}
	.akamai-captioning-advanced-container {
	  display: none;
	}
	.akamai-captioning-advanced-button {
	  background: none;
	  border: none;
	  padding: 0;
	  border-bottom: 1px solid #E4E4E4;
	  color: #E4E4E4;
	  cursor: pointer;
	}
	.akamai-captioning-toggle-btn {
	  cursor: pointer;
	  outline: 0 none;
	  float: right;
	  width: 21px;
	  height: 20px;
	  border-radius: 0.5em;
	  background-color: #f4f4f4;
	  background-color: #646464;
	  border-color: #101010;
	  border-radius: 2px;
	  border-style: solid;
	  border-width: 1px;
	  color: #E4E4E4;
	  font-size: 90%;
	  line-height: 20px;
	  min-height: 16px;
	  min-width: 26px;
	  padding: 1px;
	  text-align: center;
	}
	.akamai-captioning-floater-btnselected {
	  background-color: #e6e6e6;
	  color: #101010;
	  border-color: #101010;
	  border-radius: 2px;
	  border-style: solid;
	  border-width: 1px;
	  font-size: 90%;
	  line-height: 20px;
	  min-height: 16px;
	  min-width: 26px;
	  padding: 1px;
	  text-align: center;
	}
	.akamai-captioning-floater-btndeselected {
	  background-color: #646464;
	  border-color: #101010;
	  border-radius: 2px;
	  border-style: solid;
	  border-width: 1px;
	  color: #E4E4E4;
	  font-size: 90%;
	  line-height: 20px;
	  min-height: 16px;
	  min-width: 26px;
	  padding: 1px;
	  text-align: center;
	}
	.akamai-captioning-typed p:last-child {
	  -webkit-animation: wipe 3s ;
	  -webkit-mask-repeat: no-repeat;
	  -webkit-mask-size: 1500px 5000px;
	  -webkit-mask-image: -webkit-gradient(linear, left center, right center, color-stop(0, #000000), color-stop(0.35, #000000), color-stop(0.5, #000000), color-stop(0.9, #000000), color-stop(1, rgba(0, 0, 0, 0)));
	}
	@-webkit-keyframes wipe {
	  0% {
	    -webkit-mask-size: 0px 5000px;
	  }
	  100% {
	    -webkit-mask-size: 1500px 5000px;
	  }
	}
	.akamai-share.akamai-control {
	  position: absolute;
	  padding: 0px;
	  margin: 0px;
	  top: 13px;
	  right: 77px;
	  display: none;
	}
	.akamai-share-enabled .akamai-share.akamai-control {
	  display: block;
	}
	.akamai-share.akamai-button {
	  position: absolute;
	  width: 24px;
	  height: 24px;
	}
	.akamai-share.akamai-button .akamai-icon {
	  width: 24px;
	  height: 24px;
	  background-image: url("@{appUrl}/img/lib/amp.premier/share.svg");
	}
	.akamai-share.akamai-button:hover .akamai-icon,
	.akamai-share.akamai-button:active .akamai-icon {
	  background-position: -25px 0px;
	}
	.akamai-share-enabled .akamai-time-display {
	  right: 95px;
	}
	.akamai-share-enabled .akamai-progress {
	  right: 180px;
	}
	.akamai-long-form .akamai-share-enabled .akamai-progress {
	  right: 212px;
	}
	.akamai-share.akamai-separator {
	  display: none;
	  position: absolute;
	  width: 1px;
	  height: 42px;
	  background-color: #585858;
	  top: 0px;
	  right: 90px;
	}
	.akamai-ads.akamai-overlay {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0px;
	  left: 0px;
	  pointer-events: all;
	}
	.akamai-ad-mode .akamai-ads.akamai-overlay,
	.akamai-ad-overlaymode .akamai-ads.akamai-overlay {
	  display: block;
	  pointer-events: none;
	}
	.akamai-ipad .akamai-ads.akamai-overlay {
	  display: none;
	}
	.akamai-ipad.akamai-ad-mode .akamai-ads.akamai-overlay {
	  display: block;
	}
	.akamai-ad-container {
	  margin: 0px;
	  padding: 0px;
	  top: 0px;
	  left: 0px;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  background-color: rgba(0, 0, 0, 0);
	  pointer-events: all;
	}
	.akamai-ad-overlaymode .akamai-ad-container div {
	  bottom: 60px;
	}
	.akamai-inactive .akamai-ad-container div {
	  bottom: 0px;
	}
	.akamai-ad-container iframe {
	  background-color: rgba(0, 0, 0, 0);
	}
	.akamai-ad-container video {
	  left: 0px;
	}
	.akamai-ad-mode .akamai-ad-container {
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0);
	}
	.akamai-ad-mode.akamai-kindlefirehd .akamai-ad-container,
	.akamai-ad-mode.akamai-iphone .akamai-ad-container {
	  width: 0px;
	  height: 0px;
	  display: none;
	}
	.akamai-ad-banner {
	  width: 100%;
	  height: 30px;
	  border-bottom-width: 1px;
	  border-bottom-color: #666666;
	  border-bottom-style: solid;
	  display: none;
	}
	.akamai-ad-mode .akamai-ad-banner {
	  display: block;
	}
	.akamai-ad-text-bg {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.75);
	}
	.akamai-ad-text {
	  position: absolute;
	  right: 7px;
	  top: 7px;
	  color: #888888;
	  font-size: 14px;
	  line-height: 14px;
	  font-weight: bold;
	}
	.akamai-ad-text-title {
	  position: absolute;
	  right: 7px;
	  top: 7px;
	  color: #888888;
	  font-size: 14px;
	  line-height: 14px;
	  font-weight: bold;
	  right: auto;
	  left: 15px;
	}
	.akamai-ad-overlay {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  display: none;
	  z-index: 110;
	  pointer-events: none;
	  text-align: center;
	}
	.akamai-ad-overlay-mode .akamai-ad-overlay {
	  display: block;
	}
	.akamai-ad-mode.akamai-ad-overlay-mode .akamai-ad-overlay,
	.akamai-ended .akamai-ad-overlay {
	  display: none;
	}
	.akamai-ad-overlay-anchor {
	  position: absolute;
	  width: 450px;
	  height: 40px;
	  border: none;
	  pointer-events: auto;
	  bottom: 0px;
	  display: block;
	  left: 50%;
	  margin-left: -225px;
	}
	.akamai-active .akamai-ad-overlay-anchor {
	  bottom: 50px;
	}
	.akamai-paused .akamai-ad-overlay-anchor {
	  bottom: 50px;
	}
	.akamai-ad-mode .akamai-ad-overlay-anchor {
	  display: none;
	}
	.akamai-ad-overlay-img {
	  width: 450px;
	  height: 40px;
	  border: none;
	}
	.akamai-ad-close-button {
	  color: #fff;
	  cursor: pointer;
	  margin: 0;
	  padding-bottom: 10px;
	  padding-left: 10px;
	  position: absolute;
	  right: 0;
	  top: 0;
	  pointer-events: auto;
	}
	.akamai-ad-close-text {
	  color: rgba(0, 0, 0, 0);
	  background-color: rgba(0, 0, 0, 0.15);
	  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAACYktHRAD/h4/MvwAAAAlwSFlzAAAASAAAAEgARslrPgAAAAl2cEFnAAAACgAAAAoATqZ25QAAALpJREFUCNclyL1Kw1AAgNFPqLh3cu/D+ARV8S0UEcFVoYOL4Kw4FSmClBZiB38WHZ10sQUnB6MR2hruTVI/h5zx4MjUXRvgsvt+OQT81VBdn7803THXWUEHD+JCf+L48e9bY9WZ0AcG3SyqahYO30jYBOD9uc67lCvaALjtR52f4TSpa89cp+E+nRYayuQMcK6xOhqvDi9ui4XOCtr4MC+PJys3rK81R728fMroLwEntOhySUWDLTZ4/QdyroIjdfxoFwAAAABJRU5ErkJggg==);
	  background-position: center center;
	  background-repeat: no-repeat;
	  border-radius: 3px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
	  height: 20px;
	  margin: 4px 4px 0 0;
	  width: 20px;
	  float: right;
	  height: 15px;
	  cursor: pointer;
	}
	.akamai-ad-close-text:hover {
	  background-color: #666666;
	}
	.akamai-ad-close-text:active {
	  color: rgba(0, 0, 0, 0);
	  background-color: #C4C4C4;
	}
	/* overrides */
	.akamai-ad-mode .akamai-overlays.akamai-layer {
	  pointer-events: none;
	}
	.akamai-ad-mode .akamai-progress,
	.akamai-ad-mode .akamai-time-display {
	  display: none;
	}
	.akamai-ad-mode .akamai-controls.akamai-layer {
	  z-index: 1000;
	}
	.akamai-ad-overlay video {
	  width: 100%;
	  height: 100%;
	}
	.akamai-ad-choices {
	  display: none;
	  position: absolute;
	  top: 6px;
	  left: 80px;
	}
	.akamai-ad-mode .akamai-ad-choices {
	  display: block;
	}
	.akamai-volume.akamai-button {
	  position: absolute;
	  bottom: 15px;
	  top: auto;
	  right: 52px;
	  width: 23px;
	  height: 19px;
	}
	.akamai-volume.akamai-button .akamai-icon {
	  width: 23px;
	  height: 19px;
	}
	.akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-1 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-2 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-3 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-4 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-5 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-6 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-7 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-8 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-9 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-10 .akamai-volume.akamai-button .akamai-icon {
	  background-position: -587px 0px;
	}
	.akamai-volume-0 .akamai-volume.akamai-button .akamai-icon {
	  background-position: -707px 0px;
	}
	.akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-1 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-1 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-2 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-2 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-3 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-3 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-4 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-4 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-5 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-5 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-6 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-6 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-7 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-7 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-8 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-8 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-9 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-9 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-10 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-10 .akamai-volume.akamai-button:active .akamai-icon {
	  background-position: -647px 0px;
	}
	.akamai-volume-0 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-0 .akamai-volume.akamai-button:active .akamai-icon {
	  background-position: -767px 0px;
	}
	.akamai-volume.akamai-panel {
	  position: absolute;
	  width: 48px;
	  height: 158px;
	  bottom: 50px;
	  right: 38px;
	}
	.akamai-volume-enabled.akamai-share-enabled.akamai-cc-enabled .akamai-time-display {
	  right: 176px;
	}
	.akamai-volume-enabled .akamai-time-display {
	  right: 92px;
	}
	.akamai-volume-enabled.akamai-cc-enabled .akamai-time-display,
	.akamai-volume-enabled.akamai-share-enabled .akamai-time-display {
	  right: 140px;
	}
	.akamai-volume-enabled.akamai-share-enabled.akamai-cc-enabled .akamai-progress {
	  right: 258px;
	}
	.akamai-volume-enabled .akamai-progress {
	  right: 200px;
	}
	.akamai-volume-enabled.akamai-cc-enabled .akamai-progress {
	  right: 225px;
	}
	.akamai-long-form .akamai-volume-enabled.akamai-cc-enabled .akamai-progress {
	  right: 270px;
	}
	.akamai-volume-enabled.akamai-share-enabled.akamai-cc-enabled .akamai-caption.akamai-button {
	  right: 122px;
	}
	.akamai-volume-enabled .akamai-share.akamai-control {
	  right: 109px;
	}
	.akamai-description-text {
	  display: none;
	}
	/**
	 *  NDN Skin
	 */
	/**
	 *  Sprite
	 */
	.akamai-play.akamai-overlay,
	.akamai-ad-choices-icon,
	.akamai-info-close,
	.akamai-share.akamai-button .akamai-icon,
	.akamai-icon {
	  background: url("@{appUrl}/img/lib/amp.premier/sprite.png") no-repeat;
	}
	/**
	 *  Controls
	 */
	.akamai-control-bar {
	  height: 41px;
	  background: rgba(0, 0, 0, 0.8);
	}
	/**
	 *  Progress
	 */
	.akamai-share-enabled .akamai-progress,
	.akamai-cc-enabled .akamai-progress,
	.akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-volume-enabled.akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-progress {
	  top: -4px;
	  right: 0px !important;
	  bottom: 41px;
	  left: 0px;
	}
	.akamai-active .akamai-share-enabled .akamai-progress,
	.akamai-active .akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-volume-enabled.akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-progress,
	.akamai-active .akamai-share-enabled .akamai-share-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled .akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled .akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled .akamai-volume-enabled.akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled .akamai-progress,
	.akamai-active .akamai-cc-enabled .akamai-share-enabled .akamai-progress,
	.akamai-active .akamai-cc-enabled .akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-cc-enabled .akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-cc-enabled .akamai-volume-enabled.akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled.akamai-cc-enabled .akamai-share-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled.akamai-cc-enabled .akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled.akamai-cc-enabled .akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled.akamai-cc-enabled .akamai-volume-enabled.akamai-share-enabled.akamai-cc-enabled .akamai-progress,
	.akamai-active .akamai-share-enabled.akamai-cc-enabled .akamai-progress {
	  top: -9px;
	}
	.akamai-progress.akamai-slider .akamai-buffer-value {
	  background: #686D70;
	}
	.akamai-progress.akamai-slider .akamai-value {
	  background: #009AC7;
	}
	.akamai-progress.akamai-slider .akamai-track {
	  left: 0px;
	  right: 0px;
	  background: url("@{appUrl}/img/lib/amp.premier/progress.png") repeat-x;
	}
	.akamai-progress.akamai-slider .akamai-handle {
	  display: none;
	}
	.akamai-progress.akamai-slider .akamai-start-cap,
	.akamai-progress.akamai-slider .akamai-end-cap {
	  display: none;
	}
	.akamai-progress.akamai-slider .akamai-value,
	.akamai-progress.akamai-slider .akamai-buffer-value,
	.akamai-progress.akamai-slider .akamai-track {
	  height: 4px;
	  border-radius: 0px;
	  border-style: none;
	}
	.akamai-active .akamai-progress.akamai-slider .akamai-value,
	.akamai-active .akamai-progress.akamai-slider .akamai-buffer-value,
	.akamai-active .akamai-progress.akamai-slider .akamai-track {
	  height: 9px;
	}
	/**
	 *  Waiting
	 */
	.akamai-waiting.akamai-overlay {
	  bottom: 3px;
	}
	.akamai-active .akamai-waiting.akamai-overlay {
	  bottom: 49px;
	}
	/**
	 * Play / Pause
	 */
	.akamai-play-pause.akamai-button {
	  left: 25px;
	  top: 3px;
	  width: 11px;
	  height: 16px;
	  cursor: pointer;
	  padding: 10px;
	}
	.akamai-play-pause.akamai-button .akamai-icon {
	  width: 11px;
	  height: 16px;
	  background-position: -22px -83px;
	}
	.akamai-play-pause.akamai-button:hover .akamai-icon,
	.akamai-play-pause.akamai-button:active .akamai-icon {
	  background-position: -71px -83px;
	}
	.akamai-playing .akamai-play-pause.akamai-button .akamai-icon {
	  background-position: -21px -123px;
	  width: 12px;
	  height: 16px;
	}
	.akamai-playing .akamai-play-pause.akamai-button:hover .akamai-icon,
	.akamai-playing .akamai-play-pause.akamai-button:active .akamai-icon {
	  background-position: -70px -123px;
	  width: 12px;
	  height: 16px;
	}
	.akamai-ended .akamai-play-pause.akamai-button .akamai-icon {
	  background-position: -22px -83px;
	  width: 11px;
	  height: 16px;
	}
	.akamai-ended .akamai-play-pause.akamai-button:hover .akamai-icon,
	.akamai-ended .akamai-play-pause.akamai-button:active .akamai-icon {
	  background-position: -71px -83px;
	  width: 11px;
	  height: 16px;
	}
	.akamai-ended .akamai-play-pause.akamai-button,
	.akamai-ended .akamai-play-pause.akamai-button:hover,
	.akamai-ended .akamai-play-pause.akamai-button:active {
	  left: 25px;
	  top: 3px;
	}
	/**
	 *  Play Overlay
	 */
	.akamai-play.akamai-overlay {
	  background-position: -21px -162px;
	  width: 45px;
	  height: 45px;
	  margin-bottom: -22.5px;
	  margin-right: -22.5px;
	  cursor: pointer;
	}
	.akamai-play.akamai-overlay:hover,
	.akamai-play.akamai-overlay:active {
	  background-position: -121px -162px;
	  width: 45px;
	  height: 45px;
	}
	/**
	 *  Full Screen
	 */
	.akamai-full-screen.akamai-button {
	  top: auto;
	  left: auto;
	  right: 14px;
	  bottom: 13px;
	  width: 17px;
	  height: 16px;
	  cursor: pointer;
	}
	.akamai-full-screen.akamai-button .akamai-icon {
	  width: 17px;
	  height: 16px;
	  background-position: -19px -407px;
	}
	.akamai-full-screen.akamai-button:hover .akamai-icon,
	.akamai-full-screen.akamai-button:active .akamai-icon {
	  background-position: -69px -406px;
	  width: 16px;
	  height: 16px;
	}
	.akamai-full-screen .akamai-full-screen.akamai-button .akamai-icon {
	  background-position: -119px -407px;
	  width: 16px;
	  height: 16px;
	}
	.akamai-full-screen .akamai-full-screen.akamai-button:hover .akamai-icon,
	.akamai-full-screen .akamai-full-screen.akamai-button:active .akamai-icon {
	  background-position: -159px -407px;
	  width: 16px;
	  height: 16px;
	}
	/**
	 *  Title Bar
	 */
	.akamai-title-bar {
	  background: transparent;
	}
	.akamai-paused .akamai-title-bar {
	  background: rgba(0, 0, 0, 0.5);
	}
	.akamai-title-bar,
	.akamai-ready .akamai-title-bar,
	.akamai-paused .akamai-title-bar {
	  display: none;
	}
	/**
	 *  Share
	 */
	.akamai-share.akamai-control {
	  top: 0px;
	  width: 92px;
	  right: 46px;
	}
	.akamai-volume-enabled .akamai-share.akamai-control {
	  right: 76px;
	}
	.akamai-ad-mode .akamai-share.akamai-control {
	  display: none;
	}
	.akamai-share.akamai-button {
	  left: 66px;
	  top: 12px;
	  width: 13px;
	  height: 16px;
	}
	.akamai-share.akamai-button .akamai-icon {
	  width: 13px;
	  height: 16px;
	  background-position: -20px -376px;
	}
	.akamai-share.akamai-button:hover .akamai-icon,
	.akamai-share.akamai-button:active .akamai-icon {
	  background-position: -70px -376px;
	}
	.akamai-facebook.akamai-button {
	  position: absolute;
	  left: 12px;
	  top: 13px;
	  width: 16px;
	  height: 16px;
	}
	.akamai-facebook.akamai-button .akamai-icon {
	  width: 16px;
	  height: 16px;
	  background-position: -20px -327px;
	}
	.akamai-facebook.akamai-button:hover .akamai-icon,
	.akamai-facebook.akamai-button:active .akamai-icon {
	  background-position: -70px -327px;
	}
	.akamai-twitter.akamai-button {
	  position: absolute;
	  left: 38px;
	  top: 12px;
	  width: 20px;
	  height: 16px;
	}
	.akamai-twitter.akamai-button .akamai-icon {
	  background-position: -20px -352px;
	  width: 20px;
	  height: 16px;
	}
	.akamai-twitter.akamai-button:hover .akamai-icon,
	.akamai-twitter.akamai-button:active .akamai-icon {
	  background-position: -70px -352px;
	}
	.akamai-share.akamai-separator {
	  position: absolute;
	  left: 0px;
	  top: 0px;
	  display: block;
	  height: 40px;
	  background-color: rgba(255, 255, 255, 0.15);
	}
	/**
	 *  Time Display
	 */
	.akamai-time-display {
	  right: auto;
	  left: 73px;
	  text-align: left;
	  width: auto;
	  font-size: 12px;
	  margin-top: -4.5px;
	}
	.akamai-live .akamai-time-display {
	  left: 103px;
	  margin-top: -5px;
	}
	.akamai-duration-display {
	  font-weight: normal;
	}
	/**
	 *  Separator
	 */
	.akamai-separator {
	  display: block;
	  height: 40px;
	  background-color: rgba(255, 255, 255, 0.15);
	  right: 45px;
	}
	.akamai-volume-enabled .akamai-separator {
	  right: 75px;
	}
	/**
	 *  Replay
	 */
	.akamai-ended .akamai-replay.akamai-overlay {
	  display: none;
	}
	/**
	 *  Live
	 */
	.akamai-share-enabled .akamai-live-display {
	  right: 54px;
	  top: 5px;
	}
	/**
	 *  Ad Choices
	 */
	.akamai-ad-choices {
	  position: absolute;
	  top: 6px;
	  left: 10px;
	}
	.akamai-ad-choices-text {
	  display: inline;
	  color: #666666;
	}
	.akamai-ad-choices-icon {
	  display: block;
	  background-position: -220px -122px;
	  width: 17px;
	  height: 18px;
	  position: absolute;
	  right: -21px;
	  top: 0px;
	}
	.akamai-ad-choices-link:hover {
	  text-decoration: none;
	}
	.akamai-ad-choices:hover .akamai-ad-choices-text {
	  color: #0099CC;
	}
	.akamai-ad-choices:hover .akamai-ad-choices-icon {
	  background-position: -270px -122px;
	  width: 17px;
	  height: 18px;
	}
	.akamai-caption.akamai-button {
	  top: auto;
	  right: 60px;
	  bottom: 13px;
	  border-radius: 0px;
	  width: 18px;
	  height: 16px;
	  padding: 0px;
	  margin: 0px;
	  border: none;
	}
	.akamai-caption.akamai-button .akamai-icon {
	  width: 18px;
	  height: 16px;
	  background-position: -443px -161px;
	}
	.akamai-caption.akamai-button:hover .akamai-icon,
	.akamai-caption.akamai-button:active .akamai-icon,
	.akamai-cc-active .akamai-caption.akamai-button .akamai-icon,
	.akamai-cc-active .akamai-caption.akamai-button:hover .akamai-icon,
	.akamai-cc-active .akamai-caption.akamai-button:active .akamai-icon {
	  background-position: -443px -201px;
	}
	.akamai-cc-active .akamai-caption.akamai-button {
	  background-color: transparent;
	}
	.akamai-caption.akamai-button .akamai-label {
	  display: none;
	}
	.akamai-share-enabled .akamai-caption.akamai-button {
	  right: 150px;
	}
	.akamai-share-enabled.akamai-volume-enabled .akamai-caption.akamai-button,
	.akamai-volume-enabled.akamai-share-enabled.akamai-volume-enabled .akamai-caption.akamai-button {
	  right: 180px;
	}
	.akamai-volume.akamai-panel {
	  bottom: 50px;
	  right: 43px;
	  width: 28px;
	}
	.akamai-volume.akamai-panel .akamai-slider {
	  border-radius: 0px;
	  padding-top: 0px;
	  left: 12px;
	  right: 12px;
	}
	.akamai-volume.akamai-panel .akamai-track {
	  background: #C1C1C3;
	}
	.akamai-volume.akamai-panel .akamai-value {
	  background-color: #0099CC;
	  border-radius: 0px;
	  padding-top: 0px;
	}
	.akamai-volume.akamai-panel .akamai-handle {
	  width: 12px;
	  height: 5px;
	  left: -4.1px;
	  border-radius: 0px;
	}
	.akamai-volume.akamai-button {
	  right: 48px;
	  top: 12px;
	  width: 17px;
	  height: 16px;
	}
	.akamai-volume.akamai-button .akamai-icon {
	  width: 17px;
	  height: 16px;
	}
	.akamai-volume-0 .akamai-volume.akamai-button .akamai-icon {
	  background-position: -264px -433px;
	}
	.akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-1 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-2 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-3 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-4 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-5 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-6 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-7 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-8 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-9 .akamai-volume.akamai-button .akamai-icon,
	.akamai-volume-10 .akamai-volume.akamai-button .akamai-icon {
	  background-position: -264px -367px;
	}
	.akamai-volume-0:hover .akamai-volume.akamai-button:hover .akamai-icon .akamai-icon,
	.akamai-volume-0:hover .akamai-volume.akamai-button:active .akamai-icon .akamai-icon,
	.akamai-volume-0:active .akamai-volume.akamai-button:hover .akamai-icon .akamai-icon,
	.akamai-volume-0:active .akamai-volume.akamai-button:active .akamai-icon .akamai-icon {
	  background-position: -264px -466px;
	}
	.akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-1 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-1 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-2 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-2 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-3 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-3 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-4 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-4 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-5 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-5 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-6 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-6 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-7 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-7 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-8 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-8 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-9 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-9 .akamai-volume.akamai-button:active .akamai-icon,
	.akamai-volume-10 .akamai-volume.akamai-button:hover .akamai-icon,
	.akamai-volume-10 .akamai-volume.akamai-button:active .akamai-icon {
	  background-position: -264px -401px;
	}
	.akamai-cue-point {
	  top: 3px;
	}
	.akamai-ad-text-title {
	  display: none;
	  left: 105px;
	}
}