/* Control bar changes from 40px tall to 30px */
.ndn-small .akamai-control-bar
{
	height: 30px;
}

.ndn-small.akamai-inactive .akamai-control-bar
{
	display: block;
	bottom: -30px;
}
.ndn-small.akamai-paused.akamai-ad-mode .akamai-control-bar
{
	bottom: 0px;
}

/**
 * 	Full Screen
 */
.ndn-small .akamai-full-screen.akamai-button
{
	width: 12px;
	height: 12px;
	top: 9px;
	right: 10px;
}

.ndn-small .akamai-full-screen.akamai-button .akamai-icon
{
	background-position: -519px -84px;
	width: 12px;
	height: 12px;
}

.ndn-small .akamai-full-screen.akamai-button .akamai-icon:active
{
	background-position: -519px -84px;
}

.ndn-small .akamai-separator
{
	right: 32px;
}

/**
 * 	Time Display
 */
.ndn-small .akamai-time-display
{
	left: 52px;
}

/**
 * Play Button
 */
.ndn-small .akamai-play-pause.akamai-button
{
	width: 8px;
	height: 12px;
	left: 15px;
	top: 0px;
	padding: 9px 10px;
}

.ndn-small .akamai-play-pause.akamai-button .akamai-icon
{
	width: 8px;
	height: 12px;
	background-position: -648px -82px;
}

.ndn-small .akamai-play-pause.akamai-button .akamai-icon:active
{
	background-position: -648px -124px;
}

/**
 * Pause Button
 */
.ndn-small.akamai-playing .akamai-play-pause.akamai-button
{
	width: 10px;
	height: 12px;
}

.ndn-small.akamai-playing .akamai-play-pause.akamai-button .akamai-icon
{
	background-position: -677px -82px;
	width: 10px;
	height: 12px;
}

.ndn-small.akamai-playing .akamai-play-pause.akamai-button .akamai-icon:active
{
	background-position: -676px -122px;
}

/**
 * Ended Button
 */
.ndn-small.akamai-ended .akamai-play-pause.akamai-button
{
	width: 8px;
	height: 12px;
	left: 15px;
	top: 0px;
	padding: 9px 10px;
}

.ndn-small.akamai-ended .akamai-play-pause.akamai-button .akamai-icon
{
	background-position: -648px -82px;
	width: 8px;
	height: 12px;
}

.ndn-small.akamai-ended .akamai-play-pause.akamai-button .akamai-icon:active
{
	background-position: -648px -124px;
	width: 8px;
	height: 12px;
}

/* Progress bar becomes 4 px tall */
.ndn-small.akamai-active .akamai-progress.akamai-slider .akamai-value, 
.ndn-small.akamai-active .akamai-progress.akamai-slider .akamai-buffer-value, 
.ndn-small.akamai-active .akamai-progress.akamai-slider .akamai-track
{
	height: 4px;
}

.ndn-small.akamai-active .akamai-progress.akamai-slider
{
	top: 0px;
	margin: -4px 0px 0px 0px;
}

/**
 * 	Share Control
 */
.ndn-small .akamai-share.akamai-control
{
	right: 21px;
}

/**
 * 	Share Button
 */
.ndn-small .akamai-share.akamai-button
{
	width: 9px;
	height: 12px;
	top: 9px;
	left: 60px;
}

.ndn-small .akamai-share.akamai-button .akamai-icon
{
	width: 9px;
	height: 12px;
	background-position: -468px -84px;
}

.ndn-small .akamai-share.akamai-button .akamai-icon:active
{
	background-position: -468px -125px;
}

/**
 * 	Facebook Button
 */
.ndn-small .akamai-facebook.akamai-button
{
	width: 12px;
	height: 12px;
	top: 9px;
}

.ndn-small .akamai-facebook.akamai-button .akamai-icon
{
	width: 12px;
	height: 12px;
	background-position: -412px -84px;
}

.ndn-small .akamai-facebook.akamai-button .akamai-icon:active
{
	background-position: -412px -125px;
}

/**
 * 	Twitter Button
 */
.ndn-small .akamai-twitter.akamai-button
{
	width: 16px;
	height: 12px;
	top: 9px;
	left: 35px;
}

.ndn-small .akamai-twitter.akamai-button .akamai-icon
{
	width: 16px;
	height: 12px;
	background-position: -440px -84px;
}

.ndn-small .akamai-twitter.akamai-button .akamai-icon:active
{
	background-position: -440px -125px;
}

/**
 * 	Info
 */
.ndn-small .akamai-info-icon
{
	right: 9px;
	top: 8px;
}

/**
 * Captions
 */
.ndn-small .akamai-caption.akamai-button
{
	right: 125px;
	top: 6px;
}

.ndn-small.akamai-ad-mode .akamai-caption.akamai-button
{
	display: none;
}