<div class="ndn_16-9-wrapper">
    <div id="{{playerContainerElementId}}" class="ndn_playerContainer"></div>
</div>
<!--LARGE DISPLAY CATEGORIES TABS START-->
<ul class="ndn_nav ndn_nav-tabs ndn_lite ndn_playlistTabs ndn_playlistSelectorMenu">
</ul>
<!--LARGE DISPLAY CATEGORIES TABS END--> 
<!--SMALL DISPLAY CATEGORIES TABS START-->
<div class="ndn_accordion" id="accordion2">
    <div class="ndn_accordion-group">
        <div class="ndn_accordion-heading"></div>
        <div class="ndn_openNav">
        	<a class="ndn_accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"></a>
        </div>
        <div id="collapseOne" class="ndn_accordion-body ndn_in ndn_collapse">
            <div class="ndn_accordion-inner">
                <ul class="ndn_nav ndn_nav-tabs ndn_lite ndn_nav-phone ndn_playlistTabs"></ul>
            </div>
        </div>
    </div>
</div>
<!--SMALL DISPLAY CATEGORIES TABS END--> 
<!--COMPANION CONTAINER START-->
<div class="ndn_companion" style="display:none;"></div>
<div class="ndn_adStudy" style="display:none;"></div>
<!--COMPANION CONTAINER END-->
<!--THUMBNAILS START-->
<div class="ndn_playlistThumbnailsPages ndn_selectableVideos">
</div>
<!--THUMBNAILS END--> 
<!--PAGINATION START-->
<div class="ndn_playlistThumbnailsPagination ndn_js_pagination ndn_pagination ndn_pagination-centered"></div>
<!--PAGINATION START-->