{{#thumbnailPagesData}}
	<ul class="ndn_playlistThumbnailsPage" data-page-number="{{pageNumber}}">
		{{#playlistItems}}
			<li class="ndn_selectableVideo ndn_thumb ndn_js_playlistLi" data-video-id="{{videoId}}" data-video-index="{{videoIndex}}">
		    	<div class="ndn_selectableVideoInner">
		    		<div class="ndn_thumbContainer">
		    			<img class="ndn_thbImage" src="{{thumbnailUrl}}" title="{{videoTitle}}" />
		    			<div class="ndn_nowPlaying">Now Playing</div>
		    			<div class="ndn_upcomingVideo">Up Next</div>
		    		</div>
		    		<p class="ndn_videoTitle">{{videoTitle}}</p>
		    		<p class="ndn_videoMeta">{{displayDuration}} / {{#producer}}{{name}}{{/producer}}</p>
		    	</div>
			</li>
		{{/playlistItems}}
	</ul>
{{/thumbnailPagesData}}