body.ndn_sharePage {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: #555;
	
	.main-container {
		padding: 40px;
	}
	
	.main-container .header {
		padding-left: 30px;
		height: 50px;
		background: url('@{appUrl}/img/background-3a.png') repeat-x 0 -20px;
		border-style: solid;
		border-width: 0 0 1px 0;
		border-color: #333;
	}
	
	.main-container .header a {
		display: block;
		width: 100%;
		height: 50px;
		background: url("@{appUrl}/img/ndn-logo.png") no-repeat top left;
	}
}