<div class="ndn_verticalTowerWrapper">
    <ul>
    {{#playlistItems}}
        <li data-video-id="{{videoId}}" title="{{videoTitle}}" data-video-index="{{videoIndex}}" class="ndn_selectableVideo" >
        	<a href="{{landingPageUrl}}">
	        	<div class="ndn_imagePlaceholder" data-src="{{thumbnailUrl}}"></div>
	        	<div class="ndn_verticalThumbnailPlay"></div>
	    		<p>{{videoTitle}}</p>
            </a>
        </li>
    {{/playlistItems}}
    </ul>
</div>
<div class="ndn_verticalTowerNav">
    <a class="ndn_verticalTowerNavNext">Next</a>
    <a class="ndn_verticalTowerNavPrev">Previous</a>
</div>