@font-face {
  font-family: 'ndn_icon';
  /* The fonts below are needed for backwards compatibility with browsers < IE9 and other */
  src: url('../font/ndn_icon.eot');/*IE versions only*/
  src: url('../font/ndn_icon.eot?#iefix') format('embedded-opentype'),/*?#iefixPrevents IE8 from having a server error loading fonts*/
       url('../font/ndn_icon.woff') format('woff'), /*Does not work FOR IE8, Opera mini, or Andriod <4.4*/
       url('../font/ndn_icon.ttf') format('truetype'),/*Does not work FOR IE8, Opera mini, or Andriod <4.4*/
       url('../font/ndn_icon.svg?#ndn_icon') format('svg');/*Only for older Chrome (37 and older), Current Safari and iOS versions*/
  font-weight: normal!important;
  font-style: normal!important;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ndn_icon';
    src: url('../font/ndn_icon.svg?13244333#ndn_icon') format('svg');
  }
}
*/
 
 [class^="ndn_icon_"]:before, [class*=" ndn_icon_"]:before {
  font-family: "ndn_icon";
  font-style: normal!important;
  font-weight: normal!important;
  speak: none!important;
 
  display: inline-block!important;
  text-decoration: inherit!important;
  width: 1em!important;
  margin-right: .2em!important;
  text-align: center!important;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal!important;
  text-transform: none!important;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em!important;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em!important;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ndn_icon_circle-thin:before { content: '\e800'; } /* '' */
.ndn_icon_left-big:before { content: '\e801'; } /* '' */
.ndn_icon_mail-alt:before { content: '\e808'; } /* '' */
.ndn_icon_cancel-circled:before { content: '\e809'; } /* '' */
.ndn_icon_cancel:before { content: '\e80a'; } /* '' */
.ndn_icon_info-circled:before { content: '\e80b'; } /* '' */
.ndn_icon_link:before { content: '\e80c'; } /* '' */
.ndn_icon_share:before { content: '\e80d'; } /* '' */
.ndn_icon_left-circled:before { content: '\e80e'; } /* '' */
.ndn_icon_right-circled:before { content: '\e80f'; } /* '' */
.ndn_icon_facebook:before { content: '\e810'; } /* '' */
.ndn_icon_twitter:before { content: '\e811'; } /* '' */
.ndn_icon_down-open-1:before { content: '\e812'; } /* '' */
.ndn_icon_left-open-1:before { content: '\e813'; } /* '' */
.ndn_icon_right-open-1:before { content: '\e814'; } /* '' */
.ndn_icon_up-open-1:before { content: '\e815'; } /* '' */
.ndn_icon_down-open-big:before { content: '\e816'; } /* '' */
.ndn_icon_left-open-big:before { content: '\e817'; } /* '' */
.ndn_icon_right-open-big:before { content: '\e818'; } /* '' */
.ndn_icon_up-open-big:before { content: '\e819'; } /* '' */
.ndn_icon_up-open-mini:before { content: '\e81a'; } /* '' */
.ndn_icon_right-open-mini:before { content: '\e81b'; } /* '' */
.ndn_icon_left-open-mini:before { content: '\e81c'; } /* '' */
.ndn_icon_down-open-mini:before { content: '\e81d'; } /* '' */
.ndn_icon_code:before { content: '\e81e'; } /* '' */