<div class="ndn_sliderPrev ndn_sliderNavButton"></div>
<div class="ndn_sliderWrapper">
    <ul class="ndn_sliderItems">
        {{#playlistItems}}
            <li data-video-id="{{videoId}}" title="{{videoTitle}}" data-video-index="{{videoIndex}}" class="ndn_selectableVideo">
                <a href="{{landingPageUrl}}">
                    <div class="ndn_sliderThumbnailImageWrapper">
                        <div class="ndn_imagePlaceholder" data-src="{{thumbnailUrl}}"></div>
                        <div class="ndn_sliderThumbnailPlay"></div>
                    </div>
                    <div class="ndn_sliderThumbnailOverlay">
                        <p>{{videoTitle}}</p>
                    </div>
                </a>
            </li>
        {{/playlistItems}}
    </ul>
</div>
<div class="ndn_sliderNext ndn_sliderNavButton"></div>