/* Control bar changes from 40px tall to 30px */
.ndn-small .akamai-controls
{
	height: 30px;
}

.ndn-small.akamai-inactive .akamai-controls
{
	display: block;
	bottom: -30px;
}

/**
 * 	Full Screen
 */
.ndn-small .akamai-full-screen-button
{
	background-position: -519px -84px;
	width: 12px;
	height: 12px;
	top: 9px;
	right: 10px;
}

.ndn-small .akamai-full-screen-button:active
{
	background-position: -519px -84px;
	width: 12px;
	height: 12px;
	top: 9px;
	right: 10px;
}

.ndn-small .akamai-separator 
{
	right: 32px;
}

/**
 * 	Time Display
 */
.ndn-small .akamai-time-display 
{
	left: 52px;
}

/**
 * Play / Pause
 */
.ndn-small .akamai-play-pause-button
{
	background-position: -648px -82px;
	width: 8px; 
	height: 12px;
	left: 25px;
}
.ndn-small .akamai-play-pause-button:active
{
	background-position: -648px -124px;
	width: 8px; 
    height: 12px;
}

.ndn-small.akamai-playing .akamai-play-pause-button
{
    background-position: -677px -82px; 
    width: 8px; 
    height: 12px;
}

.ndn-small.akamai-playing .akamai-play-pause-button:active
{
    background-position: -677px -122px;
    width: 8px; 
    height: 12px;
}

.ndn-small.akamai-ended .akamai-play-pause-button
{
    background-position: -648px -82px;
	width: 8px; 
    height: 12px;
}

.akamai-ended .akamai-play-pause-button:active
{
    background-position: -648px -124px;
	width: 8px; 
    height: 12px;
}

/* Progress bar becomes 4 px tall */
.ndn-small.akamai-active .akamai-progress-value,
.ndn-small.akamai-active .akamai-buffer-value,
.ndn-small.akamai-active .akamai-progress
{
	height: 4px;
} 

.ndn-small.akamai-active .akamai-progress-area 
{
	margin: -4px 0px 0px 0px;
}


/**
 * 	Share
 */
.ndn-small .akamai-share-control 
{
	right: 21px;
}

.ndn-small .akamai-share-button
{
	background-position: -468px -84px;
	width: 9px;
	height: 12px;
	top: 9px;
	left: 60px;
}

.ndn-small .akamai-share-button:active
{
	background-position: -468px -125px;
	width: 9px;
	height: 12px;
	top: 9px;
}

.ndn-small .akamai-share-facebook-button
{
	background-position: -412px -84px; 
	width: 12px; 
	height: 12px; 
	top: 9px;
}

.ndn-small .akamai-share-facebook-button:active
{
	background-position: -412px -125px;
	width: 12px;
	height: 12px;
	top: 9px;
}

.ndn-small .akamai-share-twitter-button
{
	background-position: -440px -125px;
	width: 16px;
	height: 12px;
	top: 9px;
	left: 35px;
}

.ndn-small .akamai-share-twitter-button:active
{
	background-position: -440px -84px;
	width: 16px;
	height: 12px;
	top: 9px;
}
