<div class="ndn_modalEmbed ndn_modalEmbed_expandable">
	<div class="ndn_videoTitle"></div>
	<div class="ndn_modalEmbed_options">
		<div class="ndn_modalEmbed_expand">(Expand)</div>
		<div class="ndn_modalEmbed_close">(Close)</div>
	</div>
	<div id="ndn-modal-embed-{{modalEmbedIndex}}"></div>
</div>