.ndn_embedContainer.ndn_widget_default .ndn_videoPlayer {
	width: 604px;
	height: 341px;
}

.ndn_embedContainer {

}

.ndn_embedContainer .ndn_thumbnailsContainer {
	width: 660px;
	padding-left: 6px;
	
	display: block;
	float: left;
	list-style: none;
	margin: 20px 0;
}

.ndn_embedContainer .ndn_thumbnailsContainer li {
	opacity: 0.8;
	margin: 4px;
}

.ndn_embedContainer .ndn_thumbnailsContainer li.ndn_activeVideo {
	border: 2px solid Black;
	margin: 2px;
	opacity: 1;
}

.ndn_embedContainer .ndn_thumbnailsContainer li {
	display: block;
	float: left;
	width: 100px;
	height: 75px;
	/*
	margin-right: 10px;
	*/
}

.ndn_embedContainer .ndn_thumbnailsContainer li:last-child {
	margin-right: 0;
}

.ndn_embedContainer .ndn_thumbnailsContainer li img {
	cursor: pointer;
	width: 100%;
	height: 100%;
}