/*Top Branded Black Nav*/	
	
.topBrandNav {
	background-color: #000;
	width: 100%;
	height: 30px;
	margin-top:10px;
}
.topBrandNav ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.topBrandNav ul li{
    float: left;
    padding: 0 9px;
}

.topBrandNav a{
	color: #FFFFFF !important;
    text-decoration: none;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight:bold;
}
.topBrandNav a:hover {
	text-decoration: underline;
}
  

/*Secondary Nav White*/

.secWhiteNav {
	width: 100%;
	height: 30px;
	margin-top: 1px;
}
.secWhiteNav ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.secWhiteNav ul li{
    float: right;
    padding: 2px 8px 0px 8px;
}
.secWhiteNav ul li:first-child{
	padding-right:0;
}

.secWhiteNav a{
	color: #4d4d4d !important;
    text-decoration: none;
	font-family: 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:bold;
}

.secWhiteNav a:hover {
	text-decoration: underline;
}

.DMNUtilityLinks {margin-right: 5px;}

/*-------Logos--------------*/
.dnLogoHome {
	float: left;
    padding: 0px 0px 0px 0px;
}

.dnSubLogo a{
float: left;
padding: 0px 0px 0px 0px;
margin-left: 30px;
font-size: 46px;
text-decoration: none;
font-family: 'Trebuchet MS', sans-serif;
text-transform: uppercase;
font-weight: bold;
color: #a6c2d8;
margin-top: 6px;
}

.dnSubLogo a:hover{color: #a6c2d8;text-decoration: none;}
.dnSubLogo a:visited{color: #a6c2d8;text-decoration: none;}


/*---------- Weather Underground - Current Conditions ------------------*/
div.currentConditions-masthead {
	background-position: 120%;
	background-image: url("http://www.dallasnews.com/skins/dmn/gfx/weather/tstorms_big.png");
	background-repeat: no-repeat;
	float: left;
	height: 96px;
	position: relative;
	width: 250px;
}

div.currentConditions-masthead span {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	position: relative;
	text-align: center;
	z-index: 1;
}
div.currentConditions-masthead .wu-temp {
	color: #4B6999;
	font-size: 3.5em;
	line-height: 1em;
}

.DMNWeatherMapContainer {
    float: left;
    width: 80px;
}
.DMNWeatherMap a {
    height: 80px;
    position: absolute;
	top:0;
    width: 80px;
}
.DMNWeatherMap a img {
    position: absolute;
	/*top:0px;*/
}
.DMNWeatherLink {
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 8px;
}

.weather-masthead{
	float: right;
	font-family: 'Trebuchet MS', sans-serif;
	color:#4b699b;
	font-size:50px;
	position:relative;
	font-weight:bold;
}

.weather-masthead-guidelive{float: right;font-family: 'Trebuchet MS', sans-serif;color:#000;font-size:50px;position:relative;font-weight:bold;}
.weather-masthead-sportsday{float: right;font-family: 'Trebuchet MS', sans-serif;color:#990000;font-size:50px;position:relative;font-weight:bold;}
.weather-masthead-neighborsgo{float: right;font-family: 'Trebuchet MS', sans-serif;color:#000;font-size:50px;position:relative;font-weight:bold;}

.weather-masthead .DMNConditions .wu-temp-wrapper .wu-temp a {
	text-decoration:none;
}
.weather-masthead-guidelive .DMNConditions .wu-temp-wrapper .wu-temp a {
	text-decoration:none;
	color:#000;
}
.weather-masthead-sportsday .DMNConditions .wu-temp-wrapper .wu-temp a {
	text-decoration:none;
	color:#990000;
}
.weather-masthead-neighborsgo .DMNConditions .wu-temp-wrapper .wu-temp a {
	text-decoration:none;
	color:#000;
}

.wu-forecast a, .wu-traffic a {
	font-family: 'Trebuchet MS', sans-serif;
	text-transform:uppercase;
	color:#000;
	font-size:12px;
	font-weight:bold;
}

.DMNConditions {
	float:left;
}

.DMNWeatherMap {
	float:left;
	position:static !important;
	font-size:12px !important;
}

.DMNWeatherMapContainer, .DMNWeatherMap, .DMNWeatherMap a {
	width:80px !important;
	height:80px !important;
}

.wu-forecast {
	line-height:12px;
	padding-left:5px;
}
.wu-traffic {
	line-height:12px;
	padding-left:10px;
}
.wu-temp {
	line-height:50px;
	height:50px;
}
.wu-icon {
	line-height:50px;
	height:50px;
}

.wu-temp-wrapper {
	float:left;
}
.wu-icon-wrapper {
	float:left;
}

/*
.weatherHome{
	float: right;
	margin-top: 0;
	font-family: 'OpenSansRegular', sans-serif;
	font-weight:800;
	color:rgb(50,50,50);
}

.weatherNav {
    float: right;
    margin-top: 15px;
}

.weatherNav ul li {
    display: block;
    float: right;
    font-family: OpenSans,sans-serif;
    font-size: 14px;
    font-weight: bold;
    list-style: none outside none;
    margin-left: 20px;
    margin-right: 5px;
    text-transform: uppercase;
}

.weatherNav ul li a {
    display: block;
    float: right;
    font-family: OpenSans,sans-serif;
    font-size: 14px;
    font-weight: bold;
    list-style: none outside none;
    margin-right: 5px;
    text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.weatherNav ul li a:hover {
	text-decoration: underline;
}
*/

/*-----------------subNav----------------*/
.newSubSecNav{
	background-color: #4B6999;
	width: 100%;
	height: 25px;
	overflow:hidden;
	position:relative;
}
.newSubSecNav ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.newSubSecNav ul li{
    display:inline;
	line-height:25px;
}

.newSubSecNav a{
	color: #FFFFFF !important;
    text-decoration: none;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	padding:4px 10px 4px 10px;
	font-weight:bold;
}
.newSubSecNav a:hover{
	background-color:#000;
}

.newSubSecNav ul li.active a{
	background-color:#000;
}

/*-----------------GuideLive subNav----------------*/
.newSubSecNav-guidelive{
	background-color: #000;
	width: 100%;
	height: 24px;
	overflow:hidden;
	position:relative;
}
.newSubSecNav-guidelive ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.newSubSecNav-guidelive ul li{
    display:inline;
	line-height:25px;
}

.newSubSecNav-guidelive a{
	color: #FFFFFF;
    text-decoration: none;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	padding:4px 10px 4px 10px;
	font-weight:bold;
}
.newSubSecNav-guidelive a:hover{
	background-color:#ccc;
}

.diningLink {color: #EF282F;}
.diningLink a, .diningLink a:link, .diningLink a:visited ,.diningLink a:hover {color: #EF282F;text-decoration:none;}

.moviesLink {color: #4979BB;}
.moviesLink a, .thingsLink a:link, .thingsLink a:visited ,.thingsLink a:hover {color: #4979BB;text-decoration:none;}

.musicLink {color: #EDAF1C;}
.musicLink a, .musicLink a:link, .musicLink a:visited ,.musicLink a:hover {color: #EDAF1C;text-decoration:none;}

.artsLink {color: #9C3B7E;}
.artsLink a, .artsLink a:link, .artsLink a:visited ,.artsLink a:hover {color: #9C3B7E;text-decoration:none;}

.thingsLink {color: #A1B339;}
.thingsLink a, .thingsLink a:link, .thingsLink a:visited ,.thingsLink a:hover {color: #A1B339;text-decoration:none;}

.tvLink {color: #F47B20;}
.tvLink a, .tvLink a:link, .tvLink a:visited ,.tvLink a:hover {color: #F47B20;text-decoration:none;}

.whateverLink {color: #24A19B;}
.whateverLink a, .whateverLink a:link, .whateverLink a:visited ,.whateverLink a:hover {color: #24A19B;text-decoration:none;}

.guideliveSection, .genericLink {color:#808080;}
.genericLink a, .genericLink a:link, .genericLink a:visited ,.genericLink a:hover,
.guideliveSection a, .guideliveSection a:link, .guideliveSection a:visited ,.guideliveSection a:hover {color: #808080;text-decoration:none;}

.newSubSecNav-guidelive ul li.active a {
	background-color:#ccc;
}

.guideliveSection {
float: left;
font-family: 'Trebuchet MS', sans-serif;
text-transform: uppercase;
color: #000;
font-size: 26px;
padding: 25px 0 0 20px;
font-weight:bold;
}

.guideliveBlogSection {
float: left;
font-family: 'Trebuchet MS', sans-serif;
text-transform: uppercase;
color: #000;
font-size: 26px;
padding: 20px 0 0 20px;
font-weight:bold;
}

/*.guideliveSection a:link {
font-family: 'Trebuchet MS', sans-serif;
color: #808080;
text-decoration:none;
}

.guideliveSection a:visited {
font-family: 'Trebuchet MS', sans-serif;
color: #808080;
text-decoration:none;
}

.guideliveSection a:hover {
font-family: 'Trebuchet MS', sans-serif;
color: #808080;
text-decoration:none;
}

.guideliveSection a:focus {
font-family: 'Trebuchet MS', sans-serif;
color: #808080;
text-decoration:none;
}

.guideliveSection a:active {
font-family: 'Trebuchet MS', sans-serif;
color: #808080;
text-decoration:none;
}*/



/*----------------- End GuideLive subNav----------------*/


/*-----------------Neighborsgo subNav----------------*/
.newSubSecNav-neighborsgo {
background: #181818 url('http://res.dallasnews.com/resrsc/ntg/ntg-nav.jpg') bottom left repeat-x !important;
	width: 100%;
	height: 24px;
	overflow:hidden;
	position:relative;
}
.newSubSecNav-neighborsgo ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.newSubSecNav-neighborsgo ul li{
    display:inline;
	line-height:25px;
}

.newSubSecNav-neighborsgo a{
	color: #FFFFFF;
    text-decoration: none;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	padding:4px 10px 4px 10px;
	font-weight:bold;
}
.newSubSecNav-neighborsgo a:hover{
	background-color:#ccc;
}


.genericLink {color:#808080;}

.newSubSecNav-neighborsgo ul li.active a{
	background-color:#ccc;
}

.neighborsSectionName {
float: left;
font-family: 'Trebuchet MS', sans-serif;
text-transform: uppercase;
color: #000;
font-size: 20px;
padding: 24px 0 0 0px;
font-weight:bold;
margin-left:15px;
}
.neighborsSectionName a, .neighborsSectionName a:link, .neighborsSectionName a:visited ,.neighborsSectionName a:hover {
font-family: 'Trebuchet MS', sans-serif;
color: #000;
text-decoration:none;
}

/*----------------- End Neighborsgo subNav----------------*/


/*-----------------SportsDay subNav----------------*/
.newSubSecNav-sportsday{
	background-color: #990000;
	width: 100%;
	height: 25px;
	overflow:hidden;
	position:relative;
}
.newSubSecNav-sportsday ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.newSubSecNav-sportsday ul li{
    display:inline;
	line-height:25px;
}

.newSubSecNav-sportsday a{
	color: #FFFFFF;
    text-decoration: none;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	padding:4px 10px 4px 10px;
	font-weight:bold;
}
.newSubSecNav-sportsday a:hover{
	background-color:#000;
}

.newSubSecNav-sportsday ul li.active a{
	background-color:#000;
}

/*----------------- End SportsDay subNav----------------*/

#searchDiv {
	position:absolute;
	right:0;
	top:0;
}

#searchDivFind {
	position:absolute;
	right:25px;
	top:0;
	margin-right: 8px;
}

#searchDivSearch {
	position:absolute;
	right:0;
	top:0;
}

img#findbar {
	padding-top: 5px;
	padding-right: 8px;
	padding-left: 8px;
	cursor:pointer;
}

img#searchbar {
	padding-top: 5px;
	padding-right: 8px;
	padding-left: 8px;
	cursor:pointer;
}

/*DropDown Search*/

#findit {
	width: 100%;
	background-color: #949599;
	height: 28px;
	/*margin-bottom: 10px;*/
}

#searchguidelive {
	width: 100%;
	background-color: #949599;
	height: 28px;
	/*margin-bottom: 10px;*/
}


#searchneighborsgo {
	width: 100%;
	background: #181818 url('http://res.dallasnews.com/resrsc/ntg/ntg-search.jpg') bottom left no-repeat;
	height: 28px;
	/*margin-bottom: 10px;*/
}

#finditneighborsgo {
	width: 100%;
	background: #181818 url('http://res.dallasnews.com/resrsc/ntg/ntg-search.jpg') bottom left no-repeat;
	height: 28px;
	/*margin-bottom: 10px;*/
}


#search {
	width: 100%;
	background-color: #000;
	height: 28px;
	margin-bottom: 10px;
}


#searchTitle{
	color: #FFF;
	font-family: 'Trebuchet MS', sans-serif;
	float: left;
    margin-right: 20px;
	margin-left: 10px;
	font-weight:bold;
	line-height:26px;
}
#searchTitle span {
	line-height: 25px;
                        font-size: 13px;
}

#GuideLivesearchformHome{
	float: left;
	margin-top: 2px;
}

#searchformHome{
	float: left;
	margin-top: -3px;
}
.DMNSearchText{
	width: 400px !important;
	height: 15px !important;
}

.GuideLiveSearchWhat{
	width: 350px;
	height: 15px;
	color:#ccc;
}

.GuideLiveSearchWhen{
	width: 250px;
	height: 15px;
	margin-left:10px;
	color:#ccc;
}

input.GuideLiveSearchGo{
margin-top: 2px;
width: 15px;
height: 15px;
background-color: #000;
padding: 2px;
}

input.DMNSearchGo{
	margin-top:2px;
}

/* Search Form */

form.DMNSearch {
    margin: 0;
    padding: 0 25px 0 0;
}

form.DMNSearch .DMNSearchDD {
    font-size: 12px;
    margin: 0 0 0 3px;
    padding: 0;
	width:150px;
}
select, #zvw-Contentinput, #zvw-Contentinputon {
    border: 1px solid #C3C3C3;
}

form.DMNSearch .DMNSearchGo {
    margin-left: 3px;
}
form.DMNSearch .DMNSearchGoWrapper {
    height: 15px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 4px;
    width: 17px;
}

#searchYahoo {
	padding-left:15px;
}
#whiteY {
    color: #FFFFFF;
    font-family: 'Trebuchet MS',sans-serif;
    line-height: 25px;
    margin: 0;
    padding-right: 5px;
    font-size: 13px;
	font-weight:bold;
}

#yahoo {
    color: #592c71;
    font-family: 'Trebuchet MS',sans-serif;
    line-height: 25px;
    margin: 0;
    font-size: 13px;
	font-weight:bold;
}		

div#pagerepaint {
width: 940px;
margin: 0 auto;
padding: 0;
background-color: #fff;
}

div#headerrepaint {
clear: both;
margin-bottom: 10px;
}


/* Ad Position LeaderTop */

.positionLeaderTop {
	margin: auto;
    padding-bottom: 0;
    padding-top: 12px;
    text-align: center;
    white-space: nowrap;
    width: 748px;
}