/*------------------------Group Headline------------------------*/
div#topLatest  {
	margin-top:0;
	}

div.widget.groupHeadline.dnBlack, div.widget.groupHeadline.dnBlack a{ 
	background-color: #FFFFFF;
	border-top: none !important;
	color: white !important;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-size: 1em !important;
	margin-bottom: 10px !important;
	font-weight:bold;
	}
div.widget.groupHeadline.dnBlue, div.widget.groupHeadline.dnBlue a { 
	background-color: #4B6999;
	border-top: none !important;
	color: white !important;
    font-family: 'Trebuchet MS', sans-serif !important;
    font-size: 1em !important;
	margin-bottom: 10px; 
	font-weight:bold;
	}
div.widget.groupHeadline.dnPurple, div.widget.groupHeadline.dnPurple a { 
	background-color: #9D3C7F;
	border-top: none !important;
	color: white !important;
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight:bold !important;
    font-size: 1em !important;
	margin-bottom: 10px !important;
	 }
div.widget.groupHeadline.dnGold, div.widget.groupHeadline.dnGold a { 
	background-color: #EDA521;
	border-top: none !important;
	color: white !important;
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight:bold !important;
    font-size: 1em !important;
	margin-bottom: 10px !important;
	}
div.widget.groupHeadline.dnRed, div.widget.groupHeadline.dnRed a {
	background-color: #D12327;
	border-top: none !important;
	color: white !important;
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight:bold !important;
    font-size: 1em !important;
	margin-bottom: 10px !important;
	}
div.widget.groupHeadline.dnGreen, div.widget.groupHeadline.dnGreen a {
	background-color: #3D813D;
	border-top: none !important;
	color: white !important;
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight:bold !important;
    font-size: 1em !important;
	margin-bottom: 10px !important;
	}
	
div.widget.groupHeadline.dnBlack, 
div.widget.groupHeadline.dnBlue, 
div.widget.groupHeadline.dnPurple, 
div.widget.groupHeadline.dnGold, 
div.widget.groupHeadline.dnRed, 
div.widget.groupHeadline.dnGreen {
	padding: 0 0 0 10px;
}


.dn70Grey, .dn70Grey a {
	color: #4D4D4D;
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight:bold !important;
    font-size: 1em !important;
}

/*--------------------------TopStories--------------------------*/


.dnNewHome.stories.topstory {
	margin-bottom:10px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight: normal !important;
}

.dnNewHome.stories.custom {
	margin-bottom:10px;
    color: #000000;
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight: normal !important;
}

.dnNewHome.stories.custom h2 {
    clear: both;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
	color: #000 !important;
	font-family: georgia;
}

.dnNewHome.stories.custom h2 a {
    clear: both;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
	color: #000 !important;
	font-family: georgia;
	font-weight: normal !important;
}
.dnNewHome.stories.topstory h1 {
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-size: 1.75em;
	font-weight:normal;
}
.dnNewHome.stories.topstory h1 a {
	font-weight:normal;
    font-family: Georgia, "Times New Roman", Times, serif !important;
}
.dnNewHome a, .dnNewHome a:active, .dnNewHome a:visited {
    color: #000000;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight:bold;
}

.dnNewHome a:hover{
	text-decoration:underline;
}

.dnNewHome h2{
	font-family: Georgia, "Times New Roman", Times, serif !important;
    font-size: 1.2em;
}

.dnNewHome h3{
	font-family: Georgia, "Times New Roman", Times, serif !important;
    font-size: 1.1em;
	margin-bottom:10px;
}

.dnNewHomeFeature h3{
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight:bold;
}

.dnNewHome h2 a{
	font-family: Georgia, "Times New Roman", Times, serif !important;
	font-weight:normal;
}

.dnNewHome h3 a{
	font-family: Georgia, "Times New Roman", Times, serif !important;
	font-weight:normal;
}
.dnNewHomeFeature h3 a{
    font-family: 'Trebuchet MS', sans-serif !important;
	font-weight:bold;
	color:#000000;
	font-size:.8em;
}
div.list.dnNewHomeFeature div.content div.article img {
	margin-right:6px !important;
}

.dnNewHome.stories.topstory .DMNRelatedItemsSection p {
	background-image:none !important;
	padding-left:0 !important;
	line-height:1.25em !important;
	padding-bottom:5px !important;
}
.dnNewHome.stories.topstory .DMNRelatedItemsSection p:last-child {
	padding-bottom:0px !important;
}

div.list.custom.dnNewHome div.content div.article h3 a {
    font-family: 'Trebuchet MS', sans-serif !important;
    font-size: 1.0em;
    line-height: 1.15em;
	font-weight:bold;
	color:#000000;
}

div.list.custom.dnNewHome div.content div.article.first h3 a {
    font-family: georgia !important;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.15em;
}

div#traveldeals div.article h3 a {
    font-family: 'Trebuchet MS', sans-serif !important;
    font-size: 1.0em;
    line-height: 1.15em;
	font-weight:bold;
	color:#000000;
}
div#traveldeals div.article img.left {
    margin: 0 20px 10px 0 !important;
}
div#traveldeals p.summary {
	display:none;
}

div.list.custom.dnNewHome div.content div.article{
    border-bottom: 1px solid #000000;
	padding-bottom:10px;
}

div.slideshow.spotlight.dnNewHome p {
	line-height:1.20em !important;
}

div.topPicks.dnNewHome .topPicksTitle {
	font-weight:bold;
}

.dnNewHome.stories.custom div.article img.left {
    margin: 0 20px 40px 0;
}

.dnNewHomeTop.stories.custom div.article img.left {
    margin: 0 20px 20px 0 !important;
}


.dnNewHomeTop {
	border-bottom:1px solid #000;
	margin-bottom:20px !important;
}
/*-------------Featured--------------*/
.ftContent { font-size: 0.8em; }
.ftContent,
.ftContent a {
    color: #000000 !important;
}
.ftLabel,
.ftLabel a{
    color: #000000 !important;
}

/*----------------------Events-------------------*/
.z-eventlist-layoutW1 {
    background-color: black;
    border-top: 2px solid grey;
    padding-top: 3px;
}
.ZventsQuickDayList li {
    display: block;
    float: left;
    margin-right: 0 !important;
}
.z-eventlist-layoutW1 h3.z-heading {
	font-weight:bold !important;
}
.z-eventlist-layoutW1 li
{
	border-bottom:1px dashed #fff;
	padding-bottom:5px;
}
.z-eventlist-layoutW1 li:last-child
{
	border-bottom:none;
}
.z-eventlist-layoutW1 li:first-child
{
	border-bottom:1px dashed #fff;
	padding-bottom:5px;
}
