div#DMNAccModule
{
	width:300px;
	background-color:transparent;
	padding: 0 !important;
	margin:0 0 20px 0 !important;
	font-size: 0;
	line-height: 0;
}
div.DMNAccModuleContent
{
	border:solid 1px #999999;
}
div.DMNAccModuleContent h3
{
}
div.DMNAccModuleHeader
{
	width:293px;
	font-size:9pt !important;
	line-height: 10pt !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#333333;
	border-bottom:1px solid #ababab;
	border-right:1px solid #999999;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
	background-image: url(http://www.dallasnews.com/skins/dmn/gfx/accordion-bg.jpg); 
	background-repeat: repeat-x;
	cursor:pointer;
	text-decoration:none !important;
}
div.DMNAccModuleHeader.on
{
	background-image:none; 
	background-repeat:no-repeat;
	background-color:#d0d3dc;
}
.DMNAccLink
{
	text-decoration:none;
}
.DMNAccLink:active,.DMNAccLink:hover, .DMNAccLink:visited { text-decoration:none !important; }
.DMNACCModuleContainer
{
	height:125px;
	display:none;
}
.DMNACCModuleContainerPop
{
	height:130px;
	display:none;
	padding-top:5px !important;
}
