/* custom.css */
div#outer {
    width: 940px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

div#outer .ad {border-bottom:1px solid #42464a;}
div#page {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #fff;
}

div.x620x300-sb-extended-config {
    background-color: #183555 !important;
    padding: 0 !important;
    width: 960px !important;
}
div.x620x300-sb-extended-config a { color: #B2D0ED; }
div.x620x300-sb-extended-config #loginHeader {
    position: relative;
    top: 20px;
    color: #fff !important;
    font-size: 11px !important;
    font-weight: normal !important;
}
div.x620x300-sb-extended-config #loginHeader a {
    color: #fff !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    line-height: 12px !important;
    font-weight: normal !important;
}
div.x620x300-sb-extended-config #loginHeader #DMNYahooSearch {display: none;}
div.x620x300-sb-extended {
    background-image: url('http://www.dallasnews.com/skins/dmn/gfx/background_top.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #000;
    width: 100%;
}

.SBmodulesContainer {
    background-image: url('http://www.dallasnews.com/skins/dmn/gfx/modulesContainerbg.png');
    background-repeat: repeat-x;
    background-color: #000;
   	height: 581px;
    width: 950px !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	padding-left: 10px !important;
}
.SBmoduleHeader {
    background-image: url("http://www.dallasnews.com/skins/dmn/gfx/SBmodule-header1.png");
    background-repeat: no-repeat;
	background-color: #FFF;
    height: 49px;
    margin: 20px 0 0 !important;
    width: 300px;
	border-top: none!important;
	color: #FFF !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
}

.SBmoduleHeader a {color: #FFF !important;}

.SBmodule {
	background-color: #FFF !important;
	border: none !important;
    color: #000 !important;
    font-size: 12px !important;
    line-height: 14px !important;
	padding: 0 10px !important;
	height: 210px !important;
}

.SBmodule .article.first h3 {
    color: #2A4273 !important;
    font-size: 13px !important;
    line-height: 14px !important;
	font-weight: bold !important;
}

.SBmodule .article.first h3 a {
	font-weight: bold !important;
	font-family: Arial,Helvetica,sans-serif !important;
	font-size: 12px !important;
}


.SBmodule p {
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    line-height: 13px !important;
    margin: 0 0 5px !important;
	color: #000 !important;
}

.SBmodule a {
    color: #2A4273 !important;
    font-size: 12px !important;
    line-height: 14px !important;
}

.SBmoduleAboveAd {
	background-color: #FFF !important;
	border-top: none!important;
    color: #000 !important;
    font-size: 12px !important;
    line-height: 14px !important;
	padding:0 10px !important;
	height: 210px !important;
	margin-bottom: 20px !important;
}

.SBmoduleAboveAd .article.first h3 {
    color: #2A4273 !important;
    font-size: 13px !important;
    line-height: 14px !important;
	font-weight: bold !important;
}

.SBmoduleAboveAd .article.first h3 a {
	font-weight: bold !important;
	font-family: Arial,Helvetica,sans-serif !important;
	font-size: 12px !important;
}

.SBmoduleAboveAd p {
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    line-height: 13px !important;
    margin: 0 0 5px !important;
	color: #000 !important;
}

.SBmoduleAboveAd a {
    color: #2A4273 !important;
    font-size: 12px !important;
    line-height: 14px !important;
}

.SuperBowlFooter {
	color:#FFF !important;
	background-color: #183555 !important;
	overflow: hidden;
	margin: 0 !important;
}
.SuperBowlFooter ul li a {color: #FFF !important;}

.SuperBowlCopyright {
    clear: both;
    color: #ffffff !important;
	background-color: #183555 !important;
    font-size: 0.7em;
    line-height: 1.5em;
    padding-bottom: 20px;
    text-align: center;
}

.SuperBowlCopyright a {color: #ffffff !important;}

.SBMainStory {font-family: Arial, Helvetica, sans-serif !important;}
.SBMainStory h1 {
	color:#FFF!important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 24px !important;
    line-height: 26px !important;
}

.SBMainStory h1 a {color: #FFF!important;}

.SBMainStoryHP {font-family: Arial, Helvetica, sans-serif !important;}
.SBMainStoryHP h1 {
	color: #FFF!important;
    font-size: 22px !important;
    line-height: 26px !important;
}
.SBMainStoryHP h1 span.timeStamp {font-size: 0.4em !important;}

.SBWrapperHP {
    border: 1px solid #B3B3B3;
    background-color: #F5F5F5;
    padding: 9px;
    width: 600px !important;
    margin-bottom: 20px !important;
}
.SBWrapperHP .column-1 {margin: 0 15px 0 0 !important;}
.SBWrapperHP .column-2 {width: 205px !important;}
.SBWrapperHP .column-2 .topPicksItem {width: 205px !important;}
.SBWrapperHP .column-2 .topPicksItem .topPicksTitleWrapper {width: 135px !important;}
.SBWrapperHP .column-2 .topPicksItem .topPicksTitleWrapper .topPicksTitle,
.SBWrapperHP .column-2 .topPicksItem .topPicksTitleWrapper .topPicksTitle a {
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.SBWrapperHP .groupHeadline {border:none !important;}
.SBWrapperHP .slideshow {margin: 0 !important;}
.SBWrapperHP .slideshow .ssSpotlightTitleWrapper {display: none !important;}
.SBWrapperHP .slideshow .ssSpotlightColFiller {width:13px !important;}

.SBWrapperHP.SBColumnNoFloat .column-1,
.SBWrapperHP.SBColumnNoFloat .column-2,
.SBWrapperHP.SBColumnNoFloat .column-3 {
    clear: both !important;
    margin: 0 !important;
    width: 100% !important;
}
.SBWrapperHP.SBColumnNoFloat .topPicks {height: 110px;}
.SBWrapperHP.SBColumnNoFloat .topPicksItem {
     width: 180px !important;
     height: inherit;
}
.SBWrapperHP.SBColumnNoFloat .stories h1 {text-align: center;}
.SBWrapperHP.SBColumnNoFloat .topPicksItem .topPicksImage,
.SBWrapperHP.SBColumnNoFloat .topstory #ssIndexImageHeader {
    display: none !important;
}
.SBWrapperHP.SBColumnNoFloat .topstory img,
.SBWrapperHP.SBColumnNoFloat .topstory #ssIndexImage img {
    width: 600px !important;
}
.SBWrapperHP.SBColumnNoFloat .topstory #ssIndexImage {height: 373px;}
.SBWrapperHP.SBColumnNoFloat .topPicksItem.nextItem {
    padding-left: 15px;
    margin-left: 10px;
    border-left: 1px solid #B3B3B3;
}

.SBbreadCrumb,
.SBbreadCrumb a {
	color: #FFF !important;
}

/* RIGHTCOLUMN */
div#main,
div#mainBottom {
    float: left;
    width: 620px;
    padding-right: 20px;
    padding-bottom: 20px;
}
div#mainFull {clear:both;}
div#right {
    float: left;
    width: 300px;
    padding-bottom: 20px;
}
div.x620x300-sb-extended-config div#main,
div.x620x300-sb-extended-config div#mainBottom {
	padding-left: 10px;
}
div.x620x300-sb-extended-config div#mainFull{padding-left: 0;}
div.x620x300-sb-extended-config div#main {padding-bottom: 0 !important;}


/* FONTS */
h1, h2, h3 {font-weight: normal;}
h4, h5, h6 {font-weight: normal;}

/* HEADER */
div#header {
    clear: both;
    margin-bottom: 10px;
}
div.x620x300-sb-extended-config div#header {background-color: #0B1927 !important;}
div.x620x300-sb-extended-config div#footer {
    background-color: #183555 !important;
	width:100% !important;
}
div.x620x300-sb-extended-config div#outer {
    background-color: #0B1927 !important;
    padding: 0px;
    width: 960px !important;
	text-align: center;
}
div.x620x300-sb-extended-config div#header div.x380x300x220 {
    background:url('http://www.dallasnews.com/skins/dmn/gfx/logoBackground.png');
    padding-bottom: 13px;
    width:960px !important;
    padding-top: 0px;
}
div.x620x300-sb-extended-config div#header div.x380x300x220 div.column-1,
div.x620x300-sb-extended-config div#header div.x380x300x220 div.column-2,
div.x620x300-sb-extended-config div#header div.x380x300x220 div.column-3 {
    padding: 0 !important;
}
div#outer div.ad {
    margin: 0;
    padding: 12px 0 11px 0;
    text-align: center;
}

div#header .column-1 {padding: 8px 0 0 0;}
div#header .column-2 {padding: 20px 0 0 0;}

div#header .x700x220 .column-2 {padding: 8px 0 0 0;}

div#header .x380x540 {height: 110px;}
div#header .x380x540 #DMNHdrLeft {padding-left: 10px;}
div#header .x380x540 .column-2 .DMNHdrLinks ul {padding-right: 10px;}
div#header .x380x540-hsgt {
    height: 104px;
    background: url(http://www.dallasnews.com/skins/dmn/gfx/hsgt_header_bg.jpg) top no-repeat;
	margin-top: 10px;
}
div#header .x380x540-hsgt .column-1 {padding: 0;}
div#header .x380x540-hsgt #DMNHdrLeft {padding-left: 10px;}
div#header .x380x540-hsgt .DMNHdrLinks li {background-image: url(http://www.dallasnews.com/skins/dmn/gfx/arrow_white.png) !important;}
div#header .x380x540-hsgt .column-2 .DMNHdrLinks ul {padding-right: 10px;}
div#header .x380x540-hsgt .column-2 a {
    font-weight: normal !important;
    color: #FFF;
}
div#header .x380x540-sd {
    height: 104px;
    background: url(http://www.dallasnews.com/skins/dmn/gfx/sd_header_bg.jpg) top repeat-x;
	margin-top: 10px;
}
div#header .x380x540-sd .column-1 {padding: 0;}
div#header .x380x540-sd #DMNHdrLeft {padding-left: 10px;}
div#header .x380x540-sd .DMNHdrLinks li {background-image: url(http://www.dallasnews.com/skins/dmn/gfx/arrow_white.png) !important;}
div#header .x380x540-sd .column-2 .DMNHdrLinks ul {padding-right: 10px;}
div#header .x380x540-sd .column-2 a {
    font-weight: normal !important;
    color: #FFF;
}

div#header div.x380x300x220 {
    background: url(http://www.dallasnews.com/skins/dmn/gfx/header_border.png) repeat-x;
    padding-top: 7px;
}

div#header div.trailer h3 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 2px 0 0 0;
}

div#header div.trailers, div#header div.x380x300x220 div.column-2 {overflow: visible;}

div#header div.trailers {
    width: 300px;
    margin: 10px 0 5px 0;
}

div#header div.trailers div.trailer {
    float: left;
    margin: 0;
    padding: 0;
}

div#header div.w140px div.trailer {width: 150px;}

div#header div.trailers div.last {
    position: relative;
    left: 10px;
}

div#header div.x380x300x220 div.column-3 div.weather {
    float: right;
    margin: 3px 10px 5px 10px;
    min-width: 170px;
}

div#header div.pageTitle h5 {
    font-size: 24px;
    font-weight: bold;
    color: #999;
    margin: 11px 0 0 0;
}

/* Header logo */
#DMNHdrLogo {
    width: 333px;
    height: 53px;
    padding: 13px 0 0 2px;
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/dnlogo.png);
    background-repeat: no-repeat;
    background-position: 2px 13px;
}
#DMNHdrLogo-hsgt {
    width: 333px;
    height: 62px;
    padding: 13px 0 0 2px;
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/hsgt_logo.png);
    background-repeat: no-repeat;
    background-position: 2px 13px;
}
#DMNHdrLogo-sd {
    width: 317px;
    height: 40px;
    padding: 13px 0 0 2px;
    margin-top: 15px;
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/sd_logo.png);
    background-repeat: no-repeat;
    background-position: 2px 13px;
}
#DMNHdrScriptLogo {
    width: 139px;
    height: 15px;
    padding: 0;
    margin-left: 5px;
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/dnscriptlogo.png);
    background-repeat: no-repeat;
    background-position: left top;
}
#DMNHdrScript-hsgt {
    width: 300px;
    height: 15px;
    padding: 5px 0 0 0;
    margin-left: 5px;
    font-size: 10px;
}
#DMNHdrScript-hsgt a {color: #FFF;}

/* Header Links */
div#header .DMNHdrLinks ul {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.78em;
    margin: 0;
    float: right;
    padding: 0;
    background: none;
    text-transform: none;
}

div#header .DMNHdrLinks li {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/arrow-blue.png);
    background-position: right 5px;
    background-repeat: no-repeat;
    padding: 0 10px;
    line-height: 1.1em;
}

div#header .DMNHdrLinks li a {
    color: #005689;
    border-right: none;
    padding: 0;
}

div#header .DMNHdrLinks li a:hover {
    background: none;
    text-decoration: underline;
}

/* Superbowl header */
div#SBHdrWrapper {clear: both;}
div#SBHdrWrapper .SBHdrColumn-1 {
    float: left;
    width: 190px;
}
div#SBHdrWrapper .SBHdrColumn-2 {
    float: left;
    width: 190px;
}
div#SBHdrWrapper #SBHdrLogo {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/dallasnewsLogo.png);
    height: 29px;
    width: 176px;
    position: relative;
    left: 36px;
    top: 5px;
    background-repeat: no-repeat;
}
div#SBHdrWrapper #SBHdrSuperLogo {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/superbowlLogo.png);
    height: 30px;
    width: 190px;
    position: relative;
    left: 36px;
    top: 5px;
    background-repeat: no-repeat;

}
div#SBHdrWrapper #SBHdrDigitLogo {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/xlvlogo.png);
    height: 56px;
    width: 190px;
    position: relative;
    left: 36px;
    top: 8px;
    background-repeat: no-repeat;
}

/* CONTENT */
div#content {
    clear: both;
    min-height: 1000px; /* Should be deleted */
}

/* FOOTER */
div#footer {clear: both;}

/* TOP */
div.x140x460x300-extended-config div#top {
    margin-bottom: 10px;
    border-bottom: 4px solid #D9D9D9;
}

/* MAINCONTENT */
div.x620x300-config div#main {
    border-right: 1px solid #D9D9D9;
}
div.x140x460x300-extended-config div#main {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}

/* BOTTOM */
div.x140x460x300-extended-config div#bottom {border-top: 4px solid #D9D9D9;}

/* LOGO */
div#header div.logo img {margin: 0;}

/* TRAILERS */
div#sectionTrailer {
    padding: 13px 0 0 0;
    border-top: 1px dashed #D9D9D9;
    margin: 0 0 13px 0;
}
div#differentLookingPoll div.content {
    background-color: #5aabd6;
    color: #FFF;
}
div#moreSectionList {
    background: none;
    border: 1px solid #999;
}

/* REF BOXES ON THE ARTICLE PAGES */
.DMNReferWrapper {
	clear:right;
	float: right;
	margin-left: 10px;
	width: 302px;
}
.DMNRefer {
    border: 1px solid #a8a8a8;
    margin-bottom: 10px;
    width: 300px;
}
.DMNReferHdr {
    background-color: #dedede;
    width: 290px;
    height: 24px;
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}
.DMNReferBdy {
    padding: 10px 5px 10px 10px;
    font-size: .95em;
    line-height: 1.3em !important;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.DMNReferBdy p {
    margin: 0 !important;
    padding-top: 0;
    padding-bottom: 5px;
}
.DMNReferBdy .DMNReferPhotoWrapper {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.DMNReferBdy .DMNReferPhotoWrapper .DMNReferPhoto {margin:0 auto;}
.DMNReferBdy .DMNReferPhotoWrapper .DMNReferPhotoBy {
    width: 250px;
    font-size: 0.7em;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    line-height: 1em;
    padding-bottom: 10px;
}
.DMNReferBdy .DMNReferPhotoWrapper .DMNReferPhotoDescription {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 1.1em;
    padding-bottom: 10px;

}
.DMNReferBlog {background-image:url(http://www.dallasnews.com/skins/dmn/gfx/blogs/blog-icon.jpg);}
.DMNReferVideo {background-image:url(http://www.dallasnews.com/skins/dmn/gfx/video/video-icon.jpg);}
.DMNReferPhotos {background-image:url(http://www.dallasnews.com/skins/dmn/gfx/picture/photos-icon.jpg);}
.DMNReferBlog,
.DMNReferVideo,
.DMNReferPhotos {
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 16px !important;
}
.DMNReferImg img {
    margin-top: 5px;
    border: 1px solid #b8b8b8;
}

/* Related items on section pages */
.DMNRelatedItemsSection {
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.DMNRelatedItemsSection p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    padding: 0 0 0 10px !important;
    line-height: 1.45em !important;
	background-image:url('http://www.dallasnews.com/skins/dmn/gfx/bullet.png') !important;
	background-position: 0px 7px !important;
	background-repeat:no-repeat !important;
	color:#666666;
}

.DMNBulletLink {
    margin: 0 !important;
}
.DMNListImage {
	float: right;
	padding: 10px 0 10px 10px;
	width: 220px;
}

/* recipes.css */
div.recipes {margin: 0 0 20px 0;}

.headlinelist .recipe div a {font-size: 12px;}
.w80lead {width: 80px;}
.w100lead {width: 100px;}
.w140lead {width: 140px;}
.w220lead {width: 220px;}
.w300lead {width: 300px;}
.w460lead {width: 460px;}
.w620lead {width: 620px;}

.photocaption {
    color: #999;
    clear: both;
    font-size: 11px;
    margin-top: -5px;
    text-align: right;
}
div.recipes p.teaser {font-size: 0.9em;}
div.recipes .recipeFeaturedWrapper .recipeFeaturedText {font-size: 0.8em;}

/* Listen Live Ticket */
.sdTicketContainer {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/gradiant-bg.jpg);
    background-repeat: repeat-x;
    border: 1px solid #E0DFDF;
    float: left;
    margin-top: 20px;
    padding: 10px;
    width: 280px;
}
.sdTicketHeader {
    color: #313131;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
	margin-top: 20px;
    padding: 0 0 10px 0;
}
.sdTicketHeader a {color: #313131 !important;}
.sdTicketTitle {
    font-size: 11px;
    line-height: 13px;
}
.sdTicketLogo {
    height: 51px;
    width: 70px;
    float: right;
    padding-left: 1px;
}

/* weather */
.weatherGroup {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/weather/pixel_today.jpg);
    background-position: top left;
    background-repeat: repeat-x;
    clear: both;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 130%;
}
.weatherGroup div.x385x215 div.column-1 { overflow: visible !important; }

.weatherGroup .weatherLabel,
.travelForecastWrapper .weatherLabel,
.weatherGroup div.TwelveHourForecastWeatherTitle,
.localForecastTextWeather .localForecastTextWeatherTitle {
	font-weight: bold;
}

.localForecastTextWeather {
    clear: both;
    font-size: 11px;
    padding-bottom: 20px;
}
.localForecastTextWeather .localForecastTextWeatherTitle {
    font-size: 14px;
    float: left;
    width: 150px;
    padding-bottom: 10px;
}
.localForecastTextWeather .localForecastTextWeatherPoweredBy {
    float: left;
    width: 310px;
    text-align: right;
    font-size: 10px;
    text-transform: uppercase;
    color: #b4b4b4;
}
.localForecastTextWeather .localForecastTextWeatherPoweredBy img{
	height: 13px;
	width: 24px;
	vertical-align: center;
}
.localForecastTextWeather .localForecastTextWeatherBody {clear: both;}

.almanacWeather {padding: 20px 0;}
.almanacWeather .almanacTitle {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}
.almanacWeather .almanacText {padding-bottom: 5px;}

.weatherGroup div.TwelveHourForecastWeatherWrapper {
    margin-top: 10px;
    width: 200px;
    padding: 5px;
}
.weatherGroup div.TwelveHourForecastWeatherContainer {
    clear: both;
    font-size: 11px;
    width: 200px;
}
.weatherGroup div.TwelveHourForecastWeatherTitle {
    font-size: 10px;
    padding-bottom: 10px;
    width: 200px;
}
.weatherGroup div.TwelveHourForecastWeather {
    float: left;
    padding-right: 8px;
}

.weatherGroup div.TwelveHourForecastWeatherImg {width: 24px;}
.weatherGroup div.TwelveHourForecastWeatherTime {font-size: 10px;}
.weatherGroup div.TwelveHourForecastWeatherTemp {font-size: 10px;}
.weatherGroup div.wu-condrow { white-space: nowrap; }

.weatherGroup div.tempConv {
	float: right;
	padding-right: 20px;
}

/* travel forecast */
.travelForecastWrapper {
    padding-bottom: 20px;
    clear:both;
}
.travelForecastOuterWrapper {
    padding-bottom: 0px;
}
.travelForecastNavWrapper {
    padding-bottom: 20px;
    font-size: 11px;
}
.travelForecastNavWrapper select {
    border: 1px solid #C3C3C3;
    color: #000;
    width: 100%;
    font-size: 11px;
}
.travelForecastNavWrapper .travelForecastNavTitle {
    clear: both;
    padding-bottom: 2px;
}
.travelForecastNavWrapper .travelForecastNavDescription {padding-bottom: 10px;}
.travelForecast {
    background-color: #D3D8DE;
    padding: 10px;
    text-align: center;
}
.travelForecast .travelForecastInner {
    text-align: left;
    margin: 0 auto;
    width: 390px;
}
.travelForecastOuterWrapper .travelForecast .FiveDayForecastTravel {
	clear: both;
	padding: 10px 0;
}
.travelForecastOuterWrapper .travelForecast .FiveDayForecastTravel .FiveDayForecastTravelTitle {
    background-color: #28375B;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    padding: 2px 0 2px 5px;
    clear: both;
    width: 385px;
}
.travelForecastOuterWrapper .travelForecast .FiveDayForecastTravel .FiveDayForecastTravelBody {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/top10_bg.gif);
    height: 100px;
    background-repeat: no-repeat;
    background-position: top left;
    clear: both;
    width: 390px;
}
.FiveDayForecastTravelBody .wu-hp5dayrow {
	float: left;
	height: 100px;
	width: 77px;
}
.FiveDayForecastTravelBody .wu-hp5dayrow .wu-hp5dayofweek {
	font-size: 10px;

	line-height: 12px;
	text-align: center;
}
.FiveDayForecastTravelBody .wu-hp5dayrow .wu-hp5dayimg {text-align: center;}
.FiveDayForecastTravelBody .wu-hp5dayrow .wu-hp5dayDetails {
	font-size: 10px;
	line-height: 12px;
	text-align: center;
}
.travelForecastInner div.wu-currentTempTravel {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/single_bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    float: left;
    height: 100px;
    margin: 0;
    padding-right: 10px;
    text-align: center;
    width: 70px;
}
.travelForecastInner div.wu-currentTempTravel div.wu-nowText {
    color: #000;
    font-size: 13px;
    line-height: 14px;
    padding-top: 10px;
    text-transform: uppercase;

}
.travelForecastInner div.wu-currentTempTravel div.wu-temp {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    padding-top: 10px;
}

.travelForecastInner div.wu-currentTempTravel div.wu-hiLo {
    color: #000;
    font-size: 10px;
    line-height: 12px;
    padding-top: 10px;
}
.travelForecastInner div.wu-currentconditionsTravel {
    float: left;
    margin: 0;
    padding: 5px 0 0 0;
}
.travelForecastInner div.wu-currentconditionsTravel div.wu-conddate {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
}
.travelForecastInner div.wu-currentconditionsTravel div.wu-condsky {padding: 3px 0;}
.travelForecastInner div.wu-currentconditionsTravel div.wu-condsky span.wu-condvalue {
    font-size: 13px;
    font-weight: bold;
}
.travelForecastInner div.wu-currentconditionsTravel div.wu-condLeft,
.travelForecastInner div.wu-currentconditionsTravel div.wu-condRight {
    float: left;
    width: 100px;
    font-size: 11px;
}
.travelForecastInner div.wu-currentconditionsTravel div.wu-condLeft div.wu-condrow {
    float: none;
	width: 100%;
}

/* current temp */
.weatherGroup div.wu-currentTemp {
    float: left;
    margin: 0;
    padding:0 5px 0 100px;
    background-repeat: no-repeat;
    background-position: top left;
    width: 80px;
    height: 130px;
}
.weatherGroup div.wu-currentTemp div.wu-nowText {
    color: #FFF;
    font-family: Arial Black;
    font-size: 22px;
    line-height: 22px;
    padding-top: 5px;
    text-transform: uppercase;
}
.weatherGroup div.wu-currentTemp div.wu-temp {
    color: #28375B;
    font-family: Arial Black;
    font-size: 40px;
    line-height: 41px;
    padding: 1px 0 0 0;
}
.weatherGroup div.wu-currentTemp div.wu-city {
    color: #28375B;
    font-family: Arial Black;
    font-size: 15px;
    line-height: 18px;
    padding: 0 0 0 2px;
    background-image: url(http://www.dallasnews.com/skins/dmn/gif/weather/);
}
.weatherGroup div.wu-currentTemp div.wu-hiLo {
    color: #28375B;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 12px;
    padding-left: 2px;
    padding-top: 1px;
}
.weatherGroup div.wu-currentconditions {
    float: left;
    margin: 0;
    padding: 5px 0 0;
    width: 200px;
}
.weatherGroup div.wu-currentconditions div.wu-conddate {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    white-space: nowrap;
}
.weatherGroup div.wu-currentconditions div.wu-condsky {padding: 3px 0;}
.weatherGroup div.wu-currentconditions div.wu-condsky span.wu-condvalue {
    color: #28375B;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}
.weatherGroup div.wu-currentconditions div.wu-condLeft,
.weatherGroup div.wu-currentconditions div.wu-condRight {
    float: left;
    width: 100px;
}
.weatherGroup div.wu-currentconditions div.wu-condLeft div.wu-condrow {
    float: none;
	width: 100%;
}
.weatherGroup div.wu-currentconditions .zipsearchweatherpage {
	clear: both;
	margin: 0;
	padding: 5px 0 3px;
	white-space: nowrap;
}
.weatherGroup div.wu-currentconditions .zipsearchweatherpage .query {
	float: left;
	margin-top: 2px;
}
.weatherGroup div.wu-currentconditions .zipsearchweatherpage .submit {
	height: 23px;
	width: 60px;
}
.weatherGroup div.DayForecastWeather {
	clear: both;
	font-size: 11px;
	padding-bottom: 20px;
}
.weatherGroup div.DayForecastWeather div.DayForecastWeatherTitle {
    clear: both;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}
.weatherGroup div.DayForecastWeather div.DayForecastWeatherWrapper {
	float: left;
	width:110px;
	padding-right: 10px;
}
div.DayForecastWeatherWrapper div.DayForecastWeatherWrapperColumnLeft {
	float:left;

	width: 24px;
	padding-right: 5px;
}
div.DayForecastWeatherWrapper div.DayForecastWeatherWrapperColumnRight {
	float: left;
	width: 81px;
}

div.currentConditions-superbowl div.wu-currentTemp-sb {
    background-image: url(http://www.dallasnews.com/skins/dmn/gfx/weatherBox.png);
    background-position: top left;
    background-repeat: no-repeat;
    height: 46px;
    width: 269px;
    margin-left: 20px;
    position: relative;
    top: 10px;
}
div.currentConditionssuperbowl div.wu-currentTemp-sb div.wu-image-sb {
    float: left;
    width: 35px;
    padding: 5px;
}
div.currentConditionssuperbowl div.wu-currentTemp-sb div.wu-temp-sb {
    float: left;
    width: 70px;
    color: #B2D0ED;
    font-size: 34px;
    line-height: 36px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
}
div.currentConditions-superbowl div.wu-currentTemp-sb div.wu-condvalue-sb {
    float: left;
    width: 145px;
    padding-top: 5px;
    padding-bottom: 3px;
}
div.currentConditions-superbowl div.wu-currentTemp-sb div.wu-condvalue-sb div.wu-currentconditions-sb {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-family: Arial,Helvetica,sans-serif;
}
div.currentConditions-superbowl div.wu-currentTemp-sb div.wu-condvalue-sb div.completeWeather-sb a {
    color: #B2D0ED !important;
    font-size: 14px;
    line-height: 16px;
}
div.x620x300-hsgt-extended-config div#hs-schoolname {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #000;
}
div.x620x300-hsgt-extended-config div#hs-schoolname a {color: #000;}
div.x620x300-hsgt-extended-config div.hsSportIds {
    font-size: 11px;
}
div.x620x300-hsgt-extended-config div.hs-socialMediaLinks {
    clear: both;
    text-align: right;
    font-size: 11px;
}
div.x620x300-hsgt-extended-config div.hsSportIds,
div.x620x300-hsgt-extended-config div.hsSportIds a,
div.x620x300-hsgt-extended-config div.hs-socialMediaLinks a {
    text-decoration: none !important;
    color: #336799 !important;
}

div#main {
    float: left;
    width: 620px;
    padding-right: 20px;
    padding-bottom: 20px;
}
div#mainBottom {
    float: left;
    width: 620px;
    padding-right: 20px;
    padding-bottom: 20px;
}
div#mainFull {clear: both;}
div#right {
    float: left;
    width: 300px;
    padding-bottom: 20px;
}