/* global.css */
html,body {
	margin: 0;
	padding: 0;
}

body {
    width: 100%;
    background-color: #ffffff;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

div {
	/*overflow: hidden;*/
}

ul, ol, li, fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

/* CLEARING OF FLOATS */

.clearfix {
	clear: both;
	display: inline-table;
	/* Hides from IE-mac \*/
	height: 1%;
	display: block;
	/* End hide from IE-mac */
}

html>body .clearfix {
	height: 1px;
}

/* FONT SETTINGS */

h1 {
	font-size: 1.55em;
	line-height:1.2em;
	font-family:Arial, Helvetica, sans-serif !important;
	margin: 0 0 .3em 0;
}



h1 a:hover {
	text-decoration: none !important;
}


h2 {
	font-size: 1.2em;
	font-family:Arial, Helvetica, sans-serif !important;
	line-height:1.23em;
	margin: 0 0 7px 0;
}

h3 {
	font-size: 1.2em;
	margin: 0 0 2px 0;
	font-family:Arial, Helvetica, sans-serif !important;
}

h4 {
	font-size: 1.1em;
	margin: 0 0 5px 0;
}

h5, h6 {
	font-size: 1em;
	margin: 0 0 5px 0;
}

p {
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 1.65em;
}

a, a:active, a:visited {
    color: #005689;
    text-decoration: none;
}
.DMNStoryTease{
	font-size:0.8em;
	line-height:1.4em;
        padding-bottom: 5px;
}
div.x380x220-sb .DMNStoryTease{
	color: #fff;
}
a:hover {
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

textarea, input {
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

img {    
    padding: 0;
    border: 0px;
}

div.tabbedView {
  background-color:transparent !important;
}

.error {
  color:red;
}

@media print {
	.noPrint{
		display:none;
	}
}

.headlineStoryList .article,
.groupHeadline
{
clear:both;
}
