/* grid.css */
div.x620x300-config div#main {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 9px 0 0;
	width: 620px;
}
div.x620x300-config div#right {
	float: left;
	width: 300px;
	margin: 0;
}

div.x140x460x300-extended-config div#top {
  clear:both;
}

div.x140x460x300-extended-config div#left {
	float: left;
	margin: 0 0 10px;
	padding: 0;
	width: 140px;
}


div.x140x460x300-extended-config div#main {
	float: left;
	margin: 0 10px 10px;
	padding: 0 9px;
	width: 460px;
}

div.x140x460x300-extended-config div#right {
	float: left;
	width: 300px;
	margin: 0 0 10px;
  clear:right;
}

div.x140x460x300-extended-config div#bottom {
	margin: 10px 0 0;
  padding-top: 10px;
  clear:both;
}

/* x140x140 */
div.x140x140 {
	clear: both;
	width: 300px;
	margin: 0;
}

div.x140x140 div.column-1 {
	float: left;
	width: 140px;
	margin: 0 20px 0 0;
}

div.x140x140 div.column-2 {
	float: left;
	width: 140px;
	margin: 0;
}

/* x700x220 */
div.x700x220 {
	clear: both;
	width: 940px;
	margin: 0;
}

div.x700x220 div.column-1 {
	float: left;
	width: 700px;
	margin: 0 20px 0 0;
}

div.x700x220 div.column-2 {
	float: left;
	width: 220px;
	margin: 0;
}

/* x620x300 */
div.x620x300 {
	clear: both;
	width: 940px;
	margin: 0;
}

div.x620x300 div.column-1 {
	float: left;
	width: 620px;
	margin: 0 20px 0 0;
}

div.x620x300 div.column-2 {
	float: left;
	width: 300px;
	margin: 0;
  font-size:0.9em;
}
/* x460x460 */
div.x460x460 {
	clear: both;
	width: 940px;
	margin: 0;
}

div.x460x460 div.column-1 {
	float: left;
	width: 460px;
	margin: 0 20px 0 0;
}

div.x460x460 div.column-2 {
	float: left;
	width: 460px;
	margin: 0;
}

/* x380x540-hsgt */
div.x380x540-hsgt {
    clear: both;
    width: 940px;
    margin: 0;
}

div.x380x540-hsgt div.column-1 {
    float: left;
    width: 380px;
    margin: 0 20px 0 0;
}

div.x380x540-hsgt div.column-2 {
    float: left;
    width: 540px;
    margin: 0;
}

/* x380x540-sd */
div.x380x540-sd {
    clear: both;
    width: 940px;
    margin: 0;
}

div.x380x540-sd div.column-1 {
    float: left;
    width: 380px;
    margin: 0 20px 0 0;
}

div.x380x540-sd div.column-2 {
    float: left;
    width: 540px;
    margin: 0;
}

/* x380x540 */
div.x380x540 {
    clear: both;
    width: 940px;
    margin: 0;
}

div.x380x540 div.column-1 {
    float: left;
    width: 380px;
    margin: 0 20px 0 0;
}

div.x380x540 div.column-2 {
    float: left;
    width: 540px;
    margin: 0;
}

/* x380x300x220 */

div.x380x300x220 {
	clear: both;
	width: 940px;
	margin: 0;
}

div.x380x300x220 div.column-1 {
	float: left;
	width: 380px;
	margin: 0 20px 0 0;
}

div.x380x300x220 div.column-2 {
	float: left;
	width: 300px;
	margin: 0 20px 0 0;
}

div.x380x300x220 div.column-3 {
	float: left;
	width: 220px;
	margin: 0;
}

/* x380x300 */

div.x380x300 {
	clear: both;
	width: 700px;
	margin: 0;
}

div.x380x300 div.column-1 {
	float: left;
	width: 380px;
	margin: 0 20px 0 0;
}

div.x380x300 div.column-2 {
	float: left;
	width: 300px;
	margin: 0;
}

/* x220x220x220 */

div.x220x220x220 {
	clear: both;
	width: 700px;
	margin: 0;
}
div.x220x220x220 div.column-1,
div.x220x220x220 div.column-2 {
	float: left;
	width: 220px;
	margin: 0 20px 0 0;
}
div.x220x220x220 div.column-3 {
	float: left;
	width: 220px;
	margin: 0;
}

/* x220x220x220x220 */

div.x220x220x220x220 {
	clear: both;
	width: 940px;
	margin: 0;
}
div.x220x220x220x220 div.column-1,
div.x220x220x220x220 div.column-2,
div.x220x220x220x220 div.column-3 {
	float: left;
	width: 220px;
	margin: 0 20px 0 0;
}
div.x220x220x220x220 div.column-4 {
	float: left;
	width: 220px;
	margin: 0;
}

/* x140x140x140x140 css styles */
div.x140x140x140x140 {
	clear: both;
	width: 620px;
	margin: 0;
}

div.x140x140x140x140 div.column-1,
div.x140x140x140x140 div.column-2,
div.x140x140x140x140 div.column-3 {
	float: left;
	width: 140px;
	margin: 0 20px 0 0;
}

div.x140x140x140x140 div.column-4 {
	float: left;
	width: 140px;
	margin: 0;
}

/* x140x460 css styles */
div.x140x460 {
    clear: both;
    width: 620px;
    margin: 0;
	overflow:hidden;
}

div.x140x460 div.column-1 {
    float: left;
    width: 140px;
    margin: 0 20px 0 0;
    overflow: hidden;
}

div.x140x460 div.column-2 {
    float: left;
    width: 460px;
    margin: 0px;
    overflow: hidden;
}

/* x300x300 css styles */
div.x300x300 {
	clear: both;
	width: 620px;
	margin: 0;
	overflow: hidden;
}

div.x300x300 div.column-1 {
	float: left;
	width: 300px;
	margin: 0 20px 0 0;
	overflow: hidden;
}

div.x300x300 div.column-2 {
	float: left;
	width: 300px;
	margin: 0;
	overflow: hidden;
}

/* x380x220 */

div.x380x220 {
	clear: both;
	width: 620px;
	margin: 0;
	overflow: hidden;
}

div.x380x220 div.column-1 {
	float: left;
	width: 380px;
	margin: 0 20px 0 0;
}

div.x380x220 div.column-2 {
	float: left;
	width: 220px;
	margin: 0;
}

div.x380x220 div.x140x220 div.column-1 {
	float: left;
	width: 140px;
	margin: 0 20px 0 0;
}

div.x380x220 div.x140x220 div.column-2 {
	float: left;
	width: 220px;
	margin: 0 0 0 0;
}

/* x380x220-sb (SuperBowl) */

div.x380x220-sb {
	clear: both;
	width: 620px;
	margin: 0;
        background-color: #081A28;
        border: 1px solid #95a8b7;
}

div.x380x220-sb div.column-1 {
	float: left;
	width: 380px;
        padding: 10px;
	margin: 0px;
}

div.x380x220-sb div.column-2 {
	float: left;
	width: 220px;
        padding: 10px 0px;
	margin: 0;
}
div.x380x220-sb a{ color: #B2D0ED;}
/* x220x220x140 */

div.x220x220x140 {
	clear: both;
	width: 620px;
	margin: 0;
}

div.x220x220x140 div.column-1,div.x220x220x140 div.column-2 {
	float: left;
	width: 220px;
	margin: 0 20px 0 0;
}

div.x220x220x140 div.column-3 {
	float: left;
	width: 140px;
	margin: 0;
}

/* x300x140x140 */
div.x300x140x140 {
	clear: both;
	width: 620px;
	margin: 0;
}

div.x300x140x140 div.column-1 {
	float: left;
	width: 300px;
	margin: 0 20px 0 0;
}
div.x300x140x140 div.column-2 {
  float: left;
  width: 140px;
  margin: 0 20px 0 0;   
}
div.x300x140x140 div.column-3 {
	float: left;
	width: 140px;
	margin: 0;
}

/* x460x140 */

div.x460x140 {
	clear: both;
	width: 620px;
	margin: 0;
}

div.x460x140 div.column-1 {
	float: left;
	width: 460px;
	margin: 0 20px 0 0;
}

div.x460x140 div.column-2 {
	float: left;
	width: 140px;
	margin: 0;
}
/* x385x215 */

div.x385x215 {
	clear: both;
	width: 620px;
	margin: 0;
}

div.x385x215 div.column-1 {
	float: left;
	width: 385px;
	margin: 0 20px 0 0;
}

div.x385x215 div.column-2 {
	float: left;
	width: 215px;
	margin: 0;
}

/* x300x140 */
div.x300x140 {
	clear: both;
	width: 460px;
	margin: 0;
}

div.x300x140 div.column-1 {
  width: 300px;
  float: left;
  margin: 0 20px 0 0;
}

div.x300x140 div.column-2 {
  width: 140px;
  float: left;
  margin: 0;
}

/* x220x220 */
div.x220x220 {
	clear: both;
	width: 460px;
	margin: 0;
	overflow:hidden;
}

div.x220x220 div.column-1 {
  width: 220px;
  float: left;
  margin: 0 20px 0 0;
}

div.x220x220 div.column-2 {
  width: 220px;
  float: left;
  margin: 0;
}

/* x140x140x140 */
div.x140x140x140 {
  width: 460px;
  clear: both;
  margin: 0;
}

div.x140x140x140 div.column-1 {
  width: 140px;
  float: left;
  margin: 0 20px 0 0;
}

div.x140x140x140 div.column-2 {
  width: 140px;
  float: left;
  margin: 0 20px 0 0;
}

div.x140x140x140 div.column-3 {
  width: 140px;
  float: left;
  margin: 0;
}

/* WRAPPED */
div.floatingContent-right {
	float: right;
	margin: 0 0 0 10px;
	padding: 0;
	overflow: hidden;
  clear:both;
}

div.floatingContent-left {
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	overflow: hidden;
  clear:both;
}

div.wrappingContent, div.wrappingContent * {
	overflow: visible;
}
/* x620-weather */
div.x620-weather {}
div.x620-weather div.column-1 {}

/* x220x460x220 */
div.x220x460x220 {
	clear: both;
	width: 940px;
	margin: 0;
}

div.x220x460x220 div.column-1 {
	float: left;
	width: 220px;
	margin: 0 20px 0 0;
        padding: 0px !important;
}

div.x220x460x220 div.column-2 {
	float: left;
	width: 460px;
	margin: 0 20px 0 0;
         padding: 0px !important;
}
div.x220x460x220 div.column-3 {
	float: left;
	width: 220px;
	margin: 0 0px 0 0;
         padding: 0px !important;
}
/* x460x220x220 */
div.x460x220x220 {
	clear: both;
	width: 940px;
	margin: 0;
}

div.x460x220x220 div.column-1 {
	float: left;
	width: 460px;
	margin: 0 20px 0 0;
        padding: 0px !important;
}

div.x460x220x220 div.column-2 {
	float: left;
	width: 220px;
	margin: 0 20px 0 0;
         padding: 0px !important;
}
div.x460x220x220 div.column-3 {
	float: left;
	width: 220px;
	margin: 0 0px 0 0;
         padding: 0px !important;
}
/* x300x300x300 */
div.x300x300x300 {
	clear: both;
	width: 940px;
	margin: 0;
        padding: 0px 0px 10px 0px;
}

div.x300x300x300 div.column-1 {
	float: left;
	width: 300px;
	margin: 0 20px 0 0;
}

div.x300x300x300 div.column-2 {
	float: left;
	width: 300px;
	margin: 0 20px 0 0;
}
div.x300x300x300 div.column-3 {
	float: left;
	width: 300px;
	margin: 0 0px 0 0;
}