@import url("http://www.dallasnews.com/skins/dmn/css/global.css");
@import url("http://www.dallasnews.com/skins/dmn/css/navigation.css");
@import url("http://www.dallasnews.com/skins/dmn/css/grid.css");
@import url("http://www.dallasnews.com/skins/dmn/css/dmn.css");
@import url("http://www.dallasnews.com/skins/dmn/css/custom.css");
@import url("http://www.dallasnews.com/skins/dmn/css/jquery-ui-1.7.3.custom.css");
@import url("http://www.dallasnews.com/skins/dmn/css/accordion.css");
@import url("http://www.dallasnews.com/skins/dmn/css/widgets.css");
@import url("http://www.dallasnews.com/resources/css/cgm.css");
@import url("http://www.dallasnews.com/resources/css/customSearch.css");
@import url("http://www.dallasnews.com/resources/css/fullCalendar.css");

@media screen {
.myVideoPlayer {
width: 100%;
height: 360px;
float: left; 
}
