img {border:0;}
#nav {
background-image:url("http://ece.dallasnews.com/skins/dmn/gfx/mainMenu/nav1-bg.png");
background-repeat:repeat-x;
clear:both;
height:63px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:940px;
padding:0;
margin:0;
}
#nav a {
color:#ffffff;
font-weight:bold;
text-decoration:none;
}
#nav ul
{
list-style:none;
margin:0;
padding:0;
position:relative;
}
#nav ul#nav_top li.top {
    padding:0px !important;

}
#nav ul#nav_top li.top a {
    padding:8px 8px 0px !important;
    height:21px;
    display: block;
}
#nav ul li
{
float:left;
/*padding:7px 9px 5px 9px;*/
padding:8px 9px 5px 9px;
}
#nav ul li a:hover {
text-decoration:none;
}
#nav ul li.active
{
background-color:#dadada;
height:30px;
}
#nav ul li.active a, #nav ul li.default a {
color:#333333;
text-decoration:none;
}
#nav ul.sub_nav {
background-image:url("http://ece.dallasnews.com/skins/dmn/gfx/mainMenu/subnav1-bg.png");
background-repeat:repeat-x;
/*background-color:#d9d9d9;*/
display:none;
margin:0;
padding:0;
position:absolute;
text-transform:none;
top:30px;
width:938px;
left:0;
height:28px;
border-bottom: 1px solid #aaaaaa;
border-right: 1px solid #aaaaaa;
border-left: 1px solid #aaaaaa;
}
#nav ul.sub_nav li.sub
{
padding:0px;
/*border:1px solid transparent;*/
border-right:1px solid transparent;
border-left:1px solid transparent;
}
#nav ul .sub_nav li.sub a, #nav ul li.active .sub_nav li.sub a, #nav ul li.default .sub_nav li.sub a {
color:#333333;
font-size:12px;
}
#nav ul ul.sub_nav li.sub a {
text-decoration:none;
}
#nav ul ul.sub_nav li.sub:hover {
border-right:1px solid #aaaaaa;
border-left:1px solid #aaaaaa;
background-color:#e9e9e9;
height:29px !important;
}
#nav ul ul.sub_nav li.subnav_active {
border-right:1px solid #aaaaaa;
border-left:1px solid #aaaaaa;
background-color:#e9e9e9;
height:29px;
}
#nav ul li.active ul.sub_nav {
display:block;
}
#nav ul li.inactive .sub_nav {
display:none !important;
}
#nav ul li.default.inactive .sub_nav {
display:none !important;
}
#nav ul li.default.inactive a {
color:#ffffff;
}
#nav ul#nav_top li#nav_0
{
background-image:url("http://ece.dallasnews.com/skins/dmn/gfx/mainMenu/nav1-home-white.png");
background-position:8px 9px;
background-repeat:no-repeat;

}
#nav ul#nav_top li#nav_0.active
{
background-image:url("http://ece.dallasnews.com/skins/dmn/gfx/mainMenu/nav1-home-gray.png");
background-position:8px 9px;
background-repeat:no-repeat;

padding:0px !important;
}

form.DMNSearch
{
padding:0 5px 0 0;
margin:0;
}
form.DMNSearch .DMNSearchText
{
font-size:11px;
height:15px;
width:125px;
margin:0;
padding:0;
}
form.DMNSearch .DMNSearchDD
{
width:115px;
margin:0 0 0 3px;
font-size:12px;
padding:0;
}
form.DMNSearch .DMNSearchGo
{
margin-left:3px;
}
form.DMNSearch .DMNSearchGoWrapper
{
width:17px;
height:18px;
margin:0;
padding:0;
position:relative;
top:4px;
}
#nav ul li.DMNSearchEl
{
padding:2px 0 0 0;
float:right;
}

/* superbowl nav bar */
div.x620x300-sb-extended-config div#navbar {
background-image:url("http://ece.dallasnews.com/skins/dmn/gfx/navBar.jpg");
background-position:top left;
font-family:Arial, Helvetica, sans-serif;
background-repeat:repeat-x;
height:31px;
padding:1px 0px;
width:960px;
}
div.x620x300-sb-extended-config div#navbar .topNavText {
    float: left;
  padding-left: 10px;
  height: 31px;
  width:120px;
}
div.x620x300-sb-extended-config div#navbar .topNavText a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #000;
}

div.x620x300-sb-extended-config div#navbar .navbar_leftColumn {
    width:645px;
    padding-right: 20px;
    float: left;
}
div.x620x300-sb-extended-config div#navbar .navbar_rightColumn {
    width:275px;
    float: left;
}
div.x620x300-sb-extended-config div#navbar div.topNavSB {
    float: left;
    height: 31px;
    border-right: 1px solid #c9c9c9;
}
div.x620x300-sb-extended-config div#navbar div.topNavSB a,
div.x620x300-sb-extended-config div#navbar div.topNavSB a:visited  {
     color:#000;
     padding: 0px 10px;
     display: block;
     text-transform: uppercase;
     font-family: Arial,Helvetica,Sans-Serif;
     font-size: 16px;
     font-weight: bold;
     line-height: 24px;
     text-decoration: none;
     height: 31px;
}
div.x620x300-sb-extended-config div#navbar div.topNavSB_on {
    background-color: #618ec7;
    float: left;
    height: 30px;
   border-right: 1px solid #c9c9c9;
}
div.x620x300-sb-extended-config div#navbar div.topNavSB_on a,
div.x620x300-sb-extended-config div#navbar div.topNavSB_on a:visited {
     color:#fff;
     padding: 0px 10px;
     display: block;
     text-transform: uppercase;
     font-family: Arial,Helvetica,Sans-Serif;
     font-size: 16px;
     font-weight: bold;
     line-height: 24px;
     text-decoration: none;
      height: 31px;
}
div.x620x300-sb-extended-config div#navbar .DMNSearchText
{
font-size:11px;
height:15px;
width:100px;
margin:0;
padding:0;
}


 /* raa search navbar overrides */
 .loginHeaderHdr #loginHeader
{
padding-top:0;
}
.loginHeaderHdr #loginHeader #DMNYahooSearch
{
padding-top:15px;
}
.navSearchHdr form.DMNSearch
{
padding:0;
}
.navSearchHdr
{
clear:both;
float:right;
padding-top:2px;
padding-right:10px;
}

/* third level nav */
.tert_nav
{
position: absolute !important;
visibility: hidden;
}
.tert_nav li
{	
float: none !important;
padding:0 !important;
margin:0 !important;
background-color:#cccccc !important;
}
.tert_nav li a
{	
}
.tert_nav li a:hover
{	
background-color:#eeeeee;
}
