@charset "UTF-8";
div#zvw-Module {
	width: 300px;
	background-color: transparent;
	padding: 0 !important;
	margin: 0 0 20px !important;
	font-size: 0;
	line-height: 0;
}

div#zvw-ModuleHead,
div#zvw-ModuleSubHead {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 15px;
	line-height: 15px !important;
	color: #29375b;
}

div#zvw-ModuleHead {
	font-size: 13px !important;
	background-color: transparent;
	padding-top: 4px;
	padding-bottom: 3px;
}

div#zvw-ModuleSubHead {
	float: right;
	font-size: 12px !important;
	background-position: 0 6px;
	background-repeat: no-repeat;
	display: block;
	margin: 0;
	padding: 2px 4px 3px 8px;
}

div.zvw-Content p a,
div.zvw-Content2 p a,
div.zvw-Content3 p a,
.ZventsCalendarDayLink,
.searchnavLink,
.searchnav a,
.searchnav:hover a,
.searchnavhover a,
div#zvw-ModuleSubHead a,
div#search-addlisting a {
	text-decoration: none;
}

div.zvw-Content p a:hover,
div.zvw-Content2 p a:hover,
div.zvw-Content3 p a:hover,
div#zvw-ModuleSubHead a:hover,
div#search-addlisting a:hover {
	text-decoration: underline;
}

div#zvw-ModuleContentTop,
div.zvw-ModuleContent,
div.zvw-Content p,
div.zvw-Content2
div.zvw-Content2 p,
div.zvw-Content3,
div.zvw-Content3 p,
.ZventsScrollArrow,
.ZventsScrollArrowPad,
.ZventsScrollArrowFill,
.ZventsCalendarHeaderTable,
.ZventsCalendarWeekTable,
.ZventsCalendarDayContent,
.ZventsCalendarDayCell,
div#search-addlisting {
	padding: 0 !important;
	margin: 0 !important;
}

div#zvw-ModuleContentTop {
	height: 5px !important;
	background-color: #b6c4d3;
	width: 298px;
	font-size: 0 !important;
	line-height: 0 !important;
}
div.zvw-ModuleContent {
	border: solid 1px #999;
	background-color: #d7dfe7;
}

div.zvw-Header {
	width: 288px;
	font-size: 9pt !important;
	line-height: 10pt !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 3px;
	cursor: pointer;
	text-decoration: none !important;
}
div.zvw-ContentHeader {
	font-size: 9pt !important;
	line-height: 10pt !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	padding: 5px 0 5px 10px !important;
	text-decoration: none !important;
}
div#eventsform form table td div.zvw-ContentHeader,
div#restaurantsform form table td div.zvw-ContentHeader,
div#moviesform form table td div.zvw-ContentHeader,
div#venuesform form table td div.zvw-ContentHeader {
	padding: 3px 0 3px 2px !important;
}
div.zvw-Content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	background-color: #fff;
	height: 110px;
	margin: 0;
	padding-left: 0;
	color: #000;
	overflow: auto;
}
div.zvw-Content #ZventsWidget1 {	padding-left: 10px; }
div.zvw-Content p {
	background-repeat: no-repeat;
	background-position: 0 5px !important;
	padding: 3px 4px 2px 8px !important;
	font-size: 11.5px !important;
	line-height: 14px !important;
}
div.zvw-Content p a { color: #29375a !important; }
div.zvw-Content2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	background-color: #fff;
	padding: 5px 10px !important;
	color: #000;
}
div.zvw-Content2 p {
	background-repeat: no-repeat;
	background-position: 0 8px !important;
	padding: 3px 4px 2px 8px !important;
	font-size: 11.5px !important;
	line-height: 14px !important;
}
div.zvw-Content2 p a { color: #29375a !important; }

div.zvw-Content3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	background-color: #fff;
	color: #000;
}

div.zvw-Content3 table {
	width: 255px !important;
	text-align: center !important;
	margin-left: 8px !important;
}
div.zvw-Content3 table td { text-align: left !important; }
div.zvw-Content3 table div#eventsform,
div.zvw-Content3 table div#restaurantsform,
div.zvw-Content3 table div#moviesform,
div.zvw-Content3 table div#venuesform {
	padding: 0 !important;
}
div.zvw-Content3 table div#eventsform form table,
div.zvw-Content3 table div#restaurantsform form table,
div.zvw-Content3 table div#moviesform form table,
div.zvw-Content3 table div#venuesform form table {
	text-align: left !important;
	margin-left: 0 !important;
}
div.zvw-Content3 p {
	background-repeat: no-repeat;
	background-position: 0 8px !important;
	padding: 3px 4px 2px 8px !important;
	font-size: 10.5px !important;
	line-height: 14px !important;
}
div.zvw-Content3 p a { color: #29375a !important; }

.ZventsScrollArrow { cursor: pointer; }
.ZventsScrollArrowPad,
.ZventsScrollArrowFill {
	overflow: hidden;
	display: block;
}
.ZventsScrollArrowFill { background-color: #fff; }
.ZventsCalendarFrame {
	background-color: #8891a5;
	cursor: default;
	padding: 0;
	border-left: 1px solid #686868;
	border-top: 1px solid #686868;
	font-family: Arial, Helvetica, sans-serif;
}
.ZventsCalendar {
	overflow: hidden;
	padding: 0;
}
.ZventsCalendarHeaderTable,
.ZventsCalendarWeekTable {
	table-layout: fixed;
	width: 100%;
	text-align: center;
}
.ZventsCalendarDayContent {
	display: block;
}
.ZventsCalendarDayLink {
	width: 100%;
	height: 100%;
}

/* Font size for the calendar */
.ZventsCalendarFrame * { font-size: 12px; }
.ZventsTransparentSpinner {
	filter: alpha(opacity=33);
	-moz-opacity: 0.33;
	opacity: 0.33;
}
.ZventsCalendarWeeks {
	position: relative;
	zoom: 1;
}
.ZventsCalendarWeeksSpinner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
}

/* Font and colors for calendar "S M T W T F S" header */
.ZventsCalendarHeaderTable {
	background-color: #9ea7bb;
	color: #fff;
	font-weight: bold;
}

.ZventsCalendarHeaderCell {
	border-bottom: 1px solid #686868;
	border-right: 1px solid #686868;
}

.ZventsCalendarOddMonth,
.ZventsCalendarEvenMonth {
	background-color: #fff;
}
.ZventsCalendarDayContent { font-size: 10px; }

/* Font for calendar day with events */
.ZventsCalendarDayLink .ZventsCalendarDayContent {
	font-weight: bold;
	color: #000;
	background: #d8dbe3;
}

/* Background color for selected day in calendar, event list day header, and detail name */
.ZventsWidget .ZventsCalendarDayLink:hover .ZventsCalendarDayContent,
.ZventsCalendarDaySelected .ZventsCalendarDayContent,
.ZventsListDayWrapper,
.ZventsResultsHeader,
.ZventsDetailName {
	background-color: #686868;
	color: #fff;
}

.ZventsCalendarDayCell,
.ZventsNavBar {
	border-bottom: 1px solid #686868;
	border-right: 1px solid #686868;
}
.ZventsCalendarDayLabelMonthYear {
	background-color: #8891a5;
	font-weight: bold;
	color: #fff;
}
.ZventsSpinnerImage { display: none; }

.searchnavLink {
	width: 100%;
	height: 100%;
	padding: 5px 8px 4px 8px;
}
.searchnav {
	background-color: #c6d2dd;
	margin: 0 2px !important;
}
.searchnav,
.searchnav a {
	color: #334163;
}
.searchnav:hover,
.searchnavhover {
	background-color: #6b829d;
	cursor: pointer;
}

.searchnav,
.searchnavhover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding: 5px 0px;
}

.searchnav:hover,
.searchnav:hover a,
.searchnavhover,
.searchnavhover a {
	color: #fff;
}
div#search-addlisting {
	float: right;
	font-size: 11px;
	line-height: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-position: 0 7px;
	background-repeat: no-repeat;
	display: block;
	padding: 5px 13px 5px 14px !important;
	color: #29375b;
}

select,
#zvw-Contentinput,
#zvw-Contentinputon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #c3c3c3;
}

#zvw-Contentinput { color: #999; }

select,
#zvw-Contentinput:focus,
#zvw-Contentinputon,
.z-eventlist-layoutW4 ul li {
	color: #000;
}

.z-eventlist-layoutW4 { width: 100% !important; }
.z-eventlist-layoutW4 ul {
	padding-left: 0 !important;
	background-color: #fff !important;
}
.z-eventlist-layoutW4 ul li {
	font-family: Arial, Helvetica, sans-serif !important;
	margin: 0 !important;
	background-repeat: no-repeat;
	background-position: 0 8px !important;
	padding: 3px 4px 2px 8px !important;
	font-size: 11.5px !important;
	line-height: 14px !important;
	clear: left;
}
.z-eventlist-layoutW4 ul li .z-date,
.z-eventlist-layoutW4 ul li .z-time{
	font-weight: bold !important;
}
.z-eventlist-layoutW4 .z-sponsored-label {
	text-align: left !important;
	padding: 5px 0px 5px 8px !important;
}
.z-eventlist-layoutW4 .z-sponsored-block,
.z-eventlist-layoutW4 .z-sponsored-block ul {
	background-color: #ededed !important;
	border: none !important;
}

.z-eventlist-layoutW4 ul li a .z-ticket-icon {
	float: right;
	margin: 0;
}