/* find it */
.ShadvancedSearch {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#29375a;
	font-size:10px;
}
.ShadvancedSearch a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#29375a;
	font-size:10px;
}
.ShadvancedSearch a:hover {
	text-decoration:underline;
	color:#29375a;
}
div#mpcls-Module {
	background-color: transparent;
	font-size: 0;
	line-height: 0;
	margin: 0 !important;
	padding: 0 !important;
	width: 300px;
}
div#mpcls-ModuleHead {
	background-color: transparent;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 16px;
	line-height: 16px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-top: 4px;
}
div#mpcls-ModuleContentTop {
	border-bottom:#c9c9c9;
	font-size: 0 !important;
	height:5px !important;
	line-height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	width:298px;
}
div.mpcls-ModuleContent {
	background-color:#b6c4d3;
	border:solid 1px #999999;
	margin: 0 !important;
	padding: 0 !important;
}
div#mpcls-ModuleHead div#link {
	float:right;
	padding-right:5px;
}
div#mpcls-ModuleHead div#link a {
	color:#d3d8de;
	font-size:10px !important;
	line-height: 11px !important;
	text-decoration:none;
}
div#mpcls-ModuleHead div#link a:hover {
	text-decoration:underline;
}
div.mpcls-Header {
	background-image: url(http://www.dallasnews.com/images/ice3/recipebg_new.jpg);
	background-repeat: repeat-x;
	border-bottom:1px solid #ababab;
	color:#333333;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt !important;
	font-weight:bold;
	line-height: 10pt !important;
	padding-bottom:3px;
	padding-top:5px;
	text-decoration:none !important;
	width:298px;
}
div.mpcls-HeaderOn {
	background-color:#d0d3dc;
	border-bottom:1px solid #cbced8;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt !important;
	font-weight:bold;
	line-height: 10pt !important;
	padding-bottom:3px;
	padding-top:5px;
	text-decoration:none;
	width:298px;
}
div.mpcls-Content {
	background-color:#f7f8f9;
	border-bottom:1px solid #d0d3dc;
	display:none;
	height:115px;
	overflow:auto;
	padding-bottom:5px;
	padding-left:3px;
	padding-right:3px;
	padding-top:5px;
}
div.mpcls-Content p, div.mpcls-Content div.mpcls-Title {
	background-image:url(http://www.dallasnews.com/images/ice3/arrow_gray.gif);
	background-position:1px 6px !important;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px !important;
	line-height: 12px !important;
	margin: 0 !important;
	padding: 2px 0 2px 9px !important;
}
div.mpcls-Content p a, div.mpcls-Content div.mpcls-Title a {
	color:#29375a !important;
	text-decoration:none;
}
div.mpcls-Content p a:hover, div.mpcls-Content div.mpcls-Title a:hover {
	color:#29375a !important;
	text-decoration:underline;
}
div.mpcls-Content div.pubdatesmall {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px !important;
	line-height: 11px !important;
}
.mpcls-Link {
	text-decoration:none;
}

.HJadvancedSearch, .HJadvancedSearch a {
	color:#29375a;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
	text-decoration:none;
}
.HJadvancedSearch a:hover {
	text-decoration:underline;
	color:#29375a;
}
.HJadvancedSearch img {
	border:0;
}
.ShadvancedSearch {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#29375a;
	font-size:10px;
}
.ShadvancedSearch a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#29375a;
	font-size:10px;
}
.ShadvancedSearch a:hover {
	text-decoration:underline;
	color:#29375a;
}

#portablesearch input {float:left;margin: 0; font-size: 10px; padding:0;}
#portablesearch #pSearchBox{float:left;height: 15px; width: 232px; margin: 0; padding: 0;margin-right:10px;}
#portablesearch #pSearchCat{display:block;width: 276px; font-size: 10px; height: 17px; margin: 0; padding: 0;margin-bottom:10px;}
#portablesearch #pSearchButton{vertical-align: middle; padding: 0 0 5px 0;}
#portablesearch { padding: 0; margin: 0; text-align: left; }
#pSearch{margin: 0; padding: 0;}
#pSearchForm{margin: 0; padding: 0;}

form#usedForm div.title, form#newForm div.title, form.homecenter_lookup div.title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:12px;
}
form#usedForm div.text_bold, form#newForm div.text_bold {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	padding-top:2px;
	line-height:12px;
}
form#usedForm .text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	line-height:12px;
}

/*ticketnetwork */
.TESTcpYearNavigation,
.TESTcpMonthNavigation {
	background-color:#1D5188;
	text-align:center;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
}
.TESTcpDayColumnHeader,
.TESTcpYearNavigation,
.TESTcpMonthNavigation,
.TESTcpCurrentMonthDate,
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDate,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDate,
.TESTcpCurrentDateDisabled,
.TESTcpTodayText,
.TESTcpTodayTextDisabled,
.TESTcpText {
	font-family:arial;
	font-size:8pt;

}
td.TESTcpDayColumnHeader {
	text-align:center;
	border:solid thin #1D5188;
	border-width:0 0 1px 0;

}
.TESTcpCurrentMonthDate,
.TESTcpOtherMonthDate,
.TESTcpCurrentDate {
	text-align:right;
	text-decoration:none;
}
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDateDisabled {
	color:#D0D0D0;
	text-align:right;
	text-decoration:line-through;
}
.TESTcpCurrentMonthDate {
	color:#1D5188;
	font-weight:bold;
}
.TESTcpCurrentDate {
	color: #FFFFFF;
	font-weight:bold;
}
.TESTcpOtherMonthDate {
	color:#808080;
}
td.TESTcpCurrentDate {
	color:#FFFFFF;
	background-color: #99CCFF;
	border-width:1px;
	border:solid 1px #000000;
}
td.TESTcpCurrentDateDisabled {
	border-width:1px;
	border:solid thin #FFAAAA;
}
td.TESTcpTodayText,
td.TESTcpTodayTextDisabled {
	border:solid thin #1D5188;
	border-width:1px 0 0 0;
}
a.TESTcpTodayText,
span.TESTcpTodayTextDisabled {
	height:20px;
}
a.TESTcpTodayText {
	color:#1D5188;
	font-weight:bold;
}
span.TESTcpTodayTextDisabled {
	color:#D0D0D0;
}
.TESTcpBorder {
	border:solid thin #1D5188;
}
.dateTextBox {
	vertical-align: middle;
	width: 70px;
}
.pointer {
  cursor:pointer;
}

.SearchSubmitButton {
	font-variant: small-caps;height: 20px; font-size: 8pt; cursor: pointer;
}

/* schoolMenu */
.schoolListGroupWrapper {
	clear:both;
	padding-top:10px;
	margin-bottom:20px;

}
.schoolListGroup {
	height:auto;
	display:none;
	background-color:#e5eaee;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:10px;
		margin-bottom: 10px;

}
.schoolListGroup h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.schoolListGroupColumn {
	float:left;
	width:200px;
}
.schoolListNavWrapper {
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-top:20px;
}
.schoolListNavTitle {
	float:left;
	padding-right:5px;
	font-weight:bold;
	padding-bottom:10px;
}
.schoolListNavLetter {
	float:left;
}
.schoolListNavLetter a {

	padding:7px 5px;
}
.schoolListNavLetter a:hover {
	background-color: #E9E9E9;
}
/* HSGT Sports Stats */
.hsgtSportsStatsWrapper {
	clear:both;
}
.hsgtSportsStatsBtn {
	float:left;
	background-color:#34526f;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	padding:5px 0 0;
	width:123px;
	text-align:center;
}
.hsgtSportsStatsSubBtn {

	background-color:#c4cbd1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000;
	padding:5px 5px;
	width:113px;
	text-align:left;
	border-top:1px solid #FFF;
}
.hsgtSportsStatsBtnText {
	padding-bottom:5px;
}

.rightWhatBorder {
	border-right:1px solid #FFF;
}

ul.topnav {
	list-style: none;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFF;
	/*margin-top:20px;*/ /*removed because breadcrumb has a margin*/
}
ul.topnav li {
	float: left;
	background-color:#34526f;
	width:123px;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a {
	color: #fff;
	display: block;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
}

ul.topnav li ul.subnav {
	background-color: #c4cbd1;
	display: none;
	float: left;
	left: 0; top: 25px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	width: 123px;
	z-index: 100;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0 0 0 5px;
	border-top:1px solid #FFF;
	clear: both;
	width: 118px;
	background-color: #c4cbd1;
	text-align:left;
}
ul.topnav li ul.subnav li a{
	color:#000;
	display:block;
	text-align:left;
}

/* Columnist Widget - Standard Spotlight View */
.standardSpotlightViewWrapper {
	clear:both;
	margin-bottom:0;
	margin-top:0;
	padding:0;
}
.standardSpotlightView {
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.8em;
	height:110px;
	line-height:1.4em;
	margin-bottom:15px;
	overflow:hidden;
	padding-right:10px;
}
.standardSpotlightView .mugImage {
	float:left;
	width:60px;
}
.standardSpotlightView .textBox {
	float:left;
	padding-left:10px;
	width:140px;
}
.standardSpotlightView .textBox .columnistName {
	color:#313131;
	font-size:.9em;
	font-weight:bold;
	text-transform:uppercase;
}
.textBox .columnistName a,
.textBox .columnistName a:link,
.textBox .columnistName a:visited,
.textBox .columnistName a:hover { color:#313131; }
.textBox .columnistName a:hover { text-decoration:underline; }
.standardSpotlightView .textBox .colunistLinks {
	padding-top:2px;
	font-size:.85em;
}
.standardSpotlightView .textBox .colunistArticle {
	padding-top:12px;
}

/* Columnist Widget - Sports Spotlight View */
.sportsSpotlightViewWrapper {
	background-color:#f5f5f6;
	border-bottom:1px solid #bababa;
	border-left:1px solid #bababa;
	border-right:1px solid #bababa;
	border-top:3px solid #2e465e;
	clear:both;
	margin-top:10px;
	padding:2px 10px 10px 10px;
}
.sportsSpotlightViewHeader {
	color:#313131;
	font-size:16px;
	padding-bottom:6px;
	text-transform:uppercase;
}
.sportsSpotlightView {
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-right:10px;
}
.sportsSpotlightView .mugImage {
	float:left;
	width:60px;
}
.sportsSpotlightView .textBox {
	float:left;
	padding-left:10px;
	width:200px;
}
.sportsSpotlightView .textBox .columnistName {
	text-transform:uppercase;
	color:#313131;
	font-weight:bold;
}
.sportsSpotlightView .textBox .colunistLinks {
	padding-top:2px;
}
.sportsSpotlightView .textBox .colunistArticle {
	padding-top:12px;
}
/* Columnist Widget - Sports Summary View */
.sportsSummaryViewWrapper {
	background-color:#f5f5f6;
	border-bottom:1px solid #bababa;
	border-left:1px solid #bababa;
	border-right:1px solid #bababa;
	border-top:3px solid #2e465e;
	clear:both;
	margin-top:10px;
	padding:2px 10px 10px 10px;
}
.sportsSummaryViewHeader {
	font-size:16px;
	text-transform:uppercase;
	color:#313131;
	padding-bottom:6px;
}
.sportsSummaryView {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.sportsSummaryView .mugImage {
	float:right;
	padding-left:10px;
	padding-bottom:10px;
	width:60px;
}
.sportsSummaryView .colunistLinks {
	padding-top:0;
}
.sportsSummaryView .textBody {
	padding-top:12px;
}
/* Columnist Widget - Bio Popout display */
.bioPopOutWrapper {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:5px solid #000;
	padding:5px;
}
.bioPopOutWrapper:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
.bioPopOutWrapper .bioPopOutMug { float:right; padding:0 0 10px 10px;}
.bioPopOutWrapper .bioPopOutTitle {font-weight:bold;}
.bioPopOutWrapper .bioPopOutEmail {padding-bottom:12px;}
.bioPopOutWrapper .bioPopOutDetails { padding-bottom:12px; }

/* Staff Widget */
.staff.standardView {
	clear: both;
	padding: 10px 0;
	margin-top: 10px;
}
.staff.standardView .staffMember,
.staff.sportsView .staffMember {
	float: left;
	padding-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.staff.standardView .staffMember {
	padding-bottom: 10px;
	font-size: 11px;
}
.staff.standardView .mugImage,
.staff.sportsView .mugImage {
	float: left;
	width: 60px;
}
.staff.standardView .textBox,
.staff.sportsView .textBox {
	float: left;
	padding-left: 10px;
	width: 120px;
}
.staff.standardView .staffName,
.staff.sportsView .staffName {
	text-transform: uppercase;
	color: #313131;
	font-weight: bold;
}
.staff.standardView  .staffLinks,
.staff.standardView .staffCredits,
.staff.sportsView .staffLinks,
.staff.sportsView .staffCredits {
	padding-top: 2px;
}

.staff.sportsView {
	background-color: #f5f5f6;
	border-bottom: 1px solid #bababa;
	border-left: 1px solid #bababa;
	border-right: 1px solid #bababa;
	border-top: 3px solid #2e465e;
	clear: both;
	margin-top: 10px;
	padding: 2px 10px 10px;
}
.staffHeader {
	color: #313131;
	font-size: 16px;
	padding-bottom: 6px;
	text-transform: uppercase;
}
.staff.sportsView .staffMember {
	font-size: 12px;
}

.staff.jsInteractive .staffFilters {
	padding-left: 110px;
	position: relative;
	text-align: center;
}
.staff.jsInteractive .staffFilter {
	border: solid 1px;
	cursor: pointer;
	display: inline-block;
	font-size: .65em;
	line-height: 1.25em;
	margin: 4px;
	padding: 3px 6px;
	text-decoration: none !important;
	text-transform: uppercase;
	white-space: nowrap;
}
.staff.jsInteractive .staffFilter.active { background-color: #d7dfe7; }
.staff.jsInteractive .staffFilter:hover { background-color: #dedede; }
.staff.jsInteractive .staffFilter.allStaff {
	left: 0;
	position: absolute;
}
.staff.jsInteractive .staffGroup {
	clear: left;
	margin-top: 20px;
}
.staff.jsInteractive .staffMember {
	cursor: pointer;
	display: block;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	height: 60px;
	text-decoration: none;
}
.staff.jsInteractive .staffTitle,
.staff.jsInteractive .staffName {
	color: #005689;
	display: block;
	margin-left: 49px;
}
.staff.jsInteractive .staffName {
	font-size: .85em;
	margin-bottom: 3px;
}
.staff.jsInteractive .staffTitle {
	color: #A3A3A3;
	font-size: .6em;
	text-transform: uppercase;
}
.staff.jsInteractive .staffMember:hover .staffName {
	text-decoration: underline;
}
.staff.jsInteractive .staffMember {
	background-position: left top;
	background-repeat: no-repeat;
}
.bioPopOutDepartment { font-weight: bold; }
.bioPopOutDepartment:after { content: ' - '; }
#staffBio .bioPopOutEmail {
	display: block;
	margin-left: 10px;
}
#staffBio .bioPopOutWrapper .bioPopOutDetails { padding-bottom: 0; }
.bioPopOutContact { padding: 0 10px; }
.bioPopOutContact strong {
	display: block;
	margin-left: -10px;
}

/* HSGT School Header Widget */
.hsSchoolHeaderWrapper { padding: 24px 0 44px; clear: both; }
.hsSchoolHeaderWrapper .hsSchoolHeaderLogo { position:absolute; margin-top: -25px; }
.hsSchoolHeaderWrapper .hsSchoolHeaderName { background-color: #e0e0e0; text-transform: uppercase; margin-left: 10px; padding: 2px 0 2px 187px; font-size: 24px; color: #303030; }
.hsSchoolHeaderWrapper .hsSchoolHeaderLinks { padding-top:4px; float: right; font-size: 12px; }
.hsSchoolHeaderWrapper .hsSchoolHeaderAddress { color: #303030; padding:4px 0 0 197px; font-size: 12px; float: left; }

/* Best in DWF Widget */
div.bestDFWMenuWrapper {
	padding-bottom: 20px;

}
div.bestDFWMenuArticle { background-color: #355270; padding: 3px 10px; }
div.bestDFWMenuWrapper select {
	width:140px;
}
div.bestDFWMenuWrapper div.bestDFWMenuArticle select {
	width:120px;
}
div.bestDFWMenuWrapper .bestinDFWdining {}
div.bestDFWMenuWrapper .bestinDFWvenues {margin-top: 10px;}
div.bestDFWMenuWrapper .bestinDFWevent {margin-top: 10px;}
div.bestDFWMenuWrapper div.bestDFWMenuArticle .bestinDFWvenues {margin-top: 0; margin-right: 15px;}
div.bestDFWMenuWrapper div.bestDFWMenuArticle .bestinDFWevent {margin-top: 0;}
div.bestDFWMenuWrapper div.bestDFWMenuArticle .bestinDFWdining {margin-right: 15px;}
div.bestDFWMenuArticle div.bestDFWTitle {
	color:#fff;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding-right: 20px;
	padding-top: 3px;
}

/* feed widget */
.widget.feed.rssHeadline .feedTitlePrefix {
	font-weight: bold;
	margin: -10px 0 10px 0;
	/*text-transform:uppercase;*/
}

/* recipeContent widget */
.widget.recipeContent { font-size: 0.8em; }
.widget.recipeContent p.dateline {
	padding: 5px 0 20px;
	clear: both;
	font-size: 0.8em;
	color: #333;
}
.rcpHeader {
	color: #000;
	font-size: 1.2em;
	padding: 0 0 10px;
	font-weight: bold;
}
.widget.recipeContent .nutritionFacts .rcpHeader { font-size: 1em; padding: 0 0 3px; }
.widget.recipeContent .nutritionFacts,
.widget.recipeContent .ingredients,
.widget.recipeContent .instructions,
.widget.recipeContent .paperPubDate {
	padding-bottom: 15px;
}

 /* Sitemap */
.sitemap {
	font-size: 0.9em;
	margin-top: 20px;
}
.sitemap .sitemap-column {
	float: left;
	margin-right: 10px;
}
.sitemap .sitemap-column > div:first-child { margin-top: 0; }
.sitemap .sitemap-column > div {
	clear: left;
	margin-bottom: 4px;
}
.sitemap a:first-child,
.sitemap a:first-child + a {
	float: left;
	padding-right: 10px;
}
.sitemap .level-0 { margin-bottom: -5px !important; font-size: 1.1em !important; }
.sitemap .level-1 { margin-left: 26px; }
.sitemap .level-2 { margin-left: 52px; }
.sitemap .level-3 { margin-left: 78px; }
.sitemap .level-4 { margin-left: 104px; }
.sitemap .level-2 img,
.sitemap .level-3 img,
.sitemap .level-4 img {
	height: 12px;
	width: 12px;
}
.preface p a {
	color: red;
	white-space: nowrap;
}

/* PageTools Widget CSS */
/* PageTools on article and gallery page */
div.pageTools {
	margin: 0 5px 10px 0;
	clear: both;
	display: block;
}
div.pageTools .article-links {
/*	float: right;
	text-align: right;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	padding-top: 10px;
	width: 100%
}
div.pageTools .article-links .enlarge-font {
  float: right;
  text-align: left;
  width: auto;
  height: 16px;
  margin: 0 0 2px 5px;
  padding: 0;
  font: 10px/16px Arial;
}
div.pageTools .article-links .enlarge-font a.small-font { font: bold 11px/16px Arial; }
div.pageTools .article-links .enlarge-font a.medium-font { font: bold 13px/16px Arial; }
div.pageTools .article-links .enlarge-font a.large-font { font: bold 16px/16px Arial; }

.ArticleSocialTools {
	border-bottom: 2px dotted #CCCCCC;
	border-top: 2px dotted #CCCCCC;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 10px 0;
}
.ssSocialTools .ArticleSocialTools {
	border-bottom: none;
	border-top: none;
	display:inline-block;
}
.ArticleSocialTools .ArticleSocialToolsLargeText {
	font-family: "Times New Roman", Times, serif;
	font-size: 32px;
	padding-right: 10px;
	display:inline-block;
	vertical-align:middle;
}
.ArticleSocialTools .ArticleSocialToolsText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display:inline-block;
	vertical-align:middle;
}

.ArticleSocialTools .ArticleSocialToolsIcons,
.ArticleSocialTools .ArticleSocialToolsIcons_rss,
.ArticleSocialTools .ArticleSocialToolsIcons_print,
.ArticleSocialTools .st_twitter_hcount .stButton .stMainServices,
.ArticleSocialTools .st_facebook_hcount .stButton .stMainServices {
	width: 16px;
	height: 16px;
	display:inline-block;
	vertical-align:middle;
}
.ArticleSocialTools .st_twitter_hcount .stButton .stButton_gradient,
.ArticleSocialTools .st_facebook_hcount .stButton .stButton_gradient{
	background: none !important;
	border: none !important;
	border-radius: 0 !important;
	display: inline-block;
	font-family: serif;
	height: 16px;
	padding: 0 !important;
}
.ArticleSocialTools .st_twitter_hcount .stArrow,
.ArticleSocialTools .st_facebook_hcount .stArrow {
	background: none !important;
	line-height: 0 !important;
	padding-left: 1px !important;
}
.ArticleSocialTools .st_twitter_hcount .stButton .stBubble_hcount,
.ArticleSocialTools .st_facebook_hcount .stButton .stBubble_hcount {
	line-height: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	white-space: none !important;
	font-size: 12px !important;
	color: #666666 !important;
	font-family: arial,sans-serif !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	position: relative;
	top: 1px;
}
.ArticleSocialTools .st_twitter_hcount .stButton .stMainServices {
	background: url("http://w.sharethis.com/images/twitter_16.png") no-repeat scroll left 0 transparent !important;
	padding: 0 !important;
	display: inline-block !important;
	position: relative;
	top: 0;

}
.ArticleSocialTools .st_facebook_hcount .stButton .stMainServices {
	background: url("http://w.sharethis.com/images/facebook_16.png") no-repeat scroll left 0 transparent !important;
	padding: 0 !important;
	display: inline-block !important;
	position: relative;
	top: 0;
}
.ArticleSocialTools .st_facebook_hcount[type='large'],
.ArticleSocialTools .st_twitter_hcount[type='large'] {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}
.ArticleSocialTools .st_twitter_hcount[type='large'] .stButton .stMainServices {
	background: url("http://w.sharethis.com/images/twitter_32.png") no-repeat scroll left 0 transparent !important;
	padding: 0 !important;
	position: relative;
	top: 0;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}

.ArticleSocialTools .st_facebook_hcount[type='large'] .stButton .stMainServices {
	background: url("http://w.sharethis.com/images/facebook_32.png") no-repeat scroll left 0 transparent !important;
	padding: 0 !important;
	position: relative;
	top: 0;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}
.ArticleSocialTools .st_plusone > div {
	width:24px !important;
	margin-right: 0 !important;
}
.ArticleSocialTools .st_plusone_large > div {
	bottom:0 !important;
	margin-right: 0 !important;
	width: 32px !important;
	height: 32px !important;
}
.ArticleSocialTools .ArticleSocialToolsIcons_rss {
	background: url(http://www.dallasnews.com/skins/dmn/gfx/rss.png) no-repeat scroll left 0 transparent;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	display:inline-block;
}
.ArticleSocialTools .ArticleSocialToolsIcons_rss_large {
	background: url(http://www.dallasnews.com/skins/dmn/gfx/rss_large.png) no-repeat scroll left 0 transparent;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
}

.ArticleSocialTools .ArticleSocialToolsIcons_rss_large a,
.ArticleSocialTools .ArticleSocialToolsIcons_rss_large a img,
.ArticleSocialTools .ArticleSocialToolsIcons_rss a,
.ArticleSocialTools .ArticleSocialToolsIcons_rss a img {
	margin: 0;
	padding: 0;
	display: block;
}
.ArticleSocialTools .ArticleSocialToolsIcons_print {background: url(http://www.dallasnews.com/skins/dmn/gfx/print.png) no-repeat scroll left 0 transparent;
	display: inline-block;
 }
 .ArticleSocialTools .ArticleSocialToolsIcons_print_large {background: url(http://www.dallasnews.com/skins/dmn/gfx/print_large.png) no-repeat scroll left 0 transparent;
	display: inline-block;
	width: 32px;
	height: 32px;
 }
.ArticleSocialTools .ArticleSocialToolsIcons_print_large,
.ArticleSocialTools .ArticleSocialToolsIcons_print,
.ArticleSocialTools .ArticleSocialToolsIcons .changeTextSize:hover {
	cursor: pointer;
}

.ArticleSocialTools .ArticleSocialToolsIcons_textTool {
 	display: inline-block;
 	vertical-align: middle;
 	position: relative;
 	top: 2px;
 }

.ArticleSocialTools span[st_processed='yes'],
.ArticleSocialTools span[st_processed='no'],
.ArticleSocialTools span.stButton,
.ArticleSocialTools .pageToolsCustomHTML {
	margin: 0 !important;
/* 	display: table-cell !important; */
/* 	vertical-align: middle; */
	line-height: 0 !important;

}
.ArticleSocialTools span[st_processed='yes'] table,
.ArticleSocialTools span[st_processed='no'] table,
.ArticleSocialTools span.stButton table,
.ArticleSocialTools .pageToolsCustomHTML table {
	padding: 0 !important;
	margin: 0 !important;
	position: none;
}
.ArticleSocialTools span[st_processed='yes'] > span,
.ArticleSocialTools span[st_processed='no'] > span,
.ArticleSocialTools span.stButton > span,
.ArticleSocialTools .pageToolsCustomHTML > span {
}
.ArticleSocialTools span[st_processed='yes'],
.ArticleSocialTools span[st_processed='no'] {
	padding-right: 3px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.ArticleSocialTools > div,
.ArticleSocialTools > span {
	float:left;
}
.ArticleSocialTools span.stButton > span,
.ArticleSocialTools span.stButton > div {
	padding-right: 0 !important;
/* 	display: table-cell !important; */
	background-repeat: no-repeat !important;
}
.ArticleSocialTools span.stButton .chicklets {
	padding-left: 16px !important;
/* 	display: inline !important; */
	padding-bottom: 1px !important;
}
.ArticleSocialTools .pageToolsCustomHTML iframe {
	display: inline-block !important;
}
.st_fblike_large > span > .fb-like,
.st_fblike > span > .fb-like,
.st_fblike_hcount > span >.fb-like {
	width: 69px !important;
}
.st_fblike_vcount > span > .fb-like {
	width: 49px !important;
}
.st_plusone_hcount {
	top: 1px;
}
.st_plusone_hcount > div {
	width: 62px !important;
}
.ArticleSocialTools .ArticleSocialToolsIcons_commentcount {
	background: url(http://www.dallasnews.com/skins/dmn/gfx/pageTools/commentcount.png) no-repeat scroll left 0 transparent;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	cursor: pointer;
 }
 .ArticleSocialTools .ArticleSocialToolsIcons_commentcount img {
 	width:16px;
	height:16px;
 }
 .ArticleSocialTools .ArticleSocialToolsIcons_commentcount_large {
	display: inline-block;
	height: 32px;
	width: 32px;
 	background: url(http://www.dallasnews.com/skins/dmn/gfx/pageTools/commentcount_large.png) no-repeat scroll left 0 transparent;
	cursor: pointer;
	vertical-align: middle;
 }
 .ArticleSocialTools .ArticleSocialToolsIcons_commentcount_large img {
	height: 32px;
 	width: 32px;
}
.ArticleSocialTools .ArticleSocialToolsIcons_recommendcount {
	background: url(http://www.dallasnews.com/skins/dmn/gfx/pageTools/recommendcount.png) no-repeat scroll left 0 transparent;
	display:inline-block;
	height:16px;
	width:16px;
	cursor: pointer;
	margin-top:2px;
}
.ArticleSocialTools .ArticleSocialToolsIcons_recommendcount img {
 	width:16px;
	height:16px;
}
.ArticleSocialTools .ArticleSocialToolsIcons_recommendcount_large {
	background: url(http://www.dallasnews.com/skins/dmn/gfx/pageTools/recommendcount_large.png) no-repeat scroll left 0 transparent;
	display:inline-block;
	height:32px;
	width:32px;
	cursor: pointer;
	vertical-align:middle;
}
.ArticleSocialTools .ArticleSocialToolsIcons_recommendcount_large img {
 	width:32px;
	height:32px;
}
.ArticleSocialTools .countBox {
	background: none repeat scroll 0 0 transparent;
	display: inline-block;
	height: 14px;
	line-height: 16px;
	margin-left: -3px;
	margin-right:2px;
	position:relative;
	top:-4px;
}
.ArticleSocialTools .countBox .arrow {
/* 	background: url("http://w.sharethis.com/share4x/images/Twitter_bubble_arrow.png") no-repeat scroll 0 0 transparent; */
	display: inline-block;
	height: 6px;
	line-height: 16px;
	margin-right: -5px;
	padding: 0 0 2px;
	position: relative;
	width: 4px;
	z-index: 1;
}
.ArticleSocialTools .countBox .hBubble {
	background: none repeat scroll 0 0 #FFF;
/*	 border: 1px solid #CCE3F3; */
/*	 border-radius: 4px; */
	display: inline-block;
	font-family: serif;
	height: 16px;
	margin: 0;
/*	 padding: 2px; */
}
.ArticleSocialTools .countBox .hBubble .hcount {
	height: 16px;
	line-height: 16px;
/*	 padding-left: 2px; */
/*	 padding-right: 2px; */
	white-space: nowrap;
	color: #666 !important;
	font-family: arial,sans-serif !important;
	font-size: 12px !important;
}
.ArticleSocialTools #top { top:2px; }

/* Gigya PageTool */
#shareBarOutterWrapper {
	border-bottom: 2px dotted #CCC;
	border-top: 2px dotted #CCC;
	padding: 10px;
	margin-bottom: 10px;
}
#shareBarDiv .gig-bar-container > table > tbody > tr > td,
#shareBarDiv .gig-share-bar-container > table > tbody > tr > td {
	padding: 3px 0px;
}

/* textTool Widget */
.textTools {
	float:right;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	display:inline-block;
	margin:10px 0;
}
.textToolsWrapper {
	display:inline-block;
}
.textToolsLargeText {
	display: inline-block;
	font-family: "Times New Roman",Times,serif;
	font-size: 32px;
	padding-right: 10px;
	vertical-align: middle;
}
.textToolsText {
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
}
.textToolsIcons {
 	display: inline-block;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}

/* Featured Widget */
.ftItem { clear: left }
.ftLabel { text-transform: uppercase; }
.ftImage { float: left; }