.ndn_pauseOverlay_selectableVideos,
.ndn_selectableVideos {
	.ndn_pauseOverlay_selectableVideo,
	.ndn_selectableVideo {
		.ndn_thumbContainer {
			position: relative;
			
			.ndn_nowPlaying, .ndn_upcomingVideo {
				color: White;
				font-family: Oswald;
				font-size: 12px;
				width: 100%;
				text-align: center;
				display: none;
				position: absolute;
				line-height: 16px;
				top: 50%;
				margin-top: -8px;
				left: 0;
			}			
		}
		
		&.ndn_activeVideoNotPlaying .ndn_thumbContainer,
		&.ndn_activeVideo .ndn_thumbContainer {
			background: #000;		
			
			img {
				//opacity: 0.6;
				//-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
				//filter: alpha(opacity=60);
			}
		}		
		&.ndn_activeVideoNotPlaying .ndn_thumbContainer{
			.ndn_upcomingVideo {
				display: block;
			}
		}
	
		&.ndn_activeVideo .ndn_thumbContainer {			
			.ndn_nowPlaying {
				display: block;
			}					
		}	
	}
}