<!doctype html>
<html>
<head>
    <title>News Distribution Network, Inc.</title>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Force IE compatibility mode OFF -->
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    
    <link href="{{appUrl}}/img/favicon.ico" title="Icon" type="image/x-icon" rel="icon" />
    <link href="{{appUrl}}/img/favicon.ico" title="Icon" type="image/x-icon" rel="shortcut icon" />
    <script>
        var _nw2e = _nw2e || [];
        _nw2e.isInIframe = true;
        _nw2e.appOverrideSettings = '{{appOverrideSettings}}';
        _nw2e.iframeId = '{{iframeId}}';
    </script>
    {{embedCodeScriptTag}}
    <style>
		html, body {
			padding: 0px;
			margin: 0px;
			border: none;
			width: 100%;
			height: 100%;
		}
    
    	#landing-page-embed-container.ndn_widget_VideoPlayer-Default,
    	#landing-page-embed-container.ndn_widget_VideoPlayer-Studio {
    		width: 100%;
    		height: 100%;
    	}
    </style>
</head>
<body>{{embedCode}}</body>
</html>
