<div id="{{playerContainerElementId}}"></div>
<div class="ndn_selectableVideosContainer">
	<div class="ndn_sliderPrev ndn_sliderNavButton"></div>
	<div class="ndn_sliderWrapper">
		<ul class="ndn_sliderItems ndn_selectableVideos"></ul>
	</div>
	<div class="ndn_sliderNext ndn_sliderNavButton"></div>
</div>
