{{#playlistItems}}
    <li class="ndn_selectableVideo {{#first}}ndn_nowPlaying{{/first}}" data-video-id="{{videoId}}" title="{{videoTitle}}" data-video-index="{{videoIndex}}">
    	<div class="ndn_thumbContainer ndn_sliderThumbnailImageWrapper">
        	<div class="ndn_imagePlaceholder" data-src="{{thumbnailUrl}}"></div>
        	<div class="ndn_nowPlaying">Now Playing</div>
        	<div class="ndn_upcomingVideo">Up Next</div>
        	<div class="ndn_sliderThumbnailOverlay">
        		{{displayDuration}}
        	</div>
            <div class="ndn_sliderThumbnailPlay"></div>
    	</div>
    	<div class="ndn_sliderThumbnailTitle">
    		<p>{{videoTitle}}</p>
    	</div>
    </li>
{{/playlistItems}}
