#header-image #header-wrap { padding-top: 11px; margin-bottom: 0; position: relative; top: 18px; }
#header-image { position: relative; background: #1f1f1f url(/m/widgets/loading-v2.gif) no-repeat center center; background-color: #1f1f1f; }
#header-image, #header-image2, #header-image3 { min-height: 550px; width: 100%; }
#header-image2, #header-image3 { position: absolute; background-color: transparent; background-repeat: no-repeat; background-position: center top; }
#header-image3 { display: none; }
* html #header-image, * html #header-image2, * html #header-image3 { height: 550px; }
.header-caption { text-align: left; padding: 0 558px 0 0; position: relative; top: 215px; }
.header-caption p { float: none; }
.header-caption span, .header-caption a.primary { float: left; }
.header-caption .description { display: table; color: #fff; font-size: 20px; text-indent: -8px; line-height: 2; background: #c33; margin: 0 0 5px; padding: 4px 16px; }
.header-caption .line-4 { margin-bottom: 8px; }
* html .header-caption .description { display: inline-block; }
.header-caption strong { background: #5D5D5D; }
.header-caption .description a, .header-caption strong a { color: #fff; }
#content-bg { background: #fff url(/m/screen/bg-content-home.gif) repeat-x 0 0; }
#content { width: 960px; background: transparent; padding-top: 23px; margin-bottom: 25px; }
/* #main { float: left; width: 783px; padding: 17px; background: #fff url(/m/screen/bg-main-home.gif) no-repeat 0 0; } */
#main { float:left; padding:0; margin:0; width:100%; background:none; }
#sub { float: right; width: 211px; margin: 0 0 0 11px; background: #fff; }
.secondary { position: relative; left: 1px; width: 142px; margin: 0; padding: 15px 0 0; }
.split div.node { width: 30%; }
.split div.first { width: 66%; margin: 0; }
.split-alt div.node { width: 190px; }
.split-alt div.first { width: 345px; }
.coda-wrap { background:transparent; }
.coda { background: transparent url(/m/screen/bg-coda-home.gif) repeat-x 0 0; padding-top: 18px; border: none; }
.coda h2 { margin-left: 10px; border: none; }
#top-stories { margin:0 auto 40px  auto; padding:4px 0; width:960px; overflow:hidden; clear:none; background: #fff; border: 1px solid #dedede; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow:0px 3px 10px #c8c8c8;}
#top-stories h1 a, #top-stories h1 a:visited { color: #333; }
#top-stories h1 a:hover { text-decoration: none; }
img.double-border { border: 1px solid #dedede; padding: 5px; background: #fff;}
#top-stories li { border-bottom:none; }
#top-stories a.headlines, #top-stories a.headlines:visited { color:#3d8cb8; border-bottom: 1px dotted #d3d3d3; }
#top-stories a.headlines:hover { color:#cd2b3a; text-decoration: none; border-bottom: 1px solid #cd2b3a;}
.grid_160, .grid_280, .grid_460, .grid_460a, .grid_460b, .grid_640, .grid_940 { display:inline; float:left; margin:0 10px; }
.grid_160{ width:160px; }
.grid_280{ width:280px; }
.grid_460{ width:460px; }
.grid_460a{ width:460px;}
.grid_460b{ width:460px;}
.grid_640{ width:640px; }
.grid_940{ width:940px; }
hr.clear { clear:both; visibility: hidden; margin: 0px; padding: 0px; }
.split .col1, .split .col2 { width:360px; display:inline; float:left; margin:0 20px 0 0; }
ul.market-tab { margin:0; padding:0; list-style:none; } 
ul.market-tab li { margin: 0; padding: 0 0 10px 0; clear:both;}
ul.market-tab img { float:left; margin:0 10px 0 0; }
