/* Default Layout */
.fixed{position:fixed;top:0;left:0;padding:5px 0;width:100%}

#nav-outerWrap { height:75px; padding:5px 0; background:#121212; border-bottom:1px solid #111; position:absolute; top:0px; z-index:20001; margin:0 auto; width:100%}
#nav-outerWrapAd { height:173px; padding:5px 0; background:#121212; border-bottom:1px solid #111; position:absolute; top:0px; z-index:20001; margin:0 auto; width:100%}

.nav-adWrapper{ width:980px; height:90px; margin:0 auto 8px auto; }
.nav-ad{ width:970px; height:90px; overflow:hidden; margin:0 auto; }
.nav-ad img{ margin:0 auto; }

.nav-menu{ width:100%; height:75px; margin:0 auto; background:#121212}
.nav-menuAd{ width:100%; height:75px; margin:0 auto; background:#121212}
.nav-menuWrapper{ width:100%; height:75px; margin:0 auto}

.nav-menuLineOne{ width:980px; height:45px; margin:0 auto; position:relative; top:0; left:0;}

.nav-menuLogoWrapper{ width:307px; height:45px; position:relative; top:0px; left:0; }
.nav-logo { float:left; width:267px; height:45px; margin:0 auto; background-image:url("/m/logo267.png"); background-position:top left; background-repeat:no-repeat; }
.nav-logo:hover { height:45px; background-image:url("/m/logo267.png"); background-position:top left; background-position:0 -45px; }

.nav-menuLineOneSearch{ width:400px; height:30px; position:relative; top:-36px; left:307px;}
/* .searchButton { background:#fd1b14 url("/images/search-icon.png") no-repeat 3px center; border:1px solid #eee !important; width:28px; height:28px; cursor:pointer; margin:0; padding:0; position:relative; top:0px; left:0px } */
.searchButton{background:#fd1b14 url("/images/search-icon.png") no-repeat 3px center;border:1px solid #eee !important;width:28px;height:24px;padding:3px;margin-left:-2px;cursor:pointer;}
.searchButton:hover {background-color:#000}
/* .searchInput { padding:3px; width:350px; border:2px solid #eee !important; float:left; } */
.searchInput{padding:1px 3px 3px 3px;width:350px;border:2px solid #eee !important; padding-top:2px; position:relative; top:0; left:0;}
.nav-menuLineOneMenu{ width:273px; height:30px; position:relative; top:-68px; left:707px; text-align:right; font-size:11px; font-family:"Arial, Helvetica, sans-serif"; letter-spacing:1px;}
.nav-menuLineOneMenu a { padding:0 10px 0 0; color:#fff; }
.nav-menuLineOneMenu img { vertical-align:middle; }

.nav-menuLineTwo{ clear:both; width:980px; height:30px; margin:0 auto; position:relative; top:0; left:0}

#menu { list-style:none; width:980px; height:30px; padding:0; margin:0;}
#menu li { float:left; display:block; text-align:center; position:relative; padding:0px 3px 0px 3px; margin:8px 9px 0 0; border:none;}
#menu li:hover { border:0px solid #777777; background:#000; }
#menu li a { font-family:Arial, Helvetica, sans-serif; font-size:17px; font-weight:bold; color:#fff; display:block; outline:0; text-decoration:none; padding:0 5px;}
#menu li:hover a { /* color:#161616; */ background:#000; }
#menu li .drop { margin-right:-2px; padding-right:15px; background:url("/images/bullet_arrow_down_red.png") no-repeat right 7px; }
#menu li:hover .drop { background:url("/images/bullet_arrow_down_red.png") no-repeat right 7px; }
.dropdown_1column, .dropdown_2columns, .dropdown_3columns { margin:0px auto; float:left; position:absolute; left:-999em; text-align:left; padding:0px 5px 0px 5px; border:0px solid #777777; border-top:none; background:#000; }
.dropdown_1column {width:140px;}
.dropdown_2columns {width:280px;}
.dropdown_3columns {width:420px;}
#menu li:hover .dropdown_1column, #menu li:hover .dropdown_2columns, #menu li:hover .dropdown_3columns { left:-1px; top:auto; z-index:500; }
.col_1, .col_2, .col_3 { display:inline; float:left; position:relative; margin-left:5px; margin-right:5px; }
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
#menu p, #menu h2, #menu h3, #menu ul li { font-family:Arial, Helvetica, sans-serif; line-height:21px; font-size:12px; text-align:left; /* text-shadow:0px 0px 0px #FFFFFF; */ }
#menu h2 { font-size:21px; font-weight:400; letter-spacing:-1px; margin:7px 0 14px 0; padding-bottom:14px; border-bottom:1px solid #666666; }
#menu h3 { font-size:14px; margin:7px 0 14px 0; padding-bottom:7px; border-bottom:1px solid #888888; color:#fd1b14; }
#menu p { line-height:18px; margin:0 0 10px 0; }
#menu li:hover div a { font-size:12px; color:#fff; /* color:#000; */ background:transparent; }
#menu li:hover div a:hover { color:#fd1b14; }
.strong { font-weight:bold; }
.italic { font-style:italic; }
#menu li ul { list-style:none; padding:0; margin:0 0 12px 0; }
#menu li ul li { font-size:12px; line-height:14px; position:relative; text-shadow:0px 0px 0px #ffffff; padding:0; margin:3px 0; float:none; text-align:left; width:130px; }
#menu li ul li:hover { background:none; border:none; padding:0; margin:3px 0; }
#menu li .greybox li { background:#F4F4F4; border:1px solid #bbbbbb; margin:0px 0px 4px 0px; padding:4px 6px 4px 6px; width:116px; color:#121212; /* Rounded Corners */ -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; }
#menu li .greybox li:hover { background:#ffffff; border:1px solid #aaaaaa; padding:4px 6px 4px 6px; margin:0px 0px 4px 0px; }
.ml { margin:0 0 0 15px; }

/* Tablet Layout: 768px */
@media only screen and (min-width:768px) and (max-width:991px) {
	#nav-outerWrap{ height:75px; }
	#nav-outerWrapAd{ height:173px; }
	.nav-adWrapper{ width:760px; }
	.nav-ad{ width:750px; }
	.nav-ad img{ width:728px; }
	.nav-menuWrapper{ width:760px; }
	.nav-menuLineOne{ width:760px; top:0; }
	.nav-menuLogoWrapper{ width:297px; }
	.nav-menuLineOneSearch{ width:290px; }
	.searchInput { width:240px; }
	.nav-menuLineOneMenu{ width:173px; left:597px; }
	.nav-menuLineTwo{ width:760px; top:5px; }
	#menu { width:760px; }
	#menu li { margin:8px 4px 0 0; }
	#menu li a { font-size:13px; }
	#menu li .drop { background:url("/images/bullet_arrow_down_red.png") no-repeat right 4px; }
	#menu li:hover .drop { background:url("/images/bullet_arrow_down_red.png") no-repeat right 4px; }
}
/* Mobile Layout: 320px */
@media only screen and (max-width:767px) {
	#nav-outerWrap{height:132px}
	#nav-outerWrapAd{height:138px}
	.nav-adWrapper{width:320px; height:38px}
	.nav-ad{width:310px; height:38px}
	.nav-ad img{width:310px; height:38px}
	.nav-menu{height:132px}
	.nav-menuAd{height:138px}
	.nav-menuWrapper{ width:320px; height:165px;}
	.nav-menuLineOne{ width:320px; height:105px; }
	.nav-menuLogoWrapper{ width:320px; height:45px; }
	.nav-menuLineOneSearch{ width:180px; top:10px; left:0}
	.searchInput { width:135px; }
	.nav-menuLineOneMenu{ width:140px; top:-20px; left:180px}
	.nav-menuLineTwo{ width:320px; top:-20px; left:0; }
	#menu { width:320px; }
	#menu li { margin:8px 1px 0 0; }
	#menu li a { font-size:10px; }
	#menu li .drop { background:url("/images/bullet_arrow_down_red.png") no-repeat right 1px; }
	#menu li:hover .drop { background:url("/images/bullet_arrow_down_red.png") no-repeat right 1px; }
	#menu h3{font-size:12px}
	#menu li:hover div a{font-size:10px}
	.dropdown_1column{ width:95px; }
	.dropdown_2columns{ width:190px; }
	.dropdown_3columns{ width:285px; }
	.col_1{ width:85px; }
	.col_2{ width:180px; }
	.col_3{ width:275px; }
	#menu li .greybox li { width:71px; }
	#menu li ul li { width:85px; }
	#tabLocalImg, #tabShopImg, #tabEmailImg{ width:75px; }
	.ml{ margin:0 0 0 7px; }
}
/* Wide Mobile Layout: 480px */
@media only screen and (min-width:480px) and (max-width:767px) {
	#nav-outerWrap{height:142px}
	#nav-outerWrapAd{height:148px}
	.nav-adWrapper{width:460px; height:56px}
	.nav-ad{width:450px; height:56px}
	.nav-ad img{width:450px; height:56px}
	.nav-menu{height:142px}
	.nav-menuAd{height:148px}
	.nav-menuWrapper{width:460px; height:135px}
	.nav-menuLineOne{width:460px; height:75px}
	.nav-menuLogoWrapper{width:460px; height:45px}
	.nav-menuLineOneSearch{width:300px; top:10px; left:0}
	.searchInput{width:250px}
	.nav-menuLineOneMenu{width:160px; top:-20px; left:300px}
	.nav-menuLineTwo{width:460px; height:60px; top:10px; left:0}
	#menu{width:460px}
	#menu li{margin:8px 4px 0 0}
	#menu li a{font-size:14px}
	#menu li .drop{background:url("/images/bullet_arrow_down_red.png") no-repeat right 4px}
	#menu li:hover .drop{background:url("/images/bullet_arrow_down_red.png") no-repeat right 4px}
	#menu h3{font-size:14px}
	#menu li:hover div a{font-size:12px}
	.dropdown_1column{ width:120px; }
	.dropdown_2columns{ width:240px; }
	.dropdown_3columns{ width:360px; }
	.col_1{ width:110px; }
	.col_2{ width:230px; }
	.col_3{ width:350px; }
	#menu li .greybox li { width:96px; }
	#menu li ul li { width:110px; }
}
