#holder div {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#colheader1 { height: 600px; position: relative; }

/* NAVIGATION */
#nav-outer { height:110px; padding-top:11px; position:absolute; top:0px; left:0px; width: 100%; background-image:url("/m/screen/bg-menu-black.png"); z-index:20001; b1ackground-color:#000; }

#holder {float: left; position: relative; top: 0; left: 0; overflow: hidden; padding: 0; margin: 0;}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 2000px;
	height: 480px;
	overflow: hidden;
	background-color: #050505;
	z-index: 400;
}



#header .next {
	text-indent: -9999px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 500;
	background:url("/images/carousel-next1.png") no-repeat;
        /*background-image: url(/images/newcarousel/rightarrow.png);*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}

#header .next-on {
        text-indent: -9999px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 500;
	background:url("/images/carousel-next1.png") no-repeat;
        /*background-image: url(/images/newcarousel/rightarrow_on.png);*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}

#header .prev {
	text-indent: -9999px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 500;
	background:url("/images/carousel-previous1.png") no-repeat;
        /*background-image: url(/images/newcarousel/leftarrow.png);*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}

#header .prev-on {
        text-indent: -9999px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 500;
	background:url("/images/carousel-previous1.png") no-repeat;
        /*background-image: url(/images/newcarousel/leftarrow_on.png);*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}

#header .pause {
        text-indent: -9999px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 500;
	background:url("/images/carousel-pause1.png") no-repeat;
        /*background-image: url(/images/newcarousel/rightarrow.png);*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}

#header .pause-on {
        text-indent: -9999px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 500;
        background:url("/images/carousel-pause1.png") no-repeat;
        /*background-image: url(/images/newcarousel/rightarrow_on.png);*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}



#header .play {
        text-indent: -9999px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 500;
	background: url("/images/carousel-play1.png") no-repeat;
        /*background-image: url(/images/newcarousel/rightarrow.png);*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}

#header .play-on {
        text-indent: -9999px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 500;
        background: url("/images/carousel-play1.png") no-repeat;
        /*background-image: url(/images/newcarousel/rightarrow_on.png);*/
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}





.logo {
        visibility: visible;
        background:url(/images/newcarousel/kn-logo.png) 0 0 no-repeat;
        width:300px;
        height: 82px;
        position: absolute;
        top: 0px;
        left: 194.5px;
        z-index: 480;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-o-user-select: none; 
}

#logo.dark{
        background-position:0 -82px
}
