* { margin: 0; padding: 0; line-height: 1.4; font-style: normal; font-weight: normal; }
body { color: #4b2c0a; font: 11pt Georgia, 'Times New Roman', serif; }
#footer, #footer-wrap, #content-bg, #content-wrap, #header-wrap, .heading-wrap, #footer .col1, #content .main, .heading-wrap .alpha { width: 7.75in; margin: 0 auto; color:#000;}
#footer .col1 img, #footer .col1 a {display:none; }
#footer .col1 p{color:#000;}
.to-print { display: block; }
h1, h2 { margin-bottom: 0.5em; }
.heading-wrap h1 { margin:0; margin-bottom: 0.1em; padding:0;}
.heading-wrap .alpha { text-align:left; }
.heading-wrap { margin-bottom: 0.3em; padding:0; margin:0;}
.alpha { font-size:1.88888888em; }
p, ul, ol { margin-bottom: 1em; color:#000;}
h2.campana, h2.ir-itineraries, h2.ir-featured-attraction, h2.ir-description { border-top: 4px solid #666; padding-top: 10px; }
.home #content, .home #content-bg, #header-wrap, #header, #footer-wrap { background: none !important; }
.home #main { float: none !important; width: 100% !important; background: none !important; padding: 0 !important; }
.home .split-alt div.node { width: 100% !important; }
.home #content { width: 100% !important; }
#header-image { background: none !important; min-height: 0 !important; }
#header-wrap { padding: 0.2in 0 10px; border-bottom: 5px solid #333; }
.node, .ad, .pagination, .google-ad, .addthis_toolbox, .ad-728, .ad-980, .ad-sitewrap, .ad-sitewrap-homepage, .ad-carousel, .col2, .coda-wrap, .slider-wrap, .sub, #rate-article, #comments-overview, #respond, #more-news, #menu-search, .logo, #search, .nav-wrap, .move, .survey, .header-caption, .secondary, .controls, .accordian, .ir-dont-miss-these-hot-spots, .ad, .coda-wrap, .sponsors ul, #footer .dossier ul, .more, .breadcrumbs, .map-locations, .get-directions, .actions, .roster, h2.ir-in-the-neighborhood, .header-controls-wrap, #header-message, .pagination a, #page-sidebar, #main .homepage-tabs, .pagination strong strong { display: none; }
.summary-alt, .summary { list-style-type: none; }
.summary-alt li, .summary li { border-top: 1px dashed #666; padding-top: 1em; }
#content-wrap { position: static !important;}
#content-wrap { margin:0; padding:10px 0 0 0; background: #fff;}
.subhead { color:#000; }
.split, .split-alt { border-bottom: 4px solid #666; padding-bottom: 10px; margin-bottom: 10px; }
#footer { border-top: 4px solid #333; padding-top: 10px; }
.article-extras-wrap { float:left; width: 260px; text-align: center; margin-right: 15px; border:1px solid #cccccc; padding: 5px; }
.article-extras-wrap p { text-align:left; margin-left: 5px; font-size: 13px; }
.navigation-menu-wrapper, .dropdown, #navigation { display:none; }
