* { margin: 0; padding: 0; line-height: 1.5; }
body { color: #333; font: normal 62.5% Georgia, 'Times New Roman', serif; background-color: #fff; }
h1 { font-size: 30px; line-height: 1.2; margin: 0 0 0.4em; }
h2 { color: #727272; font-size: 22px; margin: 0 0 0.8em; }
h3 { color: #727272; font-size: 20px; margin: 0 0 1em; }
h4 { font-size: 18px; margin: 0 0 0.4em; }
h5 { font-size: 16px; margin: 0 0 0.4em; }
h6 { font-size: 14px; margin: 0 0 0.4em; }

.featured-post { margin-bottom:25px; }
.featured-post .post-header { margin:0; }
.featured-post .post-header h3 { margin:0; }
.featured-post img { margin:5px 0; }
.featured-post p { margin:0; }
.featured-post .author, .featured-post .date_posted { font-size:11px; margin:0; padding;0; }
.featured-post .author:after { content: " | "; }

.holydate-container {
-webkit-box-shadow: -1px 0px 10px #ccc;
   -moz-box-shadow: -1px 0px 10px #ccc;
        box-shadow: -1px 0px 10px #ccc;
border:1px solid #ccc;
margin:20px 0 40px 0;
padding:10px;
}
.holydate-container h1, .holydate-container h3 {
margin:0;
padding:0;
}


.css3button-5816 {
cursor:pointer;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight:bold;
color: #ffffff;
padding: 4px 8px;
background: #ff2819;
background: -moz-linear-gradient( top, #ff2819 0%, #ab0000);
background: -webkit-gradient( linear, left top, left bottom, from(#ff2819), to(#ab0000));
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border: 1px solid #7d0000;
}
.css3button-5816:hover  {
-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.7);
-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.7);
text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}
.ie-cssbutton {
cursor:pointer;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight:bold;
color: #ffffff;
padding: 4px 8px;
background:#ab0000;
border: 1px solid #ff2819;
}
.ie-cssbutton:hover {
background:#ff2819;
border: 1px solid #ab0000;
}
.quote { border-bottom:1px solid #d9d9d9; padding:20px; font-style:italic;}
.quote .author {display:block; font-weight:bold; padding-top:5px; font-style:normal;}
.border { border-color:#d9d9d9; }
.delimiter {margin:0 4px;}
.left {float:left;}
.right {float:right;}
.spacer{padding:10px 0}
.spacerSides{padding:0 10px}
.spacerSearch{margin:0 0 5px 0}
.spacerImgRight{margin:0 10px 0 0}
.spacerImgLeft{margin:0 0 0 10px}
.noMarginTop{margin-top:0}
.noMarginBottom{margin-bottom:0}
.noMarginRight{margin-right:0}
.noMarginLeft{margin-left:0}
.width100{width:100%}
.adUnit728{max-width:970px;margin:0 auto 20px auto}
.recito { color: #3a3a3a; font-size: 40px; font-weight: normal; margin-bottom: 0.9em; padding: 0 0 10px; border-bottom: 1px solid #c8c8c8; }
.recito strong { color: #49c3f6; line-height: 1; font-weight: normal; }
.heading-wrap .recito, .map-wrap .recito { margin-bottom: 0.2em; padding: 0; border: none; }
.sapientia { color: #3d8cb8; font-size: 14px; font-weight: normal; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 2px; }
.special .sapientia { font-size: 12px; }
.special .sapientia a { display: block; line-height: 1.2; margin-bottom: 2px; }
.heading-wrap .sapientia { color: #333; }
.heading-wrap .sapientia strong { color: #35b2e7; font-size: 15px; font-weight: normal; text-transform: none; }
.advent-heading-kp{ 
padding:40px 0 0 0;
margin:0 0 20px 0;
background: transparent url(/images/heading-top-bg.png) no-repeat center top;
border-bottom:2px solid #382c2e;
color:#382c2e;
}
.advent-heading-kp h1 { font-style:italic; }
.article-author { border:1px solid #f0f0f0; background:#fafafa; padding:15px; }
.abbatia { color: #3a3a3a; font-size: 15px; font-weight: bold; line-height: 1.3; margin-bottom: 0.2em; }
.sub .abbatia { clear: left; }
.tab-container .abbatia { display: block; font-weight: normal; line-height: 1; margin-bottom: 0.6em; }
.tab-container .abbatia a { line-height: 1.1; }
.arbustum { font-size: 14px; font-weight: normal; }
.arbustum a { color: #666 !important; }
.barba { color: #666; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; line-height: 1.1; margin-bottom: 0.2em; }
.home .barba { margin-bottom: 0.4em; }
.barba a { color: #fd1b14; line-height: 1.1; }
.bestia { color: #666; font-size: 11px; font-weight: normal; font-style: italic; }
.campana { color: #6ca9c1; font-size: 14px; font-weight: normal; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 0.5em; border-top: 1px solid #ccc; padding-top: 8px; }
.split .node .campana { margin-top: 19px; }
.share-div .campana { display: block; color: #333; border: none; margin-bottom: 0.6em; }
.cariosus { color: #777777; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; text-transform: uppercase; line-height: 1.1; }
.cotidie { color: #999999; font-size: 10px; font-family: Arial, sans-serif; text-transform: uppercase; letter-spacing: 1px; margin: 0 0 1em; }
.decoro { color: #3a3a3a; font-size: 11px; text-transform: uppercase; }
.required { color:#fd1b14; font-weight:bold }
.station-wrap { border:1px solid #ccc; background-color:#fff; font-size:18px; text-align:center; padding:20px; line-height:24px; font-weight:bold; color:#fd1b14; }
strong.decoro { display: block; margin: 0 0 5px; }
.main-full #page-content blockquote { margin:0 20px; font-style:italic;}
.parish-locator { font-family: Arial, sans-serif; font-size: 12px; }
p, ul, dl, ol, blockquote { font-size: 13px; margin: 0 0 1.6em; }
.section { padding: 5px 0 0; border-top: 1px solid #dedede; }
.main ol, .sub ol { margin-left: 25px; }
.main ul, .sub ul { margin-left: 15px; }
.main .title { margin:0 0 10px; padding:0; padding:10px 0 3px 0; border-bottom:3px solid #727272; }
.main-full .title { margin:0 0 10px; padding:0; padding:10px 0 3px 0; border-bottom:3px solid #727272; }
.main .sections, .main-full .sections { border-width:0px; }
.main .sections h3, .main-full .sections h3{ margin:0; padding:0;}
.main .sections img, .main-full .sections img{ float:left; margin:0 10px 0 0; border:1px solid #d8d8d8;}
.main .sections p, .main-full .sections p{padding:0; margin:0 0 10px 0;}
.main .google-ad, .main-full .google-ad { padding: 10px 0 10px 10px; margin: 20px auto; border: 3px solid #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.main .article { font-size: 13px; margin: 0 0 1.6em; line-height: 1.5; }
table { border-collapse: collapse; color: #3c3c3c; font-family: Arial, sans-serif; margin: 0 0 1em; font-size: 11px; padding:0;}
thead tr { border-bottom: 1px solid #c8c8c8; }
tbody tr { border:none; padding:0;}
th { color: #777; font-size: 11px; font-weight: bold; letter-spacing: 0.8px; text-transform: uppercase; background-color: #f1f1f1; text-align: left; }
th.on { color: #15a6e2; }
th, td { padding: 12px; }
td { vertical-align: top; }
table p, table strong { font-family: Georgia, serif; }
table p { margin-bottom: 0.2em; }
table p.details { margin-top: 0.9em; }
table strong { font-size: 13px; font-weight: normal; }
em { font-style: italic; }
strong { font-weight: bold; }
a { color: #fd1b14; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #fd1b14; text-decoration: underline; }
img { display: block; margin: 0 0 20px 0; }
img.ad { border: 1px solid #d8d8d8; margin:0; padding:0;}
#advent-sponsers .ad { border: 1px solid #d9d9d9; margin:0 7px 20px 0; padding:0; padding:5px;}
#advent-sponsers img { margin:0; padding:0;}
img.shopping{display:inline; margin:0; padding:0;}
.services-img {padding:8px;border:8px solid #f1f1f1}
.description-wrap { font-size: 14px; line-height: 1.7; }
.description-wrap img { float: left; margin: 0 15px 10px 0; }
.article-extras-wrap { width:265px; float:left; }
.article-extras-wrap img { margin: 0 15px 5px 0; }
.image-wrap {display:block; overflow:hidden; clear:none;}
.article-extras-wrap p { font-size:11px; color:#777; width:250px; margin:0 0 15px 0; }
.article-extras-wrap .google-ad { width: 200px; padding: 10px 0 10px 16px; margin: 20px auto; border: 3px solid #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.video { width:250px; height:206px; background: #edf5e1; padding:0; position: relative; }
.video .play { position:relative; width:250px; height:206px; top:0px; cursor: pointer; background: transparent url(/m/col-play-button.png) no-repeat center center; }
.video .play:hover { background: transparent url(/m/play-button.png) no-repeat center center; }
a img { border: none; }
input, textarea { font: 12px Georgia, 'Times New Roman', serif; }
input:focus, textarea:focus { color: #3d3d3d; }
label { display: block; }
form .inline label { display: inline !important; vertical-align: middle; }
form .full { width: 100%; }
sub, sup { line-height: 0.5; }
abbr { border: none; }
.logo a, #main-nav .nav-news, #main-nav .nav-catholic-life, #main-nav .nav-local-editions, #main-nav .nav-shopping, .sponsors li a, .submit-search, .submit-search-news, .controls .next, .controls .previous { display: block; text-indent: -9999px; background-color: transparent; background-position: 0 0; background-repeat: no-repeat; }
.logo a, #main-nav .nav-news, #main-nav .nav-catholic-life, #main-nav .nav-local-editions, #main-nav .nav-shopping, .controls .next, .controls .previous, .social li a, .most-popular-tabs li a, .sponsors li a { overflow: hidden; }
.article-author:after, #main-menu ul:after, .addthis_bar_vertical:after, #tags:after, .main #search:after, .clearfix:after, div.featured-item:after, .most-popular-tabs div:after, #header:after, #content:after, .header-caption p:after, .header-controls:after, .breadcrumbs:after, .map-wrap:after, .adjunct:after, .local-search:after, .newsletter:after, .sideBarWrapper:after, .split:after, .feature:after, .split-alt:after, .split-third:after, .slideshow:after, .controls:after, .controls ul:after, .honors:after, .summary-alt li:after, .coda:after, .coda ul:after, .social div:after, #footer:after, #footer ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }
.move { position: absolute; left: -9999px; }
.hide, .to-print { display: none; }
.clearfix { display:inline-block; }
html[xmlns] .clearfix { display:block; }
* html .clearfix { height:1%; }
#content-bg { background: #fff url(/m/screen/bg-content.gif) repeat-x 0 top; }
.ad-728 { width: 970px; height:90px; margin: 0 auto 20px auto; padding:14px 0 0 0; text-align:center; clear:both; }
.ad-728 img { display: block; margin-left: auto; margin-right: auto }
.ad-980 { width: 100%; height:50px; padding:10px 0; text-align:center; background: url(/m/screen/bg-content.gif) repeat-x 0 top; }
.ad-980 img { display: block; margin-left: auto; margin-right: auto }
.ad-sitewrap { width: 100%; height:135px; padding:10px 0; text-align:center; border:0px solid #ccc; }
.ad-sitewrap-homepage { width: 100%; height:200px; padding:10px 0; text-align:center; border:0px solid #ccc; }
.ad-sitewrap-homepage-top { width: 100%; height:120px; padding:10px 0; text-align:center; border:0px solid #ccc; }
.ad-carousel { visibility: hidden; display:none; position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
#content-wrap { min-width: 959px; max-width: 983px; margin: 0 auto 45px; padding:10px 0 0 0; background: #fff; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
#content-wrap-border { min-width: 949px; max-width: 983px; margin: 0 auto 45px; padding:10px 0 0 0; background: #fff; border:5px solid #fd1b14; }
.no-coda #content-wrap { min-height: 450px; margin-bottom: 0; }
#content { width: 958px; margin: 0 auto; padding: 8px 0 0; background: #fff; }
.map-wrap, .heading-wrap { border-bottom: 1px solid #c8c8c8; }
.map-wrap { margin-bottom: 2.5em; }
.heading-wrap { display:block; text-align: center; margin-bottom: 10px; }
.landing-alt .heading-wrap { margin-bottom: 20px; }
.search-results .heading-wrap { text-align: left; margin-bottom: 25px; }
.secondary { float: left; width: 184px; margin: 0 50px 0 0; }
.main { float: left; width: 724px; font-size: 14px; line-height: 1.7;}
.landing .main { width: 643px; }
.main-full, .landing .main-full { width: 958px; }
.landing .sub { float: right; position: relative; width: 300px; padding-top:0;}
.landing .sub h3 {margin:0; padding:0;}
.landing .sub h3 a { color:#727272; margin:0; padding:0;}
.landing-alt .sub { top: 0; }
.article .sub { top: 0; }
.search-results .sub { top: 2.8em; }
.split, .split-alt, .split-third { clear: both; margin: 0 0 1.5em; }
.node { width: 48%; float: right; }
.split-alt .node { width: 174px; }
.split div.first, .split-alt div.first { float: left; }
.split-alt div.first { width: 530px; }
.split-third .node { float: left; width: 25%; margin-left: 2%; }
.split-third .first { margin-left: 0; }
.coda-wrap { clear: both; background: #fff url(/m/screen/bg-coda.gif) repeat-x 0 bottom; padding: 0 0 41px; margin:10px 0 0 0; }
.coda-wrap-bkg { background: #f0f0f0 url(/m/screen/bg-coda-wrap-home.gif) repeat-x 0 0; }
.coda { position: relative; width: 958px; background: transparent; margin: 0 auto; padding: 10px 0 0; border-top: 1px solid #c8c8c8; }
.landing .inside-split { width:300px; margin:0 0 20px 0;}
.landing .inside-split .node { width:140px; float:left; }
.landing .inside-split .ad { width:160px; text-align:center; padding:0; margin:0; }
.featured-item { padding:0 4px 0 0; margin:0 0 20px 0; }
.featured-item img { float:left; margin:0 4px 0 0; width:70px;}
#footer-wrap { clear: both; background: #1f1f1f url(/m/screen/bg-footer.gif) repeat-x 0 0; }
#footer { width: 957px; min-height: 235px; margin: 0 auto; padding: 26px 0 10px; }
#header-image { min-height: 550px; background: #1f1f1f; background-repeat: no-repeat; background-position: center top; }
#header-wrap { background: #232525 url(/m/screen/bg-header-wrap.gif) repeat-x 0 bottom; padding: 15px 0 10px; }
#header-image #header-wrap { background: transparent url(/m/screen/bg-header-image-wrap.png) repeat 0 0; padding-bottom: 0; }
#header, #header-message { position: relative; width: 958px; margin: 0 auto; }
.logo { float: left; margin: 0 0 1px; }
.logo a { width: 409px; height: 69px; background-image: url(/m/logo3.png); }
.home .logo a { color: #fff; width: 475px; height: 81px; background-image: url(/m/home-logo4.png); }
.logo a:hover, .logo a:focus { background-position: 0 -69px; }
.home .logo a:hover, .home .logo a:focus { background-position: 0 -81px; }
.header-caption { text-align: right; width: 400px; margin: 0 auto; padding-left: 558px; position: relative; top: 50px; }
.header-caption p { margin-bottom: 10px; float: right; clear: right; }
.header-caption p.pictured { margin-bottom: 0; }
.header-caption span { clear: both; float: right; color: #333; font-size: 25px; background: transparent url(/m/screen/bg-carousel-text.png) repeat 0 0; padding: 4px 13px 7px; line-height: 1; }
.header-caption a.primary { display: block; clear: both; float: right; position: relative; font-size: 45px; line-height: 1; background: transparent url(/m/screen/bg-carousel-text.png) repeat 0 0; padding: 0 13px 10px; }
.header-caption strong { clear: both; color: #fff; font-size: 12px; font-weight: normal; text-transform: uppercase; letter-spacing: 1px; background: #333; padding: 9px 16px; }
.header-caption strong a { font-size: 16px; text-transform: none; font-style: italic; letter-spacing: 0; }
#menu-search { margin-bottom: 0; color: #fd1b14; font-size: 10px; float: right; width: 360px; margin: 0; letter-spacing: 1px; text-align:right; }
#menu-search a { color: #fff; font-family: Arial, sans-serif; font-size: 11px; text-transform: uppercase; font-weight: bold; }
#menu-search a:hover, #menu-search a:focus { color: #fd1b14; text-decoration: none; }
#menu-search li { list-style-type: none; float: left; margin-left: 8px; padding-left: 12px; }
#menu-search li.first { background: none; margin: 0; padding: 0; }
#menu-logo a, .survey, .survey a { color: #fff; font-family: Arial, sans-serif; font-size: 11px; text-transform: uppercase; font-weight: bold; }
.survey a { font-size: 10px; }
#menu-logo a:hover, #menu-logo a:focus, .survey a:hover, .survey a:focus { color: #fd1b14; text-decoration: none; }
#menu-logo, #main-nav ul { margin-bottom: 0; }
#menu-logo li, #main-nav li { list-style-type: none; float: left; }
.survey { color: #fd1b14; font-size: 10px; float: right; text-align: right; width: 345px; margin: 0; letter-spacing: 1px; }
#search { float: right; width: 345px; margin: 3px 0 0; }
#search p { float: right; background: #1f1f1f; margin: 0; padding: 9px 13px; }
.home #search { margin-top: 7px; }
.main #search { margin:20px 0 10px 0; padding:0; float:none; }
.main #search p { float:left; background: #1f1f1f; margin: 0; padding: 9px 13px; }
#searchtext { float: left; width: 200px; min-height: 16px; }
.submit-search { float: right; width: 73px; height: 24px; background-image: url(/m/widgets/search.gif); margin-left: 5px; border: none; }
.submit-search-news { float: right; width: 73px; height: 24px; background-image: url(/m/widgets/search.gif); margin-left: 5px; border: none; }
.submit-search:hover, .submit-search:focus { background-position: 0 -24px; cursor: pointer; }
.submit-search-news:hover, .submit-search-news:focus { background-position: 0 -24px; cursor: pointer; }
.nav-wrap { clear: both; }
#menu-logo { clear: left; float: left; margin-left:6px; }
#menu-logo li { background: transparent url(/images/menu-logo.gif) no-repeat 0 center; margin-left: 8px; padding-left: 12px; }
#menu-logo li.first { background: none; margin: 0; padding: 0; }
#main-nav { float: right; width: 514px; margin: -7px 0 0; }
#main-nav .header-nav { display: none; }
#main-nav .nav-news, #main-nav .nav-catholic-life, #main-nav .nav-local-editions, #main-nav .nav-shopping { color: #fff; height: 35px; background-color: transparent; background-image: url(/images/menu-nav.png); background-repeat: no-repeat; }
#main-nav .nav-news { width: 109px; }
#main-nav .nav-news:hover, #main-nav .nav-news:focus { background-position: 0 -35px; }
#main-nav .on .nav-news { background-position: 0 -70px !important; }
#main-nav .nav-catholic-life { width: 192px; background-position: -109px 0; }
#main-nav .nav-catholic-life:hover, #main-nav .nav-catholic-life:focus { background-position: -109px -35px; }
#main-nav .on .nav-catholic-life { background-position: -109px -70px !important; }
#main-nav .nav-local-editions { width: 383px; background-position: -301px 0; }
#main-nav .nav-local-editions:hover, #main-nav .nav-local-editions:focus { background-position: -301px -35px; }
#main-nav .on .nav-local-editions { width: 383px; background-position: -301px -70px !important; }
#main-nav .nav-shopping { width: 113px; background-position: -301px 0; }
#main-nav .nav-shopping:hover, #main-nav .nav-shopping:focus { background-position: -301px -35px; }
#main-nav .on .nav-shopping { width: 113px; background-position: -301px -70px !important; }
#header-message-wrap { color: #fff; text-align: center; background: #be2c2c url(/m/screen/bg-header-message.gif) repeat-x 0 bottom; }
#header-message { padding: 20px 0 24px; }
#header-message p { font-size: 15px; margin-bottom: 6px; }
p.welcome { text-transform: uppercase; letter-spacing: 1px; }
p.welcome strong { text-transform: none; }
p.welcome em { font-weight: bold; font-style: normal; }
p.message-cta { display: inline; background: #c33; padding: 6px 9px; }
p.message-cta a { color: #fff; font-style: italic; text-decoration: none; }
p.message-cta a:hover, p.message-cta a:focus { text-decoration: underline; }
a.hide-message { color: #fff; font-family: Arial, sans-serif; font-size: 10px; text-transform: uppercase; background: transparent url(/m/screen/icon-hide-message.gif) no-repeat 0 center; margin: 0 0 0 34px; padding: 0 0 0 18px; }
.nav { font-size: 15px; margin: 0 0 1.5em; padding-bottom: 1px; border-bottom: 2px solid #c8c8c8; }
.nav li { list-style-type: none; padding: 1px 0; border-bottom: 1px solid #c8c8c8; }
.nav li a { display: block; background: #fff url(/m/screen/marker-nav.gif) no-repeat 168px center; padding: 4px 22px 4px 16px; }
.nav li li a { border: none; }
.nav li.on a { background: #dbf3fd url(/m/screen/marker-nav-on.gif) no-repeat 168px center; }
.nav li.on-shopping a { background: #DBDFC3 url(/m/screen/marker-nav-on.gif) no-repeat 168px center; }
.nav li.on li a { background: #fff url(/m/screen/marker-nav-ul.gif) no-repeat left center; padding: 0 0 0 14px; }
.nav li.on li li a { background: #fff url(/m/screen/marker-nav-ul-ul.gif) no-repeat left center; padding-left: 11px; }
.nav li.on ul { margin: 1px 0 0; padding: 8px 22px 8px 31px; border-top: 1px solid #c8c8c8; }
.nav li.on li { font-size: 15px; font-style: italic; border: none; }
.nav li.on li ul { padding: 4px 0 4px 22px; border: none; }
.nav li.on li ul li { font-size: 13px; font-style: normal; }
.breadcrumbs { font-family: Arial, sans-serif; font-size: 10px; text-transform: uppercase; margin: 0 0 0.25em; padding: 0 0 6px; }
.landing .breadcrumbs { min-width: 959px; max-width: 983px; margin: 0 auto; padding: 2px 0 12px; }
.landing #content .breadcrumbs { margin-bottom: 0.25em; padding: 0 0 6px; }
.breadcrumbs li { float: left; list-style-type: none; background: transparent url(/m/screen/marker-breadcrumb.gif) no-repeat left center; margin: 0 0 0 8px; padding: 0 0 0 10px; }
.breadcrumbs li.first { background: none; margin: 0; padding: 0; }
.landing .breadcrumbs li.first { margin-left: 12px; }
.article .breadcrumbs li.first { margin-left: 0; }
.breadcrumbs a { font-weight: bold; }
.lead { margin-bottom: 15px; }
.lead p { font-size: 14px; line-height: 1.7; }
.lead i { font-size: 14px; line-height: 1.7; }
.lead center { font-size: 14px; line-height: 1.7; }
.search-input, #searchtext { background: #fff url(/m/widgets/search-icon.gif) no-repeat 3px center; padding: 3px 0 3px 24px; border: 1px solid #ccc7c7; }
#searchtext { padding-left: 30px; }
.local-search { background: #e3e3e3; margin: 0 0 2em; padding: 10px 11px; }
.main .local-search { background: #b8ecfd; padding: 12px 11px 15px; }
.main .local-search p { margin: 0; }
.local-search label { display: block; color: #999; font-family: Arial, sans-serif; font-size: 10px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.5px; line-height: 1.2; margin: 0 0 5px; }
.main .local-search label { color: #49c3f6; font-size: 11px; }
.local-search .search-input { width: 100px; min-height: 17px; margin: 0 3px 0 0; }
.main .local-search .search-input { width: 507px; padding-left: 32px; }
.local-search .search-input, .local-search .submit-go { float: left; }
.daily-readings { padding: 15px 8px 10px; border: 1px solid #dedede; margin:5px 0 40px 0; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow:0px 3px 10px #c8c8c8; }
.newsletter, .sideBarWrapper { padding: 10px 8px 10px; border: 1px solid #dedede; border-top:4px solid #000000; margin:40px 0 0 0; border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; box-shadow:0px 3px 10px #c8c8c8; }
.newsletter label, .sideBarWrapper label { display: block; color: #3d8cb8; font-family: Arial, sans-serif; font-size: 10px; font-weight: bold; text-transform: uppercase; line-height: 1.2; margin: 0 0 10px; }
.newsletter label img, .sideBarWrapper label img, .sideBarWrapper img { float:left; margin-right:10px; }
#newsletter-email { width: 114px; min-height: 18px; margin-right: 3px; }
#newsletter-email, .newsletter, .sideBarWrapper, .submit-go-alt { float: left; }
.sideBarWrapper-spacer { clear: both; padding: 40px 0 0 0; }
ul.roster { background: #fff; margin-left: 0; border: 1px solid #c8c8c8; border-top: 0; }
ul.filter { border: none; }
.roster li { list-style-type: none; border-top: 3px solid #c8c8c8; color: #777; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; text-transform: uppercase; background: #fff url(/m/screen/bg-roster-open.gif) repeat-x 0 bottom; }
.find .roster li { background: #fff; }
.filter li { font-size: 13px; font-weight: normal; margin-bottom: 15px; border: 1px solid #c8c8c8; border-top: 3px solid #c8c8c8; }
.roster .cariosus, .filter .cariosus { padding: 6px 15px 6px 15px; }
.roster ul { margin: 0; padding: 0 10px; }
.roster ul li { background: transparent; padding: 6px; border-top: 1px dashed #e5e5e5; }
.filter ul li { margin-bottom: 0; padding: 3px 6px; border: none; border-top: 1px dashed #e5e5e5; }
.roster ul li.first { border-top: none; padding-top: 0; }
.roster ul li.featured { padding-bottom: 0; }
.roster img { margin-bottom: 7px; }
.roster li.featured img { position: relative; left: -10px; border: 3px solid #ccc; }
.roster ul li a { font-size: 13px; font-weight: normal; text-transform: none; }
.filter .on a { color: #ccc; }
.accordian li { background: #fff url(/m/screen/bg-accordian-open.gif) repeat-x 0 0; }
.accordian .cariosus { padding: 10px 9px 5px; }
.accordian ul { padding: 0 7px 7px; }
.accordian ul li { padding: 5px 3px; border-top: none; border-bottom: 1px dashed #e5e5e5; }
.accordian ul li.more { border: none; }
.controls { position: relative; margin-bottom: 10px; }
.coda .controls { position: static; margin-bottom: 0; }
.slideshow .controls { width: 340px; float: right; }
.controls ul { margin: 0; padding: 0 19px 0 22px; }
.controls li { list-style-type: none; float: left; }
.controls li a img { border: 2px solid #fff; }
.slideshow-alt .controls li a img { border: 2px solid #000; }
.controls li.on a img, .controls li a:hover img, .controls li a:focus img { border: 2px solid #49c3f6; }
.controls .next, .controls .previous { position: absolute; top: 0; width: 19px; height: 70px; }
.slideshow .controls .next, .slideshow .controls .previous { top: 2px; }
.slideshow-alt .controls .next, .slideshow-alt .controls .previous { height: 75px; top: 10px; }
.controls .next:hover, .controls .previous:hover, .controls .next:focus, .controls .previous:focus { background-position: 100% 0; }
.slideshow .controls .next { right: 0; background-image: url(/images/arrow-right.gif); }
.slideshow-alt .controls .next { right: 6px; background-image: url(/images/arrow-right.gif); }
.slideshow .controls .previous { left: 0; background-image: url(/images/arrow-left.gif); }
.slideshow-alt .controls .previous { left: 6px; background-image: url(/images/arrow-left.gif); }
.slideshow { margin-bottom: 1.5em; border-bottom: 1px solid #e3e3e3; }
.slideshow-alt { margin-bottom: 1.8em; }
.slideshow-alt img { margin: 0; }
.slideshow img { margin-bottom: 8px; }
.slideshow-alt .controls { background: #1a1a1a; padding: 8px 6px; }
.caption { font-family: Arial, sans-serif; font-size: 11px; }
.slideshow-alt p.caption { margin-bottom: 0; }
.caption span { color: #636363; font-weight: bold; }
.caption strong { color: #999; font-size: 10px; font-weight: normal; text-transform: uppercase; }
.slideshow-alt .caption strong, .home p.caption strong { display: block; }
.caption a { font-size: 10px; text-transform: uppercase; }
#content .honors { margin: 0; padding: 13px 0 5px; border-top: 1px solid #e3e3e3; }
.honors li { list-style-type: none; float: left; margin: 0 0 0 9px; }
.honors li a img { margin-bottom: 0; }
#content .summary { margin-left: 0; }
.summary li { clear: both; list-style-type: none; margin: 0 0 2em; }
.summary img, .feature img { float: left; margin: 0 19px 12px 0; border: 3px solid #ccc; }
#content .summary-alt { margin-left: 0; }
.summary-alt { background: transparent url(/m/screen/bg-summary-alt.gif) repeat-x 0 0; padding: 5px 0 5px; border-bottom: 1px solid #ccc; }
.summary-alt li { clear: both; list-style-type: none; margin: 0; padding: 15px 0 0 14px; border-top: 1px dashed #ccc; }
.summary-alt li.first { border-top: none; }
.summary-alt img { float: left; margin: 0 14px 15px 0; }
.count { color: #333; }
.roll { border-top: 1px solid #cecece; }
.roll li { list-style-type:none; background:#e6e6e6 url(/m/screen/bg-roll.gif) repeat-x 0 center; border-top:1px solid #f3f3f3; border-bottom:1px solid #cecece; border-right:1px solid #dedede; }
.roll li.on { background: #fff; border-right: none; border-top: 3px solid #fd1b14; }
.roll li a { display: block; line-height: 1.1; background: transparent url(/m/screen/marker-roll.gif) no-repeat 125px center; padding: 12px 25px 10px 12px; }
.roll li a:hover, .roll li a:focus { background-image: url(/m/screen/marker-roll-hover.gif); }
.roll li.on a { color: #333; background: transparent url(/m/screen/marker-roll-on.gif) no-repeat 125px center !important; text-decoration: none; }
.full { margin:8px 0 10px 0; border-top: 2px solid #e3e3e3; padding:6px 0 10px 0; }
.full strong { display: block; font-size: 11px; text-transform: uppercase; font-weight: bold; background: #e3e3e3; margin-bottom: 5px; padding: 2px 7px 3px; }
.full div { margin:0 0 30px 0; padding:0;}
.full img { float:left; width:65px; height:65px; margin:0 10px 0 0; }
.full h3 { margin:0; }
.full span { padding:0 4px; }
ul.article-meta { padding:0; margin:0 0 20px 0; }
ul.article-meta li { list-style-type: none; }
.sub ul.concise { margin:10px 0 0 0; border-top: 2px solid #ccc; padding-top: 6px; }
ol.concise li { list-style-position: inside; }
ul.concise li, ul.concise-alt li { list-style-type: none; color: #333; font-family: Arial, sans-serif; font-size: 11px; line-height: 1.5; }
ul.concise-alt li { margin-bottom: 3px; }
ul.concise li { font-weight: bold; margin: 0 0 6px; padding: 0 0 6px; border-bottom: 0px dashed #ccc; }
.concise li a, .concise li strong { font-family: Georgia, serif; font-size: 13px; font-weight: normal; line-height: 1.3; }
.concise-alt li a { line-height: 1.1; }
.concise .nested { border-bottom: 0px solid #e3e3e3; }
.concise li.nested strong { display: block; font-size: 12px; font-weight: bold; text-transform: uppercase; text-decoration:underline; margin-bottom: 5px; padding: 2px 7px 3px; }
ul.concise li ul { padding-left: 14px; letter-spacing:0.25px; }
ul.concise li li { background: transparent url(/m/screen/marker-concise.gif) no-repeat 0 center; margin-bottom: 0; padding-left: 10px !important; border: none; }
.split-third img { border: 2px solid #c8c8c8; }
.special { clear: both; background: #efefef; padding: 5px; }
.special-alt { background: #eef9fe; padding: 8px; }
.special img { float: left; margin: 0 10px 10px 0; }
ul.thumbs li { float: left !important; margin: 0 4px 4px 0; }
.thumbs li img { margin-bottom: 0; }
span.high { display: block; color: #34c1ef; font-size: 20px; font-family: Arial, sans-serif; line-height: 1; }
span.low { display: block; color: #727272; font-size: 13px; font-family: Arial, sans-serif; line-height: 1; }
.subhead { display: block; font-size: 13px; color: #3d8cb8; font-style: italic; margin-bottom: 1em; }
.heading-wrap .subhead { font-size: 16px; }
span.subhead { margin-bottom: 0.2em; }
p.subhead { margin-top: -0.6em; }
.abbatia + p.subhead { margin-top: 0; }
.map-wrap .recito { float: left; }
.micro-title-right { float: right; width: 468px; height: 60px; margin: 0 0 8px; }
.map-locations { float: right; width: 246px; height: 44px; background-image: url(/m/titles/map-all-locations.jpg); margin: 0 0 8px; }
.map-locations:hover, .map-locations:focus { background-position: 0 -44px; }
.more a { background: transparent url(/m/screen/marker-more.gif) no-repeat 0 center; padding: 0 0 0 11px; }
a.more { display: block; background: none; }
a.more:after { content: "\2026"; }
.more, .more a { font-family: Arial, sans-serif; font-size: 10px !important; font-weight: bold !important; text-transform: uppercase !important; }
p.more { clear: both; }
p + p.more, ul + p.more { margin: -1em 0 3em; }
.more a, a.more { color: #fd1b14; }
.whole { text-align: right; }
.details { clear: left; color: #777; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.details strong { display: block; }
.details a { font-size: 12px; font-weight: normal; text-transform: none; }
.results .details a { font-size: 11px; font-weight: bold; text-transform: uppercase; }
.adjunct { margin: 0 0 1.5em; border-bottom: 1px solid #c8c8c8; }
.adjunct .recito { float: left; margin: 0; border: none; }
.adjunct .pairing { float: right; margin-top: 10px; }
.pagination { margin:20px 0 0 0; font-size:13px; }
.pagination .page, .pagination .pages, .pagination .current { border: 1px solid #e3e3e3; padding:2px 3px; }
.search-results .pagination { margin: 0 0 1.5em; padding: 6px 0; border-top: 1px solid #e3e3e3; }
.search-results .pagination-first { border-bottom: 1px solid #e3e3e3; border-top: none; }
.pagination .details { margin-right: 15px; }
.pagination * { font-family: Arial, sans-serif; font-weight: bold; text-transform: uppercase; }
.pagination a { margin-left: 2px; }
.pagination p { margin-top: 8px; }
form.pairing label { display: inline; }
form.pairing * { vertical-align: middle; }
form.pairing select { color: #cd2b3a; font-family: Georgia, serif; font-size: 16px; font-style: italic; background: #fff; border: 1px solid #d0d0d0; }
.augment { color: #454545; font-family: Arial, sans-serif; font-size: 9px; font-weight: bold; text-transform: uppercase; line-height: 1; }
.date { display: block; font-size: 13px; font-family: Georgia, serif; font-weight: normal; }
.concise-alt .date { color: #4a4949; font-size: 11px; font-family: Arial, sans-serif; font-weight: bold; }
ul.brief li { list-style-type: disc !important; font-size: 10px; font-family: Arial, sans-serif; }
ul.brief * { line-height: 1; }
.sub{padding-top:10px;}
hr.clear { clear:both; visibility: hidden; margin: 0px;	padding: 0px; }
.coda .featured { padding: 14px 20px 12px; border: 1px solid #c8c8c8; margin-bottom: 0; }
.coda .featured li { float: left; list-style-type: none; width: 168px; margin: 0 0 0 19px; }
.coda .featured li.first { margin-left: 0; }
.coda .featured a { display: block; }
.coda .featured img { margin: 0 0 8px; border: 3px solid #ccc; }a
.coda h2 { margin: 0 0 3px; padding: 0 20px 5px; border-bottom: 3px solid #ccc; }
.social { float: left; width: 549px; background: #fff; }
.social h3 { margin: 10px 0 0; }
.social div { padding: 12px 18px 8px; border: 1px solid #dedede; }
.social .avatar { float: left; margin: 0 10px 10px 0; }
.social p { font-family: Arial, sans-serif; font-size: 12px; }
.social strong { display: block; font-family: Georgia, serif; font-weight: normal; text-transform: uppercase; margin-bottom: 5px; }
.social p.more { margin-bottom: 0; }
.social ul { position: relative; left: -10px; }
.social li { list-style-type: none; float: left; font-size: 11px; line-height: 1.1; width: 75px; margin: 0 0 0 10px; }
.social li a { line-height: 1.2; }
.social li img { margin-bottom: 3px; border: 2px solid #ccc; }
.coda .ad { float: left; margin: 12px 0 0 42px; padding:0; border: 2px solid #d8d8d8; background:#fff; }
.coda .ad img { margin:0 auto; width:300px; height:250px; }
.sponsors { float: left; width: 645px; }
.dossier { float: right; width: 280px; }
#footer .col1,.col2,.col3{ display:inline; float:left; position:relative; margin-left:10px; margin-right:10px; }
#footer .col1 {width:280px;}
#footer .col2 {width:637px;}
#footer .col3 {width:139px; padding-bottom: 0.5em; margin-bottom: 0.5em;}
#footer * { color: #fff; font-family: Arial, sans-serif; font-size: 12px; }
#footer strong { font-size: 11px; text-transform: uppercase; }
#footer strong { letter-spacing: 0.3px; }
#footer a { color: #fd1b14; font-weight: bold; }
.sponsors p { margin-bottom: 2.5em; }
#footer .dossier ul { border-bottom: 1px solid #333e4e; padding-bottom: 0.5em; margin-bottom: 0.5em; }
#footer .dossier li { line-height: 1; }
#footer li { list-style-type: none; display:block;}
.sponsors li { position: relative; margin: 0 33px 0 0; }
.dossier p { clear: both; }
.dossier li { background: transparent url(/m/screen/marker-dossier.gif) no-repeat right center; margin: 0 7px 0 0; padding: 0 11px 0 0; }
.dossier li.last { background: none; padding-right: 0; margin-right: 0; }
.align { margin-top: -19px; }
.narrow { background-position: -742px 0; }
.sub .narrow { background-position: -599px 0; }
.social-facebook, .social-twitter { display: block; text-indent: -9999px; background-color: transparent; background-position: 0 0; background-repeat: no-repeat; }
.social-facebook { width: 125px; height: 30px; background-image: url(/images/social-facebook.gif); }
.social-twitter { width: 125px; height: 30px; background-image: url(/images/social-twitter.gif); }
.padding5{padding:5px}
.padding10{padding:10px}
.paddingbottom5{padding:0 0 5px 0}
.paddingbottom10{padding:0 0 10px 0}
.paddingbottom20{padding:0 0 20px 0}
.paddingbottom30{padding:0 0 30px 0}
.paddingbottom40{padding:0 0 40px 0}
.paddingbottom50{padding:0 0 50px 0}
.mediaKitImg{float:left;padding:0 10px 70px 0}

.jcarousel-container { position: relative; }
.jcarousel-clip { z-index: 2; padding: 0; margin: 0; overflow: hidden; position: relative; }
.jcarousel-list { z-index: 1; overflow: hidden; position: relative; top: 0; left: 0; margin: 0; padding: 0; }
.jcarousel-next { z-index: 3; display: none; }
.jcarousel-prev { z-index: 3; display: none; }
.sm-jcarousel-skin { clear:none; margin:0; padding:0; background:#fff; width:288px; }
.sm-jcarousel-skin .jcarousel-container-horizontal { margin:0 auto; padding:0; width: 280px; }
.sm-jcarousel-skin .jcarousel-clip-horizontal { margin:0 auto; width:280px; }
.sm-jcarousel-skin .jcarousel-item {}
.sm-jcarousel-skin .jcarousel-item-horizontal { margin-right: 0px; }
.sm-jcarousel-skin .jcarousel-item-placeholder { background: #fff; color: #000; }
.sm-jcarousel-skin ul{ margin:0; padding:0; width:280px; }
.sm-jcarousel-skin .jcarousel-list li, .sm-jcarousel-skin .jcarousel-item { float: left; list-style: none; width: 130px; height: 100%; }
.sm-jcarousel-skin .jcarousel-list li { margin:0 5px 0 0; padding:6px; width:122px; height:120px; border:1px solid #d5d5d5; }
.sm-jcarousel-skin .jcarousel-list li p { margin:0 4px; font-size:10px; }
.sm-jcarousel-skin .jcarousel-list li a img { margin:0 auto; border:none; }
.sm-jcarousel-skin .coda-slider-title { position: absolute; top: 0px; left: 0px; font-size:125%; color:#000; font-weight: bold; }
.sm-jcarousel-skin .jcarousel-next-horizontal { position: absolute; top: 4px; right: 8px; width: 16px; height: 16px; cursor: pointer; background: transparent url(/images/video/control_fastforward.gif) no-repeat 0 0; }
.sm-jcarousel-skin .jcarousel-next-horizontal:hover, .jcarousel-next-horizontal:active { background-position: 0 0; background: transparent url(/images/video/control_fastforward_blue.gif) no-repeat 0 0; }
.sm-jcarousel-skin .jcarousel-next-disabled-horizontal, .sm-jcarousel-skin .jcarousel-next-disabled-horizontal:hover, .sm-jcarousel-skin .jcarousel-next-disabled-horizontal:active { background: transparent url(/images/video/control_fastforward.gif) no-repeat 0 0; cursor: default; background-position: 0 0; }
.sm-jcarousel-skin .jcarousel-prev-horizontal { position: absolute; top: 4px; right: 28px; width: 16px; height: 16px; cursor: pointer; background: transparent url(/images/video/control_rewind.gif) no-repeat 0 0; }
.sm-jcarousel-skin .jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:active { background-position: 0 0; background: transparent url(/images/video/control_rewind_blue.gif) no-repeat 0 0; }
.sm-jcarousel-skin .jcarousel-prev-disabled-horizontal, .sm-jcarousel-skin .jcarousel-prev-disabled-horizontal:hover, .sm-jcarousel-skin .jcarousel-prev-disabled-horizontal:active { background: transparent url(/images/video/control_rewind.gif) no-repeat 0 0; cursor: default; background-position: 0 0; }
.slider-wrap { clear:both; padding:0 0 31px; background:transparent; }
.lg-jcarousel-skin { position: relative; width: 950px; background: transparent; margin: 0 auto; padding: 14px 0 1px 14px; border-top: 0px solid #c8c8c8; text-align:left; align:center; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow:0px 3px 10px #c8c8c8; }
.lg-jcarousel-skin .jcarousel-container-horizontal { margin:0 auto; padding:0; width: 938px; }
.lg-jcarousel-skin .jcarousel-clip-horizontal { margin:0 auto; width:938px; }
.lg-jcarousel-skin .jcarousel-item {}
.lg-jcarousel-skin .jcarousel-item-horizontal { margin-right: 0px; }
.lg-jcarousel-skin .jcarousel-item-placeholder { background: #fff; color: #000; }
.lg-jcarousel-skin .ul-wrap { border-top:1px solid #ccc; }
.lg-jcarousel-skin ul{ margin:5px 0 0 0; padding:0; width:938px; }
.lg-jcarousel-skin .jcarousel-list li, .lg-jcarousel-skin .jcarousel-item { float: left; list-style: none; width: 300px; /* 186px 168px; */ height:292px; /* 226px 238px; */ }
.lg-jcarousel-skin .jcarousel-list li { margin: 0 6px 0 6px; /* 0 22px 0 22px; 0 6px 0 6px; */ padding:0; /* 6px 4px 6px 3px; */ width: 300px; height:292px; border:0px solid #d5d5d5; }
.lg-jcarousel-skin .jcarousel-list li p {position:relative;top:-72px;left:2px;padding:10px 5px 10px 7px;background:#000;color:#fff;width:288px;height:50px;font-size:125%;opacity:0.8;filter:alpha(opacity=80);overflow:hidden}
.lg-jcarousel-skin .jcarousel-list li a img { margin:0 auto; border:2px solid #d5d5d5; }
.lg-jcarousel-skin .coda-slider-title { position: absolute; top: 0px; left: 0px; font-size:125%; color:#000; font-weight: bold; }
.lg-jcarousel-skin .jcarousel-next-horizontal { position: absolute; top: 4px; right: 0; width: 21px; height: 22px; cursor: pointer; background: transparent url(/images/arrow-right.gif) no-repeat 0 0; }
.lg-jcarousel-skin .jcarousel-next-horizontal:hover, .jcarousel-next-horizontal:active { background-position: 0 -22px; cursor: pointer; }
.lg-jcarousel-skin .jcarousel-next-disabled-horizontal, .lg-jcarousel-skin .jcarousel-next-disabled-horizontal:hover, .lg-jcarousel-skin .jcarousel-next-disabled-horizontal:active { background: transparent url(/images/arrow-right.gif) no-repeat 0 0; cursor: default; background-position: 0 0; }
.lg-jcarousel-skin .jcarousel-prev-horizontal { position: absolute; top: 4px; right: 18px; width: 21px; height: 22px; cursor: pointer; background: transparent url(/images/arrow-left.gif) no-repeat 0 0; }
.lg-jcarousel-skin .jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:active { background-position: 0 -22px; cursor: pointer; }
.lg-jcarousel-skin .jcarousel-prev-disabled-horizontal, .lg-jcarousel-skin .jcarousel-prev-disabled-horizontal:hover, .lg-jcarousel-skin .jcarousel-prev-disabled-horizontal:active { background: transparent url(/images/arrow-left.gif) no-repeat 0 0; cursor: default; background-position: 0 0; }

.lent-jcarousel-skin { position: relative; width: 588px; background: #efefef; margin: 0 auto 40px auto; padding: 10px 0 0; border-top: 0px solid #c8c8c8; text-align:left; align:center; }
.lent-jcarousel-skin .jcarousel-container-horizontal { margin:0 auto; padding:0; width: 588px; }
.lent-jcarousel-skin .jcarousel-clip-horizontal { margin:0 auto; width:588px; }
.lent-jcarousel-skin .jcarousel-item {}
.lent-jcarousel-skin .jcarousel-item-horizontal { margin-right: 0px; }
.lent-jcarousel-skin .jcarousel-item-placeholder { background: #fff; color: #000; }
.lent-jcarousel-skin .ul-wrap { border:1px solid #ccc; background:#ffffff}
.lent-jcarousel-skin ul{ margin:5px 0 0 0; padding:0; width:588px; }
.lent-jcarousel-skin .jcarousel-list li, .lent-jcarousel-skin .jcarousel-item { float: left; list-style: none; width: 100px; height: 137px; }
.lent-jcarousel-skin .jcarousel-list li { margin:0 5px 0 5px; padding:6px 2px 6px 4px; width:100px; height:137px; border:0px solid #d5d5d5; }
.lent-jcarousel-skin .jcarousel-list li p { margin:0 4px; }
.lent-jcarousel-skin .jcarousel-list li a img { margin:0 auto; border:2px solid #d5d5d5; }
.lent-jcarousel-skin .coda-slider-title { position: absolute; top: 0px; left: 0px; font-size:125%; color:#000; font-weight: bold; }
.lent-jcarousel-skin .jcarousel-next-horizontal { position: absolute; top: 4px; right: 0; width: 21px; height: 22px; cursor: pointer; background: transparent url(/images/arrow-right.gif) no-repeat 0 0; }
.lent-jcarousel-skin .jcarousel-next-horizontal:hover, .jcarousel-next-horizontal:active { background-position: 0 -22px; cursor: pointer; }
.lent-jcarousel-skin .jcarousel-next-disabled-horizontal, .lent-jcarousel-skin .jcarousel-next-disabled-horizontal:hover, .lent-jcarousel-skin .jcarousel-next-disabled-horizontal:active { background: transparent url(/images/arrow-right.gif) no-repeat 0 0; cursor: default; background-position: 0 0; }
.lent-jcarousel-skin .jcarousel-prev-horizontal { position: absolute; top: 4px; right: 18px; width: 21px; height: 22px; cursor: pointer; background: transparent url(/images/arrow-left.gif) no-repeat 0 0; }
.lent-jcarousel-skin .jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:active { background-position: 0 -22px; cursor: pointer; }
.lent-jcarousel-skin .jcarousel-prev-disabled-horizontal, .lent-jcarousel-skin .jcarousel-prev-disabled-horizontal:hover, .lent-jcarousel-skin .jcarousel-prev-disabled-horizontal:active { background: transparent url(/images/arrow-left.gif) no-repeat 0 0; cursor: default; background-position: 0 0; }
.lent_title { height:16px; overflow:hidden; font-size:11px; }

#mycarousel { margin:5px 0 40px 0; padding:24px 0 12px 0; width:298px; border:1px solid #dedede; overflow:hidden; clear:none; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow:0px 3px 10px #c8c8c8; }
#mycarousel-lg { margin:0 0 20px 0; padding:0 0 12px 0; width:938px; border:0px solid #dedede; overflow:hidden; clear:none; }
#mycarousel-lent { margin:0 0 0 0; padding:0 0 12px 0; width:588px; border:0px solid #dedede; overflow:hidden; clear:none; }


.social-tabs-wrap { float: left; width: 549px; background: #fff; margin:0 50px 0 0; }
ul.social-tabs { margin:0 !important; padding:0; height:40px; width:592px; border-bottom:1px solid #ccc; }
ul.social-tabs li { float:left; padding:0; margin:0; list-style-type:none; }
ul.social-tabs a { float:left; display:block; padding:5px 40px; border:1px solid #ccc; border-bottom:0px; height:28px; background-color:#efefef; color:#777; margin-right:2px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright:4px; position:relative; top:1px; }
ul.social-tabs a:hover { background-color:#F7F7F7; color:#fff; }
ul.social-tabs a.current { 
background-color:#fff;
border-bottom:none;
border-top:2px solid #ccc;
color:#000;
cursor:default;
}
.social-panes div { display:none; border:1px solid #ccc; border-width:0 1px 1px 1px; min-height:50px; padding:15px 20px; background-color:#fff; width:550px; }

.most-popular-tabs1-wrap { margin:5px 0 40px 0; }
ul.most-popular-tabs1 { margin:0 !important; padding:0; height:25px; border-bottom:1px solid #ccc; }
ul.most-popular-tabs1 li { float:left; padding:0; margin:0; list-style-type:none; }
ul.most-popular-tabs1 a { float:left; display:block; padding:5px 10px; border:1px solid #ccc; font-size:10px; border-bottom:0px; height:13px; background-color:#efefef; color:#777; margin-right:2px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright:4px; position:relative; top:1px; }
ul.most-popular-tabs1 a:hover { background-color:#F7F7F7; }
ul.most-popular-tabs1 a.current { background-color:#fff; border-bottom:2px solid #fff; color:#000; cursor:default; }
.most-popular-panes1 div { display:none; border:1px solid #ccc; border-width:0 1px 1px 1px; min-height:50px; padding:15px 20px; background-color:#fff; }

ul.homepage-tabs { margin:0 !important; padding:0; height:30px; border-bottom:1px solid #ccc; }
ul.homepage-tabs li { float:left; padding:0; margin:0; list-style-type:none; }
ul.homepage-tabs a { 
float:left; 
font-size:16px; 
font-weight:bold; 
display:block; 
padding:5px 20px; 
text-decoration:none; 
border:1px solid #ccc; 
border-bottom:0px; 
height:18px; 
background-color:#efefef; 
color:#fd1b14; 
margin-right:2px; 
-moz-border-radius-topleft: 4px; 
-moz-border-radius-topright:4px; 
position:relative; 
top:1px; 
}
ul.homepage-tabs a:hover { background-color:#F7F7F7; color:#333; }
ul.homepage-tabs a.current { 
background-color:#fff; 
border-bottom:none; 
border-top:2px solid #fd1b14; 
color:#000; 
cursor:default; 
}
.homepage-panes div { display:none; width:943px; border:1px solid #ccc; border-width:0 1px 1px 1px; min-height:150px; padding:15px 0 0 15px; marign-top:1px; background-color:transparent; }
.homepage-panes { margin: 0 0 20px 0; }

.addthis_toolbox .two_column { width: 216px; padding: 10px 0 10px 0px; margin: 0 auto 0 auto; border: 3px solid #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.addthis_toolbox .two_column a { padding: 4px 0 4px 34px; position: relative; width: 66px; display: block; text-decoration: none; color: blue; }
.addthis_toolbox .two_column a:hover { -moz-border-radius: 4px; -webkit-border-radius: 4px; background: #B4D3F8; text-decoration: none; }
.addthis_toolbox .two_column span { position: absolute; left: 14px; top: 4px; }
.addthis_toolbox .two_column .top { padding: 0 0 10px 0; border-bottom: solid 1px #eee; margin-bottom: 10px; margin: 0 20px 10px 20px; }
.addthis_toolbox .two_column .addmore { border-top: solid 1px #eee; padding: 10px 0 0 0; margin: 10px 20px 0 20px; text-align: center; }
.addthis_toolbox .two_column .addmore a { padding: 4px 0; width: auto; }
.addthis_toolbox .two_column .addmore span { display: none; }
.addthis_toolbox .two_column .column1 { width: 100px; float: left; }
.addthis_toolbox .two_column .column2 { width: 100px; float: left; }
.addthis_toolbox .two_column .clear { clear: both; padding: 0; display: block; height: 0; width: 0; }
.most-popular-tabs-wrap { margin-bottom: 25px; padding-bottom: 8px; }
.most-popular-tabs-wrap a { float: left; width: 37px; height: 38px; }
.most-popular-tabs-wrap a:hover, .most-popular-tabs-wrap a:focus { background-position: 0 -38px; }
.most-popular-tabs { float: left; width: 356px; background: #fff; margin:0 0 20px 0;}
.most-popular-tabs h3 { margin: 10px 0 0; }
.most-popular-tabs div { padding: 12px 8px 8px 8px; margin:26px 0 0 0; border: 1px solid #dedede; }
.most-popular-tabs p { font-family: Arial, sans-serif; font-size: 12px; margin:0 0 6px; padding:0 0 6px;}
.most-popular-tabs strong { display: block; font-family: Georgia, serif; font-weight: normal; text-transform: uppercase; margin-bottom: 5px; }
.most-popular-tabs p.more { margin-bottom: 0; float:right;}
.most-popular-tabs .tabs { position: static; margin: 0; }
.most-popular-tabs .tabs li {position: relative; float: left; left: -1px; top: 1px; min-height: 10px; width: auto; margin: 0; padding:6px 10px; border-left: 1px dashed #c3c3c3 }
* html .most-popular-tabs .tabs li { height: 34px; }
.most-popular-tabs .tabs li.first { left: 0; border-left: none; }
.most-popular-tabs .tabs li.on { z-index: 100; background: #fff; margin-right: -1px; border: 1px solid #dedede; border-bottom: 0; }
.most-popular-tabs ul { position: relative; left: -10px;}
.most-popular-tabs li { list-style-type: none; font-size: 11px; line-height: 1.1; margin: 0 0 0 10px; }
.most-popular-tabs ol { width:100%; margin:0; padding:0;}
.most-popular-tabs ol li { list-style: decimal inside; font-size: 11px; font-weight: bold; margin: 0 0 8px 6px; padding: 0 0 6px; border-bottom: 1px dashed #ccc;}
.most-popular-tabs li a { line-height: 1.2; }
.most-popular-tabs li img { margin-bottom: 3px; border: 2px solid #ccc; }
#comments-overview { padding:0; margin:20px 0; }
#comments-overview h3 { margin:0 0 20px; padding:0; padding:10px 0 3px 0; border-bottom:3px solid #727272; }
.commentlist{ padding:0; margin:20px 0; font-size:12px; line-height:18px; border-bottom: 1px solid #dedede; }
.commentlist li .children{ color:#343434; }
.commentlist li .children li .commentnumber { color:#e1ecef; }
.commentlist li p { margin-right:0px; }
.comment-author { font-weight:bold; font-size:14px; text-decoration:none; margin:3px 3px 0 0; display:inline; color:#3d8cb8; }
.comment-author a { color:#3151a2; }
.comment-author span a { color:#99a7cb; }
.datetime { font-size:11px; }
.commentlist li .comment { padding:10px; overflow:visible; position:relative; border-bottom: 1px solid #dedede; }
.commentlist li .commentnumber { position:absolute; top:20px; right:18px; }
.commentlist li .comment-text { margin:0; }
.commentlist li .comment-text ul, .commentlist li .comment-text ol { margin:auto; }
.commentlist li .comment-text ul li, .commentlist li .comment-text ol li { border:0; }
.commentlist li .comment-text .commentmeta { margin:20px 0 0; }
.commentlist li .comment-text p { font-size:12px; padding-top:10px; }
.commentlist li .children { margin:0; padding:0; overflow:visible; }
.commentlist li .children li.depth-2 { padding:0 0 0 40px; border-right:1px solid #e5e8ea; }
.commentlist li .children li.depth-3 { padding:0 0 0 40px; margin:0 0 0 0; }
.commentlist li .children li.depth-4 { padding:0 0 0 40px; margin:0 0 0 0; }
.commentlist li .children li.depth-5 { padding:0 0 0 40px; margin:0 0 0 0; }
#rate-article { padding:0; margin:20px 0; }
#rate-article h3 { margin:0 0 20px; padding:0; padding:10px 0 3px 0; border-bottom:3px solid #727272; }
#submit-rate { padding:0; margin:0; }
#respond { padding:0; margin:20px 0; }
#respond h3 { margin:0 0 20px; padding:0; padding:10px 0 3px 0; border-bottom:3px solid #727272; }
#respond p.desc { font-size:11px; color:#484747; line-height:18px; margin:0 0; }
#respond label { font-size:14px; font-weight:bold; color:#838383; display:block; margin:0 0 3px; }
#respond .input { margin:5px 0 0; padding:7px 8px; border:2px solid #dedede; background:#FFF; width:85%; font:14px Arial,Helvetica,sans-serif; color:#7d7d7d; }
#respond .input.textarea { width:93% }
#respond .input-half { margin:20px 0 0; width:50%; float:left; }
#message-box { margin:20px 0 0; clear:both; }
#message-box label { font-size:14px; font-weight:bold; color:#838383; display:block; margin:0 0 3px; }
#submit-form { margin:10px 0 0 0; width:164px; height:35px; }
#more-news { padding:0; margin:20px 0; }
#more-news h3 { margin:0 0 20px; padding:0; padding:10px 0 3px 0; border-bottom:3px solid #727272; }
#more-news ul.concise li { background: transparent url(/m/screen/marker-concise.gif) no-repeat 0 center; margin-bottom: 4px; padding-left: 10px !important; }
.information, .success, .warning, .error, .alert { font-size:12px; font-weight:bold; border: 1px solid; margin: 10px 0px; padding:15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center; text-align:left; }
.information { color:#00529B; background-color:#BDE5F8; background-image:url('/images/info.png'); }
.success { color:#4F8A10; background-color:#DFF2BF; background-image:url('/images/success.png'); }
.warning { color:#9F6000; background-color:#FEEFB3; background-image:url('/images/warning.png'); }
.error { color:#D8000C; background-color:#FFBABA; background-image:url('/images/error.png'); }
.alert { background-color:#fffbde; border:1px solid #faeeb5; background-image:url('/images/warning.png'); }
.input-error { font-size:12px; font-weight:bold; color:#D8000C; }
.answer { padding:0 20px 0 4px;}
.button { display:inline; }
.button input { margin:4px 10px 0 0; }
.loading { display:inline; width:32px; height:32px; margin:2px 0 0 0; }
.theform {border:none;}
.theform select {}
.theform ul {list-style:none;}
.theform li ul {}

/* Video Tabs */
#vwrapper { width:100%; }
ul.vtabs { margin:0; padding:0; list-style-type:none; }
ul.vtabs li { padding:0 5px; }
ul.vtabs li a { color:#666; text-decoration:none; line-height:2; }
.selected { font-weight:bold; font-size:13px; background-color:#e7e7e7; padding:5px; }
.vtab-content { clear:both; border-left:1px solid #ddd; padding:0 0 0 10px; }

/* Advent/Christmas Menu Tabs */
#acm-wrapper { width:100%; }
ul.acm-tabs { margin:0 0 20px 0; padding:0; list-style-type:none; }
ul.acm-tabs li { padding:0 5px; cursor:pointer; }
ul.acm-tabs li a { font-size:18px; text-decoration:none; line-height:2; }
ul.acm-tabs li a:hover { text-decoration:underline; }
ul.acm-tabs-sub li a { font-size:16px; text-decoration:underline; }
.selected { font-weight:bold; background-color:#e7e7e7; padding:5px; }
.acm-tab-content { clear:both; border-left:0px solid #ddd; padding:0 0 0 10px; }

/* EC fixes */
.ec_title { height:21px; overflow:hidden; }


/* ** MENU ** */

#content-bg li a:hover, a:focus, a:active { /* color:#fff; */ }

/* HEADER TEXT */
#headertxt { width:960px; margin:0 auto; clear:both; position:relative; top:340px; z-index:20000; }
#firstline { background-image:url("/images/carousel-headerbg.png"); color:#fff; font-size:25px; font-weight:bold; padding:4px 13px 7px; float:left; display:block; }
#secondline { background-image:url("/images/carousel-headerbg1.png"); color:#fff; text-decoration:none; font-size:35px; font-weight:bold; float:left; display:block; clear:both; }
#secondline:hover { text-decoration:underline; }

/* CONTROLS */
.btn { height:30px; width:24px; float:left; cursor:pointer; }
#back { background-image:url("/images/carousel-previous1.png"); }
#next { background-image:url("/images/carousel-next1.png"); }
#control { width:28px; background-image:url("/images/carousel-pause1.png"); }

/* HEADER HAVIGATION */
#headernav-outer { clear:both; position:relative; top:379px; margin:0 auto; width:960px; z-index:20000; }
#headernav { padding-left:882px; }

/* HEADER */
#colheader { height:550px; padding-top:50px; position: relative; background: #1f1f1f url(/m/widgets/loading-v1.gif) no-repeat center center; background-color: #1f1f1f; }
.headerimg { background-position: center top; background-repeat: no-repeat; width:100%; height:550px; position:absolute; }

/* NAVIGATION */
#nav-outer { height:110px; padding-top:11px; position:relative; top:0px; background-image:url("/m/screen/bg-menu-black.png"); z-index:20001;  }
#navigation { border:0px solid #ccc; height:67px; width:960px; margin:0 auto; }
#navigation-logo { float:left; border:0px solid #ccc; height:67px; width:409px; margin:0 auto; background-image:url("/m/logo3.png"); background-position:top left; background-repeat:no-repeat; }
#navigation-logo:hover { height:67px; margin:0 auto; background-image:url("/m/logo3.png"); background-position:0 -69px; background-repeat:no-repeat; }
#navigation-menu-wrapper { height:32px; margin:10px auto; padding:0; border:0px solid #000; /*background-image:url("/images/navigation-menu-bg.png");*/ }
#navigation-menu { border:0px solid #ccc; height:39px; width:960px; margin:0 auto; }

/* SEARCH */
#search { /* background-color:#111; */ float:right; width:280px; padding:10px 0 10px 10px; }
#searchtxt { padding:3px; width:240px; border:2px solid #eee !important; float:left; }
#searchbtn { background:#fd1b14 url(/images/search-icon.png) no-repeat 3px center; border:1px solid #eee !important; width:28px; height:25px; padding:3px; margin-left:-2px; padding-top:0px; cursor:pointer;}
#searchbtn:hover { background:#000 url(/images/search-icon.png) no-repeat 3px center; float:left;}
#search-menu { top:10px; text-align:right; color:#fff; font-size:11px; font-family:arial; font-weight:bold; padding:0 0 5px; }
#search-menu a { margin: 0 0 0 15px; color:#fff; text-decoration:none; }
#search-menu a:hover, a:active { color:#fd1b14; text-decoration:underline; }

/* MENU */
#main-menu { position:relative; top:0; left:0; border:0px solid #ccc; }
#main-menu ul { list-style:none; }
#main-menu ul li { display:inline; font-size:17px; font-family:arial; color:#fff; border:0px solid #ccc; }
#main-menu ul li div a { color:#000; text-decoration:none; font-size:11px; padding:0 0 0 9px; margin:0 0 0 10px; background: transparent url(/images/bullet_red.gif) no-repeat 0 center; }
#main-menu ul li div a:hover { color:#fd1b14; text-decoration:underline; }
#main-menu ul li h3 { color:#000; text-decoration:underline; font-size:14px; text-transform:uppercase; padding:0 0 0 5px; }
#main-menu ul li h3.first { padding:0 0 0 5px; }

/* LEVEL ONE */
ul.dropdown { position: relative; font-size:10px; }
ul.dropdown li { font-weight: bold; float: left; zoom: 1; margin-top:1px; }
ul.dropdown li.news, li.catholic-life, li.local-editions, li.shopping { display: block; padding: 4px 15px; border: 0px solid #333; text-decoration:none; cursor:pointer; }
ul.dropdown li.news img, li.catholic-life img, li.local-editions img, li.shopping img { display: inline; margin:5px 0; }
ul.dropdown li.news:hover, li.news:focus, li.news:active, li.catholic-life:hover, li.catholic-life:focus, li.catholic-life:active, li.local-editions:hover, li.local-editions:focus, li.local-editions:active, li.shopping:hover, li.shopping:focus, li.shopping:active { height:24px; background-image:url("/images/navigation-menu-textbg.png"); }
ul.dropdown a:hover { color: #000; }
ul.dropdown a:active { color: #ffa500; }
ul.dropdown li.main-menu-li a { display: block; padding: 4px 17px; border: 0px solid #333; color:#fff; text-transform:none; text-decoration:none; }
ul.dropdown li.main-menu-li a:hover, li.main-menu-li a:focus, li.main-menu-li a:active { color:#fff; text-decoration:none; height:24px; background-image:url("/images/navigation-menu-textbg.png"); }
ul.dropdown li.hover, ul.dropdown li:hover { position: relative; }
ul.dropdown li.hover a { color: red; }

/* LEVEL TWO */
ul.dropdown li.news ul { width: 500px; height: 325px; visibility: hidden; position: absolute; top: 100%; left: 0; padding:10px 5px; margin:0; background:#fff; /* background-image:url("/images/carousel-textbg.png"); */ z-index:99999; border-radius:0 10px 10px 10px / 0 5px 5px 5px; -moz-border-radius:0 10px 10px 10px / 0 5px 5px 5px; -webkit-border-radius:0 10px 10px 10px / 0 5px 5px 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); border-bottom: 1px solid rgba(0,0,0,0.25); }
ul.dropdown li.catholic-life ul { width: 500px; height: 355px; visibility: hidden; position: absolute; top: 100%; left: 0; padding:10px 5px; margin:0; background:#fff; background-image:url("/images/carousel-textbg.png"); z-index:99999; border-radius:0 10px 10px 10px / 0 5px 5px 5px; -moz-border-radius:0 10px 10px 10px / 0 5px 5px 5px; -webkit-border-radius:0 10px 10px 10px / 0 5px 5px 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); border-bottom: 1px solid rgba(0,0,0,0.25); }
ul.dropdown li.local-editions ul { width: 520px; height: 350px; visibility: hidden; position: absolute; top: 100%; left: 0; padding:10px 5px; margin:0; background:#fff; background-image:url("/images/carousel-textbg.png"); z-index:99999; border-radius:0 10px 10px 10px / 0 5px 5px 5px; -moz-border-radius:0 10px 10px 10px / 0 5px 5px 5px; -webkit-border-radius:0 10px 10px 10px / 0 5px 5px 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); border-bottom: 1px solid rgba(0,0,0,0.25); }
ul.dropdown li.shopping ul { width: 300px; height: 90px; visibility: hidden; position: absolute; top: 100%; left: 0; padding:10px 5px; margin:0; background:#fff; background-image:url("/images/carousel-textbg.png"); z-index:99999; border-radius:0 10px 10px 10px / 0 5px 5px 5px; -moz-border-radius:0 10px 10px 10px / 0 5px 5px 5px; -webkit-border-radius:0 10px 10px 10px / 0 5px 5px 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); border-bottom: 1px solid rgba(0,0,0,0.25); }
ul.dropdown ul li { font-weight: normal; background: #f6f6f6; color: #000; border-bottom: 1px solid #ccc; float: none; }
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a { border-right: none; width: 100%; display: inline-block; }

/* saints calendars */
/*one color*/
#kp21 .cathead { background-color:#f8f8f8; color:#444; border:1px solid #ddd; font-weight:bold }
#kp21 .cathead0 { border:1px solid #ddd; }
#kp21 .cathead0 p {font-size:11px;}
#kp21 .cathead0 a:link { color:#336699; }
#kp21 .cathead0 a:visited { color:#336699; }
#kp21 .cathead0 a:active { color:#5b5b5b; }
#kp21 .cathead0 a:hover { color:#5b5b5b; }
#kp21 .cathead2 { border:1px solid #ddd; }
#kp21 .cathead2 p {font-size:11px;}
#kp21 .cathead2 a:link {color:#cc0000; }
#kp21 .cathead2 a:visited {color:#cc0000;}
#kp21 .cathead2 a:active {color:#5b5b5b;}
#kp21 .cathead2 a:hover {color:#5b5b5b;}

/* jan */
#c002 .cathead {background-color:#e4f7e4;color:#3f8640;border:1px solid #F4FFF4;font-weight:bold}
#c002 .cathead0 {background-color:#F4FFF4;color:#3f8640;border:1px solid #e4f7e4;padding:7px}
#c002 .cathead0 p {font-size:11px;}
#c002 .cathead0 A:link {color:blue;background:#F4FFF4;font-size:11px}
#c002 .cathead0 A:visited {color:blue;background:#F4FFF4}
#c002 .cathead0 A:active {color:#5b5b5b;background:#F4FFF4}
#c002 .cathead0 A:hover {color:#5b5b5b;background:#F4FFF4}
#c002 .cathead2 {background-color:#F4FFF4;color:#3f8640;border:1px solid #e4f7e4;padding:7px}
#c002 .cathead2 p {font-size:11px;}
#c002 .cathead2 A:link {color:#FF0000;background:#F4FFF4;font-size:11px}
#c002 .cathead2 A:visited {color:#FF0000;background:#F4FFF4}
#c002 .cathead2 A:active {color:#5b5b5b;background:#F4FFF4}
#c002 .cathead2 A:hover {color:#5b5b5b;background:#F4FFF4}
/* feb */
#c2 .cathead0 {background-color:#DEDCF6;color:#66669a;border:1px solid #f1f0ff;font-weight:bold}
#c2 .cathead {background-color:#f1f0ff;color:#66669a;border:1px solid #DEDCF6;padding:7px}
#c2 .cathead p {font-size:11px;}
#c2 .cathead A:link {color:blue;background:#f1f0ff;font-size:11px}
#c2 .cathead A:visited {color:blue;background:#f1f0ff}
#c2 .cathead A:active {color:#5b5b5b;background:#f1f0ff}
#c2 .cathead A:hover {color:#5b5b5b;background:#f1f0ff}
#c2 .cathead2 {background-color:#f1f0ff;color:#66669a;border:1px solid #DEDCF6;padding:7px}
#c2 .cathead2 p {font-size:11px;}
#c2 .cathead2 A:link {color:#FF0000;background:#f1f0ff;font-size:11px}
#c2 .cathead2 A:visited {color:#FF0000;background:#f1f0ff}
#c2 .cathead2 A:active {color:#5b5b5b;background:#f1f0ff}
#c2 .cathead2 A:hover {color:#5b5b5b;background:#f1f0ff}
/* mar */
#c1 .cathead {background-color:#c9ddf1;color:#2a5784;border:1px solid #E0F0FF;font-weight:bold}
#c1 .cathead0 {background-color:#E0F0FF;color:#2a5784;border:1px solid #c9ddf1;padding:7px}
#c1 .cathead0 p {font-size:11px;}
#c1 .cathead0 A:link {color:blue;background:#E0F0FF;font-size:11px}
#c1 .cathead0 A:visited {color:blue;background:#E0F0FF}
#c1 .cathead0 A:active {color:#5b5b5b;background:#E0F0FF}
#c1 .cathead0 A:hover {color:#5b5b5b;background:#E0F0FF}
#c1 .cathead2 {background-color:#E0F0FF;color:#2a5784;border:1px solid #c9ddf1;padding:7px}
#c1 .cathead2 p {font-size:11px;}
#c1 .cathead2 A:link {color:#FF0000;background:#E0F0FF;font-size:11px}
#c1 .cathead2 A:visited {color:#FF0000;background:#E0F0FF}
#c1 .cathead2 A:active {color:#5b5b5b;background:#E0F0FF}
#c1 .cathead2 A:hover {color:#5b5b5b;background:#E0F0FF}
/* april */
#c106 .cathead2 {background-color:#FFD9B4;color:#df572d;border:1px solid #fff0e1;font-weight:bold}
#c106 .cathead0 {background-color:#fff0e1;color:#df572d;border:1px solid #FFD9B4;padding:7px}
#c106 .cathead0 p {font-size:11px;}
#c106 .cathead0 A:link {color:#FF0000;background:#fff0e1;font-size:11px}
#c106 .cathead0 A:visited {color:#FF0000;background:#fff0e1}
#c106 .cathead0 A:active {color:#5b5b5b;background:#fff0e1}
#c106 .cathead0 A:hover {color:#5b5b5b;background:#fff0e1}
#c106 .cathead {background-color:#fff0e1;color:#df572d;border:1px solid #FFD9B4;padding:7px}
#c106 .cathead p {font-size:11px;}
#c106 .cathead A:link {color:blue;background:#fff0e1;font-size:11px}
#c106 .cathead A:visited {color:blue;background:#fff0e1}
#c106 .cathead A:active {color:#5b5b5b;background:#fff0e1}
#c106 .cathead A:hover {color:#5b5b5b;background:#fff0e1}
/* may */
#c974 .cathead2 {background-color:#b0c3ad;color:#344d30;border:1px solid #CCDBC4;font-weight:bold}
#c974 .cathead0 {background-color:#CCDBC4;color:#344d30;border:1px solid #b0c3ad;padding:7px}
#c974 .cathead0 p {font-size:11px;}
#c974 .cathead0 A:link {color:#FF0000;background:#CCDBC4;font-size:11px}
#c974 .cathead0 A:visited {color:#FF0000;background:#CCDBC4}
#c974 .cathead0 A:active {color:#5b5b5b;background:#CCDBC4}
#c974 .cathead0 A:hover {color:#5b5b5b;background:#CCDBC4}
#c974 .cathead {background-color:#CCDBC4;color:#344d30;border:1px solid #b0c3ad;padding:7px}
#c974 .cathead p {font-size:11px;}
#c974 .cathead A:link {color:blue;background:#CCDBC4;font-size:11px}
#c974 .cathead A:visited {color:blue;background:#CCDBC4}
#c974 .cathead A:active {color:#5b5b5b;background:#CCDBC4}
#c974 .cathead A:hover {color:#5b5b5b;background:#CCDBC4}
/* jun */
#c986 .cathead {background-color:#DFD9DF;color:#507274;border:1px solid #f0f0f0;font-weight:bold}
#c986 .cathead0 {background-color:#f0f0f0;color:#507274;border:1px solid #DFD9DF;padding:7px}
#c986 .cathead0 p {font-size:11px;}
#c986 .cathead0 A:link {color:blue;background:#f0f0f0;font-size:11px}
#c986 .cathead0 A:visited {color:blue;background:#f0f0f0}
#c986 .cathead0 A:active {color:#5b5b5b;background:#f0f0f0}
#c986 .cathead0 A:hover {color:#5b5b5b;background:#f0f0f0}
#c986 .cathead2 {background-color:#f0f0f0;color:#507274;border:1px solid #DFD9DF;padding:7px}
#c986 .cathead2 p {font-size:11px}
#c986 .cathead2 A:link {color:#FF0000;background:#f0f0f0;font-size:11px}
#c986 .cathead2 A:visited {color:#FF0000;background:#f0f0f0}
#c986 .cathead2 A:active {color:#5b5b5b;background:#f0f0f0}
#c986 .cathead2 A:hover {color:#5b5b5b;background:#f0f0f0}
/* jul */
#c968 .cathead {background-color:#c6cede;color:#437BBE;border:1px solid #E7ECF6;font-weight:bold}
#c968 .cathead0 {background-color:#E7ECF6;color:#437BBE;border:1px solid #c6cede;padding:7px}
#c968 .cathead0 p {font-size:11px;}
#c968 .cathead0 A:link {color:blue;background:#E7ECF6;font-size:11px}
#c968 .cathead0 A:visited {color:blue;background:#E7ECF6}
#c968 .cathead0 A:active {color:#5b5b5b;background:#E7ECF6}
#c968 .cathead0 A:hover {color:#5b5b5b;background:#E7ECF6}
#c968 .cathead2 {background-color:#E7ECF6;color:#437BBE;border:1px solid #c6cede;padding:7px}
#c968 .cathead2 p {font-size:11px}
#c968 .cathead2 A:link {color:#FF0000;background:#E7ECF6;font-size:11px}
#c968 .cathead2 A:visited {color:#FF0000;background:#E7ECF6}
#c968 .cathead2 A:active {color:#5b5b5b;background:#E7ECF6}
#c968 .cathead2 A:hover {color:#5b5b5b;background:#E7ECF6}
/* aug */
#c401 .cathead {background-color:#e2deba;color:#47452f;border:1px solid #FCF4D2;font-weight:bold}
#c401 .cathead0 {background-color:#FCF4D2;color:#47452f;border:1px solid #e2deba;padding:7px}
#c401 .cathead0 p {font-size:11px;}
#c401 .cathead0 A:link {color:blue;background:#FCF4D2;font-size:11px}
#c401 .cathead0 A:visited {color:blue;background:#FCF4D2}
#c401 .cathead0 A:active {color:#5b5b5b;background:#FCF4D2}
#c401 .cathead0 A:hover {color:#5b5b5b;background:#FCF4D2}
#c401 .cathead2 {background-color:#FCF4D2;color:#47452f;border:1px solid #e2deba;padding:7px}
#c401 .cathead2 p {font-size:11px}
#c401 .cathead2 A:link {color:#FF0000;background:#FCF4D2;font-size:11px}
#c401 .cathead2 A:visited {color:#FF0000;background:#FCF4D2}
#c401 .cathead2 A:active {color:#5b5b5b;background:#FCF4D2}
#c401 .cathead2 A:hover {color:#5b5b5b;background:#FCF4D2}
/* sep */
#c7 .cathead {background-color:#cae7e6;color:#0d5956;border:1px solid #D9F4F3;font-weight:bold}
#c7 .cathead0 {background-color:#D9F4F3;color:#0d5956;border:1px solid #cae7e6;padding:7px}
#c7 .cathead0 p {font-size:11px;}
#c7 .cathead0 A:link {color:blue;background:#D9F4F3;font-size:11px}
#c7 .cathead0 A:visited {color:blue;background:#D9F4F3}
#c7 .cathead0 A:active {color:#5b5b5b;background:#D9F4F3}
#c7 .cathead0 A:hover {color:#5b5b5b;background:#D9F4F3}
#c7 .cathead2 {background-color:#D9F4F3;color:#0d5956;border:1px solid #cae7e6;padding:7px}
#c7 .cathead2 p {font-size:11px}
#c7 .cathead2 A:link {color:#FF0000;background:#D9F4F3;font-size:11px}
#c7 .cathead2 A:visited {color:#FF0000;background:#D9F4F3}
#c7 .cathead2 A:active {color:#5b5b5b;background:#D9F4F3}
#c7 .cathead2 A:hover {color:#5b5b5b;background:#D9F4F3}
/* oct */
#c1001 .cathead {background-color:#E1C8C3;color:#67322e;border:1px solid #f3d9d7;font-weight:bold}
#c1001 .cathead0 {background-color:#f3d9d7;color:#67322e;border:1px solid #E1C8C3;padding:7px}
#c1001 .cathead0 p {font-size:11px;}
#c1001 .cathead0 A:link {color:blue;background:#f3d9d7;font-size:11px}
#c1001 .cathead0 A:visited {color:blue;background:#f3d9d7}
#c1001 .cathead0 A:active {color:#5b5b5b;background:#f3d9d7}
#c1001 .cathead0 A:hover {color:#5b5b5b;background:#f3d9d7}
#c1001 .cathead2 {background-color:#f3d9d7;color:#67322e;border:1px solid #E1C8C3;padding:7px}
#c1001 .cathead2 p {font-size:11px}
#c1001 .cathead2 A:link {color:#FF0000;background:#f3d9d7;font-size:11px}
#c1001 .cathead2 A:visited {color:#FF0000;background:#f3d9d7}
#c1001 .cathead2 A:active {color:#5b5b5b;background:#f3d9d7}
#c1001 .cathead2 A:hover {color:#5b5b5b;background:#f3d9d7}
/* nov */
#c394 .cathead {background-color:#adde88;color:#375d1c;border:1px solid #e4f7e4;font-weight:bold}
#c394 .cathead0 {background-color:#e4f7e4;color:#375d1c;border:1px solid #adde88;padding:7px}
#c394 .cathead0 p {font-size:11px;}
#c394 .cathead0 A:link {color:blue;background:#e4f7e4;font-size:11px}
#c394 .cathead0 A:visited {color:blue;background:#e4f7e4}
#c394 .cathead0 A:active {color:#5b5b5b;background:#e4f7e4}
#c394 .cathead0 A:hover {color:#5b5b5b;background:#e4f7e4}
#c394 .cathead2 {background-color:#e4f7e4;color:#375d1c;border:1px solid #adde88;padding:7px}
#c394 .cathead2 p {font-size:11px}
#c394 .cathead2 A:link {color:#FF0000;background:#e4f7e4;font-size:11px}
#c394 .cathead2 A:visited {color:#FF0000;background:#e4f7e4}
#c394 .cathead2 A:active {color:#5b5b5b;background:#e4f7e4}
#c394 .cathead2 A:hover {color:#5b5b5b;background:#e4f7e4}
/* dec */
#c74 .cathead {background-color:#A3A3C7;color:#46465A;border:1px solid #BABBE4;font-weight:bold}
#c74 .cathead0 {background-color:#BABBE4;color:#46465A;border:1px solid #A3A3C7;padding:7px}
#c74 .cathead0 p {font-size:11px;}
#c74 .cathead0 A:link {color:blue;background:#BABBE4;font-size:11px}
#c74 .cathead0 A:visited {color:blue;background:#BABBE4}
#c74 .cathead0 A:active {color:#5b5b5b;background:#BABBE4}
#c74 .cathead0 A:hover {color:#5b5b5b;background:#BABBE4}
#c74 .cathead2 {background-color:#BABBE4;color:#46465A;border:1px solid #A3A3C7;padding:7px}
#c74 .cathead2 p {font-size:11px}
#c74 .cathead2 A:link {color:#FF0000;background:#BABBE4;font-size:11px}
#c74 .cathead2 A:visited {color:#FF0000;background:#BABBE4}
#c74 .cathead2 A:active {color:#5b5b5b;background:#BABBE4}
#c74 .cathead2 A:hover {color:#5b5b5b;background:#BABBE4}
/* saints calendars */

/* Forms
---------------------------------------------------------------------------------*/
form .file { border:1px solid #d5d5d5; border-collapse:collapse; position:relative; }
form input.textbox { font-weight:normal; padding:4px; border:1px solid #d5d5d5; border-collapse:collapse; width:300px; }
form input.rate-this-textbox { font-weight:normal; padding:4px; border-collapse:collapse; width:100px; }
form input.textbox:focus { border-color:#aaa; background-color:#fafafa; } 
form .disabled_textbox { padding:4px; border:1px solid #d5d5d5; border-collapse:collapse; width:300px; background:#ffffff; color:#000000; font-weight:bold; }
form select { border:1px solid #d5d5d5; margin:0 0 0 0; }
form .selectbox { padding:0px; border:1px solid #d5d5d5; border-collapse:collapse; width:300px; }
form .selectbox:focus { border-color:#aaa; background-color:#fafafa; }
form textarea{ margin:0 0 0 0; border:1px solid #d5d5d5; }
form textarea:focus { border-color:#aaa; background-color:#fafafa; }
fieldset { margin:0 0 1em 0; border:1px solid #d5d5d5; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
fieldset.noBorder { margin:0 0 1em 0; border:0px solid #d5d5d5; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
form ol { padding:1em; list-style: none; }
form li { padding-bottom:1em; }
form label { font-weight:bold; font-size:138.5%; display:block; margin-bottom:0.2em; color:#444444; }
label .small-text { font-size:61%; }
form textarea.styled { width:400px; height:100px; padding:5px; border-collapse:collapse; }

img.double-border {
border: 1px solid #d9d9d9;
padding: 4px; 
background: #fff; 
}
.pope h3 { margin:0 0 5px 0; }


#pope-nav {
background:url(/pope/jp2/images/John_Paul_kissing_baby.jpg) no-repeat;
width:960px;
height:500px;
}

#pope-nav-wrapper {
width:300px;
height:100px;
float:right;
}

#pope-nav .early-years { 
display: block; 
text-indent: -9999px;
background: transparent url(/pope/jp2/images/pope-nav-early-years.png) no-repeat 0 0;
overflow: hidden;
color: #fff; 
width:300px;
height:100px; 
cursor:pointer;
}
#pope-nav .early-years:hover, #pope-nav .early-years:focus { background-position: 0 -100px; }

#pope-nav .priesthood {
display: block;
text-indent: -9999px;
background: transparent url(/pope/jp2/images/pope-nav-priesthood.png) no-repeat 0 0;
overflow: hidden;
color: #fff;
width:300px;
height:100px;
cursor:pointer;
}
#pope-nav .priesthood:hover, #pope-nav .priesthood:focus { background-position: 0 -100px; }


#pope-nav .pope {
display: block;
text-indent: -9999px;
background: transparent url(/pope/jp2/images/pope-nav-pope.png) no-repeat 0 0;
overflow: hidden;
color: #fff;
width:300px;
height:100px;
cursor:pointer;
}
#pope-nav .pope:hover, #pope-nav .pope:focus { background-position: 0 -100px; }

#pope-nav .sainthood {
display: block;
text-indent: -9999px;
background: transparent url(/pope/jp2/images/pope-nav-canonization.png) no-repeat 0 0;
overflow: hidden;
color: #fff;
width:400px;
height:100px;
cursor:pointer;
}
#pope-nav .sainthood:hover, #pope-nav .sainthood:focus { background-position: 0 -100px; }

#pope-nav .archives {
display: block;
text-indent: -9999px;
background: transparent url(/pope/jp2/images/pope-nav-archives.png) no-repeat 0 0;
overflow: hidden;
color: #fff;
width:400px;
height:100px;
cursor:pointer;
}
#pope-nav .archives:hover, #pope-nav .archives:focus { background-position: 0 -100px; }




.micro-pope .recent-popes {
float:left; 
width:290px; 
font-size:12px;
}

.micro-pope .archive-list {
float:right; 
width:270px; 
margin-bottom:20px;
font-size:12px;
}

.micro-pope .ads {
float:right;
padding:0 0 0 20px;
}

.archive-list ul {
padding:0;
margin:0;
list-style:none;
}

.archive-list li {
padding:7px 17px 7px 20px;
background:#fff;
border-bottom:1px solid #ccc;
}

.archive-list li:hover {
background:transparent url(http://images.catholic.org/images/archivelist-bkg.jpg) no-repeat right center;
}
.archive-list .first { 
border-top:2px solid #ccc;
}

.archive-list .last {
border:none;
}

.archive-list a { 
color: #fd1b14; 
text-decoration:none; 
}

.archive-list a:hover, a:focus { 
color: #fd1b14; 
}

.sidebar-col-c .archive-list li, .sidebar-col-d .archive-list li {
padding:7px 7px 7px 7px;
}
.page-col-b .archive-list li { 
padding:7px; 
list-style:none;
}

.pretty_table { 
width: 100%; 
margin: 20px 0; 
padding:0; 
border-collapse:collapse; 
border-spacing:0; 
font-size:12px;
font-family: Georgia, serif; 
}
.pretty_table caption { text-align:right; }
.pretty_table th { padding: 10px; border-bottom: 2px solid #d5d5d5; text-align: left; }
.pretty_table td { padding: 10px; color: #7b7b79; border-bottom: 1px solid #d5d5d5; vertical-align: top;}

.pretty-table {
width: 100%;
margin: 20px 0;
padding:0;
border-collapse:collapse;
border-spacing:0;
font-size:12px;
font-family: Georgia, serif;
}
.pretty-table caption { text-align:right; }
.pretty-table th { padding: 10px; border-bottom: 2px solid #d5d5d5; text-align: left; }
.pretty-table td { padding: 10px 4px; color: #7b7b79; border-bottom: 1px solid #d5d5d5; vertical-align: top;}

#embed_youtube_video {
margin:0 0 10px 0;
}


/*
#client-sidebar { margin:0; padding:1px 0 0 0; width:200px; }
#client-sidebar ul {}
#client-sidebar li { border-bottom:1px solid #ccc; padding:4px 0; }
#client-sidebar li.menu-item { background:#f8f8f8; padding:4px 0 4px 14px;}
#client-sidebar li.menu-item:hover { background:#f8f8f8 url(/images/navigation-bg.gif) no-repeat right center; padding:4px 0 4px 14px;}
#client-sidebar li h3 { font-size:16px; margin:0px padding:4px 0;}
#client-sidebar a:link, #client-sidebar a:visited { text-decoration:none; color:#0e67cf; }
*/

/******* social links ******************************/
#interaction-wrap {
display:none;
padding:0;
margin:0;
background:#000 url("/m/screen/bg-menu-black.png");
width:100%;
}

#interaction-wrap .social-interaction {
width:974px;
height:45px;
margin:0 auto;
text-align:left;
line-height:45px;
color:#fff;
font-size:14px;
font-family:"lucida grande","tahoma","arial","helvetica";
font-weight:bold;
text-shadow:1px 1px black;
}

#interaction-wrap .social-facebook {
display:inline-block;
padding:0;
margin:0 6px;
width:102px;
height:33px;
background:url(/images/header-facebook.jpg) center left no-repeat;
line-height:33px;
text-indent:-9999px;
}

#interaction-wrap .social-twitter {
display:inline-block;
padding:0;
margin:0 6px;
width:102px;
height:33px;
background:url(/images/header-twitter.jpg) center left no-repeat;
line-height:33px;
text-indent:-9999px;
}

#interaction-wrap .social-close {
float:right;
display:inline-block;
padding:0 0 0 16px;
margin:0;
height:45px;
line-height:45px;
background:url(/images/close_white.png) center left no-repeat;
color:white;
font-size:.8em;
}

#interaction-wrap a:link {text-decoration: none; }
#interaction-wrap a:visited {text-decoration: none; }
#interaction-wrap a:active {text-decoration: none; }
#interaction-wrap a:hover {text-decoration: underline; }

.photos_wrap {
width:150px;
margin:0 42px 0 0;
float:left;
}

.phots_wrap img {
padding:0;
margin:0;
}

.phots_wrap a{
padding:0;
margin:0;
}

.photo_links {
margin:10px 0;
overflow:hidden;
clear:none;
}

.photo_links img {
vertical-align:middle;
display:inline;
padding:0;
margin:0 0 5px 0;
}

.photo_links a {
padding:0;
margin:0;
}

.photo_share, .photo_print {
float:left;
}

.photo_print {
margin:0 0 0 40px;
}

.photo_controls {
margin:10px 0;
font-size:22px;
font-weight:bold;
}

.photo_controls img {
vertical-align:middle;
display:inline;
padding:0;
margin:0 0 5px 0;
}


#tags {
list-style:none;
padding:0;
margin:0 0 20px 0;
font-family:arial, sans-serif;
}
#tags strong { float:left; margin: 0 10px 0 0; }

#tags li{
float:left;
height:18px;
margin:0 5px 6px 0;
padding:0;
}

#tags li a {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; 
background-color: #fd1b14;
color:#ffffff;
padding:4px 8px;
text-decoration:none;
font-weight:bold;
}
#tags li a:active { opacity:0.75 !important }
#tags li:hover a,
#tags li a.selected {
background-color:#353535;
}

#page-content {
float:left;
width:640px;
margin:0;
padding:0;
}
#page-sidebar {
float:right;
width:300px;
margin:0;
padding:5px 0 15px 0;
}

.sidebar-col-c {
width:130px;
float:left;
}

.sidebar-col-d {
width:130px;
float:right
}

.alphabet a {
padding: 0 .2em 0 0;
}

.half, .half-last{ float:left; width:48%; margin-bottom:10px; margin-right:10px; }
.half-last{ margin-right:0}

.page-col-a, .page-col-b{ float:left; width:70%; margin-bottom:10px; margin-right:10px; }
.page-col-b{ margin-right:0; width:27%; float:right;}

.page-col-x, .page-col-y, .page-col-z{ float:left; width:206px; padding:0; margin-right:10px; }
.page-col-x{}
.page-col-y{}
.page-col-z{margin-right:0;}

#navi {
width:230px;
float:right;
margin:0 0 10px 10px;
border-left:1px solid #d9d9d9;
}

#navi li {
list-style-type: none;
color: #333;
margin-bottom:5px;
}
#feast-day li {
list-style-type: none;
color: #333;
line-height: 1.3;
width:45%;
float:left;
margin-right:14px;
}
ul.article-list {
margin-left: 0;
width:32%;
float:left;
}
ul.article-list li {
list-style-type: none;
color: #333;
line-height: 1.3;
}
ul.article-list li {
font-weight: bold;
margin: 0 6px 6px 6px;
padding: 0 6px 6px 6px;
border-bottom: 1px dashed #ccc;
}
ul.article-list li.last {
border:0;
}

ul.article-list li a,
ul.article-list li strong {
font-weight: normal;
line-height: 1.3;
}
.article-header {
margin:10px 0;
padding:0 0 5px 0;
border-bottom: 2px solid #ccc;
}

.article-image {
margin-right:10px;
padding-bottom:20px;
float:left;
}

#saint-search-frm {
margin:0 0 20px 0;
border:1px solid #ebebeb;
background-color:#f8f8f8;
padding:10px;
}

#saint-search-frm input[type="text"] {
width:170px;
border:1px solid #e1e1e1;
padding:5px 2px;
margin:0 5px 0 0;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 25%, #ffffff 50%, #ffffff 75%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(25%,#ffffff), color-stop(50%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f2f2 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,#f2f2f2 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f2f2f2 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,#f2f2f2 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f2f2f2 0%,#ffffff 25%,#ffffff 50%,#ffffff 75%,#f2f2f2 100%); /* W3C */
}
#saint-search-frm input[type="text"]:focus {
-webkit-box-shadow: 0px 0px 5px #fd1b14;
-moz-box-shadow: 0px 0px 5px #fd1b14;
box-shadow: 0px 0px 5px #fd1b14;
}

#saint-search-frm .css3button-5816 {
cursor:pointer;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight:bold;
color: #ffffff;
padding: 4px 8px;
background: -moz-linear-gradient( top, #ff2819 0%, #ab0000);
background: -webkit-gradient( linear, left top, left bottom, from(#ff2819), to(#ab0000));
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border: 1px solid #7d0000;
-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.7);
-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.7);
text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}

.alphabet ul.letter {
margin:0;
padding: 0;
font-size: 125%; 
color: #777;
text-transform: uppercase;
}

.alphabet ul.letter li {
display: inline;
margin-right: 4px;
}

.alphabet ul.letter li.last {
margin-right: 0;
}

.alphabet ul.letter li a.selected {
color: #777;
text-decoration: none;
font-size:100%;
background:none;
}

.alphabet ul.letter li a {
text-decoration: none;
}

.alphabet ul.letter li a:hover {
color: #444;
}

.stigmata-thumb {
margin:0 20px 20px 0;
padding:10px 4px 4px 4px;
border:1px solid #cccccc;
width:120px;
height:200px;
float:left;
}

.stigmata-thumb img {margin:0 auto;padding:0;border:0;}

/* Wiki styles */
#wikiInfo div.thumb{border:none;width:auto;margin-top:0.5em;margin-bottom:0.8em;background-color:transparent}
#wikiInfo div.thumbinner{border:1px solid #cccccc;padding:3px !important;background-color:White;font-size:90%;text-align:center;overflow:hidden}
#wikiInfo html .thumbimage{border:1px solid #cccccc}
#wikiInfo html .thumbcaption{border:none;text-align:left;line-height:1.4em;padding:3px !important;font-size:90%}
#wikiInfo div.magnify{display:none}
#wikiInfo div.tright{float:right;clear:right;margin:0.5em 0 0.8em 1.4em}
#wikiInfo div.tleft{float:left;clear:left;margin:0.5em 1.4em 0.8em 0}
#wikiInfo img.thumbborder{border:1px solid #dddddd}
#wikiInfo blockquote {margin-left:20px}
#wikiInfo h2 {border-bottom:1px solid #d9d9d9}
#wikiInfo h3 {margin-bottom:4px;padding:0;color:#212121}


.share_content {
float: left;
width: 72px;
margin: 0 12px 0 0;
text-align: center; 
border:1px solid black;
}

.share_content .twitter-share-button {
margin: 0 0 8px; 
}

.section-hd {
overflow:hidden;
clear:none;
border-bottom:1px solid #727272;
margin:0 12px 8px 0;
}
.section-hd .left { height:28px; line-height:28px; }
.section-hd .right{ height:28px; line-height:28px; }
.section-hd .right a { font-size:12px; }

.video-container{
width:140px;
height:190px;
float:left;
padding:0 5px;
margin:0 10px 0 0;
overflow:hidden;
clear:none;
color: #333; 
font-family:arial,sans-serif;
}

.video-container img {
margin:0;
}

.horizontal-wrap {
overflow:hidden;
clear:none;
padding:6px 4px;
margin:0 0 10px 0;
font-family:arial,sans-serif;
}
.horizontal-wrap .left { width:100px; height:75px; line-height:75px; }
.horizontal-wrap .right{ width:190px; height:75px; line-height:75px; font-size:18px; }

.horizontal-wrap-2 {
overflow:hidden;
clear:none;
padding:6px 4px;
margin:0 0 10px 0;
font-family:arial,sans-serif;
}
.horizontal-wrap-2 .left { width:100px; height:75px; }
.horizontal-wrap-2 .right{ width:190px; height:75px; font-size:12px; padding:2px 0;}

#video-meta-data{
font-family:arial,sans-serif;
margin:10px 0;
}
#video-meta-data .right { width:530px; margin:0 0 0 20px; }
#video-meta-data .left { float:left; width:70px; }

.share-vertical-wrapper {
margin: 0 0 8px;
text-align:left;
}

.share_horizontal { margin:12px 0; padding:7px; background-color:#f7f7f7; border:1px solid #f2f2f2; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow:0px 2px 5px #f1f1f1; }

.landing .sub .sideBarWrapper h3 { border-bottom:2px solid #eee; padding:3px; margin-bottom:10px; text-transform:uppercase; text-align:center; }
.landing .sub .sideBarWrapper h3 a { color:#ff0000; text-decoration:none; }
.landing .sub .sideBarWrapper p a { font-size: 13px; color: #000; text-transform: uppercase; text-decoration: none; }
.landing .sub .sideBarWrapper p a:hover { color: #727272; }
.landing .sub .sideBarWrapper .red { color: #fd1b14; text-decoration: underline; text-transform: capitalize;}


#section-sub-menu ul.dropdown { position: relative; font: normal 16px Georgia, 'Times New Roman', serif; margin:0 auto; padding:0; width:900px; }
#section-sub-menu ul.dropdown li { font-weight:bold; float:left; zoom:1; list-style:none; margin:0; padding:0; }
#section-sub-menu ul.dropdown a img { vertical-align:top; }
#section-sub-menu ul.dropdown a:hover { color:#382c2e; text-decoration:none; background: #f6f6f6;}
#section-sub-menu ul.dropdown a:active { color:#382c2e; }
#section-sub-menu ul.dropdown li a { display:block; padding:4px 8px; color: #382c2e; margin:0;}
#section-sub-menu ul.dropdown li:last-child a { border-right: none; } /* Doesn't work in IE */
#section-sub-menu ul.dropdown li.hover,
#section-sub-menu ul.dropdown li:hover { position:relative; text-align:left; color:#fff; }
#section-sub-menu ul.dropdown li.hover a { color:#382c2e; text-align:left; text-decoration:none;}
#section-sub-menu ul.dropdown li a.down-arrow {
display:block; 
padding:4px 16px 4px 8px; 
color: #382c2e;
text-decoration:none;
background: transparent url(/images/bullet_arrow_down.png) no-repeat right center;
}
#section-sub-menu .sub_menu { border:solid #382c2e; border-width:0 2px 2px 2px; padding:0; margin:2px 0 0 0;}
#section-sub-menu ul.dropdown li a.down-arrow:hover { background: #f6f6f6; }

#section-sub-menu ul.dropdown ul { width:240px; visibility:hidden; position:absolute; top:100%; left: 0; background:#ffffff; }
#section-sub-menu ul.dropdown ul li { font-weight: normal; background: #f6f6f6; color: #382c2e; border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
#section-sub-menu ul.dropdown ul li a { border-right:none; padding:4px 4px 4px 8px; width: 228px; display: inline-block; background:none; } 
#section-sub-menu ul.dropdown ul li a:hover { text-decoration:underline; }

#section-sub-menu ul.dropdown ul ul { left: 100%; top: 0; }
#section-sub-menu ul.dropdown li:hover > ul { visibility: visible; z-index:200000001}

/* ----- More News ---- */
.more-news-wrap { overflow:hidden; clear:none; margin:10px 0; }
.more-news-wrap .news-post { position:relative; width:220px; height:175px; float:left; overflow:hidden; margin:0 5px 0 0; }
.more-news-wrap .news-post:last-child { margin:0; }
.more-news-wrap .news-post .title-bkg { position:absolute; bottom:0; padding:2px; height:45px; overflow:hidden; background-color:#000; -webkit-opacity: 0.75; -moz-opacity: 0.75; -o-opacity: 0.75; opacity: 0.75; }
.more-news-wrap .news-post h3 { font-size:12px; }
.more-news-wrap .news-post h3 a{ color:#fff; -webkit-opacity: 1.0; -moz-opacity: 1.0; -o-opacity: 1.0; opacity: 1.0; }
.more-news-wrap .small-img { float:left; vertical-align:top; }

.pointer{ cursor: pointer; }
.mt { margin: 10px 0 0 0; }
.coda-ad { margin: 0 0 0 550px; }
.nav-sub-section { margin: 0 0 0 15px; }
.text16{font-size:16px}
.text18{font-size:18px}
