body {
	background: #fff url('/images/paper-texture-light.jpg') repeat;
}
/* HTML5 display-role reset for older browsers */
.block, .block *, .image-wrapper a, .image-wrapper a:link, .image-wrapper a:visited, .image-wrapper a:hover, .image-wrapper a:focus {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#moreLoad {
	height: 300px;
	padding: 75px 0 0 0;
}
.block {
	position: absolute;
	width: 310px;
	margin: 0 0 20px;
	padding: 10px 5px 0;
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
.block .title {
	font-size: 22px;
}
.block .image-wrapper {
	margin: 0 0 5px 0;
	overflow: hidden;
}
.block img.image-wrapper {
	width: 300px;
	max-width: 300px;
}
.block p.section, .block p.author {
	margin: 0 0 5px 0;
	text-transform: uppercase;
	font-weight: none;
	border: 0px;
}
.block p.author {
	color: #bbbbbb;
	text-transform: none;
}
.block p.leadin {
	margin: 0 0 10px;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 0 5px;
}
.block p.read_more {
	margin: 0 0 10px;
	text-align: center;
	font-weight: bold;
}
.block p.section a,
.block p.section a:link,
.block p.section a:visited,
.block p.author a,
.block p.author a:link,
.block p.author a:visited
{
	color: #bbbbbb;
	text-decoration: none;
}
.block p.section a:hover,
.block p.section a:focus,
.block p.author a:hover,
.block p.author a:focus
{
	color: #555;
}
.block .title a,
.block .title a:link,
.block .title a:visited
{
	color:#333;
	text-decoration: none;
	font-weight: bold;
}
.block p.read_more a:hover,
.block p.read_more a:focus,
.block .title a:hover,
.block .title a:focus
{
	color: #fea04f;
	text-decoration: none;
}
.labelRed {
        background: #e60000;
        display: inline-block;
        vertical-align: middle;
        padding: 3px 5px 3px;
        margin: 0 5px 0 0;
        color: #fff;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        text-shadow: 0 0 1px transparent;
}
/* Take off margin bottom from title */
.recito { margin-bottom: 0; }
