 
function infinScroll( i ){
	$.ajax({
		url: "/feedDisplay.php?section=news&sectionSub=1&page=" + i,
		success: function(html){
			if(html){
				$("#moreWrapper").append(html);
			}
			setTimeout(function() {
				$('div#moreLoad').remove();
				setupBlocks();
				$("#moreWrapper").append("<div align='center' class='block' id='moreLoad'><a onclick='infinScroll()'><img src='http://www.catholic.org/images/loading.gif' border='0' alt='Loading...' title='Loading...'/></a><div class='title'><a onclick='infinScroll()'>Loading More...</a></div></div>");
				setupBlocks();
			}, 700);
		}
	});
}
$.ajaxSetup ({
	cache: false
});
var i = 1;
$(window).scroll(function(){
	if( $(window).scrollTop() == $(document).height() - $(window).height() ){
		i++;
		infinScroll( i );
	}
});
