@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
}

#trace{
	/*margin-left:400px;
	margin-top:-425px;
	width:300px;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-wrap:normal;
	*/
}

.ndn_video{
	position:relative;
}
.CollisionAdMarker{
	display:inline-block;
	width: 77px;
	height: 15px;
	background: url(http://assets.newsinc.com/sprite-300.png) 90px 0
}


.ndn_thumbContainer{
	display:block;
	position:relative;
	top:0;	
	left:10px;
	width:288px;
	height:498px;
	z-index:10;
	/*background-color:#FFF;*/
	/*overflow:hidden;*/
	overflow-y: visible;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;/*for iOS*/
}

.ndn_player{
	text-align:center;
	overflow:hidden;
}

.video_info{
	height:44px;
	width:300px;
}

.title_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding-top:5px;
	padding-left:5px;
	width:225px;
	position:relative;
}

.provider_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
	padding-left:5px;
	display:inline;
	position:relative;
}

.date_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000;
	display:inline;
	padding-left:2px;
	position:relative;
}

.provider_logo{
	width:70px;
	display:inline;
	position:relative;
}

.prov_logo{
	max-width:70px;
	float:right;
	padding-right:5px;
	display:inline;
	margin-top:-20px;
	position:relative;
}


.ndn_adchoice{
	position:relative;
	display:inline;
	visibility:hidden;
	z-index:120;
}

.ndn_countdown{
	visibility:hidden;
	font-size:12px;
	left:0px;
	width:298px;
	position:relative;
	font-family: arial;
	padding-top: 10px;
	text-align: center;
	background-color: white;
	color: black;
	z-index: 100;
	top: -530px;
	height: 30px;
	float:left;
}

.ndn_thumb_ad{
	top:-190px;
	left:280px;
	float:left;
	position:relative;
	display:inline-block;
	z-index:90;
	visibility:hidden;
}

.ndn_thumbScroller{
	margin:0px auto;
	position:relative;
	display:block;
	z-index:21;
	top:-2px;
	background-color:#FFF;
	width:300px;
	height:140px;
	overflow:visible;
}

.ndn_thumbScroller2{
	margin:0px auto;
	position:relative;
	display:block;
	z-index:20;
	top:0px;
	background-color:#000;
	width:300px;
	overflow:visible;
}

/* 300x250 playlist grid launcher */
#ndn_thumbs:first-child{
	padding-top: 0px;
}
.ndn_inlinePlayerthumb{
	/*padding-right:1px;
	padding-left:6px;	*/
	padding:4px;
	position:relative;
	display:block;
	left:0;
	top:16px;
	float:left;
	width:300px;
	height:82px;
	overflow: hidden;	
	margin:0px auto;
	cursor:pointer;
	background-color: #fff;
	/*z-index: 50;*/
}
.ndn_inlinePlayerthumbActive{
	background-color: #eee;
}
.ndn_inlinePlayerDuration{
	height:10px;
	padding:0px 1px 7px 1px;
	margin: -16px 0 0 0;
	background-color: rgba(0,0,0,.75);
	text-align: right;
	color:#fff;
	font: 300 12px 'Oswald', arial, sans-serif;	 
	position: relative;
	z-index: 100;
	display: block;	
	top:80px;
	letter-spacing: 1px;
}
	.durationHours{left:78px; max-width: 40px;}
	.durationMinutes{left:95px;max-width: 23px;}
.ndn_inlinePlayerName{
	font: 400 13px/14px 'Oswald', arial, sans-serif;	
	width: 136px;
	padding-left: 9px;
	display: block;
	float: left;
	position: relative;
	top:-2px;
	
}
.ndn_inlinePlayerDescription{
	position: relative;
	z-index: 150;
	display: block;
	font: 300 12px/14px 'Oswald', arial, sans-serif;
	float: left;	
	width: 136px;
	padding-left: 9px;
	top:-2px;
}
.ndn_inlinePlayerthumb a:link{ 
	 text-decoration:none;  
} 

.ndn_inlinePlayerthumbimg{
	position:relative;
	display:block;
	left:0px;
	float:left;
	background-color:#000;
	z-index:15;
	width:120px;
	height:80px;
	/*top:-90px;*/
	
}

.ndn_inlinePlayerhoverimage { 
	position: relative; 
	left: 5px;
	top:55px;
	top:0; 
	/*display:inline-block;*/
	display: none;
	z-index:25;
	float: left;
	vertical-align: top;
	background: url(http://assets.newsinc.com/sprite-300.png) 0 0;
	width:35px;
	height:35px;
}

.ndn_inlinePlayerhovertext {
	position:relative;
	/*display:inline-block;*/
	display: none;
	text-align:left;
	height:30px;
	width:120px;
	top:64px;
	font-size:11px;
	font-weight:bold;
	text-wrap:normal;
	overflow:hidden;
	padding-bottom:30px;
	background-color:#FFF;
	filter:alpha(opacity=100);
	-moz-opacity::1;
	-khtml-opacity:1;
	opacity:1;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
}

.ndn_inlinePlayerhovertext a:link{
	color:#FFF;
}

.ndn_inlinePlayerhovertext a:visited{
	color:#FFF;
}

.ndn_inlinePlayerScroll{
	display:inline-block;
}


/* General Config */
.ndn_thumbContainer #c2pimage{
	margin:0px auto;
}
.ndn_thumbContainer .c2pimage{
	position:relative;
	z-index:5;
}

.ndn_thumbControls{
	position:relative;
	display:block;
	z-index:30;
	margin:0px auto;
	top:-80px;
	text-align:left;
	text-decoration:none;
	float:left;
	visibility:hidden;
}


.ndn_thumbControls a:link{
	text-decoration:none;
	color:#000;
}

.ndn_thumbControls a:hover{
	text-decoration:none;
	color:#000;
}

.ndn_thumbControls a:visited{
	text-decoration:none;
	color:#000;
}

.ndn_thumbControls a:active{
	text-decoration:none;
	color:#000;
}

#ndn_scrollLeft{
	position:relative;
	display:inline-block;
	cursor:pointer;
	/*padding-left:117px;	*/
	width: 13px;
	height: 24px;
	background: url(http://assets.newsinc.com/sprite-300.png) 0px 60px;
	float:left;
}
#ndn_scrollRight{
	position:relative;
	display:inline-block;
	/*padding-left:3px;*/
	cursor:pointer;
	width: 13px;
	height: 24px;
	background: url(http://assets.newsinc.com/sprite-300.png) 0 32px;
	left:265px;
}

.clearfix{
	position:relative;
	display:block;
	visibility:hidden;
	margin-top:400px;
}

abbr{
	border-bottom: none;
}

.socialButton{
	position:absolute;
	z-index:60;
	width:50px;
	height:20px;
	background-image:url(http://assets.newsinc.com/inline300img/socialButton.png);
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:center;
	line-height:20px;
	vertical-align:middle;
	color:#FFFFFF;
}

.socialButton a:active{
	color:#FFFFFF;
	text-decoration:none;
}

.socialButton a:link{
	color:#FFFFFF;
	text-decoration:none;
}

.socialButton a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

.socialButton:hover{
	background-image:url(http://assets.newsinc.com/inline300img/socialButtonOver.png);
	color:#FFFFFF;
	text-decoration:none;
}

.socialWindow{
	position:absolute;
	vertical-align:middle;
	left:0px;
	top:0px;
	z-index:20;
	background-repeat: no-repeat;
	background-position:center;
	background-image:url(http://assets.newsinc.com/inline300img/shareBackground.png);
	visibility:hidden;
}

.socialX{
	position:relative;
	color:#FFFFFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;	
	line-height: 0px;
	z-index:20;
}

.socialX a:link{
	text-decoration:none;
	color:#FFFFFF;
}
.socialX a:hover{
	text-decoration:none;
	color:#FFFFFF;
}
.socialX a:visited{
	text-decoration:none;
	color:#FFFFFF;
}
.socialX a:active{
	text-decoration:none;
	color:#FFFFFF;
}

.socialTitle{
	text-align:center;
	color:#D99900;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	position:relative;
}

.copyButton{
	position:relative;
	text-align:left;
	vertical-align:middle;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	width:110px;
	height:20px;
	line-height:20px;
	color:#FFFFFF;
}

.copyText{
	font-size:9px;
	width:170px;
}

.terms{
	position:relative;
	background-color:#000000;
	color:#FFFFFF;
	width:250px;
	height:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:.52em;
	text-align:center;
	vertical-align:middle;
	line-height:20px;
}

.terms a:visited{
	color:#FFFFFF;
}

.terms a:hover{
	color:#FFFFFF;
}

.terms a:active{
	color:#ffffff;
}

.terms a:link{
	color:#ffffff;
}

.socialIcons{
	position:relative;
}
.socialTwitter{
	float:left;
	outline-color: transparent;
	border:none;
	background: url(http://assets.newsinc.com/inline300img/icons.png);
	background-position: 0px 0px;
	background-position-x: 0px;
	background-position-y: 0px;
	
	width:30px;
	height:31px;
	margin-left:2px;
	margin-top:2px;
	background-color:transparent;
	/*display:block;
	cursor:arrow;*/
}
.socialFacebook{
	float:left;
	outline-color: transparent;
	border:none;
	background: url(http://assets.newsinc.com/inline300img/icons.png);
	background-position: -30px 0px;
	background-position-x: -30px;
	background-position-y: 0px;
	display:block;
	width:30px;
	height:31px;
	margin-left:2px;
	margin-top:2px;
	background-color:transparent;
	/*cursor:arrow;*/
}
.socialLinkedIn{
	float:left;
	outline-color: transparent;
	border:none;
	background: url(http://assets.newsinc.com/inline300img/icons.png);
	background-position: 0px 0px;
	background-position-x: -60px;
	background-position-y: 0px;
	display:block;
	width:30px;
	height:31px;
	margin-left:2px;
	margin-top:2px;
	background-color:transparent;
	/*cursor:arrow;*/
}	
	
.socialIconX{
	display:inline;	
	margin-bottom:5px;
}

/*--- Replay Next buttons ---*/
.replayButton{
	position:absolute;
	z-index:18;
	width:50px;
	height:20px;
	background-image:url(http://assets.newsinc.com/inline300img/socialButton.png);
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:center;
	line-height:20px;
	vertical-align:middle;
	color:#FFFFFF;
}

.replayButton a:active{
	color:#FFFFFF;
	text-decoration:none;
}

.replayButton a:link{
	color:#FFFFFF;
	text-decoration:none;
}

.replayButton a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

.replayButton:hover{
	background-image:url(http://assets.newsinc.com/inline300img/socialButtonOver.png);
	color:#FFFFFF;
	text-decoration:none;
}

.adChoicesContainer{
	/*
	background-color:#963;*/
	top:-930px;
	position:relative;
	left:0px;
	width:77px;
	height:14px;
	/*background-image:url(../img/adchoices.png);*/
	
}

#swfviewFRM{
	visibility:hidden;
}
