@tabPadding: 12px;

/***** GLOBAL STYLES *****/
body {
	font-family: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000;
}

ul, li {
	list-style-type: none;
}

a {
	color: #000;
}

a:hover, a:focus {
	color: #1d437c;
	text-decoration: none;
	outline: 0;
}

/***** TYPE *****/

.ndn_lite {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 15px;
}

/* HEADINGS */
.ndn_ttlLogo {
	background: url(../img/logo_laTimes.png) 0 0 no-repeat;
	text-indent: -99999em;
	height: 35px;
	margin: 5px 0;
	text-indent: -99999em;
}

/***** PLAYLIST *****/


.ndn_playlist {
}

.ndn_playlist * {
	font-size: 13px;
	line-height: 1.2;
}

.ndn_openNav {
	background: #000;
	margin: 5px 0 10px 0;
	padding: 2px 5px 5px 5px;
}

.ndn_nav {
	margin-top: 10px;
}

/***** TABS *****/

.ndn_nav-tabs > li > a {
	border-radius: 0;
	background: #000;
	color: #fff;
	border: none;
	border-top: 4px solid #000;
 padding: 7px @tabPadding @tabPadding @tabPadding;
	margin-right: 1px;
}

.ndn_nav-tabs > li > a:focus {
	color: #fff;
	background: #000;
	border-top-color: #000;
	}

.ndn_nav-tabs > li > a:hover {
	background: #333;
	color: #fff;
	border-top: 4px solid #666;
}

.ndn_nav-tabs > .ndn_active > a, .ndn_nav-tabs > .ndn_active > a:hover, .ndn_nav-tabs > .ndn_active > a:focus {
	border: none;
	border-top: 4px solid #000;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

/***** THUMBS ****/

.ndn_16x9PauseStateDuration{
	height:10px;
	padding:3px 1px 4px 1px;
	margin: -16px 0 0 0;
	background-color: rgba(0,0,0,.75);
	text-align: right;
	
	font: 300 12px 'Oswald', arial, sans-serif;	 
	position: relative;
	float: right;
	letter-spacing: 1px;
}
	.ndn_16x9PauseStateDuration.durationHours{ max-width: 40px; color:#fff;}
	.ndn_16x9PauseStateDuration.durationMinutes{max-width: 30px; color: #fff;}



.ndn_thumbLink {
	display: block;
	height: 80px;
	overflow: hidden;
}
.ndn_thumbLink.ndn_pauseThumblink{
	height: 72px;
}

.ndn_caption {
	margin: 5px 0;
}

.ndn_videoMeta {
	color: #666;
	font-size: 11px;
	font-family:  Helvetica, Arial, sans-serif;
}

/***** PAGINATION *****/

.pagination ul > li > a {
	margin: 0 3px;
	border-width: 1px;
	border-radius: 0;
}

.pagination ul > li:last-child > a, .pagination ul > li:first-child > a {
	border-radius: 0;
}

/***** DEMO STYLES *****/



/***** PLAYER *****/

.ndn_vidContainer {
	height: 600px;
	overflow: hidden;
}

.ndn_vidContainer video {
	position: relative;
	top: -140px;
}

/**** MEDIA QUERIES ****/

/* 639 AND SMALLER */

@media only screen and (max-width : 639px) {

.ndn_nav {
	font-size: 13px;
}
div.ndn_pauseOverlayContainer{	
	height: 116px;
		
}

div.ndn_pauseOverlay{
	height: 54px;
}	


@tabPadding: 3px;

.ndn_nav li a {
 padding: 4px @tabPadding @tabPadding @tabPadding;
}

.ndn_nav li {
	width: 50%;
	background: #000;
	float: left;
}

.ndn_nav li a {
	width: 100%;
	padding: 4px 4px 4px 8px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.ndn_thb {
	margin-bottom: 20px;
	}
.ndn_thbLink {
	height: 200px
	}
.ndn_thbLink img {
	width: 100%;
	}
.ndn_playlist * {
	font-size: 18px;
	}
.ndn_playlist .ndn_videoMeta {
	font-size: 11px;
	position: relative;
	top: 0px;
	}
}
@media only screen and (max-width : 500px) and (min-width : 321px) {
	div.ndn_pauseOverlayContainer{	
		height: 206px;
		
		}
	div.ndn_pauseOverlay{
		height: 145px;
	}	
}
@media only screen and (max-width : 800px) and (min-width : 600px) {
	div.ndn_pauseOverlayContainer{	
		height: 274px;
		
		}
	div.ndn_pauseOverlay{
		height: 212px;
	}	
}

/* 767 AND SMALLER */
@media only screen and (max-width : 767px) {

body {
	padding: 0 10px;
}
}
@media only screen and (max-width : 767px) and (min-width : 640px) {
.ndn_nav {
	font-size: 12px;
}
@tabPadding: 			6px;

.ndn_nav li a {
 padding: 4px @tabPadding @tabPadding @tabPadding;
}

.ndn_playlist .ndn_thb .ndn_caption {
	font-size: 1px;
	line-height: 1.3;
	}

.ndn_span2 {
	width: 80px;
	float: left;
	margin-right: 20px
	}

.ndn_span2 .ndn_thbLink {
	height: 45px;
	}
}
 @media only screen and (max-width : 1023px) and (min-width : 768px) {
 div.ndn_pauseOverlayContainer{	
		height: 387px;
		
		}
	div.ndn_pauseOverlay{
		height: 325px;
	}	

.ndn_thbLink {
	height: 55px;
	}
.ndn_nav {
	font-size: 13px;
}
}
 @media only screen and (max-width : 1100px) and (min-width : 1024px) {
    div.ndn_pauseOverlayContainer{	
		height: 514px;
		
		}
	div.ndn_pauseOverlay{
		height: 452px;
	}
}

@media only screen and (max-width : 479px) {
.ndn_thbLink {
	height: 140px
	}
}
@media only screen and (min-width : 1200px) {
   div.ndn_pauseOverlayContainer{	
		height: 615px;
		
		}
	div.ndn_pauseOverlay{
		height: 547px;
	}
}

/***** PHONE *****/

.ndn_nav-phone li {
	float: left;
	width: 100%;
}

.ndn_accordion-inner, .ndn_accordion-group {
	padding: 0;
	border: none;
}
body{
.ndn_videoPlayer {
		.fixedAspect(16, 9);
	}

}

// A LESS mixin to do the fixed-aspect thing
.fixedAspect(@width, @height) {
	// Outermost container gets padding as a percentage
	padding-bottom: percentage(@height/@width);
	// Need relative positioning because the child will be absolute
	position: relative;
	
	// This depends on the wrapper only having one child!
	object {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	
}
