body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
div.NDNEmbedContainer {
    float: left;
    margin-right: 25px;
}
div.NDNEmbedContainer .NDN_playerContainer,
div.NDNEmbedContainer .akamai-player {
    background: #000;
    height: 242px;
    width: 430px;
}
div.NDNEmbedContainer ul.NDN_thumbs {
    display: block;
    float: left;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
div.NDNEmbedContainer ul.NDN_thumbs li {
    display: block;
    float: left;
    margin-right: 10px;
    width: 100px;
}
div.NDNEmbedContainer ul.NDN_thumbs li:last-child {
    margin-right: 0;
}
div.NDNEmbedContainer ul.NDN_thumbs li img {
    cursor: pointer;
    width: 100px;
}
div.akamai-player{
	position: relative;
}
div.ndn_shareOverlay{
	background: rgba(0,0,0,.8);	
	height: 100%;
	width: 100%;
	z-index: 100;
	position: absolute;
	top:0;
	left:0;
	display: none;
	margin-top: 60px;
	margin-bottom: 50px;
}
.ndn_pauseOverlayContainer{	
	/*height: 100%;*/
	height: 561px;
	width: 100%;
	z-index: 100;
	position: absolute;
	top:0;
	left:0;
	display: none;	
}

.ndn_pauseOverlay{
	height: 506px;
	position: relative;	
	margin-top: 60px;
	background-color: rgba(0,0,0,0);	
	transition: background 30000s ease-out;
    -webkit-transition: background 30000ms ease-out;
}
.ndn_pauseOverlayFadeIn{
	background-color: rgba(0,0,0,.7);	
}

.ndn_shareContainer{
	height:375px;
	width:600px;
	margin:20px auto 0 auto;
}
.ndn_shareHeader{
	height: 60px;	
	background: #1c1c1c;
	color: #fff;
}
.ndn_shareHeader span.ndn_shareText{
	display: block;
	height: 40px;
	width: 579px;
	color: #fff;
	padding-left: 20px;
	border-bottom: solid 1px #000;	
	margin: 0 -66px 0 0;
	padding-top: 20px;	
	text-transform:capitalize;
	font-size: 24px;
	float: left;
}
.ndn_closeShare{
	float: left;
	display: block;
	height: 60px;
	width: 67px;
	background: url('../shareSprite.png') 0 1px  no-repeat;
	position: relative;
	left: 7px;
}
	.ndn_closeShare:hover{cursor: pointer;}
.ndn_shareVideoInfo{
	float: left;
}
.ndn_shareWrapper{
	padding: 20px 20px 0 20px;
	background: transparent url('../sharebg.png') 0 0 no-repeat;
	height: 327px;
	width: 607px;
}
.ndn_shareVideoInfo{
	width: 263px;
	height: 280px;
	padding-right: 20px;
}
.ndn_shareVideoInfo img.ndn_shareVideoStill{
	border: solid 1px #767676;
}
.ndn_shareVideoInfo p.ndn_shareVideoDescription{
	color: #0099cc;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
	font-size: 20px;
}
.ndn_shareVideoInfo .ndn_sharePrivacyPolicy{
	color: #666666;
	font-size: 10px;
	text-decoration: none
}
.ndn_shareVideoInfo .ndn_sharePrivacyPolicy:hover{
	text-decoration: underline;
}
.ndn_shareButtons{
	padding-left: 20px;
	height: 300px;
	margin-top: -14px;
	position: relative;
	left: 18px;
}
ul.ndn_shareButtonsList{
	position: relative;
	left: 10px;
}
	ul.ndn_shareButtonsList li{
		display: inline;
		float: left;
		height: 32px;
		width:32px;
		margin-right: 42px;
		margin-top: 22px;
	}
		ul.ndn_shareButtonsList li:hover{
			cursor: pointer;
		}
	ul.ndn_shareButtonsList li[name=last]{
			margin-right: 0;
	}
	ul.ndn_shareButtonsList li.ndn_mainShareButtons{
		height: 64px;
		width: 64px;
		margin-right: 32px;
		margin-top: 0;		
	}
		ul.ndn_shareButtonsList li.ndn_mainShareButtons[name=last]{
			margin-right: 0;
		}
li.ndn_shareFacebook{background:#000 url('../shareSprite.png') 0px -61px  no-repeat;}
li.ndn_shareTwitter{background:#000 url('../shareSprite.png') 0px -126px  no-repeat;}
li.ndn_shareEmail{background:#000 url('../shareSprite.png') 0px -191px  no-repeat;}
li.ndn_sharePinterest{background:#000 url('../shareSprite.png') 0px -256px  no-repeat;}
li.ndn_shareTumblr{background:#000 url('../shareSprite.png') 0px -289px  no-repeat;}
li.ndn_shareLinkedin{background:#000 url('../shareSprite.png') 0px -322px  no-repeat;}
li.ndn_shareReddit{background:#000 url('../shareSprite.png') 0px -355px  no-repeat;}
li.ndn_shareMyspace{background:#000 url('../shareSprite.png') 0px -388px  no-repeat;}
li.ndn_shareBlogger{background:#000 url('../shareSprite.png') 0px -421px  no-repeat;}
li.ndn_shareStumbleupon{background:#000 url('../shareSprite.png') 0px -454px  no-repeat;}
li.ndn_shareGooglePlus{background:#000 url('../shareSprite.png') 0px -487px  no-repeat;}

.ndn_shareCopyButtons{
	height: 100px;
	margin: 0 auto;
	width: 172px;	
	float:left;
	position: relative;
	top:14px;
	left: 45px;
}
.ndn_shareCopyEmbedCode,
.ndn_shareCopyVideoLink{
	float: left;
	display: block;
	color: #8f969b;
	height: 35px;
	width: 172px;
	margin-bottom: 8px;
	background: url('../copyButton.png') 0 0 no-repeat;
}
.ndn_shareCopyEmbedCode a,
.ndn_shareCopyVideoLink a{
	color:#8f969b;
	text-decoration: none;
	display: block;
	height: 35px;
	margin: 10px auto 0 auto;
	text-align: center;
	width: 172px;
}
.ndn_shareCopyEmbedCode span:hover,
.ndn_shareCopyVideoLink span:hover{
	background: url('../copyButton.png') 0 -35px no-repeat;
	cursor: pointer;
}
.ndn_js_16x9PlaylistThumbs24,
.ndn_js_16x9PlaylistThumbs36,
.ndn_js_16x9PlaylistThumbs48{display: none;}

/*pause overlay*/

.ndn_pausePrevNextButton{
	height: 140px;
	width: 148px;
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	background-color: rgba(0,0,0,.8);
	position: relative;
	top: 25%;
}
.ndn_pausePrevNextButton:hover{
	cursor: pointer;
}
.ndn_pausePrev{
	float:left;	
	border-right: solid 1px #000;
}
.ndn_pausePrevHeader,
.ndn_pauseNextHeader{
	height: 30px;
	display: block;
	text-transform: uppercase;
	margin: 7px 0 0 6px;
	font-size: 16px;
}
.ndn_pausePrevDescription,
.ndn_pauseNextDescription{
	height: 35px;
	display: block;
	text-transform: capitalize;
	margin: 7px 0 0 6px;
	font-size: 10px;
	line-height:10px;
}
.ndn_pauseNext{
	float: right;
	border-left: solid 1px #000;
}

/**/