<div class="ndn_responsiveContainer ndn_sliderTopContainer">
	<div class="ndn_sliderContainer">
		<div class="ndn_videoPlayerWrapper">
			<div id="{{playerContainerElementId}}" class="ndn_playerContainer"></div>
		</div>
		<ul class="ndn_sliderItems ndn_selectableVideos"></ul>
		<div class="ndn_sliderControls">
			<div class="ndn_sliderPrev ndn_sliderNavButton">
				<div class="ndn_arrow"></div>
			</div>
			<div class="ndn_sliderNext ndn_sliderNavButton">
				<div class="ndn_arrow"></div>
			</div>
		</div>
	</div>
</div>
<div class="ndn_playlistThumbnails">
</div>