{{#playlistItems}}
    <li data-video-id="{{videoId}}" title="{{videoTitle}}" data-video-index="{{videoIndex}}" class="ndn_selectableVideo">
        <a href="{{landingPageUrl}}">
            <div class="ndn_sliderThumbnailOverlay">
                <p class="ndn_sliderVideoTitle">{{videoTitle}}</p>
                <p class="ndn_producerName">{{producer.name}}</p>
                <div class="ndn_imagePlaceholder" data-src="{{producer.logoUrl}}" data-class="ndn_providerLogo"></div>
            </div>
            <div class="ndn_imagePlaceholder" data-src="{{stillImageUrl}}"></div>
            <div class="ndn_playButton"></div>
        </a>
    </li>
{{/playlistItems}}
