<h4>More videos:</h4>
<ul class="ndn_playlistThumbnailsList">
	{{#playlistVideos}}
	<li class="ndn_playlistVideoThumbnail ndn_thumbnail" data-video-index="{{videoIndex}}" data-video-id="{{videoId}}" title="{{videoTitle}}">
			<div class="ndn_thumbnailContainer">
				<a href="{{landingPageUrl}}">
					<img src="{{stillImageUrl}}"/>
					<div class="ndn_titleOverlay">
						<div class="ndn_thumbTitle">{{videoTitle}}</div>
					</div>
				</a>
			</div>
			<div class="ndn_currentVideoThumbnail"></div>
		</li>
	{{/playlistVideos}}
</ul>
