h1, h2, h3, h4, h5 {
    color: #000000;
}
#top-content {
  min-height: 630px;
  margin-left: 10px;
  margin-top: 10px;
}
#middle-content {
  padding: 15px 0;
  clear: both;
}
#bottom-content {
  padding: 15px 0;
  clear: both;
  margin-bottom: 25px;
}
.fontNormal {
  font-weight: normal;
}
.hide {
  display: none;
}
.show {
  display: block;
}

/* Gallery Categories */
.galleryItem {
  width: 25%;
  height: 100%;
  float: left;
  padding: 10px 0 30px 0;
}
.new-row {
  clear: left;
}
a.galleryLink {
  color: #000;
}
.gallery-item-column .galleryLink {
  display:block;
}
a.galleryLink.galleryThumb {
  height: 100px;
  max-height: 100px;
  overflow: hidden;
}
.galleryList {
  margin: 10px auto 0 0;
  width: 180px;
}
.galleryTitle {
  padding: 5px 0 5px 20px;
  list-style-image:none;
  background-image: url("/hive/images/video/gallery_play_icon.jpg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}
.galleryTitle.lead {
  margin: 0;
  padding:0;
  list-style-image:none;
  background-image:none;
  width: 176px;
}
.lead .duration {
	display: none;
}
a.playBtn {
  left: 62px;
  top: 23px;
  position: absolute;
}
.play-button-over {
  position: absolute;
  display: none;
  z-index:1;
}

/* gallery player */
#videoHeader {
  overflow: hidden;
  width:640px;
}
#premiumVideo-player-container {
  width: 640px;
  position: relative;
}
#header-stem {
  margin-left: 15px;
}
#header-background {
  color: #ffffff;
  padding: 5px;
}
#video-detail {
  min-height: 117px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 530px;
}

/* video rail  */
#videogallery-rail {
  float: right;
  width: 336px;
}
#video-description {
	line-height: 1.4em;
	margin: 10px 0;
	font-size: 14px;
}
#last-mod {
	margin: 10px 0;
	font-style: italic;
	color: #9b9b9b;
}
table.cubeAd {
  width: 336px;
  height: 280px;
  background-color: #eee;
  text-align: center;
	margin-bottom: 15px;
}

/* Video Gallery Search */
.search-column {
  float: left;
  width: 920px;
}
#search-video-form {
  margin: 10px 0;
  position: relative;
  height: 20px;
  float: right;
}
#videoSearchTxt {
  height: 19px;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: -150px;
  width: 115px;
}
#videoSearchBtn {
	background: url("/hive/images/video/gallery_search_submit.png") no-repeat scroll 0px 0px #FFFFFF;
	border: 0 solid;
	cursor: pointer;
	height: 21px;
	width: 24px;
	padding: 0;
	position: absolute;
	top:0px;
	left: -34px;
}
.gallery-slider-item-hold {
	width: 100000px;
}
.galleryLoader {
	background:url("/hive/images/video/video-gallery-loader.gif") no-repeat scroll center center;
}
.search-slider-track {
  float: left;
}
#search-slider {
  position: relative;
  zoom: 1;
  margin: 0 0 25px 0;
}
#search-slider div.arrow {
  padding: 0px;
}
#search-slider .slide-btn{
  width: 26px;
  height: 26px;
  position: absolute;
  top: 42px;
  outline: 0;
  z-index:999;
}
#search-video-details {
	font-weight: bold;
}
#search-slider .slide-prev {
  background:url("/hive/images/video/slider_arrow.png") no-repeat scroll 0px -38px;
  right: 82px;
  top: -8px;
}
#gallery-slider .slide-prev[data-state~="slider_edge"],
#gallery-slider .slide-next[data-state~="slider_edge"],
#search-slider .slide-prev[data-state~="slider_edge"],
#search-slider .slide-next[data-state~="slider_edge"] {
	cursor: default;
	opacity: 0.5;
	filter: alpha(opacity=50);
	zoom:1;
}
#search-slider .slide-next {
  background:url("/hive/images/video/slider_arrow.png") no-repeat scroll 0px 0px;
  right: 52px;
  top: -8px;
}
#search-slider a.item {
	width: 230px;
	float: left;
	padding: 15px 0;
	position: relative;
}
.sliderHeader {
  position: relative;
  margin: 0 0 5px 25px;
}
.search-slider-track img {
  margin-bottom: 5px;
}
div.videoGallery a.galleryLink img {
  border: 1px solid #cccccc;
  background-color: #333333;
  display: block;
  margin: 0 auto  5px;
}
div.videoGallery li {
  position: relative;
}
.search-slider-container {
  overflow: hidden;
  position: relative;
}
.play-overlay {
	left: 62px;
	top: 40px;
	position: absolute;
	padding:0;
}
#search-switch {
 cursor: pointer;
 }
#search-video-results {}

/* Gallery Slider */
.gallery-slider-item-hold {
	width: 100000px;
}
.galleryLoader {
	background:url("/hive/images/video/video-gallery-loader.gif") no-repeat scroll center center;
}
.gallery-slider-track {
  float: left;
  }
#gallery-slider {
  height: 185px;
  width: 600px;
  position: relative;
  zoom: 1;
  margin: 25px 0;
}
.gallery-slider-data {}
#gallery-slider div.arrow {
	padding: 0px;
}
#gallery-slider .slide-btn{
  width: 26px;
  height: 26px;
  position: absolute;
  top: 42px;
  outline: 0;
}
#gallery-slider .slide-prev {
  background:url("/hive/images/video/slider_arrow.png") no-repeat scroll 0px -35px;
  left: 0;
}
#gallery-slider .slide-next {
  background:url("/hive/images/video/slider_arrow.png") no-repeat scroll 0px 0px;
  right: 0;
}
#gallery-slider .gallery-slider-container {
  background-color: #f2f2f2;
  overflow: hidden;
  width: 550px;
  margin-left: 25px;
  position: relative;
}
#gallery-slider a.item {
	width: 96px;
	float: left;
	margin-right: 5px;
	padding: 5px;
}
.sliderHeader {
  position: relative;
  margin: 0 0 5px 25px;
}
.gallery-slider-track img {
  margin-bottom: 5px;
}
div.videoGallery a.galleryLink img {
  border: 1px solid #cccccc;
  background-color: #333333;
  display: block;
  margin: 0 auto  5px;
}
div.videoGallery li {
    position: relative;
}
.gallery-item-column {
  width: 25%;
  height: 100%;
  padding: 10px 0 30px 0;
  vertical-align: top;
  float: left;
}
.gallery-socialTools li {
  float: right;
  margin: 5px 0;
}
.gallery-socialTools li a {
  cursor: pointer;
}
.gallery-socialTools {
  float: right;
  margin: 5px 0;
}
.gallery-socialTools .gallery-shareText {
  height: 17px;
  line-height: 20px;
  margin-right: 5px;
}

/* Up Next */
.play-order-data .highlight {
  background-color: #efefef;
}
.play-order-data {
  height: 275px;
  position: relative;
}
.play-order-data .item {
  display: block;
  margin: 3px;
  padding: 2px;
  height: 60px;
  max-height: 60px;
  position: relative;
}
.play-order-data .title-text {
  float: right; 
  width: 165px; 
  font-size: 12px;
  font-weight: 600;
}
.play-order-data .next {
  position: absolute;
  top: 39px;
  font-size: 14px;
  font-weight: bolder;
  font-family: Arial, sans-serif;
  text-tranform: uppercase;
  color: white;
  display: block;
  padding: 0px 3px;
  background-color: #000;
  opacity:0.7;
  filter:alpha(opacity=70);
  text-align: center;
  letter-spacing: 3px;
  width: 90px;
  height: 17px;
}
#up-next-scroller {
  overflow-y: scroll; 
  height: 270px;
  position: relative;
  background-color: #d7d7d7;
  padding-top: 5px;
}
#up-next-title-tab {
	text-align: center;
	width: 100px;
	background-color: #d7d7d7;
	border-radius: 5px 5px 0px 0px;
	padding: 6px 0px;
}
#up-next-title-tab p {
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: 600;
	color: #666;
	margin-top: 0px;
}

/* Recommended */
.recommended-left-title { 
	float: left; 
	width: 150px; 
	margin-left: 10px; 
	margin-right: 15px;
}
#recommended-items-container {
	float: right;
	padding-bottom: 10px;
}
.recommended-left-title h2, #featured-videos-title h2 {
	font-size: 22px;
}
.recommended-item-block, .category-item-block { 
	float: left; 
	width: 176px;
	height: 176px; 
	margin: 5px 20px 0px 0px;
	position:relative; 
}
.recommended-item-thumb, .category-item-thumb {
	margin-bottom: 10px;
}

/* Categories Featured Videos */
#featured-videos-title {
	float: left;
	margin-left: 10px;
	padding-bottom: 5px;
}
#category-outer-container { 
	width: 100%; 
}
.category-list { 
	float: left; 
	width: 150px; 
	margin: 5px 15px 0px 10px;
}
.category-list.search {
  margin: 0;
  padding: 0;
}
.category-list a {
  font-weight: normal;
}
.category-list li {
  padding-bottom: 10px;
  line-height: 1.3em;
}
.category-list li:hover,
.category-list li:focus {
  cursor: pointer;
  text-decoration: underline;
}
.search-video-container,
.category-items-container { 
	float: right; 
	width: 784px; 
	min-height: 500px;
	clear: both;
}
.category-item { 
	display: none; 
}
.category-track {
  width: 10000%;
}
.category-view {
  width: 100%;
  overflow: hidden;
	position: relative;
	clear: both;
}
.category-group {
  float: left;
  width: 784px;
}
.thumb-overlay {
	background-color: #000;
}
.recommended-item-title a, .category-item-title a { 
	font-size: 13px; 
	font-weight: normal;
}
div.recommended-outer-container {
	float: left;
}
div.recommended-items {
	border-top: 1px solid #999;
	margin: 2px 0px;
}
div.outer-container-border {
	border-top: 3px solid #555;
	height: 2px;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
	margin-right: 10px;
}
#title-search {
	width: 100%;
	clear: both;
}

/* Share Tooltip */
.video-share-link { 
	position: relative; 
	z-index: 99;
}
#video-detail-share {
  float: right;
  width: 65px;
	height: 25px;
  margin-top: 15px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  border-radius: 2px;
  text-align: center;
}
#video-detail-share:hover {
	background-color: #f5f5f5;
}
.video-share-button {
  padding: 6px 2px 0px 2px;
  height: 25px;
}
#video-detail-share .share-button {
	text-decoration: none;
	width: 65px;
	height: 20px;
  color: #666;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 10px;
  font-family: Arial, sans-serif;
}
div.video-share-info {
	position: absolute;
	display: none;
	background-color: #f3f3f3;
	width: 93px;
	padding: 4px 9px;
	border-radius: 1px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 10px 7px;
	z-index: 999;
}
div.video-share-info:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f3f3f3 transparent;
	top: -20px;
	left: 77px;
}
div.video-share-item {
	float: left;
	margin-right: 0px;
	width: 19px;
	padding-left: 4px;
}

/* Slider */
div[data-role~=slider_pvpexposable] {
  display: none;
}
div[data-role~=slider_pvpexposable][data-state~=slider_pvpexposed] {
  display: block;
}
a[data-state~=slider_tabselected] {
  font-weight: bold;
  text-decoration: none;
}

/* AD Countdown */
#countdown-holder {
  background-color: #272727;
  color: #FFFFFF;
  display: block;
  opacity: 0.75;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 300;
  filter: alpha(opacity = 75);
}
