<div class="ndn_videoInfo">
	<img class="ndn_videoProviderLogo" src="{{videoProviderLogo}}" />
	<div class="ndn_videoTitle">{{videoTitle}}</div>
	<div class="ndn_videoInfoDescription">{{videoDescription}}</div>
	<div class="ndn_videoProviderName">{{videoProviderName}}</div>
	<div class="ndn_toggleInfoDescription ndn_icon_info-circled" title="More Info"></div>
	<div class="ndn_toggleShare ndn_icon_share" title="Share"></div>
	<div class="ndn_infoPanelOverlay"></div>
</div>