<div class="ndn_shareContainer ndn_shareTabs">
    
    <div class="ndn_closeShare ndn_icon_cancel"></div>
    
<div class="ndn_shareBox">
    <div class="ndn_shareButtons">
    	<div class="ndn_shareButtonList">
         <ul class="ndn_shareButtonsList">
              <li class="ndn_mainShareButtons ndn_shareFacebook"><a class="ndn_a_shareFacebook ndn_icon_facebook" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/facebook/offer?url={{singleVideoFeedEncoded}}&pubid={{addThisPubId}}&ct=1"></a></li>
              <li class="ndn_mainShareButtons ndn_shareTwitter"><a class="ndn_a_shareTwitter ndn_icon_twitter" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/twitter/offer?url={{singleTwitterVideoFeedEncoded}}&title={{shareTitle}}&description={{shareDescription}}&pubid={{addThisPubId}}&ct=1"></a></li>
              <li class="ndn_mainShareButtons ndn_shareEmail"><a class="ndn_icon_mail-alt" href="{{emailLink}}"></a></li>
              <li class="ndn_mainShareButtons ndn_shareEmbed"><span class="ndn_icon_code"></span></li>
         </ul>                
        <textarea readonly="" class="ndn_shareCopyVideoLinkText" >{{videoLink}}</textarea>
    	</div>
        
   </div>
</div>
<div class="ndn_embedBox">  
	<div class="ndn_backToShare ndn_icon_left-big">BACK</div> 
	<div class="ndn_embedLink">   		
        <span class="ndn_shareCopyEmbedCode ndn_linkEmbed">
         	<label for="ndn_shareCopyEmbedCodeText">Embed</label>
        </span>	
		<textarea readonly="" class="ndn_shareCopyEmbedCodeText" >{{embedCode}}</textarea>
	</div>
</div>
    <div class="ndn_sharePrivacyPolicy">
    	<a href="http://www.newsinc.com/privacy-policy" target="_blank">Privacy Policy</a> &nbsp; | &nbsp; <a href="http://www.newsinc.com/player-terms" target="_blank">Terms of Use</a>
    </div>
</div>
