<div class="ndn_videoPlayerHeader">
	<div class="ndn_videoProviderLogo"></div>
	<span class="ndn_videoTitle"></span>
	<span class="ndn_videoProvider"></span>
</div>
<div id="{{playerContainerElementId}}" class="ndn_playerContainer" style="width:300px;height:170px;"></div>
<ul class="ndn_selectableVideos"></ul>
<div class="ndn_adCompanion"></div>
<div style="clear: both;"></div>