{{#playlistItems}}
    <li class="ndn_selectableVideo" data-video-index="{{videoIndex}}" data-video-id="{{videoId}}">
        <div class="ndn_thumbnail">
            <img src="{{thumbnailUrl}}" alt="{{videoTitle}}" />
            <span class="ndn_videoDuration">{{displayDuration}}</span>
            <span class="ndn_nowPlaying">Now Playing</span>
            <span class="ndn_upcomingVideo">Up Next</span>
            <span class="ndn_playVideoIcon"></span>
        </div>
        <span class="ndn_videoTitle">{{videoTitle}}</span>
        <span class="ndn_videoDescription">{{description}}</span>
    </li>
{{/playlistItems}}
