/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

.ndn_embedContainer.ndn_widget_VideoPlayer-16x9 .ndn_playlistThumbnailsPagination {
	clear: both;
	
	.previous.active {
		> a, > span {
		  color: #999999;
		  cursor: default;
		  background-color: transparent;
		}
	}
}