<div id="shell_holder" class="ndn_optimaticPlayer" style="position: relative; margin: 0 auto; overflow: hidden; text-align: center;">
	<div>
		<div id="flashShellDiv" style="display: inline-block;"></div>
		<div id="shell_bucket" style="width: 300px,height:250px; display: none;">
			<div id="cb_medrect1_div" style="width: 300px; height: 250px;">
				<iframe name="cb_medrect1_frame" id="cb_medrect1_frame"
					src="http://cdn.optimatic.com/iframe.html" frameborder="0"
					scrolling="no" marginheight="0" marginwidth="0" topmargin="0"
					leftmargin="0" allowtransparency="true" width="300" height="250"></iframe>
			</div>
		</div>
		<div style="clear: both; height: 0; overflow: hidden;"></div>
	</div>
</div>