.bcVideoWrapper {width:920px;padding:10px;background-color:#ecedf1;}
.bcVideoContent {}
.bcVideoContentLeft {width:110px;padding-right:10px;float:left;}
.bcVideoContentRight {width:800px;float:left;}
.bcVideoHeader {color:#000000;padding-bottom:10px;}
.bcVideoHeader h1 {font-size:16px;margin:0;padding:0 0 10px 0;font-weight:normal; font-family:Arial, Helvetica, sans-serif !important;}
.bcVideoHeader p {font-size:.8em;margin:0;padding:0 0 10px 0;font-weight:bold;}
.bcVideoNav ul{list-style:none;}
.bcVideoNav ul li{margin:0;padding:0 0 5px 0;font-size:.8em;}
.bcVideoNav ul li a{color:#005689;}
.bcVideoClear {clear:both;font-size:0;line-height:0;height:0;}

.bcVideoSpotlightFiller {width:20px;float:left;}
.bcVideoSpotlightItem {width:140px;float:left;}
.bcVideoSpotlightTitle {width:140px;font-family:Arial;font-size:13px;line-height:16px;}

.bcVideoFeaturedFiller {height:10px;}
.bcVideoFeaturedImage{float:left;width:120px;padding-right:10px;}
.bcVideoFeaturedTitle {font-family:Arial;font-size:13px;line-height:17px;}

