/*-----------------------------------------------------
file location:	/bi/ice3/styles/cgm.css

updated:				6/17/2008 1:59:41 PM
updated by:			andrew newland
-----------------------------------------------------*/

/*
* globals
* comments
* homepage
* gallery pages
* video page
* photo page
* sponsorships
*	change user name styles
* report abuse widget
*/


/* =globals
-----------------------------------------------------*/
.cgmtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;}

.cgmheader {
	margin: 0;
	padding: 0 0 20px 0;
	/* raa border-bottom: 2px solid #a0c8f0; */
	font-size: 22px;
	line-height: 28px;
	color: #005689;
	font-family: Verdana, Arial,  sans-serif;}

.cgmheader2 {
	margin: 0;
	padding: 0 0 2px 0;
	font-size: 20px;
	color: #464646;
	font-weight: 700;
	font-family: Verdana, Arial,  sans-serif;}

.cgminfo, .cgminfo a:link, .cgminfo a:visited {
	margin: 0;
	padding: 0;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	font-family: Verdana, Arial,  sans-serif;}

.cgminfo a:hover, .gallerymend a:hover {
	text-decoration: underline;}

.cgminfo .blue, .gallerymend .blue{
	color: #999;
	font-weight: 700;}

.cgminfo .bold, .gallerymend .bold{
	font-weight: normal !important;}

.abuse {
	float: right;
	text-align: right;
	margin-right: 5px;}

.abuse, .abuse a {
	margin: 5px 0 0 0;
	padding: 0;
	font-size: 10px;
	color: #666666;
	font-weight: 700;
	text-decoration: none;
	font-family: Verdana, Arial,  sans-serif;}

div#slcgmPhotoInfo div.cgminfo div.abuse
{
float:none;
text-align:left;
}
div#slcgmPhotoInfo div.cgminfo a
{
/*font-weight:normal;*/
color:#666;
font-family:arial;
font-size:11px;
}

.bold {
font-weight:normal;
color:#666;
font-family:arial;
font-size:11px;
}

.cgmviewmore {
	float: right;
	margin: 10px 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;}

.cgmpagenav {
	margin: 10px 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #767676;
	font-weight: bold;
	text-align: center;}

.cgmpagenav a, .cgmpagenav a:visited {
	color: #005689 !important;
	text-decoration: none;}

.cgmpagenav a:hover {
	color: #005689 !important;
	text-decoration: underline;}

.cgmview {
	font-weight:bold;
}
.cgmview a, .cgmview a:link
{
color:#005689;}

.cgmview_sm {
	font-size: 10px;
	font-weight: 700;
	text-align: center;
	margin: 25px 0 15px 0;}

.cgmline {
	border-bottom: 1px dashed #cccccc;
	margin: 10px 0;
	padding: 0;
	height: 1px;}

.ice3-col-right .cgmline {
	clear: left;}

.slcgm_errors {
	display: block;
	background: #ffffcc;
	color: #cc3300;
	padding: 8px;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #ffcc66;}

#uploadProgress .slcgm_errors {
	background: none;
	border: none;}

hr.blueline {
	border:0;
	color: #ccc;
	background-color: #ccc;
	height: 1px;}

hr.greyline {
	border:0;
	color: #767676;
	background-color: #ccc;
	height: 1px;}

p.cgmdate{
	font-size: 10px;
	color: #464646;
	padding: 0;
	margin: 10px 0 0 0;
	font-style: italic;
	font-family: Verdana, Arial,  sans-serif;}

h2.cgm {
	margin: 0;
	padding: 2px 0 10px 0;
	font-size: 18px;
	color: #005689;
	line-height:22px;
	font-family: Verdana, Arial,  sans-serif;}

.cgmtitle {
	margin:0;
	padding: 5px 0 10px 0;
	font-size: 15px;
	color: #005689;
	font-weight: 700;
	font-family: Verdana, Arial,  sans-serif;}

span.amount {
	font-size: 10px;
	font-weight: 700;
	color: #006699;
	font-family: Verdana, Arial,  sans-serif;	}

.avatar {
	float: left;
	width: 62px;
	display: inline;
	margin: 5px 8px 0 0;
	padding: 0;}


/* =comments
-----------------------------------------------------*/
textarea.requiredInput {
	height: 90px;}

#slcgm_comments_page .cgminfo {
	float: left;
	margin-top: 5px;
	margin-left: 5px;}

.maincomments {
	float: left;
	width: 600px;
	display: inline;
	margin: 5px 0 0 0;
	padding: 0;}

.maincomments_story {
	float: left;
	width: 320px;
	display: inline;
	margin: 5px 0 0 0;
	padding: 0;}

#mediaComments .maincomments_story {
	width: 620px;}

.maincomments p, .maincomments_story p {
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
	color: #000000;
	font-size: 11px !important;
	font-family: Verdana, Arial,  sans-serif;
	line-height: 14px;}

.commentbox {
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	font-family: Verdana, Arial,  sans-serif;}

.commentbox p {
	margin: 10px 0;
	padding: 0;
	font-size: 11px !important;
	color: #000000;
	font-weight: normal;
	font-family: Verdana, Arial,  sans-serif;}

.commentbox .wrote {
	margin: 15px 0 5px 0;
	padding: 0;
	font-size: 11px;
	color: #787878;
	font-weight: normal;
	font-family: Verdana, Arial,  sans-serif;}

.commentbox .wrote a,.commentbox .wrote a:link {
	font-weight: 700;
	font-family: Verdana, Arial,  sans-serif;
	color:#005689;}

.commentbox .order {
	float: right;
	display: inline;
	margin: 5px 0 0 0;
	padding: 0;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	font-family: Verdana, Arial,  sans-serif;}

.commentbar {
	float: left;
	display: inline;
	margin: 5px 0 0 0;
	padding: 0;}


/* =homepage
-----------------------------------------------------*/
#slcgm_recentvideo {
	margin: -8px 0 0 -8px;}

.cgmvideo {
	border-bottom: 1px dashed #ccc;
	margin: 0;
	padding: 8px;
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial,  sans-serif;}

.cgmvideo .thumb {
	float: left;
	margin: 0 8px 0 0;
	padding: 0;}

.cgmvideo .thumb img {
	height: 75px;
	width: 100px;}

.cgmvideo:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}

.cgmvideo {
	display: inline-block;}

/* Hides from IE-mac \*/
* html .cgmvideo { height: 1%; }
.cgmvideo { display: block; }
/* End hide from IE-mac */

.cgmvideo p {
	margin: 0;
	padding: 0;
	line-height: 12px;
	font-size: 10px;}

.cgmvideo p a:link, .cgmvideo p a:visited {
	font-size: 11px;
	text-decoration: none;}

.cgmupload {
	float: left;
	/*width: 516px;*/
	margin: 0;
	font-size: 12px;
	padding: 0 0 20px 0;
	font-weight: 700;
	font-family: Verdana, Arial, Helvetica, sans-serif;}

.ice3-col-left .cgmupload {
	font-weight: 400;
	font-size: 10px;}


/* =gallery pages
-----------------------------------------------------*/
.gallerybox {
	float: left;
	/*raa width: 310px;*/
	width:213px;
	padding-right:10px;
	padding-bottom:10px;
	height: 105px;
	/* raa border: 1px solid #9a9a9a;*/
	/* raa margin: 10px 10px 10px 3px;  */
	/* raa padding: 10px;*/
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial,  sans-serif;
	/*
	float: left;
	width: 335px;
	margin: 10px 10px 10px 0;
	padding: 0;
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial,  sans-serif;
	*/
	}

.gallerybox .thumb {
	float: left;
	margin: 5px 8px 0 0;
	padding: 0 0 10px 0;}

.gallerybox p{
	margin: 5px;
	padding: 0;
	line-height: 12px;}

.cgmphotoinfo p{
	margin: 5px 0 0 0;
	padding: 0;
	line-height: 12px;}

.galleryboxline {
	float: left;
	/*raa width: 310px;*/
	width:213px;
	padding-right:10px;
	padding-bottom:10px;
	height: 105px;
	/* raa border: 1px solid #9a9a9a;*/
	/* raa margin: 10px 10px 10px 3px;  */
	/* raa padding: 10px;*/
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial,  sans-serif;
	}
.galleryboxline .thumb {
	float: left;
	margin: 0;
	padding: 0 5px 0 0;
	font-size:0;
	line-height:0;
	}

.galleryboxline p {
	margin: 0;
	padding: 0;
	line-height: 12px;}

.galleryboxline p.header {
	margin: 0 0 10px 0;
	padding: 0 0 3px 0;
	font-size: 11px;
	color: #005689;
	font-weight: 700;
	font-family: Verdana, Arial,  sans-serif;
	border-bottom:1px solid #ccc;
	}
.galleryboxline p.header a,.galleryboxline p.header a:link {
color:#005689;
}

.galleryboxline p.description {
	margin: 0;
	padding: 3px 0 0 0;
	font-size: 10px;
	color: #005689;
	font-weight: normal;
	font-family: Verdana, Arial,  sans-serif;
	}
.galleryboxline .arrowlink {
	margin: 0;
	padding: 0 0 0 77px;
	font-family: Verdana, Arial,  sans-serif;
	font-size: 10px;
	text-align: left;
	font-weight: normal;
	background: url('http://www.dallasnews.com/images/cgm/arrow_more.gif') 70px 4px no-repeat;}

.galleryboxline .arrowlink .blue{
color:#999;
font-weight:bold;
}
.galleryboxline .arrowlink span.bold{
color:#999;
 }
.galleryboxline .arrowlink a,.galleryboxline .arrowlink a:link {
	color:#005689;
	margin: 0;
	padding: 0;
	font-weight:bold;}
.gallerymend{
	display:none;
	float: right;
	width: 190px;
	margin: 10px 0 10px 0;
	padding: 0;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	text-align: right;
	font-family: Verdana, Arial,  sans-serif;}

#slcgmgallery {
	/*raa margin: 0 20px;*/
	margin:0;
	}


/* =video page
-----------------------------------------------------*/
.cgmvideobox {
	margin: 10px 0 5px 0;
	padding: 0 0 10px 0;
	height: 90px;
	border-bottom: none;
	/*border-bottom: 1px dashed #dbdbdb;*/}

.cgmvideobox .thumbnail {
	float: left;
	display: inline;
	margin: 0 0 0 15px;
	padding: 0;
	width: 125px;
	font-weight: 700;
	font-family: Verdana, Arial,  sans-serif;
	text-align: center;}

#main_tab1 #vidWidget {
	margin-top: -25px;}

#clipPubDate {
	margin: 5px 0 0;
	margin: 10px 0 0;}

.od-spacer {
	line-height: 4px;
	clear: both; }

#tabscontentcontainer #main_tab1 {
	border: 1px solid #9d9d9d;}

div#tabscontentcontainer {
	background: none;}
.on-demand-video-container {
	float: left;
	margin: 30px 0 10px 0;
	width: 400px; }

.on-demand-rightcol {
	float: right;
	margin: 20px 0 0 0;
	padding: 10px 0 0 0;
	width: 300px; }
/*
.on-demand-nav {
	width: 295px;
	display: block;
	clear: both;
	margin-top:5px; }

.on-demand-nav2 {
	width: 700px;
	display: block;
	clear: both; }
.on-demand-nav ul, .on-demand-nav2 ul {
	margin: 0;
	padding: 0; }

.on-demand-nav ul li, .on-demand-nav2 ul li {
	display: block;
	float: left;
	list-style-type: none;
	height: 23px;
	margin: 0;
	padding: 0; }

.on-demand-nav ul li a:link, .on-demand-nav2  ul li a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	color: #083d7f;
	text-decoration: none; }

.on-demand-nav ul li a:visited, .on-demand-nav2 ul li a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	color: #083d7f;
	text-decoration: none; }

.on-demand-nav ul li a:hover, .on-demand-nav2 ul li a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	color: #5d6265;
	text-decoration: none; }

.on-demand-nav ul li a:active, .on-demand-nav2 ul li a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	color: #083d7f;
	text-decoration: none; }

.on-demand-nav ul li.on-demand-nav-item a {
	background: transparent url('/video/images/od-nav-middle.jpg') top left repeat-x;
	height: 23px;
	display: block;
	float: left;
	padding: 0 9px 0 9px; }

.on-demand-nav2 ul li.on-demand-nav-item a, .on-demand-nav2 ul li.on-demand-nav-item {
	background: transparent url('/video/images/od-nav-middle.jpg') top left repeat-x;
	line-height: 23px;
	display: block;
	float: left;
	padding: 0 9px 0 9px; }

.on-demand-nav ul li.on-demand-nav-item a img, .on-demand-nav2 ul li.on-demand-nav-item a img, .on-demand-nav2 ul li.on-demand-nav-item img  {
	position: relative;
	top: 4px;
	left: 0; }

.on-demand-nav2 ul li.on-demand-nav-item form {
	display: inline;
	padding-top: 1px;}
*/
#uploadMediaForm .requiredInput {
	height: auto !important;}


/* =photo page
-----------------------------------------------------*/
#slcgmPhotoList {
  margin: 0;
  padding: 0 0 15px 0;
}

.slcgmVideoListThumbnail  {
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  width: 95px;
  font-weight: 700;
  font-family: Verdana, Arial,  sans-serif;
  text-align: center;}

.slcgmVideoListThumbnail a {
  text-decoration: none;
  border:0;}

.cgmphotobox {
	float: left;
	margin: 0;
	padding: 0 10px 0 0;
	width: 440px;
	}
/*
#slcgmPhotoInfo {
	float: left;
	width: 247px;}
*/
.cgmphotoinfo {
	float: left;
	width: 245px;
	display: inline;
	margin: 10px 0;
	padding: 0;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	font-family: Verdana, Arial,  sans-serif;}
.cgmphotoinfo .cgmdate{
}
.cgmphotoinfo img {
	float: left;
	display: inline;
	margin: 15px 0 20px 30px;
	padding: 0;}

.cgmphoto {
	float: left;
	display: inline;
	width: 88px;
	margin: 0 0 8px 0;
	padding: 0 5px 0 5px;
	font-size: 10px;
	color: #1c3f90;
	font-weight: 700;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;}

span#slcgmphotouploadlink a, span#slcgmviewphoto a {
	font-size: 10px;
	font-weight: 400;
	color: #000099;}

span#slcgmphotouploadlink a:hover, span#slcgmviewphoto a:hover {
	color: #e04f10;}


/* =sponsorships
-----------------------------------------------------*/
.cgmsponsor {
	position:relative;
	top: -30px;
	left:0px;
	margin: 10px;
	padding: 10px;}

.cgmsponsor180 {
	float: right;
	margin: 0 0 0 5px;
	padding: 0;
	text-align: left;
	height: 200px;
	width: 170px;}

.cgmsponsor180b {
	margin: 0;
	padding: 0;
	text-align: center;}

.sponsorcg {
	float: right;
	width: 180px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;}


/* =change user name styles
-----------------------------------------------------*/
.required {
	color: #ff0000;
	margin-left: 10px;}

.requiredInput {
	width: 390px;}

#mediaComments .requiredInput {
	width: 700px;}

.slcgm_hidden {
	display: none;}

.middlecenter {
	margin: auto;
	width: 100%;
	height: 100%;}

.transCover {
	/* CROSS BROWSER OPACITY */
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);}

/* raa 20080808

div#screennameForm {
	z-index: 6000;
	text-align: center;
	width: 320px;
	height: 131px;
	position: absolute;
	padding: 3px;
	background-image: url('/sharedcontent/cgm/ver1.0/assets/img/formBg.gif');
	background-repeat: no-repeat;}

div#uploadProgress {
	z-index: 6000;
	text-align: center;
	width: 320px;
	height: 131px;
	position: absolute;
	padding: 3px;
	background-image: url('/sharedcontent/cgm/ver1.0/assets/img/formBg.gif');
	background-repeat: no-repeat;}

raa 20080808 */

/* raa 20080808 added div# to overlayContainer*/
div#screennameFormContainer,div#overlayContainer {
	width: 320px;
	height: 131px;
	z-index: 5000;
	display: none;
	text-align: center;}

div#overlayContainer {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5000;
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;}

div#screennameFormContainer img {
	border: 0;}

div#screennameFormCover{
	position:absolute;
	top:0;
	left:0;
	text-align: center;
	width: 100%;
	height: 100%;
	margin:100%;
	z-index: 5;
	/* raa 20080808 background-color: #000000; */}

div#overlayContainer img {
	border: 0;}

div#overlayCover {
	text-align: center;
	width: 100%;
	height: 100%;
	/* raa 20080808 background-color: #000000; */}

.screennameFormInput {
	font-size: 14pt;
	border: 1px solid #000000;
	width: 250px;
	height: 20px;
	margin: 10px;}

.screennameFormInputButton {
	width: 80px;
	height: 20px;
	margin: 0 6px 0 6px;}

.errorText {
	/* raa 20080808 font-family: Verdana, Arial; */
	color: #ec290c;
	font-size: 9pt;
	text-align: center;}

.successText {
	/* raa 20080808 font-family: Verdana, Arial; */
	color: #5c963c;
	font-size: 9pt;
	/* raa 20080808 added following line */
	margin: 8px 0;
	text-align: center;}

/* raa 20080808 */
div#screennameForm, div#uploadProgress {
	z-index: 6000;
	position: absolute;
	width: 430px;
	padding: 0 0 14px 0;
	margin: 10px auto;
	text-align: center;
	background: url('http://www.dallasnews.com/sharedcontent/cgm/ver1.0/assets/img/popupBack2.gif') bottom left no-repeat;}
div#screennameForm h3, div#uploadProgress h3 {
	margin: 0;
	font-size: 14px;
	border: none;
	padding: 7px 10px 3px 10px;
	background: url('http://www.dallasnews.com/sharedcontent/cgm/ver1.0/assets/img/popupBack2.gif') top left no-repeat;}
div#uploadProgress p {
	margin: 8px 0;
	padding: 0 10px 3px;
	border-left: 3px solid #338cb1;
	border-right: 3px solid #338cb1;}
/* raa 20080808 */

div#screennameResponseOut {
	/* raa 20080808
	width: 300px;
	padding: 2px;
	*/
	padding:0;
	margin: 0;}


/* =report abuse widget
-----------------------------------------------------*/
div.ReportAbuse_Container {
	background: url('http://www.dallasnews.com/sharedcontent/cgm/ver1.0/assets/img/adbuseBgTop.gif') top center no-repeat;
	width: 190px;
	font-weight: 700;
	border: none;
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	z-index: 8;
	padding: 5px;
	position: absolute;
	}

div.ReportAbuse_Comment {
	width: 190px;
	padding: 5px;
	margin-left: -5px;
	background: url('http://www.dallasnews.com/sharedcontent/cgm/ver1.0/assets/img/abuseBg.gif') bottom center no-repeat;}

div.ReportAbuse_Comment textarea {
	width: 90%;
	height: 70px;
	margin-left: 5px;}

div.ReportAbuse_Interior select {
	margin-left: 5px;}

div.ReportAbuse_SectionHead {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	height: 15px;}

div.ReportAbuse_SectionHead a {
	float: right;
	border: 1px solid #000000;
	color: #000000;
	background-color: #ffffff;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-decoration: none;}

div.ReportAbuse_SectionHead a:hover {
	background-color: #000000;
	color: #ffffff;}

div.ReportAbuse_Comment input {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 5px;}
p#slcgmPhotoDescription{
line-height:14px;
color:#005689;
}


/* tdmn custom styles */
div.slcgm_search_bar
{
	background-image:url(http://www.dallasnews.com/images/cgm/search-bar-bg.gif);
	background-position:top left;
	background-repeat:repeat-x;
	border:1px solid #c1c1c1;
	height:28px;
	width:760px;
	margin-top:10px;
	margin-bottom:15px;
}
div.slcgm_search_bar div.uploadPhoto
{
	background-color:#005689;
	padding-left:10px;
	padding-right:10px;
	float:right;
	height:25px;
	padding-top:3px;
}
div.slcgm_search_bar div.uploadPhoto p
{
	background-image:url(http://www.dallasnews.com/images/cgm/search-bar-upload.gif);
	background-position:0 2px;
	background-repeat:no-repeat;
	padding:0 0 0 23px;
	margin:0;
	line-height:20px;
}
div.slcgm_search_bar div.uploadPhoto p a
{
	color:#fff;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
div.slcgm_search_bar div.yourProfile
{
	padding-left:10px;
	padding-right:10px;
	float:right;
	height:25px;
	padding-top:3px;
	/*
	background-color:#005689;
	padding-left:10px;
	padding-right:10px;
	float:right;
	height:25px;
	padding-top:3px;
	*/
}
div.slcgm_search_bar div.yourProfile p
{
	padding:0;
	margin:0;
	line-height:20px;
	/*
	padding:0;
	margin:0;
	line-height:20px;
	*/
}
div.slcgm_search_bar div.yourProfile p a
{
	color:#005689;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	/*
	color:#fff;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	*/
}
form.slcgm_search_form
{
	padding:4px 0 0 10px;
	margin:0;
}
form.slcgm_search_form input.search
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	width:150px;
	height:12px;
	line-height:12px;
}
form.slcgm_search_form input.image
{
	padding:1px 0 0 5px;
}
/* Most Popular include styles */
div#mpcgm-Module
{
	width:300px;
	background-color:transparent;
	padding: 0 !important;
	margin:0 !important;
	font-size: 0;
	line-height: 0;
}
div#mpcgm-ModuleHead
{
	height:16px;
	font-size:14px !important;
	line-height: 16px !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	background-color:transparent;
	padding-top:4px;
	padding-left:2px;
	padding-bottom:3px;
}
div#mpcgm-ModuleContentTop
{
	height:5px !important;
	border-bottom:#c9c9c9;
	width:298px;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}
div.mpcgm-ModuleContent
{
	border:solid 1px #999999;
	background-color:#b6c4d3;
	padding: 0 !important;
	margin: 0 !important;
}
div#mpcgm-ModuleHead div#link
{
	float:right;
	padding-right:5px;
}
div#mpcgm-ModuleHead div#link a
{
	font-size:10px !important;
	line-height: 11px !important;
	color:#d3d8de;
	text-decoration:none;
}
div#mpcgm-ModuleHead div#link a:hover
{
	text-decoration:underline;
}
div.mpcgm-Header
{
	width:298px;
	font-size:9pt !important;
	line-height: 10pt !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#333333;
	border-bottom:1px solid #ababab;
	padding-top:5px;
	padding-bottom:3px;
	background-image: url(http://www.dallasnews.com/images/ice3/recipebg_new.jpg);
	background-repeat: repeat-x;
	cursor:pointer;
	text-decoration:none !important;
}

div.mpcgm-HeaderOn
{
	width:298px;
	font-size:9pt !important;
	line-height: 10pt !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#333333;
	background-color:#d0d3dc;
	padding-top:5px;
	padding-bottom:3px;
	border-bottom:1px solid #cbced8;
	text-decoration:none;
}
div.mpcgm-Content
{
	display:none;
	padding-left:3px;
	padding-right:3px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#f7f8f9;
	border-bottom:1px solid #d0d3dc;
	height:85px;
	overflow:auto;
}
div.mpcgm-Content p, div.mpcgm-Content div.mpcgm-Title
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px !important;
	line-height: 12px !important;
	background-image:url(http://www.dallasnews.com/images/ice3/arrow_gray.gif);
	background-repeat:no-repeat;
	background-position:1px 6px !important;
	padding: 2px 0 2px 9px !important;
	margin: 0 !important;

}
div.mpcgm-Content p a, div.mpcgm-Content div.mpcgm-Title a
{
	color:#005689 !important;
	text-decoration:none;
}
div.mpcgm-Content p a:hover, div.mpcgm-Content div.mpcgm-Title a:hover
{
	color:#005689 !important;
	text-decoration:underline;
}
div.mpcgm-Content div.pubdatesmall
{
	color:#000;
	font-size:10px !important;
	line-height: 11px !important;
	font-family:Arial, Helvetica, sans-serif;
}

.mpcgm-Link
{
	text-decoration:none;
}
div#slcgm_comments_title
{
font-size:14pt;
}
div.cgmpagenav, div#photosnav, div#videosnav
{
font-size:12px;
font-weight:bold;
color:#666;
}
div.cgmpagenav a, div#photosnav a, div#videosnav a,
div.cgmpagenav a:link, div#photosnav a:link, div#videosnav a:link
{
color:#005689;
}
form.slcgm_search_form .gallery_select
{
font-size:7.5pt;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
div.mpcgm-Content div.readerchoiceTimeStamp
{
font-size:10px;
line-height:11px;
}

/* Overwriting jQuery UI Framework */
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #005689 !important; font-weight: 700; color: #eeeeee !important; outline: none; }

div#screennameForm {
	color:#000000;
}
div#screennameForm1 {
	z-index: 6000;
	text-align: center;
	width: 320px;
	position: absolute;
	padding: 3px;
	background-image: url('http://www.dallasnews.com/sharedcontent/cgm/ver1.0/assets/img/formBg.gif');
	background-repeat: no-repeat;
}
div#screennameForm1 {
	z-index: 6000;
	position: absolute;
	width: 430px;
	padding: 0 0 14px 0;
	margin: 10px auto;
	text-align: center;
	background: url('http://www.dallasnews.com/sharedcontent/cgm/ver1.0/assets/img/popupBack2.gif') bottom left no-repeat;}
div#screennameForm1 h3 {
	margin: 0;
	font-size: 14px;
	border: none;
	padding: 7px 10px 3px 10px;
	background: url('http://www.dallasnews.com/sharedcontent/cgm/ver1.0/assets/img/popupBack2.gif') top left no-repeat;}


.slcgm_metadata, .slcgm_metadata a 
{
color:#666666 !important;
font-family:Arial !important;
font-size:11px !important;
font-weight:normal !important;
margin-bottom:.6em;
}


.DMNACCModuleContainerPop
{
padding:7px !important;
}
.DMNACCModuleContainerPop p
{
font-family:Arial, Helvetica, sans-serif; !important;
font-size:12px !important;
padding:2px 0 2px 0 !important;
line-height:14px !important;
}
.DMNACCModuleContainerPop p .discoveryCount
{
color:#999999 !important;
font-size:11px !important;
font-family:arial;
}
.DMNACCModuleContainerPop p a
{
color:#005689 !important;
}
