@charset
"UTF-8"
;
#find_recipe_content, .simpleSearch {width: 100%; margin-left: auto; margin-right: auto; margin-bottom:20px; font-family: Arial, Helvetica, sans-serif;}
#find_recipe_wrapper {width: 620px;}
#find_recipe_headline {width: 620px; height: 38px;}
#find_recipe_headline_text1 {width: 160px; float: left; color: #071828; font-size: 24px; margin-top: 10px;}
#find_recipe_headline_text2 {width: 300px; margin-left: 165px; color: #383838; font-size: 14px; padding-top: 20px;}
#find_recipe_form_container {width: 100%; color: #000000; font-size: 0.8em; padding-top: 10px;}
#find_recipe_column1_dropdown1 {width: 19%; float: left; position: relative; overflow: hidden;}
#find_recipe_column2_dropdown2 {width: 20%; float: left; position: relative; overflow: hidden;}
#find_recipe_column3_dropdown3 {width: 28%; float: left; position: relative; overflow: hidden;}
#find_recipe_column4_dropdown4 {width: 33%; float: left; position: relative; overflow: hidden;}
#find_recipe_nutrition_column_dropdown {width: 25%; float: left; position: relative; overflow: hidden; font-weight: bold;}
#find_recipe_nutrition_column_dropdown input {width: 30%; position: relative;}
#find_recipe_nutrition_column_dropdown label {width: 100%; position: relative;}
#find_recipe_form_container label {display: block; margin-bottom: 5px;}
#search_form {padding-top: 10px}
#find_recipe_form_nutrition {border-top: 1px solid #C4C4C4; padding: 5px 5px 5px 0px;}
#find_recipe_form_nutrition div {padding-top: 5px; padding-bottom: 5px;}
#find_recipe_form_nutrition_date {border-top: 1px solid #C4C4C4; padding: 5px 5px 5px 0px;}
#find_recipe_form_nutrition_search {border-top: 1px solid #C4C4C4; padding: 5px 5px 5px 0px;}
#find_recipe_form_search_box {width: 500px; float: left;}
#find_recipe_form_search_box_advanced {width: 300px; text-align: center; margin-left: auto; margin-right: auto;}
//#search_form .text {width: 355px; color: #666666; font-style: italic;}
#search_form_box {width: 100%; float: left; margin-bottom: 10px; font-size:.8em;}
#search_form_box .text {width: 50%; color: #666666; font-style: italic; float: left; padding-bottom: 5px;}
#search_form_box .button {float: left; width: 18%; font-size: 12px; font-weight: bold; padding: 3px; margin-left: 5px; background-color: #F58B03; color: #FFFFFF; outline: none; border: none; background-image:none !important;}
.recipe-basic-search-buttons {width: 49%; float:left;}
#search_form_box a {margin-left: 50px; padding: 3px;}
#rcpAdvancedSearch {line-height:1.8em; font-weight:bold;}

#simple_search_form_box .text {width: 150px; color: #666666; font-style: italic;}
#simple_search_form_box .button {font-size: 12px; font-weight: bold; padding: 3px 3px 3px 3px; margin-left: 5px; background-color: #F58B03; color: #FFFFFF; outline: none; border: none;}
#find_recipe_form_search_box_advanced .button { margin-left: 15px; font-size: 12px; font-weight: bold; padding: 3px 3px 3px 3px; background-color: #F58B03; color: #FFFFFF; outline: none; border: none;}
#find_recipe_advanced_search {float: right; padding-right: 5px; margin-top: 5px}
#find_recipe_advanced_search a {color: #00518F; text-decoration: none; font-weight: bold; font-size: 13px; }
#find_recipe_form_search_box_advanced a {margin-left: 15px; color: #00518F; text-decoration: none; font-weight: bold; font-size: 13px;}
#find_recipe_hr {padding: 5px 5px 5px 5px;}
#find_recipe_hr hr {height: 3px; background-color: #A5C0D5; color: #A5C0D5; outline: none; border: none;}
#pagination_bottom_hr { width: 640px; border-top: 1px solid #C4C4C4; clear:both;}
#find_recipe_results_wrapper {width: 640px;}
#find_recipe_results_headline {color: #071828; font-size: 18px; font-weight: bold;}
.find_recipe_results_container { width: 640px; border-top: 1px solid #C4C4C4; clear:both;}
.find_recipe_results_image {width: 150px; height: 120px; float: left; margin-left: auto; margin-right: auto; padding-top: 5px; padding-bottom: 5px;}
.find_recipe_results_description {width: 490px; height: 120px; float: right;}
.find_recipe_results_container h1 {color: #00518F; font-size: 18px;}
.find_recipe_results_container p {color: #000000; font-size: 12px;}

	#navigation {
	background-color:#EDEDED;
	}
	
	#navigation h3 {
	font-size:1.1em;
	margin-bottom:14px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	}
	#navigation h3.nav_header {
	margin-bottom:9px;
	margin-top:4px;
	}

	#navigation h4.nav_header {
		background-color:#d3d3d3;
		width:100%;
		font-size:.8em;
		font-weight:bold;
		padding:5px 0 5px 10px;
	}
	
	#navigation h5 {
		font-weight:bold;
		font-size:.8em;
		padding:0px 0 0px 10px;
	}	

	#navigation ul li {
	font-size:.8em;
	padding-bottom:5px;
	padding-top:3px;
	padding-left:10px;
	list-style:	none;
	}
	
	
	
	
	//p.search-filter span.active {
	//font-weight:bold;
	//}

#sponsored-results  {
background-color:#F1F1F1;
border-bottom:1px solid #999999;
border-top:1px solid #999999;
display:block;
padding:5px 10px 0;
width:97%;
clear: both;
margin: 0 0 20px 0;
font-size:.85em;
}

.sponsored-article  {
clear:both;
overflow:hidden;
padding:10px 0 0;


}

.sponsored-article h3  {
	font-weight:bold;
}

#searchcontent {
color:#000000;
}

#featured-results  {
background-color:#F8F8F8;
border-bottom:1px solid #999999;
border-top:1px solid #999999;
display:block;
padding:5px 10px 0;
width:97%;
clear: both;
font-size:.95em;
margin-bottom:20px;
}


#featured-results  h3{
	font-weight:bold;
}

#search_type {
	border-bottom: 3px solid #A3C0D7;
	padding-bottom:10px;
	padding-top:10px;
}

/* GEO search styles */
         
#geo_search_state {width: 10%; float: left; position: relative; overflow: hidden;}
        
#geo_search_zipcode {width: 15%; float: left; position: relative; overflow: hidden; margin-right: 20px;}
        
#geo_search_city {width: 20%; float: left; position: relative; overflow: hidden;  margin-right: 20px;}

#search-result-more {float: right; position: relative; overflow: hidden;}

