.ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.ssSpotlightItem{float:left;width:140px;}
.ssSpotlightImage{width:140px;height:92px;background-color:#000000;text-align:center;}
.ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w370h245 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w370h245 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w370h245 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w370h245 .ssSpotlightItem{float:left;width:370px;}
.w370h245 .ssSpotlightImage{width:370px;height:245px;background-color:#000000;text-align:center;}
.w370h245 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w370h245 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w300h200 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w300h200 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w300h200 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w300h200 .ssSpotlightItem{float:left;width:300px;}
.w300h200 .ssSpotlightImage{width:300px;height:200px;background-color:#000000;text-align:center;}
.w300h200 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w300h200 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w280h185 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w280h185 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w280h185 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w280h185 .ssSpotlightItem{float:left;width:280px;}
.w280h185 .ssSpotlightImage{width:280px;height:185px;background-color:#000000;text-align:center;}
.w280h185 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w280h185 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w180h120 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w180h120 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w180h120 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w180h120 .ssSpotlightItem{float:left;width:180px;}
.w180h120 .ssSpotlightImage{width:180px;height:120px;background-color:#000000;text-align:center;}
.w180h120 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w180h120 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w220 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w220 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w220 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w220 .ssSpotlightItem{float:left;width:220px;}
.w220 .ssSpotlightImage{width:220px;height:154px;background-color:#000000;text-align:center;}
.w220 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w220 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w140 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w140 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w140 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w140 .ssSpotlightItem{float:left;width:140px;}
.w140 .ssSpotlightImage{width:140px;height:92px;background-color:#000000;text-align:center;}
.w140 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w140 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w120 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w120 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w120 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w120 .ssSpotlightItem{float:left;width:120px;}
.w120 .ssSpotlightImage{width:120px;height:80px;background-color:#000000;text-align:center;}
.w120 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w120 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w110 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w110 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w110 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w110 .ssSpotlightItem{float:left;width:110px;}
.w110 .ssSpotlightImage{width:110px;height:75px;background-color:#000000;text-align:center;}
.w110 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w110 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.w90 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.w90 .ssSpotlightRowFiller{height:20px;font-size:1px;line-height:1px;}
.w90 .ssSpotlightColFiller{float:left;width:20px;font-size:1px;line-height:1px;}
.w90 .ssSpotlightItem{float:left;width:90px;}
.w90 .ssSpotlightImage{width:90px;height:60px;background-color:#000000;text-align:center;}
.w90 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:.4em;}
.w90 .ssSpotlightTitle{padding:0;margin:0;font-size:.8em;font-family:Arial;}

.mobilePanelGroup .w140 .ssSpotlightClear{clear:both;font-size:0;line-height:0;height:0;}
.mobilePanelGroup .w140 .ssSpotlightRowFiller{height:5px;font-size:1px;line-height:1px;}
.mobilePanelGroup .w140 .ssSpotlightColFiller{float:left;font-size:1px;line-height:1px;}
.mobilePanelGroup .w140 .ssSpotlightItem{float:left;width:140px;margin:0 10px 5px 10px;}
.mobilePanelGroup .w140 .ssSpotlightImage{width:140px;height:92px;background-color:#4a4a4a;text-align:center;}
.mobilePanelGroup .w140 .ssSpotlightTitleWrapper{padding-top:3px; margin-top:0;}
.mobilePanelGroup .w140 .ssSpotlightTitle{padding:0;margin:0;font-size:1em;}
.mobilePanelGroup .w140 .ssSpotlightTitle a, .mobilePanelGroup .w140 .ssSpotlightTitle a:visited {font-size:.8em;color:#323232 !important;font-weight:bold !important;}
.mobilePanelGroup .w140 .ssSpotlightItem.last{float:right;}

.ssSpotlightHz .ssSpotlightItem{width:100%;}
.ssSpotlightHz .ssSpotlightImage{float:left;margin-right:10px;}
.ssSpotlightHz .ssSpotlightTitleWrapper {padding-top:0;margin-top:0;}
