.topPicksClear {clear:both;width:0;font-size:0;height:0;line-height:0;}
.topPicksFiller {float:left;width:20px;}
.topPicksItem {float:left; margin-bottom: 10px;}
.topPicksTitle {font-family:Arial;font-size:.85em; color:#666;}
.topPicksTitle a {font-size:.85em; color:#666;}
.topPicksLink {font-family:Arial;font-size:.8em; line-height:1.4em;}

div.x380x220-sb .topPicksItem { background-color: #232323; margin-bottom: 10px !important; padding: 10px; width: 190px !important; }
div.x380x220-sb .topPicksTitleWrapper {width:120px !important;}
div.x380x220-sb .topPicksTitle {color: #fff;}