.tssShow{display:block;}
.tssHide{display:none;}
.tssClear{clear:both;font-size:0;line-height:0;height:0;}
.stories .tssMain .article {margin:0;padding:0;}
.tssThumbActive{background-image:url(/resources/images/stories/arrow-up.png);background-repeat:no-repeat;background-position:65px 0;}
.tssThumbTitle{font-size:12px;font-family:Arial;color:#005689;padding-top:2px;}
.tssCredit{text-align:right;font-size:11px;font-family:Arial;}

.tssThumbFiller{font-size:1;line-height:1;width:7px;float:left;}
.tssMain{width:440px;background-color:#f5f5f5;border:1px solid #b3b3b3;padding:9px;height:525px;overflow:hidden;}
.tssThumbs{width:440px;background-color:#f5f5f5;border-left:1px solid #b3b3b3;border-right:1px solid #b3b3b3;border-bottom:1px solid #b3b3b3;padding:0 9px 9px 9px;}
.tssThumb{width:142px;float:left;padding-top:10px;cursor:pointer;}
.tssThumbImage{width:140px;border:1px solid #000000;height:92px;}

.shortTss .tssMain{height:450px;}

.w380.topstoriesswitchable {padding-bottom:10px;}
.w380 .tssThumbFiller{font-size:1;line-height:1;width:7px;float:left;}
.w380 .tssMain{width:380px;background-color:transparent;border:0;padding:0;height:auto;}
.w380 .tssThumbs{width:380px;background-color:transparent;border:0;padding:10px 0 0 0;}

.tssThumb.w120 {width:122px;float:left;padding-top:10px;cursor:pointer;}
.tssThumb.w120.tssThumbActive{background-image:url(/resources/images/stories/arrow-up.png);background-repeat:no-repeat;background-position:60px 0;}
.tssThumb.w120 .tssThumbImage{width:120px;border:1px solid #000000;height:80px;}

.tssThumb.w110 {width:112px;float:left;padding-top:10px;cursor:pointer;}
.tssThumb.w110.tssThumbActive{background-image:url(/resources/images/stories/arrow-up.png);background-repeat:no-repeat;background-position:50px 0;}
.tssThumb.w110 .tssThumbImage{width:110px;border:1px solid #000000;height:75px;}

.tssThumb.w100 {width:102px;float:left;padding-top:10px;cursor:pointer;}
.tssThumb.w100.tssThumbActive{background-image:url(/resources/images/stories/arrow-up.png);background-repeat:no-repeat;background-position:45px 0;}
.tssThumb.w100 .tssThumbImage{width:100px;border:1px solid #000000;height:75px;}
.tssThumbFiller.w100{font-size:1;line-height:1;width:10px;float:left;}
