.ndn_startOverlayContainer,
.ndn_pauseOverlayContainer {
	height: 100%;
	width: 100%;
	position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2); 
   	z-index: 20;
}

.ndn_infoOverlayContainer{
	display: none;
	visibility: hidden;
}
.ndn_startOverlayContainer,
.ndn_pauseOverlayContainer,
.ndn_infoOverlayContainer {
	font-family: @playerFontFamily;
	z-index: 20;
	color: #fff!important;
	
	&:hover{
		cursor: pointer;
	}
    
    .ndn_pauseVideoInfoContainer{
	    position: absolute!important;
	    width: 100%!important;
	    height: 100%!important;
    }
    .ndn_startOverlay,
    .ndn_pauseOverlay_centerContainer {
    	position: absolute;
    	top: 0;
    	left: 0;
    	height: 100%;
       	width: 100%;
	   	
	   	.ndn_startPlay {
			background-image: url('../img/utilityGraphics_sprite.png');
			background-position: 366px 700px;
			height: 126px;
			width: 125px;			
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			.is-link;
			z-index: 200;
		}
		
		&:hover {
			.ndn_startPlay {
				background-position: 366px 573px;
		    }			
		}
		
		&:active {
			.ndn_startPlay {
				background-position: 366px 573px;
		    }
		}
	}
	
	/** INFO PANEL CSS **/
	.ndn_pauseVideoInfo {
		z-index: 201;
		
		&:hover {
			cursor: pointer;				
		}
	}
	
	.ndn_pauseVideoInfo,
	.ndn_videoInfo {
		padding: 25px;
		position: relative;
		z-index: 200;	
		padding-bottom: 45px;	
		
		
		.ndn_videoTitle {	
			line-height: 40px!important;						
			font-weight: bold!important;
			font-size: 36px!important;
			color: #fff!important;				
			padding-right: 80px;
			padding-bottom: 1px;
			max-height: 80px!important;
						
			/* Need a wildcard proptery to handle all selectors and partner site css */
			& > * {
				font-size: 36px!important;
				line-height: 40px!important;
				font-weight: bold!important;
				font-family: @playerFontFamily!important;			
				color: #fff!important;	
				margin-bottom: 4px!important;
			}
		}	
				
		.ndn_videoDescription,
		.ndn_videoInfoDescription,
		.ndn_videoProviderName {
			color: #ddd;
			font-weight: normal;		
			overflow: hidden;
			
			/* Need a wildcard proptery to handle all selectors and partner site css */
			& > * {
				font-family: @playerFontFamily!important;				
				color: #ddd!important;
				overflow: hidden!important;	
			}	
		}
		
		.ndn_videoDescription,
		.ndn_videoInfoDescription {
			margin-bottom: 15px;
			padding-bottom: 1px;
			padding-right: 30px;
			display: none;
			font-size: 18px;
			
			& > * {
				font-size: 18px!important;
				font-weight: normal!important;	
				margin-bottom: 15px!important;
			}
		}
		
		
		.ndn_videoProviderName {
			height: 18px;
			font-size: 14px!important;		
			font-weight: normal!important;
			margin: 0px 0 0px 0;	
			line-height: 16px;
		}	
		
		.ndn_toggleDescription,
		.ndn_toggleInfoDescription{
			position: relative;
			left: -5px;
			width: 35px;
			float: left;
			font-weight: normal;
		}		
		
		.ndn_icon_info-circled,
		.ndn_icon_cancel-circled{
			font-size: 25px;
			color: #ddd!important;			
			
			&:hover{
				cursor: pointer;
				color: #fff!important;
			}
		}		
		
		.ndn_toggleShare{
			float: left;
			font-size: 25px;
			width: 35px;
			color: #ddd;
			font-weight: normal;
			
			&:hover{
				color: #fff;
				cursor: pointer;
			}	
		}
		
		img.ndn_pauseVideoLogo,
		img.ndn_videoProviderLogo {
			display: block;
			float: right;
			position: absolute;
			top: 15px;
			right: 40px;
			max-width: 200px;
			max-height: 75px;
		}
		
		.ndn_infoPanelOverlay {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			z-index: -9999;
			#gradient.ndn_player_overlay();
		}
	}
}


/*1023 to 1198*/

.ndn_videoPlayer_view1198 {
	.ndn_startOverlayContainer,
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer {	
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png') 366px 445px;
			height: 107px;
			width: 105px;		
			top: 0px;
		}
		
		&:hover{
			.ndn_startPlay{
				background-position: 366px 338px;
			}
		}
		
		&:active {
			.ndn_startPlay{
				background-position: 366px 338px;
			}		
		}
		
		.ndn_pauseVideoInfo,
		.ndn_videoInfo{
			padding: 20px 85px 55px 20px;
			
			.ndn_videoTitle {		
				padding-bottom: 0px;
				font-family: @playerFontFamily!important;	
				font-weight: bold!important;
				font-size: 30px!important;
				color: #fff!important;				
				overflow: hidden!important;
				line-height: 32px!important;					
				
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 32px!important;			
					font-family: @playerFontFamily!important;	
					font-weight: bold!important;
					font-size: 30px!important;
					color: #fff!important;				
					position: relative!important;
					top:-2px!important;					
					margin-bottom: 12px!important;
				}
			}			
	
			.ndn_videoDescription,
			.ndn_videoProviderName {
				line-height: 1;	
				font-weight: normal;		
				overflow: hidden;				

				& > * {				
					overflow: hidden!important;
				}				
			}			
			
			.ndn_videoDescription{
				margin-bottom: 12px;
				line-height: 18px;
				font-weight: normal!important;
				font-size: 16px!important;
				
				& > * {
					line-height: 18px!important;
					font-size: 16px!important;
					font-weight: normal!important;
				}
			}
			
			.ndn_videoProviderName{
				height: 17px;
				font-size: 12px!important;				
				font-weight: normal!important;
				line-height: 14px;
				margin-top: 1px!important;
			}
			
			img.ndn_pauseVideoLogo,
			img.ndn_videoProviderLogo {
				max-width: 180px;
				max-height: 75px;
			}
		}
	}
}

/*767 to 1022*/

.ndn_videoPlayer_view1022 {
	.ndn_startOverlayContainer,
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer {
		.ndn_startPlay{					
			top: 70px;
		}
		
		.ndn_pauseVideoInfo,
		.ndn_videoInfo{
			padding: 14px 85px 55px 14px;
			
			.ndn_videoTitle {		
				line-height: 26px!important;			
				font-family: @playerFontFamily;	
				font-weight: bold!important;
				font-size: 24px!important;
				color: #fff!important;				
				overflow: hidden;
				margin-bottom: 10px;
				padding-right: 0px!important;
				max-height: 53px!important;
				
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 26px!important;			
					font-family: @playerFontFamily!important;	
					font-weight: bold!important;
					font-size: 24px!important;
					color: #fff!important;				
					/*overflow: hidden!important;	*/			
					margin-bottom: 10px!important;
				}
			}			
	
			.ndn_videoDescription,
			.ndn_videoInfoDescription
			.ndn_videoProviderName {
				color: #ddd;						
				overflow: hidden;				

				& > * {				
					color: #ddd!important;
					overflow: hidden!important;
				}				
			}			
			
			.ndn_videoDescription,
			.ndn_videoInfoDescription{
				min-height: 15px;
				max-height: 90%;
				margin-bottom: 10px;
				font-weight: normal!important;
				font-size: 14px!important;
				line-height: 16px!important;
				
				& > * {
					line-height: 16px!important;
					font-size: 14px!important;
					font-weight: normal!important;
				}
			}
			
			.ndn_videoProviderName{
				height: 17px;
				font-size: 12px!important;				
				font-weight: normal!important;
				line-height: 14px!important;
			}
			
			img.ndn_pauseVideoLogo,
			img.ndn_videoProviderLogo {
				max-width: 140px;
				max-height: 75px;				
			}
		}		
	}
}

/*767 to 849*/

.ndn_videoPlayer_view849 {
	.ndn_startOverlayContainer,
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer  {
		.ndn_startPlay{					
			top: 0px;
		}
		.ndn_pauseVideoInfo,
		.ndn_videoInfo {
			.ndn_videoTitle{						
				padding-bottom: 0;
				margin: 0;
				max-height: 70px;
				padding-right: 40px!important;
			}
		}
	}
}	

/*639 to 766*/

.ndn_videoPlayer_view766 {
	.ndn_startOverlayContainer,
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer {
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png')  366px 231px;
			height: 90px;
			width: 90px;		
			top: 15px;
		}
		
		&:hover {
			.ndn_startPlay{
				background-position: 366px 139px;
			}
		}
		
		&:active {
			.ndn_startPlay{
				background-position: 366px 139px;
			}
		}	
		
		.ndn_pauseVideoInfo,
		.ndn_videoInfo {
			padding: 12px 85px 55px 12px;
			
			.ndn_videoTitle {		
				line-height: 22px!important;			
				font-family: @playerFontFamily;	
				font-weight: bold!important;
				font-size: 20px!important;
				color: #fff!important;				
				overflow: hidden;	
				padding-bottom: 0!important;
				padding-right: 40px!important;
				margin: 0;	
				max-height: 43px!important;
				
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 22px!important;			
					font-family: @playerFontFamily!important;	
					font-weight: bold!important;
					font-size: 20px!important;
					color: #fff!important;				
					overflow: hidden!important;				
					margin-bottom: 10px!important;
				}
			}			
	
			.ndn_videoDescription,
			.ndn_videoProviderName {
				color: #ddd;						
				overflow: hidden;				

				& > * {				
					color: #ddd!important;
					overflow: hidden!important;
				}				
			}			
			
			.ndn_videoDescription {
				margin-bottom: 10px;
				font-weight: normal!important;
				font-size: 12px!important;
				line-height: 14px!important;
				max-height: 50%;
				
				& > * {
					line-height: 14px!important;
					font-size: 12px!important;
					font-weight: normal!important;
				}
			}
			
			.ndn_videoProviderName {
				height: 17px;
				font-size: 12px!important;				
				font-weight: normal!important;
				line-height: 14px!important;
			}
			
			.ndn_icon_info-circled,
			.ndn_icon_cancel-circled{
				font-size: 22px;
			}
			.ndn_toggleShare{
				font-size: 22px;
			}
			

			
			img.ndn_pauseVideoLogo,
			img.ndn_videoProviderLogo {
				max-width: 125px;
				max-height: 50px;
			}
		}	
		
	}
}

/*575 to 638*/

.ndn_videoPlayer_view639 {
	.ndn_startOverlayContainer,
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer {
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png') 224px 700px;
			height: 80px;
			width: 80px;		
			top: 0px!important;
		}
		
		&:hover {
			.ndn_startPlay{
				background-position: 224px 618px;
			}
		}
		
		&:active{
			 .ndn_startPlay{
				 background-position: 224px 618px;
			}
		}
		
		.ndn_pauseVideoInfo,
		.ndn_videoInfo{
			padding: 8px 85px 55px 8px;
			
			.ndn_videoTitle {	
				font-family: @playerFontFamily;	
				font-weight: bold!important;
				color: #fff!important;				
				overflow: hidden;	
				padding-bottom: 0!important;
				padding-right: 0px!important;
				margin: 0;
				line-height: 20px!important;			
				font-size: 18px!important;
				max-height: 53px!important;
				
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 20px!important;			
					font-size: 18px!important;
					margin-bottom: 0px!important;
					padding-bottom: 6px!important;
				}
			}			
	
			.ndn_videoDescription,
			.ndn_videoProviderName {
				color: #ddd;						
				overflow: hidden;				

				& > * {				
					color: #ddd!important;
					overflow: hidden!important;
				}				
			}			
			
			.ndn_videoDescription{
				line-height: 14px;
				font-size: 12px;
				
				& > * {
					line-height: 14px!important;
					font-size: 12px!important;
				}
			}
				
			
			.ndn_videoProviderName{
				height: 15px;
				font-size: 12px!important;				
				font-weight: normal!important;
				line-height: 14px!important;
				margin-bottom: 5px;
			}
			
			.ndn_icon_info-circled,
			.ndn_icon_cancel-circled,
			.ndn_icon_share{
				font-size: 20px;
			}

			img.ndn_pauseVideoLogo,
			img.ndn_videoProviderLogo  {
				top: 15px;
				right: 5px;
				max-width: 105px;
				max-height: 50px;
			}
			
			
		}
	}
}

/*500 to 574*/

.ndn_videoPlayer_view574 {
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer,
	.ndn_startOverlayContainer {
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png')  226px 537px;
			height: 71px;
			width: 73px;		
			top: 10px!important;
		}
		
		&:hover {
			.ndn_startPlay{
				background-position: 226px 465px;
			}
		}
		
		&:active {
			.ndn_startPlay{
				background-position: 226px 465px;
			}
		}	
		.ndn_pauseVideoInfo,
		.ndn_videoInfo {
			padding: 8px 8px 8px 8px;
			
			.ndn_videoTitle {
				overflow: hidden!important;
				padding-right: 72px!important;
				top:0px!important;
				font-size: 18px!important;
				font-weight: bold!important;
				padding-bottom: 1px;				
				margin-bottom: 0;
				max-height: 49px!important;
				
				& > *{
					overflow: hidden!important;	
					font: bold 18px @playerFontFamily!important;
				}

			}
			
			.ndn_icon_info-circled,
			.ndn_icon_cancel-circled,
			.ndn_toggleShare{
				font-size: 20px;
			}
			
			.ndn_videoProviderName{
				margin-bottom: 10px!important;				
			}
			
			.ndn_toggleShare{
				width: 20px;
				position: relative;
				left: -5px;
			}
			
			img.ndn_pauseVideoLogo,
			img.ndn_videoProviderLogo {
				top: 5px;
			}
			
			.ndn_infoOverlay{
				padding-bottom: 45px;
				
			}
		}
		
				
	}
}


/*419 to 499*/

.ndn_videoPlayer_view499 {
	.ndn_startOverlayContainer,
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer {
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png')  226px 537px;
			height: 71px;
			width: 73px;		
			top: 0px!important;
		}
		
		&:hover {
			.ndn_startPlay{
				background-position: 226px 465px;
			}
		}
		
		&:active {
			.ndn_startPlay{
				background-position: 226px 465px;
			}
		}	

		.ndn_pauseVideoInfo,
		.ndn_videoInfo{
			padding: 8px;
			
			.ndn_videoTitle {
				padding-right: 65px!important;
				padding-bottom: 1px;	
				max-height: 49px!important;
				
				& > *{
					max-height: 49px!important;	
				}
			}
			
			.ndn_videoDescription {
				display: none;
			}
			
			.ndn_icon_info-circled,
			.ndn_icon_cancel-circled{
				display: none;
			}
			
			.ndn_videoProviderName{
				font-size: 10px!important;
				line-height: 11px!important;
				margin-bottom: 8px!important;
				
			}
			
			img.ndn_pauseVideoLogo,
			img.ndn_videoProviderLogo {
				max-width: 85px;
				max-height: 40px;
			}
			
			.ndn_toggleShare{
				font-size: 18px;
				position: relative;
				left:-3px;
			}
								
		}
		
	}
}



/* width < 419*/

.ndn_videoPlayer_smallView {
	.ndn_startOverlayContainer,
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer {				
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png') 224px 392px;
			height: 52px;
			width: 52px;
			top:0!important;		
		}		
		&:hover{
			.ndn_startPlay{
				background-position: 224px 340px;
			}
		} 
		
		&:active {
			.ndn_startPlay{
				background-position: 224px 340px;
			}
		}		
		
		.ndn_pauseVideoInfo,
		.ndn_videoInfo{
			padding: 6px;
			
			.ndn_videoTitle {
				font-size: 12px!important;
				overflow: hidden!important;
				line-height: 14px!important;				
				padding-bottom: 0px!important;
				padding-top: 0px!important;
				max-height: 32px!important;
				
				& > *{
					font: bold 12px @playerFontFamily!important;
					line-height: 14px!important;
					padding-bottom: 0!important;
				}
			}
			
						
			.ndn_videoProviderName{
				height: 14px!important;
				line-height: 12px!important;
				font-size: 9px!important;				
				font-weight: normal!important;				
			}
			.ndn_toggleShare{
				margin-top:-4px;
			}
			
			img.ndn_pauseVideoLogo,
			img.ndn_videoProviderLogo {
				max-width: 60px;
				max-height: 35px;
			}
								
		}
	}
}

/* Remove the title and descriptuon from the overlay on the inline300*/
.ndn_widget_VideoPlayer-Inline300 > .ndn_videoPlayer_smallView {
	.ndn_startOverlayContainer,
	.ndn_pauseOverlayContainer{
		.ndn_pauseVideoInfo{
			display: none!important;
		}			
	}
	
	.ndn_infoOverlayContainer{
		display: none;
		visibility: hidden;
	}
}

