.ndn_pauseOverlayContainer {	
	
	.is-link;

	.ndn_pauseOverlay {
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.5);	
		z-index: 198;
	
		&:hover .ndn_PlayButton{
			background-position: 0 -99px;
			cursor: pointer;
		}
	
		&:active .ndn_PlayButton{
			background-position: 0 -98px;
		}		
	}
	
	.ndn_PlayButton{
		margin: 0 auto -46px auto;
		background: url('../img/utilityGraphics_sprite.png') 0 -52px;
		height: 46px;
		width: 46px;
		position: relative;
		z-index: 4000;
		top: 80px;
	}
	
	.ndn_pauseCarousel {
		z-index: 200;
		position: absolute;
		width: 100%;
		bottom: -14px;	
		
		.ndn_clearfix;

		a {
			text-decoration: none;
		}

		ul.ndn_pauseOverlay_selectableVideos {
	        position: relative!important;
	        display: inline!important;
	        float: left;
	        overflow: hidden;
	        padding: 0!important;
	        margin: 0!important;
	        cursor:  pointer;
	        z-index: 300;

	        li.ndn_pauseOverlay_selectableVideo {
				display: inline;
				position: relative;
				float: left;
				width: 200px;
				height: 113px;
				overflow: hidden;
				list-style: none;
				padding: 0;
				background-color: @playerBackgroundColor;
				opacity: 1;
				
				&:first-child{
					padding: 0 3px 0 0;
				}
				&:last-child{
					padding: 0 0 0 3px;
				}
				
				 &:hover {
		        	.ndn_sliderThumbnailTitle{
		        		font-weight: 18px;
		        		line-height:20px;
				        display: block;
				     }
				     img{
					     opacity: 0.5;
				     }
		        }
	         }       
	        
	        .ndn_thumbnailContainer{
		        overflow: hidden;
		        height: 113px;
		        width: 200px;
		        
		        img{
					width: 100%;
					margin: 0 auto;	       
		        }
	        }      

	        .ndn_sliderThumbnailTitle {
            	right: 0;
            	color: @playerTextColor;
            	font-size: 18px;
            	font-weight: 300;
            	padding: 0;
                zoom: 1;
                line-height: 20px;
                position: relative;
				top: -110px;	
				margin: 0 13px 0 13px;
				display: none;
				
                div {
                	padding: 5px 0;
                	height: 60px;
                }
            }       	
	        	  	  	
	    }
		
		.ndn_sliderContainer{
			width: 1090px;
			height: 150px;
			position: relative;
			margin: 0 auto;
		}
	    .ndn_sliderWrapper {
	    	position: absolute;
	        padding: 0;
	        left: 2%;
	        z-index: 302;
	    }

	    .ndn_sliderNavButton {
	        float: left;
	        width: 30px;
	        height: 140px;
	        color: #ddd;
	        cursor: pointer;
	        font-size: 28px;
			z-index: 501;
			
			&:hover,
			&:active{
				color: #fff;
			}
			&:before{
				position: relative;
				top:32%;
			}
		}
		.ndn_sliderPrev {
	    	position: absolute;
	    	left: -25px;
			margin-right: 0px;

		}

		.ndn_sliderNext {
		   	position: relative;
	    	left: 1049px;
			margin-left: 0px;
		}
	}
}

/*1022 to 1198*/
.ndn_videoPlayer_view1198 {
	.ndn_pauseOverlayContainer {
		.ndn_pauseCarousel {
			.ndn_sliderWrapper {
	    		left: 2px;			
			}
			
			.ndn_sliderContainer{
				width: 820px!important;
			}
			.ndn_sliderPrev {		 	
		 	  	left: -40px!important;		 	

		 	}
			.ndn_sliderNext {		 	
		 	  	left: 820px!important;		 	

		 	}
			.ndn_carousel-wrapper{
				max-width: 880px!important;
			}
			.ndn_sliderNavButton {
	        	
				&:before{	
					top:30%;
				}
			}
			
			ul.ndn_pauseOverlay_selectableVideos{
				li.ndn_pauseOverlay_selectableVideo{
				   
				   &:hover {
		        	.ndn_sliderThumbnailTitle{
		        		font-weight: 14px;
		        		line-height:16px;

				     }
					}
				}
			}
			
		}	
	}
}


/*999 to 1022*/

.ndn_videoPlayer_view1022 {
	.ndn_pauseOverlayContainer,
	.ndn_infoOverlayContainer {
	
		.ndn_pauseCarousel {
			.ndn_sliderWrapper {
		        padding: 0;
			}
							
			.ndn_sliderContainer{
				width: 818px!important;
			}
			
			.ndn_sliderPrev {		 	
		 	  	left: -37px!important;		 	
		 	}
			
			.ndn_sliderNext {		 	
		 	  	left: 817px!important;		 	
		 	}	
			
	  	}
	  	ul.ndn_pauseOverlay_selectableVideos {
	   	   li.ndn_pauseOverlay_selectableVideo {
				
				 &:hover {
			 		font-weight: 16px;
	        		line-height:18px;
				    
				     }
				    
				 }
			}	 		 
	
	}
}

/*850 to 999*/
.ndn_videoPlayer_view999 {
	.ndn_pauseOverlayContainer {

		.ndn_pauseCarousel {
			bottom: -35px;
			
			.ndn_sliderContainer{
				width: 740px!important;
			}
			.ndn_sliderPrev {		 	
		 	  	left: -40px!important;		 	
		 	}
			.ndn_sliderNext {		 	
		 	  	left: 740px!important;		 	
		 	}
		 	
			.ndn_carousel-wrapper{
				max-width: 950px!important;
			}
			
			.ndn_sliderNavButton {	        	
				&:before{	
					top:25%;
				}
			}
			ul.ndn_pauseOverlay_selectableVideos {
					
				li.ndn_pauseOverlay_selectableVideo {					
					width: 180px!important;
					height: 101px!important;
					
					.ndn_thumbnailContainer{
						width: 180px!important;
						height: 101px!important;
					}
					.ndn_sliderThumbnailTitle {
						font-size: 16px;
						line-height: 18px;
						top:-80px;
						
					}

				}	
	  	    }	
	  	}	
	}
}

/*784 to 849*/
.ndn_videoPlayer_view849 {
	.ndn_pauseOverlayContainer {
		.ndn_startPlay{
			top:-20px;
		}
		.ndn_pauseCarousel {
			bottom: -35px;
			.ndn_sliderContainer{
				width: 700px!important;
			}
			
			.ndn_sliderNext {		 	
		 	  	left: 705px!important;		 	
		 	}
		 	
			.ndn_carousel-wrapper{
				max-width: 800px!important;
			}
			
			.ndn_sliderNavButton {	        	
				&:before{	
					top:25%;
				}
			}
			ul.ndn_pauseOverlay_selectableVideos {
					
				li.ndn_pauseOverlay_selectableVideo {					
					width: 170px!important;
					height: 96px!important;
					
					.ndn_thumbnailContainer{
						width: 170px!important;
						height: 96px!important;
					}
					.ndn_sliderThumbnailTitle {
						font-size: 15px;
						line-height: 17px;
						top:-80px;
						
					}

				}	
	  	    }	
	  	}	
	}
}

/*767 to 784*/

.ndn_videoPlayer_view784 {
	.ndn_pauseOverlayContainer {
		.ndn_startPlay{
			top:-20px;
		}
		.ndn_pauseCarousel {
			bottom: -50px;
			.ndn_sliderContainer{
				width: 576px!important;
			}
			
			.ndn_sliderNext {		 	
		 	  	left: 579px!important;		 	
		 	}
		 	
			.ndn_carousel-wrapper{
				max-width: 600px!important;
			}
			
			.ndn_sliderNavButton {
	        	
				&:before{	
					top:16%;
				}
			}
			ul.ndn_pauseOverlay_selectableVideos {
				li.ndn_pauseOverlay_selectableVideo {					
					width: 140px!important;
					height: 79px!important;
					
					.ndn_thumbnailContainer{
						width: 140px!important;
						height: 79px!important;
					}
					.ndn_sliderThumbnailTitle {
						font-size: 13px;
						line-height: 15px;
						top:-80px;
						
					}

				}	
	  	    }	
	  	}	
	}

}

/*703 to 766*/
.ndn_videoPlayer_view766 {
	.ndn_pauseOverlayContainer {
	
	}
}

/*640 to 702*/

.ndn_videoPlayer_view702 {

	.ndn_pauseOverlayContainer {
		.ndn_startPlay{
			top:-20px;
		}
		.ndn_pauseCarousel {
			bottom: -50px;
			.ndn_sliderContainer{
				width: 432px!important;
			}
			
			.ndn_sliderNext {		 	
		 	  	left: 433px!important;		 	
		 	}
		 	
			.ndn_carousel-wrapper{
				max-width: 440px!important;
			}
			
			.ndn_sliderNavButton {
	        	
				&:before{	
					top:18%;
				}
			}
			ul.ndn_pauseOverlay_selectableVideos {
				li.ndn_pauseOverlay_selectableVideo {					
					.ndn_sliderThumbnailTitle {
						font-size: 13px;
						line-height: 15px;
						top:-80px;
					}

				}	
	  	    }
	  	}	
	}
}



/*575 to 639*/

.ndn_videoPlayer_view639{
	.ndn_pauseOverlayContainer {

		.ndn_pauseCarousel {
			bottom: -40px;
			
			.ndn_sliderContainer{
				width: 435px!important;
			}
			
			.ndn_sliderNext {		 	
		 	  	left: 437px!important;		 	
		 	}
		 	
			.ndn_carousel-wrapper{
				max-width: 500px!important;
			}
			
			.ndn_sliderNavButton {
	        	
				&:before{	
					top:16%;
				}
			}
			
			ul.ndn_pauseOverlay_selectableVideos {
				li.ndn_pauseOverlay_selectableVideo {					
					
					.ndn_sliderThumbnailTitle {
						margin: 0 5px 0 5px;
						top:-80px;
						
					}

				}	
	  	    }	
	  	}
	}
}

/*500 to 574*/

.ndn_videoPlayer_view574 {
	.ndn_pauseOverlayContainer {	
				
		.ndn_pauseCarousel {			
			bottom: 5px;			
						
			.ndn_sliderContainer{
				height: 80px!important;
				width: 430px!important;
				position: relative!important;
			} 
			
			.ndn_sliderPrev {		 	
		 	  	left: -30px!important;		 	
		 	}
		 	
			.ndn_sliderNext {		 	
		 	  	left: 432px!important;		 	
		 	}
		 	
			.ndn_carousel-wrapper{
				max-width: 490px!important;
			}
			
			.ndn_sliderNavButton {
	        	font-size: 20px;
	        	height: 80px;
				&:before{	
					top:35%;
				}
			}
			
			ul.ndn_pauseOverlay_selectableVideos {
				li.ndn_pauseOverlay_selectableVideo {										
					.ndn_sliderThumbnailTitle {
						margin: 0 5px 0 5px;
						top:-80px;
						
					}

				}	
	  	    }	
	  	}
	}
}

/*419 to 499*/

.ndn_videoPlayer_view499 {
	.ndn_pauseOverlayContainer {		
		.ndn_pauseCarousel {
			display: none;	
	  	}
	}
}


/* Under 419*/

.ndn_videoPlayer_smallView {
	.ndn_pauseOverlayContainer{	
		top:0;	
				
		.ndn_pauseCarousel {
			display: none;	
		}		
		
	}

	.ndn_sliderAndNavWrapper {
		display: none;
	}	
}

.ndn_embed.ndn_widget_VideoPlayer-Default {
	.ndn_pauseOverlayContainer {				
		.ndn_pauseOverlay_centerContainer {
			position: absolute!important;
			top: 0!important;
			left: 0!important;
			right: 0!important;
			bottom: 0!important;
			margin: auto!important;							
		}
	}
}

.ndn_widget_VideoPlayer-16x9 {
	color: #fff!important;
	
	.ndn_pauseOverlayContainer {
		.ndn_pauseOverlay {
			padding-top: 0px;
		}

		.ndn_pauseCarousel {
			display: none;
		}

		.ndn_pauseOverlay_centerContainer {
			position: absolute;
			height: 90px;
			top: 50%;
			right: 0;
			left: 0;
			bottom: 0;
			margin-top: -45px;

			.ndn_pausePlayButton {
				top: 0;
			}
		}

		.ndn_pauseShare {
			position: absolute;
			top: 55px;
			z-index: 201;
		}
	}
}

.ndn_widget_VideoPlayer-Inline590 {
	.ndn_pauseCarousel {
		display: none;
	}
}

.ndn_widget_VideoPlayer-PTR {
	.ndn_pauseCarousel {
		display: none;
	}

	.ndn_pauseVideoInfo {
		.ndn_videoTitle, .ndn_videoDescription {
			width: 220px;
		}
	}
}

.ndn_widget_VideoPlayer-Inline300 {
	.ndn_pauseOverlayContainer {
		.ndn_pauseCarousel {
			display: none;
		}	

		
		.ndn_pauseOverlay {
			padding-top: 0px;
				
			.ndn_pauseVideoLogo{
				display: none;
			}
		}
	}
}

#ndn-video-single {
	.ndn_videoPlayer_view639  {
		.ndn_pauseOverlay {
			.ndn_videoTitle {
				font-size: 18px;
			}
		}
	}

	.ndn_pauseOverlay {
		.ndn_videoTitle {
			color: #fff;
			font-size: 21px;

			& > * {
				color: #fff!important;
				font-size: 21px!important;
			}
		}

		.ndn_description {
			padding-top: 0;
			color: #999;
			
			& > * {
				color: #999!important;
			}
		}

	}
}
