div.akamai-player {
    position: relative;
}

.ndn_shareOverlay {
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 201;
    position: absolute;
    top:0;
    left:0;
    display: none;
    margin-top: 0;	  
    color: #fff!important;
	
	.ndn_shareContainer {
		width:100%;
		height: 100%;
		margin:0 auto;
		
		.ndn_closeShare {
			float: right;
			font-size: 25px;
			position: relative!important;			
			top: 25px;
			right: 25px;				
			z-index: 600; 
			
			
			&:hover{
				cursor: pointer;
				color: #ddd!important;				
			}
		}
		
		.ndn_shareBox{
			width: 100%;					
			height: 100%;
			margin: 0 auto;			
		
			.ndn_shareButtons{
				width: 100%;
				height:100%;
				margin:0 auto;
				float:left;
				position: relative;
				top: 250px;
				
				.ndn_shareCopyVideoLinkText,
				.ndn_shareCopyEmbedCodeText{
					border: solid 1px #ddd;
					color: #fff!important;
					width: 635px;
					padding: 14px;
					background: rgba(0,0,0,0);
					resize: none;
					display: block;
					margin: 0 auto;
				}	
				
				.ndn_shareButtonList{			
					margin: 0px auto;					
					height: 100%;
					content: ""!important;				
					
					ul{
						float: none;
						width: 615px;
						list-style: none !important;
						margin: 0px auto!important;
						padding: 0!important;
						line-height: 12px!important;
						
						&:after{
							content: ""!important;
						}
					
						li{
							display: inline!important;
							font-size: 60px;
							color: #fff!important;
							margin: 0px 4% 0px 4%;
							
							/*These style for the :before pseudo tag are mainly for Tribune Publishing*/
							&:before{
								content: ""!important;
								margin: 0!important;
								padding: 0!important;	
							}
							
							&:after{
								font-size: 60px!important;
								content: ""!important;
								display: inline-block!important;
							}
							
							a, span{
								text-decoration: none;								
								color: #fff!important;
								font-size: inherit!important;
								display: inline !important;
								
								&:hover,
								&:active{
									cursor: pointer;
									text-decoration: none;
									color: #ddd!important;
								
								}							
							}	
							
							.ndn_icon_facebook{
								&:hover{
									color: #3b598d!important;
								}
							}
							
							.ndn_icon_twitter{
								&:hover{
									color: #55acee!important
								}
							}																
						}					
					}
				}				
			}
		}
		
		.ndn_embedBox{
			display: none;
			z-index: 400;
			
			.ndn_backToShare{
				position: relative;
				top:20px;
				left:10px;
				color: #fff!important;
				font-size: 25px;
				width: 105px;
				
				&:hover{
					cursor: pointer;
					color: #ddd!important;
				}
					
			}
			.ndn_embedLink{
				width: 515px;
				margin: 0 auto;					
				
				.ndn_shareCopyEmbedCode{
					width: 515px;
					margin: 0 auto;				
					display: block;
					font-size: 36px;		
					margin-top: 30%;
					
					label{
						color: #fff!important;
					}
				}
				textarea{	
					border: solid 1px #ddd;
					width: 515px;
					height: 130px;
					font-size: 18px;
					color: #fff!important;
					background: rgba(0,0,0,0);				
					resize: none;
					padding: 10px;
					display: block;
					clear: both;
					margin: 0 auto;
					position: relative;
					top: 20px;
					font-family: @playerFontFamily;
				}
				
			}
		}
		.ndn_sharePrivacyPolicy {
			font-size: 11px!important;
			position: absolute!important;
			bottom: 10px!important;
			width: 157px!!important;			
			left: 42%!important;
			
			a {
				color: #fff!important;
				text-decoration: none!important;
				font-size: 11px!important;
				display: inline!important;
				
				&:hover{
					color: #fff!important;
					text-decoration: none!important;
				}
			}			
		}			
	}
}

.ndn_videoPlayer_view1198 {
	.ndn_shareOverlay{
		.ndn_shareContainer{
			.ndn_shareBox{
								
				.ndn_shareButtons{
					top: 150px;
					height: 100%;
					width: 100%;
					
					.ndn_shareCopyVideoLinkText,
					.ndn_shareCopyEmbedCodeText{
						width: 750px;
						border: solid 1px #fff;						
						padding: 9px 9px 7px 9px;
						font-size: 13px;
						white-space: nowrap;
						overflow: hidden;
						text-align: center;
					}						
				}
			}
		}
		.ndn_embedBox{
			display: none;
			z-index: 400;
			
			.ndn_backToShare{
				position: relative;
				top: 20px;
				left: 10px;			
					
			}
			.ndn_embedLink{
				width: 515px;
				margin: 0 auto;
				margin-top: 14%;					
				
				//Embed header
				.ndn_shareCopyEmbedCode{
					width: 515px;
					height: 25px;
					font-size: 30px;
					margin-top: 40px;
				}
				
				//embed code	
				textarea{	
					width: 491px;
					height: 130px;
					font-size: 16px;
					top: 22px;
					
				}
			}
		}

		.ndn_sharePrivacyPolicy {		
			left: 44%!important;			
		}

	}
}

.ndn_videoPlayer_view1022 {
	.ndn_shareOverlay{
		.ndn_shareContainer{
			.ndn_shareBox{
								
				.ndn_shareButtons{
					top: 150px;
					height: 100%;
					width: 100%;
					
					.ndn_shareCopyVideoLinkText,
					.ndn_shareCopyEmbedCodeText{
						width: 750px;
						border: solid 1px #fff;						
						padding: 9px 9px 7px 9px;
						font-size: 13px;
						white-space: nowrap;
						overflow: hidden;
						text-align: center;
					}						
				}
			}
		}
		.ndn_embedBox{
			display: none;
			z-index: 400;
			
			.ndn_backToShare{
				position: relative;
				top: 20px;
				left: 10px;

					
			}
			.ndn_embedLink{
				width: 515px;
				margin: 0 auto;
				margin-top: 50px;					
				
				//Embed header
				.ndn_shareCopyEmbedCode{
					width: 515px;
					height: 25px;
					font-size: 24px;
					margin-top: 40px;
				}
				
				//embed code	
				textarea{	
					width: 491px;
					height: 130px;
					font-size: 14px;
					top: 22px;
					
				}
			}
		}

		.ndn_sharePrivacyPolicy {		
			left: 44%!important;			
		}

	}
}

.ndn_videoPlayer_view784 {
	.ndn_shareOverlay{
		.ndn_shareContainer{
			.ndn_closeShare {					
				top: 15px;
			}	
			.ndn_shareBox{
								
				.ndn_shareButtons{
					top: 80px;
					height: 80%;
					width: 100%;
					
					.ndn_shareCopyVideoLinkText,
					.ndn_shareCopyEmbedCodeText{
						width: 650px;
						margin: 5px auto 0 auto;
						padding: 9px 9px 7px 9px;
						white-space: nowrap;
						overflow: hidden;
					}					
					
					.ndn_shareButtonList{			
						ul{	
							width: 495px;
							
							li{
								font-size: 50px!important;
								
								&:before{
									font-size: 50px!important;	
								} 
								
							}
						}
					}
				}
			}
		}
		
		.ndn_embedBox{
			display: none;
			z-index: 400;
			
			.ndn_backToShare{
				position: relative;
				top: 20px;
				left: 10px;
				font-size: 15px;	
			}
			.ndn_embedLink{
				
				.ndn_shareCopyEmbedCode{
					height: 25px;
					font-size: 24px;
					margin-top: 50px;
				}
				
				textarea{	
					height: 95px;
					font-size: 14px;
					top: 22px;
				}
			}
		}

		.ndn_sharePrivacyPolicy {		
			left: 38%!important;			
		}
	}
}

.ndn_videoPlayer_view766 {
	.ndn_shareOverlay{
		.ndn_shareContainer{
			.ndn_closeShare {					
				font-size: 22px;
			}	
			.ndn_shareBox{
								
				.ndn_shareButtons{
					top: 80px;
					height: 80%;
					width: 100%;
					
					.ndn_shareCopyVideoLinkText,
					.ndn_shareCopyEmbedCodeText{
						width: 600px;
						margin: 0 auto;
						padding: 9px 9px 7px 9px;
						white-space: nowrap;
						margin-top: 5px;
						overflow: hidden;
						
					}						

					.ndn_shareButtonList{			
						ul{	
							width: 495px;
							
						
							li{
								font-size: 50px;
								
								&:before{
									font-size: 50px;
								}	
							}
						}
					}
				}

			}
		}
		.ndn_embedBox{
			display: none;
			z-index: 400;
			
			.ndn_backToShare{
				position: relative;
				top: 20px;
				left: 10px;
				font-size: 22px;		
			}
			.ndn_embedLink{
				
				.ndn_shareCopyEmbedCode{

					height: 25px;
					font-size: 20px;
					margin-top: 40px;
				}
				
				textarea{	
					padding: 8px;
					font-size: 14px;
					top:0;
				}
			}
		}

		.ndn_sharePrivacyPolicy {		
			left: 37%!important;			
		}

	}
}

.ndn_videoPlayer_view639 {
	.ndn_shareOverlay{
		.ndn_shareContainer{
			.ndn_shareBox{								
				.ndn_shareButtons{
					top: 93px;
					height: 70%;
					width: 100%;
					
					.ndn_shareCopyVideoLinkText,
					.ndn_shareCopyEmbedCodeText{
						width: 510px;
						margin: 0 auto;
						padding: 9px 9px 7px 9px;
						font-size: 13px;
						white-space: nowrap;
						margin-top: 5px;
						overflow: hidden;
					}	

					
					.ndn_shareButtonList{			
						ul{	
													
							li{
								font-size: 24px;
								ul:after, li:after{
									content: ""!important;
								}
								&:before{
									font-size: 34px!important;
								}	
							}
						}
					}
				}

			}
		}
		.ndn_embedBox{
			display: none;
			z-index: 400;
			
			.ndn_backToShare{
				font-size: 18px;
				
					
			}
			.ndn_embedLink{

				
				.ndn_shareCopyEmbedCode{
					height: 25px;
					font-size: 18px;
				}
				
				textarea{	
					height: 95px;
					font-size: 12px!important;
					top:0;
					padding: 6px!important;
					width: 496px;
				}
			}
		}

		.ndn_sharePrivacyPolicy {		
			left: 34%!important;			
		}

	}
}

.ndn_videoPlayer_view574 {
	.ndn_shareOverlay{
		.ndn_shareContainer{
			.ndn_closeShare {					
				top: 15px;
			}	
			.ndn_shareBox{
								
				.ndn_shareButtons{
					top: 50px;
					height: 70%;
					width: 100%;
					
					.ndn_shareCopyVideoLinkText,
					.ndn_shareCopyEmbedCodeText{
						width: 85%;
						margin: 0 auto;
						padding: 9px 9px 7px 9px;
						font-size: 13px;
						white-space: nowrap;
						margin-top: 10px;
						overflow: hidden;
						
					}	

					
					.ndn_shareButtonList{			
						ul{	
							width: 360px;						
													
							li{
								font-size: 35px!important;
								
								&:before{
									font-size: 35px!important;
								}	
							}
						}
					}
				}

			}
		}
		.ndn_embedBox{
			display: none;
			z-index: 400;
			
			.ndn_backToShare{
				position: relative;
				top: 20px;
				left: 10px;
				font-size: 15px;			
					
			}
			.ndn_embedLink{
				width: 400px;
				
				textarea{	
					width: 400px;

					top:0;
				}
			}
		}

		

	}
}

.ndn_videoPlayer_view499 {
	.ndn_shareOverlay{
		.ndn_shareContainer{
			.ndn_closeShare {					
				font-size: 18px;
			}	
			.ndn_shareBox{						
				.ndn_shareButtons{
					top: 50px;
					height: 100%;
					width: 100%;
					
					.ndn_shareCopyVideoLinkText,
					.ndn_shareCopyEmbedCodeText{
						width: 310px;
						border: solid 1px #fff;
						margin: 0px auto 0 auto;
						padding: 9px 9px 7px 9px;
						font-size: 13px;
						white-space: nowrap;
						overflow: hidden;
						text-align: center;
						position: relative;
						top:-13px;

					}	
					
					.ndn_shareButtonList{			
						ul{	
							width: 303px!important;	
							height: 60px!important;		
							position: relative!important;
							left: 8px!important;			
						
							li{
								font-size: 30px!important;
								
								&:before{
									font-size: 30px!important;
								}	
							}
						}
					}					
				}
			}
		}
		.ndn_embedBox{
			display: none;
			z-index: 400;
			
			.ndn_backToShare{
				position: relative;
				top: 20px;
				left: 10px;
				font-size: 18px;
				
			}
			.ndn_embedLink{
				width: 315px;
				margin: 0 auto;					
				
				
				textarea{
					width: 315px;	
					height: 101px;
					top:0;
				}
			}
		}

		.ndn_sharePrivacyPolicy {		
			left: 34%;			
		}

	}
}

.ndn_videoPlayer_smallView {
	.ndn_shareOverlay{
		.ndn_shareContainer{
			.ndn_closeShare {					
				font-size: 18px;
				right:8px;
				top:5px;
			}	
			.ndn_shareBox{						
				.ndn_shareButtons{					
					 top:30px!important;
					.ndn_shareCopyVideoLinkText,
					.ndn_shareCopyEmbedCodeText{
						width: 260px;
						display: block;
						clear: both;
						float: none;
						margin: 0px auto 0 auto;
						padding: 9px 9px 0px 9px;
						font-size: 11px;
						white-space: nowrap;
						overflow: hidden;
						text-align: center;
						position: relative;
						left:0;
						top:0;
					}						
					.ndn_shareButtonList{			
						ul{						
							
							width: 246px!important;
							height: 30px!important;
						
							li{
								font-size: 24px!important;

							}
							li:after{
								content: ""!important;
							}
							&:before{
								font-size: 24px!important;
							}
						}
						
						ul:after{
							content: ""
						}
						
					}						
				}
			}
		}
		.ndn_embedBox{		
			
			.ndn_backToShare{
				top: 10px;
				left: 10px;
				font-size: 11px;				
					
			}
			.ndn_embedLink{
				width: 300px;
				margin-top: 10%;
				
				.ndn_shareCopyEmbedCode{
					width: 260px;
					height: 15px;
					float: left;					
					margin-left: 15px;
					font-size: 12px;
					margin-top: 20px;
				}
				
				textarea{	
					height: 80px;
					padding: 4px;
					font-size: 11px;
					width: 260px;
					top: 1px;

				}
			}
		}

		.ndn_sharePrivacyPolicy {		
			left: 28%!important;
			font-size:9px!important;	
			a{
				font-size: 10px!important;
			}		
		}

	}
}
.ndn_widget_VideoPlayer-Inline300{
	.ndn_videoPlayer_view499{
		.ndn_shareOverlay{
			.ndn_shareContainer{
				.ndn_shareBox{						
					.ndn_shareButtons{
						top:10%!important;
					}
				}
			}
		}	
	}
}
.ndn_widget_VideoPlayer-Inline590{
	.ndn_videoPlayer_view639 {
		.ndn_shareOverlay{
			.ndn_shareContainer{
				.ndn_shareBox{						
					.ndn_shareButtons{
						top:110px!important;
					}
				}
			}
		}	
	}
}