.ndn_startOverlayContainer,
.ndn_overlayContainer {
	font-family: @playerFontFamily;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 200;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    
    .ndn_startOverlay {
    	position: absolute;
    	top: 0;
    	left: 0;
    	height: 100%;
       	width: 100%;
	   	
	   	.ndn_startPlay {
			background-image: url('../img/utilityGraphics_sprite.png');
			background-position: 366px 700px;
			height: 126px;
			width: 125px;			
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
		}
		
		&:hover {
			.ndn_startPlay {
				background-position: 366px 573px;
		    }
		    
			.is-link;
		}
		
		&:active {
			.ndn_startPlay {
				background-position: 366px 573px;
		    }		    

		}

	}
	
	/** INFO PANEL CSS **/
	.ndn_pauseVideoInfo {
		z-index: 201;
		&:hover {
			cursor: pointer;				
		}
	}
	
	.ndn_pauseVideoInfo {
		padding: 14px;
		position: relative;
		z-index: 200;		

		.ndn_videoTitle {		
			line-height: 1;			
			height: 45px!important;
			font-family: @playerFontFamily;	
			font-weight: bold;
			font-size: 36px;
			color: #fff;				
			overflow: hidden;	
			
			/* Need a wildcard proptery to handle all selectors and partner site css */
			& > * {
				font-size: 36px!important;
				font-weight: bold!important;
				font-family: @pauseOverlayFontFamily!important;			
				/*overflow: hidden!important;*/
				color: #fff!important;	
				margin-bottom: 4px!important;
			}
		}	
				
		.ndn_videoDescription,
		.ndn_videoProviderName {
			color: #ddd;
			line-height: 1;	
			font-weight: normal;		
			overflow: hidden;
			
			/* Need a wildcard proptery to handle all selectors and partner site css */
			& > * {
				font-family: @pauseOverlayFontFamily!important;				
				color: #eee!important;
				overflow: hidden!important;	
			}	
		}
		
		.ndn_videoDescription {
			margin-bottom: 15px;
			display: none;
			max-height: 900px;
			padding-bottom: 1px;
			
			& > * {
				display: none;
				font-size: 18px!important;
				font-weight: normal!important;	
			}
		}
		
		.ndn_videoProviderName {
			height: 18px;
			font-size: 14px!important;		
			font-weight: bold!important;
			margin: 0 0 5px 0;	
		}			
		
		.ndn_info-circled,
		.ndn_cancel-circled{
			font-size: 25px;
			color: #ddd!important;			
		}
		
		.ndn_expandedDescription{
			background: url('../img/utilityGraphics_sprite.png') 133px 667px;	
		}
		
		img.ndn_pauseVideoLogo {
			display: block;
			position: absolute;
			top: 21px;
			right: 40px;
			max-width: 200px;
			max-height: 75px;
		}
		
		.ndn_infoPanelOverlay {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			z-index: -9999;
			#gradient.ndn_player_overlay();
		}
	}
}


/*1023 to 1198*/

.ndn_videoPlayer_view1198 {
	.ndn_startOverlayContainer {
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png') 366px 444px;
			height: 105px;
			width: 105px;		
			top: 70px;
		}
		
		&:hover{
			.ndn_startPlay{
				background-position: 366px 338px;
			}
		}
		
		&:active {
			.ndn_startPlay{
				background-position: 366px 338px;
			}		
		}
		
		.ndn_pauseVideoInfo{
			.ndn_videoTitle {		
				line-height: 32px;			
				height: 32px;
				font-family: @playerFontFamily;	
				font-weight: bold;
				font-size: 30px;
				color: #fff;				
				overflow: hidden;	
				
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 32px!important;			
					font-family: @playerFontFamily!important;	
					font-weight: bold!important;
					font-size: 30px!important;
					color: #fff!important;				
					/* overflow: hidden!important;	*/
					margin-bottom: 12px!important;
				}
			}			
	
			.ndn_videoDescription,
			.ndn_videoProviderName {
				color: #ddd;
				line-height: 1;	
				font-weight: normal;		
				overflow: hidden;				

				& > * {				
					color: #ddd!important;
					overflow: hidden!important;
				}				
			}			
			
			.ndn_videoDescription{
				margin-bottom: 12px;
				font-weight: normal;
				
				& > * {
					line-height: 18px!important;
					font-size: 16px!important;
					font-weight: normal!important;
				}
			}
			
			.ndn_videoProviderName{
				height: 17px;
				font-size: 12px!important;				
				font-weight: bold!important;
				line-height: 14px;
			}
			
			img.ndn_pauseVideoLogo {
				max-width: 180px;
				max-height: 75px;
			}
		}
	}
}

/*767 to 1022*/

.ndn_videoPlayer_view1022 {
	.ndn_startOverlayContainer {
		.ndn_startPlay{					
			top: 60px;
		}
		
		.ndn_pauseVideoInfo{
			.ndn_videoTitle {		
				line-height: 26px;			
				height: 26px;
				font-family: @playerFontFamily;	
				font-weight: bold;
				font-size: 24px;
				color: #fff;				
				overflow: hidden;
				margin-bottom: 10px;	
				
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 25px!important;			
					font-family: @playerFontFamily!important;	
					font-weight: bold!important;
					font-size: 24px!important;
					color: #fff!important;				
					/*overflow: hidden!important;	*/			
					margin-bottom: 10px!important;
				}
			}			
	
			.ndn_videoDescription,
			.ndn_videoProviderName {
				color: #ddd;						
				overflow: hidden;				

				& > * {				
					color: #ddd!important;
					overflow: hidden!important;
				}				
			}			
			
			.ndn_videoDescription{
				min-height: 15px;
				max-height: 90%;
				margin-bottom: 10px;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				
				& > * {
					line-height: 16px!important;
					font-size: 14px!important;
					font-weight: normal!important;
				}
			}
			
			.ndn_videoProviderName{
				height: 17px;
				font-size: 12px!important;				
				font-weight: bold!important;
				line-height: 14px!important;
			}
			
			img.ndn_pauseVideoLogo {
				max-width: 140px;
				max-height: 75px;
			}
		}		
	}
}

/*639 to 766*/

.ndn_videoPlayer_view766 {
	.ndn_startOverlayContainer {
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png')  366px 231px;
			height: 90px;
			width: 90px;		
			top: 50px;
		}
		
		&:hover {
			.ndn_startPlay{
				background-position: 366px 139px;
			}
		}
		
		&:active {
			.ndn_startPlay{
				background-position: 366px 139px;
			}
		}	
		
		.ndn_pauseVideoInfo{
			.ndn_videoTitle {		
				line-height: 22px;			
				height: 22px;
				font-family: @playerFontFamily;	
				font-weight: bold;
				font-size: 20px;
				color: #fff;				
				overflow: hidden;	
				
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 22px!important;			
					font-family: @playerFontFamily!important;	
					font-weight: bold!important;
					font-size: 20px!important;
					color: #fff!important;				
					overflow: hidden!important;				
					margin-bottom: 10px!important;
				}
			}			
	
			.ndn_videoDescription,
			.ndn_videoProviderName {
				color: #ddd;						
				overflow: hidden;				

				& > * {				
					color: #ddd!important;
					overflow: hidden!important;
				}				
			}			
			
			.ndn_videoDescription{
				margin-bottom: 10px;
				font-weight: normal;
				font-size: 12px;
				line-height: 14px;
				
				& > * {
					line-height: 14px!important;
					font-size: 12px!important;
					font-weight: normal!important;
				}
			}
			
			.ndn_videoProviderName{
				height: 17px;
				font-size: 10px!important;				
				font-weight: bold!important;
				line-height: 10px!important;
			}
			
			img.ndn_pauseVideoLogo {
				max-width: 125px;
				max-height: 50px;
			}
		}	
		
	}
}

/*500 to 638*/

.ndn_videoPlayer_view639 {
	.ndn_startOverlayContainer {
		.ndn_pauseVideoInfo {
			padding: 8px 85px 8px 8px;
			
			& > h1 {
				font-size: 18px;
				height: 24px;
				overflow: hidden;
			}
			
			img.ndn_pauseVideoLogo {
				top: 15px;
				right: 5px;
			}
		}
		
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png') 223px 700px;
			height: 80px;
			width: 80px;		
			top: 15px!important;
		}
		
		&:hover {
			.ndn_startPlay{
				background-position: 223px 618px;
			}
		}
		
		&:active{
			 .ndn_startPlay{
				 background-position: 223px 618px;
			}
		}
		
		.ndn_pauseVideoInfo{
			.ndn_videoTitle {		
				line-height: 20px;			
				height: 20px;
				font-family: @playerFontFamily;	
				font-weight: bold;
				font-size: 18px;
				color: #fff;				
				overflow: hidden;	
				
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 20px!important;			
					font-family: @playerFontFamily!important;	
					font-weight: bold!important;
					font-size: 18px!important;
					color: #fff!important;				
					overflow: hidden!important;				
					margin-bottom: 10px!important;
				}
			}			
	
			.ndn_videoDescription,
			.ndn_videoProviderName {
				color: #ddd;						
				overflow: hidden;				

				& > * {				
					color: #ddd!important;
					overflow: hidden!important;
				}				
			}			
			
			.ndn_videoDescription{
				display: none;
				margin-bottom: 10px;
				font-weight: normal;
				line-height: 12px;
				font-size: 10px;
				font-weight: normal;
				
				& > * {
					line-height: 12px!important;
					font-size: 10px!important;
					font-weight: normal!important;
				}
			}
			
			.ndn_videoProviderName{
				height: 11px;
				font-size: 10px!important;				
				font-weight: bold!important;
				line-height: 11px!important;
			}
			
			img.ndn_pauseVideoLogo {
				max-width: 105px;
				max-height: 50px;
			}
		}
	}
}

/*419 to 499*/

.ndn_videoPlayer_view499 {
	.ndn_startOverlayContainer {
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png')  226px 537px;
			height: 71px;
			width: 73px;		
			top: 10px!important;
		}
		
		&:hover {
			.ndn_startPlay{
				background-position: 226px 464px;
			}
		}
		
		&:active {
			.ndn_startPlay{
				background-position: 226px 464px;
			}
		}	

		.ndn_pauseVideoInfo{
			img.ndn_pauseVideoLogo {
				max-width: 85px;
				max-height: 40px;
			}
			.ndn_fa-info-circle,
			.ndn_fa-times-circle{
				color: #ddd!important;	
				font-size: 1.5em!important;		
		    }
		}	
	}
}

/* width < 419*/

.ndn_videoPlayer_smallView {
	.ndn_startOverlayContainer {		
		
		.ndn_pauseVideoInfo {
			padding: 5px;
			
			h1 {
				font-size: 13px;
				height: 24px;
				overflow: hidden;
			}
			
			p {
				font-size: 10px;
				line-height: 1;
				height: 20px;
				overflow: hidden;
			}
		}
		
		.ndn_startPlay{		
			background: url('../img/utilityGraphics_sprite.png') 223px 392px;
			height: 52px;
			width: 50px;		
		}		
		&:hover{
			.ndn_startPlay{
				background-position: 223px 340px;
			}
		} 
		
		&:active {
			.ndn_startPlay{
				background-position: 223px 340px;
			}
		}		
		
		.ndn_pauseVideoInfo{
			.ndn_videoTitle {		
				line-height: 14px;			
				height: 14px;				
				font-size: 12px;
								
				/* Need a wildcard proptery to handle all selectors and partner site css */
				& > * {
					line-height: 14px!important;			
					font-size: 12px!important;

				}
			}								
			
			.ndn_videoProviderName{
				height: 11px;
				font-size: 9px!important;				
				font-weight: bold!important;
				line-height: 11px!important;
			}
			
			img.ndn_pauseVideoLogo {
				max-width: 60px;
				max-height: 35px;
			}
		}
	}
}

