.ndn_endslateOverlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;

	.ndn_endslateBackground {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 111;
	}

	.ndn_endslateClickSurface {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 114;
		cursor: pointer;
	}

	.ndn_endslateContainer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 112;
		color: @endslateTextColor;
		font-family: @playerFontFamily;
		.transparentBackground(@endslateBackgroundColor, @endslateOpacity);
		

		div {
			color: @endslateTextColor;
			font-family: @playerFontFamily;
		}

		.ndn_endslateAlertUnavailable {
			width: 100%;
			height: auto;
			padding-top: 10px;
			background-color: #000;
			text-align: center;
			font-size: 16px;
			padding-bottom: 10px;		
		}
		
		.ndn_upNextContainer{
			width: 700px;
			margin: 18% auto 0 auto;
			height: 150px;
			
			.ndn_upNextThumbnailContainer{
		        overflow: hidden;
		        height: 113px;
		        width: 200px;
		        clear: both;
		        float: left;
		        
		        img{
					width: 100%;
					margin: 0 auto;	  
		        }
	        }      
			
						
			.ndn_upNextLabel {
				font-family: @playerFontFamily;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: bold;
				margin: 0 5px 15px 0;
				color: #ddd;
				display: block;
				float: left;
				clear: both;
				
			}
			
			.ndn_upNextTitle {
				float: left;
				font-size: 24px;
				font-weight: bold;
				width: 470px;
				height: 80px;
				margin: 0px 0px 15px 20px;

			}
			
		}

		.ndn_startsInContainer {	
			width: 80px;
			margin: 0px auto 0 auto;
			position: relative;
			top: -20px;
			left: 0;
			

			.ndn_startsInLabel {
				font-size: 14px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				line-height: 15px;
			}
			
			.ndn_startsInCountdownContainer{
				font-size: 62px;
				position: absolute;
				left: 75px;
				top:-25px;
				width: 30px;
					
				span {
					display: block;
					height: 35px;
					position: relative;
					top: -52px;
					left: 25px;
					margin: 0 auto;
					text-align: center;
					font-size: 23px;
					line-height: 34px;
				}	
			}

		}
		
	}

	.ndn_endslateMediaBlocked {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		font-size: 14px;
		text-align: center;
		width: 100%;
	}
}

.ndn_videoPlayer_view1198{
	.ndn_endslateOverlay {	
		.ndn_upNextContainer{
			margin-top: 16%;
			font-size: 20px;
		}
	}
}


.ndn_videoPlayer_view1022 {
	.ndn_endslateOverlay {	
		.ndn_upNextContainer{
			margin-top: 15%;
			font-size: 20px;
			
			.ndn_upNextLabel,
			.ndn_uoNextTitle{
				font-size: 20px;
			}
		}
	}
}

.ndn_videoPlayer_view999 {
	.ndn_endslateOverlay {
		.ndn_upNextContainer{
			
			.ndn_upNextLabel,
			.ndn_upNextTitle {
				font-size: 20px;
			}
			
						
		}
		.ndn_startsInContainer {	
			top: -10px;
			left: 2%;			

			.ndn_startsInLabel {
				font-size: 14px;
				line-height: 15px;
			}
			
			.ndn_startsInCountdownContainer{
				font-size: 55px;			
					
				span {
					top: -47px;
					left: 25px;
					font-size: 28px;
					line-height: 30px;
				}	
			}
			
		}		
	}
}
.ndn_videoPlayer_view849 {
	.ndn_endslateOverlay {
		.ndn_upNextContainer{
			width: 550px;
			margin-top: 10%;
			
			.ndn_upNextThumbnailContainer{
				width: 150px;
				height: 84px;
			}
			
			.ndn_upNextLabel {
				font-size: 20px;
				font-weight: bold;
			}
			
			.ndn_upNextTitle {
				font-size: 14px;
				width: 290px;
				height: 90px;
				
			}
						
		}
		.ndn_startsInContainer {	
			top: -10px;
			left: 2%;			

			.ndn_startsInLabel {
				font-size: 14px;
				line-height: 15px;
			}
			
			.ndn_startsInCountdownContainer{
				font-size: 55px;			
					
				span {
					top: -47px;
					left: 25px;
					font-size: 28px;
					line-height: 30px;
				}	
			}
			
		}		
	}
}


.ndn_videoPlayer_view766 {
	.ndn_endslateOverlay {
		.ndn_upNextContainer{	
			width: 550px;		
			margin: 10% auto 0 auto;
			
			.ndn_upNextLabel,
			.ndn_upNextTitle {
				font-size: 20px;
			}
			
			.ndn_upNextTitle {
				font-weight: 14px;
				width: 380px;
				height: 60px;

			}			
		}		
	}
}

.ndn_videoPlayer_view638 {
	.ndn_endslateOverlay {
		.ndn_upNextContainer{	
			width: 550px;		
			margin: 10% auto 0 auto;
			
			.ndn_upNextLabel{
				font-size: 18px;
			}
			
			.ndn_upNextTitle {
				font-size: 14px;
				width: 380px;
				height: 60px;

			}			
		}		
	}
}

.ndn_videoPlayer_view574 {
	.ndn_endslateOverlay {
		.ndn_upNextContainer{
			width: 350px;
			font-size: 16px;
			margin-top: 7%;

			
			.ndn_upNextThumbnailContainer{
				width: 150px;
				height: 84px;
			}		
			
			.ndn_upNextLabel,
			.ndn_upNextTitle {
				font-size: 16px;
			}
			
			.ndn_upNextTitle {	
				font-size: 15px;	
				width: 180px;			
			}				
		}
		.ndn_startsInContainer {	
			top: -30px;
			left: 7%;			

			.ndn_startsInLabel {
				font-size: 14px;
				line-height: 15px;
			}
			
			.ndn_startsInCountdownContainer{
				font-size: 45px;			
					
				span {
					top: -41px;
					left: 17px;
					font-size: 18px;
					line-height: 30px;
				}	
			}
			
		}		
	}
}

.ndn_videoPlayer_smallView {
	.ndn_endslateOverlay {
		.ndn_endslateAlertUnavailable{
			font-size: 12px;
		}
		
		.ndn_upNextContainer{
			width: 280px;	
			font-size: 12px;
			
			.ndn_upNextLabel{
				font-size: 16px;
			}
			
			.ndn_upNextTitle {
				font-size: 12px;
				width: 155px;
				height: 50px;
			}
						
			.ndn_upNextThumbnailContainer{
				width: 100px;
				height: 56px;
			}							
		}
		.ndn_startsInContainer {	
			top: -64px;
			left: 4%;			

			.ndn_startsInLabel {
				font-size: 12px;
				line-height: 15px;
			}
			
			.ndn_startsInCountdownContainer{
				font-size: 35px;
				top:-12px;
				left:70px;			
					
				span {
					top: -27px;
					left: 10px;
					font-size: 13px;
					line-height: 13px;
				}	
			}
			
		}		
	}
}



.ndn_widget_VideoPlayer-Inline300 {
	.ndn_endslateOverlay {
		.ndn_justWatchedContainer {
			display: none;
		}
		.ndn_startsInContainer {
			position: relative;
			top: 50px;
		}
	}
}